.todayContainer{

	.chart-card{
		margin-bottom: 20px;
	}
	.card{
		.card-header{
			padding-left: 15px;
			height: 50px;
			.btn{
				float:left;
			}
			span{
				font-size: 16px;
				font-weight: bold;
				line-height: 36px;
			}
		}
	}
	.country-header{
		color:@primaryColor;
		padding-top: 10px;
	}
	.number-of-vessels{
		color:@primaryColor;
		padding-top: 10px;
	}
	.zone-card
	{
		display: block;
		height: 386px;
		margin-bottom: 20px;
	}
	.non-transmitting-container{
		margin-bottom: 20px;
		.header{
			text-transform: uppercase;
			font-size: 16px;
			background-color: inherit;
		}
		.number{
			font-size: 50px;
			color: @primaryColor;
			font-weight: bold;
		}
		.reports{
			color: @primaryColor;
		}
	}

}
