.mobileTerminalDetailsContainer{

    .transponderSystemSelects{
        .transponderSystemSelect{
            float:left;
        }
    }

    .communicationChannel{
        margin-top: 20px;
        .form-group:first-child{
            .nopaddingleft();
        }
    }

    .comchannelrow {
        background-color: #f9f9f9;
        padding-top: 14px;
        margin-bottom: 10px;
        min-height: 67px;
    };

    .addNewChannelWrapper{
        margin-bottom: 20px;
    }

    input[type='radio']{
        height: 15px;
        width: 15px;
        cursor: pointer;
        margin: 10px 8px; 
    }

    .remove{
        padding-top: 5px;
        color:@errorColor;
        cursor: pointer;
    }
}
