/*
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
 */
.mobileTerminalDetailsContainer{

    .flexrow {
        .flexbox();
        align-items: stretch;
        
        .form-group {
            margin-right: 20px;
            align-self: flex-end;
            width: 30%; 
            
            &.small-field {
                width: 20%; 
            }

            &.smaller-field {
                width: 15%;
            }

            &.auto-field {
                width: auto;
            }

            &:last-of-type {
                margin-right: 0;
            }

            &.align-right {
                margin-left: auto;
            }

            &.radio-buttons label {
                display: block;
            }

            .tagSelectInputContainer {
                min-width: 100%;
            }
        }
    }
    
    .dropdown {
        .dropdowntext {
            padding-right: 20px;
            white-space: normal;
        }

        .btn.btn-default.dropdown-toggle {
            .flexbox();
            align-items: center;
            padding-left: 5px;

            .placeholderText {
                position: absolute;
                left: 5px;
                margin-right: 0;
                margin-top: 0;
                padding-left: 0px;
            }

            span {
                bottom: 0;
                margin-left: auto;
            }
        }
    }

    .communicationChannel{
        margin-top: 20px;
        .form-group:first-child{
            .nopaddingleft();
        }
    }

    .comchannelrow {
        min-height: 20px;
    };

    .addNewChannelWrapper{
        margin-bottom: 25px;
    }

    input[type='radio']{
        height: 15px;
        width: 15px;
        cursor: pointer;
        margin: 10px 8px;
    }

    .remove{
        padding-top: 5px;
        color:@errorColor;
        cursor: pointer;
    }

    .channel-form {
        background: #f7f7f7;
        margin-bottom: 20px;
    }

    // Switcher 

    @switcher-contianer-width:  60px;
    @switcher-inner-width:      26px;
    @switcher-border-radius:    4px;

    .switch-container {
        float: right;
    }
    
    .switch {
        position: relative;
        display: block;
        width: @switcher-contianer-width;
        height: 30px;
    }

    .switch input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: @switcher-border-radius + 1px;
        background-color: @errorColor;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: '';
        height: 100%;
        width: @switcher-inner-width;
        left: 0px;
        bottom: 0px;
        border-radius: @switcher-border-radius;
        background-color: #c2c9cc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: @profileColor_green;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px @profileColor_green;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(@switcher-contianer-width - @switcher-inner-width);
        -ms-transform: translateX(@switcher-contianer-width - @switcher-inner-width);
        transform: translateX(@switcher-contianer-width - @switcher-inner-width);
    }
}
