<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="mobileTerminalDetailsContainer">
    <form name="mobileTerminalForm" method="post" novalidate>
        <fieldset ng-disabled="disableForm()">
            <div class="transponderSystemSelects">
                <div class="flexrow form-section-1">
                    <div class="transponderSystemSelect form-group medium-field">
                        <label class="normal">{{'mobileTerminal.transceiver_system' | i18n}}</label>
                        <dropdown ng-model="typeAndPlugin" initialtext="{{ 'common.choose' | i18n }}" items="transponderSystems" callback="onTerminalSystemSelect" ng-disabled="!isCreateNewMode()" data="typeAndPlugin" id="mob-term-form-details-transponder"></dropdown>
                    </div>
                    <div class="transponderSystemSelect form-group long-field" ng-if="typeAndPlugin && getTerminalConfig().capabilities.SUPPORT_SINGLE_OCEAN || getTerminalConfig().capabilities.SUPPORT_MULTIPLE_OCEAN">
                        <label class="normal">{{'mobileTerminal.add_new_form_ocean_region_label' | i18n}}</label>
                        <div ng-if="getTerminalConfig().capabilities.SUPPORT_SINGLE_OCEAN">
                            <dropdown ng-model="currentMobileTerminal.attributes.SINGLE_OCEAN" initialtext="{{ 'common.choose' | i18n }}" items="getTerminalConfig().capabilities.SUPPORT_MULTIPLE_OCEAN" id="mob-term-form-details-single-ocean"></dropdown>
                        </div>
                        <div ng-if="getTerminalConfig().capabilities.SUPPORT_MULTIPLE_OCEAN">
                            <tag-select-input ng-model="currentMobileTerminal.attributes.MULTIPLE_OCEAN" ng-placeholder="{{'common.choose' | i18n }}" items="getTerminalConfig().capabilities.SUPPORT_MULTIPLE_OCEAN" id="mob-term-form-details-multiple-ocean"></tag-select-input>
                        </div>
                    </div>
                    <div class="form-group medium-field" ng-if="typeAndPlugin && getTerminalConfig().terminalFields.SERIAL_NUMBER" ng-class="{'has-error': mobileTerminalForm.serialNumber.$invalid && (submitAttempted || mobileTerminalForm.serialNumber.$dirty)}">
                        <label class="normal">{{'mobileTerminal.form_inmarsatc_serial_no_label' | i18n}}<span ng-if="createNewMode" class="mandatory">{{ 'common.mandatory_field' | i18n }}</span></label>
                        <input type="text" name="serialNumber" class="form-control" ng-model="currentMobileTerminal.attributes.SERIAL_NUMBER" ng-required="getTerminalConfig().terminalFields.SERIAL_NUMBER" existing="existingSerialNumber" id="mob-term-form-details-serial-number"/>
                        <input-validation-message types="required" input="mobileTerminalForm.serialNumber"></input-validation-message>
                    </div>
                    <div class="form-group long-field" ng-if="typeAndPlugin" ng-show="getTerminalConfig().terminalFields.TRANSCEIVER_TYPE">
                        <label class="normal">{{'mobileTerminal.form_inmarsatc_transceiver_type_label' | i18n}}</label>
                        <input type="text" class="form-control" ng-model="currentMobileTerminal.attributes.TRANSCEIVER_TYPE" id="mob-term-form-details-transceiver-type">
                    </div>
                    <div class="form-group align-right" ng-if="typeAndPlugin">
                        <div class="switch-container">
                            <label class="normal" style="display: block;" ng-if="currentMobileTerminal.active">{{'common.active' | i18n}}</label>
                            <label class="normal" style="display: block;" ng-if="!currentMobileTerminal.active">{{'common.inactive' | i18n}}</label>
                            <label class="switch">
                                <input type="checkbox" ng-model="currentMobileTerminal.active" id="mob-term-form-details-active">
                                <div class="slider" id="mob-term-form-details-slider">
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </label>
                        </div>
                    </div> 
                </div>
                <div class="flexrow form-section-2" ng-if="typeAndPlugin">
                    <div class="form-group medium-field" ng-show="getTerminalConfig().terminalFields.SOFTWARE_VERSION">
                        <label class="normal">{{'mobileTerminal.form_inmarsatc_software_version_label' | i18n}}</label>
                        <input type="text" class="form-control" ng-model="currentMobileTerminal.attributes.SOFTWARE_VERSION" id="mob-term-form-details-software-version">
                    </div>
                    <div class="form-group long-field" ng-show="getTerminalConfig().terminalFields.ANTENNA">
                        <label class="normal">{{'mobileTerminal.form_inmarsatc_antenna_label' | i18n}}</label>
                        <input type="text" class="form-control" ng-model="currentMobileTerminal.attributes.ANTENNA" id="mob-term-form-details-antenna">
                    </div>
                    <div class="form-group medium-field" ng-show="getTerminalConfig().terminalFields.SATELLITE_NUMBER">
                        <label class="normal">{{'mobileTerminal.form_inmarsatc_satellite_number_label' | i18n}}</label>
                        <input type="text" name="sattelite_number" class="form-control" ng-model="currentMobileTerminal.attributes.SATELLITE_NUMBER" id="mob-term-form-details-satelite-number"/>
                    </div>
                    <div class="form-group long-field" ng-show="getTerminalConfig().terminalFields.ANSWER_BACK">
                        <label class="normal">{{'mobileTerminal.form_inmarsatc_answer_back_label' | i18n}}</label>
                        <input type="text" class="form-control" ng-model="currentMobileTerminal.attributes.ANSWER_BACK" id="mob-term-form-details-answer-back">
                    </div>
                </div>
            </div>
            <div class="currentMobileTerminalTypes" ng-if="typeAndPlugin">
                <div class="flexrow form-section-header">
                    <label>{{'mobileTerminal.form_inmarsatc_communication_channels_header' | i18n}}</label>
                </div>
                <div class="flexrow form-section-header">
                    <label class="normal">{{'mobileTerminal.form_inmarsatc_communication_channels_notice' | i18n}}</label>
                </div>
                <div ng-repeat="communicationChannel in currentMobileTerminal.channels" ng-controller="mobileTerminal.channelController">
                    <div ng-form="channelForm" class="channel-form">
                        <div class="delete-channel" ng-show="!disableForm() && $index > 0">
                            <div class="btn btn-default">
                                <i class="fa fa-trash" title="{{'common.remove' | i18n}}" ng-click="removeChannel($index)" id="mob-term-form-details-delete-channel"></i>
                            </div>
                        </div>  
                        <div class="flexrow form-section-3">
                            <div class="form-group short-field">
                                <label class="normal">{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_channel_label' | i18n}}</label>
                                <input type="text" name="dnid" class="form-control" ng-model="communicationChannel.name" id="mob-term-form-details-channel-name-{{$index}}">
                            </div>
                            <div class="form-group radio-buttons">
                                <div class="radio-button" ng-show="getTerminalConfig().capabilities.IS_POLLABLE">
                                    <label class="normal">{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_poll_label' | i18n}}</label>
                                    <input type="radio" name="polling" ng-value="$index" ng-model="selectedPollingChannel" ng-model-options="{getterSetter: true}" id="mob-term-form-details-pollable-{{$index}}"/>
                                    <label class="radio-btn" for="mob-term-form-details-pollable-{{$index}}"></label>
                                </div>
                                <div class="radio-button" ng-show="getTerminalConfig().capabilities.IS_CONFIGURABLE">
                                    <label class="normal">{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_con_label' | i18n}}</label>
                                    <input type="radio" name="config" ng-value="$index" ng-model="selectedConfigChannel" ng-model-options="{getterSetter: true}" id="mob-term-form-details-configurable-{{$index}}"/>
                                    <label class="radio-btn" for="mob-term-form-details-configurable-{{$index}}""></label>
                                </div>
                                <div class="radio-button">
                                    <label class="normal">{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_def_label' | i18n}}</label>
                                    <input type="radio" name="default" ng-value="$index" ng-model="selectedDefaultChannel" ng-model-options="{getterSetter: true}" id="mob-term-form-details-default-{{$index}}"/>
                                    <label class="radio-btn" for="mob-term-form-details-default-{{$index}}"></label>
                                </div>
                            </div>
                            <div class="form-group short-field" ng-class="{'has-error': channelForm.dnid.$invalid && (submitAttempted || channelForm.dnid.$dirty)}" ng-show="getTerminalConfig().channelFields.DNID">
                                <label class="normal">{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_dnid_label' | i18n}}</label>
                                <input type="text" name="dnid" class="form-control" ng-model="communicationChannel.ids.DNID" only-digits id="mob-term-form-details-dnid-{{$index}}">
                                <input-validation-message types="onlyDigits" input="channelForm.dnid"></input-validation-message>
                            </div>
                            <div class="form-group short-field" ng-class="{'has-error': channelForm.memberId.$invalid && (submitAttempted || channelForm.memberId.$dirty)}" ng-show="getTerminalConfig().channelFields.MEMBER_NUMBER">
                                <label class="normal">{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_member_no_label' | i18n}}</label>
                                <input type="text" name="memberId" class="form-control" ng-model="communicationChannel.ids.MEMBER_NUMBER" only-digits id="mob-term-form-details-member-number-{{$index}}">
                                <input-validation-message types="onlyDigits" input="channelForm.memberId"></input-validation-message>
                            </div>
                            <div class="form-group short-field" ng-show="getTerminalConfig().channelFields.LES_DESCRIPTION">
                                <label class="normal">{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_land_station_label' | i18n}}</label>
                                <input type="text" name="LES_DESCRIPTION" class="form-control" ng-model="communicationChannel.ids.LES_DESCRIPTION" id="mob-term-form-details-les-description-{{$index}}">
                            </div>
                            <div class="form-group medium-field" ng-class="{'has-error': channelForm.started.$invalid && (submitAttempted || channelForm.started.$dirty)}" ng-show="getTerminalConfig().channelFields.START_DATE">
                                <label class="normal">{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_started_label' | i18n}}</label>
                                <datepicker-input name="started" model="communicationChannel.ids.START_DATE" time="true" max-date="communicationChannel.ids.END_DATE" input-field-id="mobile-terminal-channel-start-date-picker-{{$index}}" id="mob-term-form-details-start-date-{{$index}}"></datepicker-input>
                            </div>
                            <div class="form-group medium-field" ng-class="{'has-error': channelForm.stopped.$invalid && (submitAttempted || channelForm.stopped.$dirty)}" ng-show="getTerminalConfig().channelFields.END_DATE">
                                <label class="normal">{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_stopped_label' | i18n}}</label>
                                <datepicker-input name="stopped" time="true" model="communicationChannel.ids.END_DATE" min-date="communicationChannel.ids.START_DATE" input-field-id="mobile-terminal-channel-end-date-picker-{{$index}}"></datepicker-input>
                            </div>
                        </div>
                        <div class="flexrow form-section-4">
                            <div class="form-group medium-field" ng-show="getTerminalConfig().channelFields.INSTALLED_BY">
                                <label class="normal">{{'mobileTerminal.form_inmarsatc_installed_by_label' | i18n}}</label>
                                <input type="text" class="form-control" ng-model="communicationChannel.ids.INSTALLED_BY" id="mob-term-form-details-installed-by-{{$index}}">
                            </div>
                            <div class="form-group medium-field" ng-show="getTerminalConfig().channelFields.INSTALLED_ON">
                                <label class="normal">{{'mobileTerminal.form_inmarsatc_installed_on_label' | i18n}}</label>
                                <datepicker-input model="communicationChannel.ids.INSTALLED_ON" time="true" input-field-id="mobile-terminal-installed-on-date-picker" id="mob-term-form-details-installed-on-{{$index}}"></datepicker-input>
                            </div>
                            <div class="form-group medium-field" ng-show="getTerminalConfig().channelFields.UNINSTALLED_ON" ng-class="{'has-error': mobileTerminalForm.uninstalled.$invalid && (submitAttempted || mobileTerminalForm.uninstalled.$dirty)}">
                                <label class="normal">{{'mobileTerminal.form_inmarsatc_uninstalled_on_label' | i18n}}</label>
                                <datepicker-input name="uninstalled" model="communicationChannel.ids.UNINSTALLED_ON" time="true" min-date="communicationChannel.ids.INSTALLED_ON" input-field-id="mobile-terminal-uninstalled-on-date-picker" id="mob-term-form-details-uninstalled-on-{{$index}}"></datepicker-input>
                            </div>
                            <div class="form-group" ng-show="getTerminalConfig().channelFields.FREQUENCY_EXPECTED" ng-class="{'has-error': mobileTerminalForm.frequency_expected.$invalid && (submitAttempted || mobileTerminalForm.frequency_expected.$dirty)}">
                                <label class="normal">{{'mobileTerminal.form_inmarsatc_expected_freq_label' | i18n}}</label>
                                <period-input name="frequency_expected" model="communicationChannel.ids.FREQUENCY_EXPECTED" no-minutes="true" id="mob-term-form-details-frequency-expected-{{$index}}"></period-input>
                                <input-validation-message types="number" input="mobileTerminalForm.frequency_expected"></input-validation-message>
                            </div>
                            <div class="form-group" ng-show="getTerminalConfig().channelFields.FREQUENCY_GRACE_PERIOD" ng-class="{'has-error': mobileTerminalForm.frequency_grace.$invalid && (submitAttempted || mobileTerminalForm.frequency_grace.$dirty)}">
                                <label class="normal">{{'mobileTerminal.form_inmarsatc_grace_period_label' | i18n}}</label>
                                <period-input name="frequency_grace" model="communicationChannel.ids.FREQUENCY_GRACE_PERIOD" no-minutes="true" id="mob-term-form-details-frequency-grace-{{$index}}"></period-input>
                                <input-validation-message types="number" input="mobileTerminalForm.frequency_grace"></input-validation-message>
                            </div>
                            <div class="form-group" ng-show="getTerminalConfig().channelFields.FREQUENCY_IN_PORT" ng-class="{'has-error': mobileTerminalForm.frequency_port.$invalid && (submitAttempted || mobileTerminalForm.frequency_port.$dirty)}">
                                <label class="normal">{{'mobileTerminal.form_inmarsatc_in_port_grace_period_label' | i18n}}</label>
                                <period-input name="frequency_port" model="communicationChannel.ids.FREQUENCY_IN_PORT" no-minutes="true" id="mob-term-form-details-frequency-in-port-{{$index}}"></period-input>
                                <input-validation-message types="number" input="mobileTerminalForm.frequency_port"></input-validation-message>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flexrow" ng-hide="disableForm() || !isMultipleChannelsAllowed()">
                    <a class="btn-addChannel" ng-click="addNewChannel()" id="mob-term-form-details-add-channel"><i class="fa fa-plus"></i> {{'mobileTerminal.form_inmarsatc_communication_channels_add_new_button' | i18n}}</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
