.transponderSystemSelects{
    .transponderSystemSelect{
        float:left;
    }
}


.communicationChannel{
    margin-top: 20px;
    .form-group:first-child{
        .nopaddingleft();
    }
}

.comchannelrow {
    background-color: #f9f9f9;
    padding-top: 14px;
    margin-bottom: 10px;
    min-height: 57px;
};

.addNewChannelWrapper{
    margin-bottom: 20px;
}

body{background:#314559}

input[type='radio']{
    height: 15px;
    width: 15px;
    cursor: pointer;
    margin: 10px 8px; 
}

.nomargin{
    margin-right: 0px;
    margin-left: 0px;
}
.nopadding{
    padding-left: 0px;
    padding-right: 0px;
}

.smallerpadding{
    padding-left: 7px;
    padding-right: 7px;
};

.remove{
    padding-top: 5px;
    color:@errorColor;
    cursor: pointer;
}