<div class="newvessel" ng-controller="newVesselCtrl">

<form name="newVesselForm" method="post">
        <div class="row">
            <div class="row col-md-12">
                <div class="col-md-4 vesselname">{{newVesselObj.name}}</div>
                 <span class="vesselstatus col-md-10">
                     <span ng-show="newVesselObj.active == true">Set as inactive</span>
                     <span ng-show="newVesselObj.active == false">Set as active</span>
                     <input type="checkbox" ng-click="changeVesselStatus()" checked>
                     <div ng-show="newVesselObj.active == true">STATUS: <b> Active</b></div>
                     <div ng-show="newVesselObj.active == false">STATUS: <b> Inactive</b></div>
                 </span>
                <div class="col-md-1">
                    <button  type="submit" class="btn btn-sm createnewvesselbutton" ng-click="createNewVessel()"> Create New Vessel </button>
                </div>
                <div>
                    <div class="closenewvessel pull-right" ng-click="toggleAddNewVessel()"> <img src="../../../assets/images/close.png" /></div>
                </div>
            </div>
            <vessel-details></vessel-details>
        </div>
        <div class=" col-md-12 mobileterminalcontainer" ng-repeat = "item in newVesselObj.mobileTerminals">
            <div class="row col-md-12">
                <a ng-click="removeNewMobileSystem(item, $index)">- REMOVE SATELLITE SYSTEM</a>
            </div>
            <mobileterminal terminal="item"></mobileterminal>
        </div>
        <div class="row col-md-12">
            <a ng-click="addNewMobileTerminalToNewVessel()"><b>+ ADD NEW MOBILE TERMINAL</b></a>
        </div>

        <!--
        <div class="row col-md-12" ng-show="false">
            <span class="vesselhistory col-md-12">EVENT HISTORY</span>
            <hr>
        </div>-->
        <div class="row col-md-12">
            <a ng-click="clearForm()">Clear form</a>
        </div>

    </form>
</div>
