.incoming-movements-widget {
	background-color: white;
	border-radius: 4px;
	padding-bottom: 4px;

	table.searchResults tbody tr td:first-child,
	table.searchResults thead tr th:first-child {
		padding-left: 15px;
	}

}