.alert-modal-content {
  position: absolute;
  overflow: visible;
  bottom: auto;
  height: 0;
  .modal-lg {
    width: 100%;
  }
  z-index: 1049 !important;
  .modal-dialog {
    padding: 0px;
    margin: 0px;
    height: 0;
    .modal-content {
      border-radius: 4px;
      box-shadow: 0 3px 9px rgba(0,0,0,.5);
    }
    .modal-body {
      padding: 0px;
      .alert {
        padding: 4px;
        .close {
          line-height: 30px;
          top: 4px;
          right: 5px;
          font-size: 18px;
        }
        span.fa {
          margin-left: 5px;
        }
        .alert-message {
        	padding-left: 5px;
        }
        button {
          box-shadow: none;
          opacity: 0.5;
          &:hover{
            opacity: 0.8;
          }
        }
      }
      .alert-danger {
        border-color: #a94442;
        button {
          span {
            color: #a94442;
          }
        }
      }
      .alert-warning {
        border-color: #8a6d3b;
        button {
          span {
            color: #8a6d3b;
          }
        }
      }
      .alert-success {
        border-color: #3c763d;
        button {
          span {
            color: #3c763d;
          }
        }
      }
    }
  }
}
.alert-modal-backdrop {
  background-color: rgba(221, 221, 221, 0.4);
  z-index: 1048 !important;
  bottom: auto;
}
