/*
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
 */
.alert-modal-content {
  position: absolute;
  overflow: hidden;
  .modal-lg {
    width: 100%;
  }
  .modal-dialog {
    padding: 0px;
    margin: 0px;
    .modal-content {
      border-radius: 4px;
      box-shadow: 0 3px 9px rgba(0,0,0,.5);
    }
    .modal-body {
      padding: 0px;
      .alert {
        .alert-message {
        	padding-left: 5px;
        }
        button {
          box-shadow: none;
          opacity: 0.5;
          &:hover{
            opacity: 0.8;
          }
        }
      }
      .alert-danger {
        border-color: #a94442;
        button {
          span {
            color: #a94442;
          }
        }
      }
      .alert-warning {
        border-color: #8a6d3b;
        button {
          span {
            color: #8a6d3b;
          }
        }
      }
      .alert-success {
        border-color: #3c763d;
        button {
          span {
            color: #3c763d;
          }
        }
      }
    }
  }
}