<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<li ng-if="checkAccess('manageUsers')||checkAccess('viewUsers')">
                    <a ui-sref=".users" ui-sref-active="active">
                       {{ 'header.users' | translate }}
                    </a>
                </li>
                <li ng-if="checkAccess('manageOrganisations')||checkAccess('viewOrganisations')">
                    <a ui-sref=".organisations" ui-sref-active="active">
                        {{ 'header.organisations' | translate }}
                    </a>
                </li>
                <li ng-if="checkAccess('manageRoles')||checkAccess('viewRoles')">
                    <a ui-sref=".roles" ui-sref-active="active">
                        {{ 'header.roles' | translate }}
                    </a>
                </li>
                <li ng-if="checkAccess('manageScopes')||checkAccess('viewScopes')">
                    <a ui-sref=".scopes" ui-sref-active="active">
                        {{ 'header.scopes' | translate }}
                    </a>
                </li>
                <li ng-if="checkAccess('manageApplications')||checkAccess('viewApplications')">
                    <a ui-sref=".applications" ui-sref-active="active">
                        Applications
                    </a>
                </li>
                <li ng-if="checkAccess('configurePolicies')">
                    <a ui-sref=".policies" ui-sref-active="active">
                        Policies
                    </a>
                </li>
                <li ng-if="checkAccess('manageUsers') && isReviewContactDetailsEnabled">
                    <a ui-sref=".changes" ui-sref-active="active">
                        Changes
                    </a>
                </li>