<div>{{enablecheckall}}
	<div class='dropdown fullWidthDropdown multiselectdropdowncontainer' data-ng-class='{open: open}'>
		<button class="btn btn-default dropdown-toggle" type="button" data-ng-click='open=!open; openDropdown()' ng-disabled="ngDisabled">
			<div class="dropdowntext">{{dropdownLabel()}}</div>
			<span class="caret"></span>
		</button>
		<ul class='dropdown-menu' aria-labelledby='dropdownMenu'>
			<li class="multiselectdropdownheaderitem" ng-class="{itemselected : checkedAndSelectedAll()}" ng-hide="disableCheckall">
				<a data-ng-click='selectAll()'>
					<i class="fa fa-check-square-o"></i>&nbsp;{{checkAll}}
				</a>
			</li>
			<li class="multiselectdropdownheaderitem" ng-class="{itemselected : checkedAndSelectedNone()}" ng-hide="disableCheckall">
				<a data-ng-click='deselectAll();'>
					<i class="fa fa-check-square-o"></i>&nbsp;{{unCheckAll}}
				</a>
			</li>
			<li class='divider' ng-hide="disableCheckall"></li>
			<li data-ng-repeat='option in options' class="multiselectdropdownitem" ng-class="{itemselected : isChecked(option.code)}">
				<a data-ng-click='setSelectedItem()'>
					<i class="fa fa-check"></i>&nbsp;{{option.text}}
				</a>
			</li>
		</ul>
	</div>
</div>
