<!--
ï»¿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
Â© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<!doctype html>
<html>
    <body>
        <header id="ec-html-bundle-top" class="ec-header">
            <div class="top">
                <div class="content clearfix">
                    <nav>
                        <ul>
                            <li><a class="first" href="http://europa.eu/geninfo/legal_notices_en.htm" accesskey="2">Legal notice</a></li>
                            <!--<li><a href="/contact/index_en.htm" accesskey="3">Contact</a></li>-->
                            <li><a href="http://www.europa.eu/geninfo/query/search_en.html" accesskey="4">Search</a></li>
                        </ul>
                    </nav>
                        <form ng-controller="TranslateController">
                            <select class="ec-header-languages" ng-model="lang" ng-change="changeLanguage(lang);">
                                <option value="bg">български (bg)</option>
                                <option value="cs">čeština (cs)</option>
                                <option value="da">dansk (da)</option>
                                <option value="de">Deutsch (de)</option>
                                <option value="et">eesti keel (et)</option>
                                <option value="el">ελληνικά (el)</option>
                                <option value="en">English (en)</option>
                                <option value="es">español (es)</option>
                                <option value="fr">français (fr)</option>
                                <option value="ga">Gaeilge (ga)</option>
                                <option value="it">italiano (it)</option>
                                <option value="lv">latviešu valoda (lv)</option>
                                <option value="lt">lietuvių kalba (lt)</option>
                                <option value="hu">magyar (hu)</option>
                                <option value="mt">Malti (mt)</option>
                                <option value="nl">Nederlands (nl)</option>
                                <option value="pl">polski (pl)</option>
                                <option value="pt">português (pt)</option>
                                <option value="ro">română (ro)</option>
                                <option value="sk">slovenčina (sk)</option>
                                <option value="sl">slovenščina (sl)</option>
                                <option value="fi">suomi (fi)</option>
                                <option value="sv">svenska (sv)</option>
                                <option value="hr">hrvatski (hr)</option>
                                <option value="is">íslenska (is)</option>
                                <option value="mk">македонски (mk)</option>
                                <option value="no">norsk (no)</option>
                                <option value="tr">türkçe (tr)</option>
                            </select>
                        {{currentlanguage}}
                    </form>
                    <div class="ec-header-user">
                        <div class="collapse navbar-collapse" id="header" ng-controller="userMenuController">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        <span class="fa fa-user"></span>&nbsp;User&nbsp;<span ng-if="authenticated">({{userName}})</span><span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" ng-if="authenticated">

                                        <li ng-show="contexts.length > 1" >
                                            <a ng-click="switchContext()">Switch Context</a>
                                        </li>
                                        <li class="divider" ng-show="contexts.length > 1"></li>
                                        <li ng-controller="ModifyPassword" ng-if="!ldapEnabled">
                                            <a ng-click="modifyMyPassword()">Change Password</a>
                                        </li>
                                        <li ng-controller="ModifyContactDetails">
                                            <a ng-click="modifyMyContactDetails()">Update Contact Details</a>
                                        </li>

                                         <li ng-controller="ModifySecurityAnswer">
                                            <a ng-click="modifySecurityAnswer()">Change Security Answer</a>
                                         </li>

                                        <li class="divider"></li>
                                        <li><a ui-sref="{{logoutState}}">Log out</a></li>
                                    </ul>
                                    <ul class="dropdown-menu" role="menu" ng-if="!authenticated">
                                        <li><a ng-click="openlogin()">Login</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title" >
				<a>
					<div class="content">
						<h1 class="ec-header-application-title">USM</h1>
                    </div>

				</a>
            </div>
            <div class="sub-title">
                <div class="content"><span class="ec-header-logo ir"></span>
                    <h2 class="ec-header-screen-title">User Security Management</h2>
                </div>
            </div>
            <!--<div class="path">-->
                <!--<div class="content">-->
                    <!--<ul>-->
                        <!--<li><a href="#">USM</a></li>-->
                        <!--<li><a href="#">Directorate-General for Informatics</a></li>-->
                        <!--<li><a href="../../index.html" class="ec-header-application-title">EC HTML BUNDLE</a></li>-->
                        <!--<li class="ec-header-screen-title"></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        </header>
    </body>
</html>