<div ng-controller="RulesCtrl">
    <div static-include="partial/alarms/alarmsPageHeader/alarmsPageHeader.html"></div>
    
    <div class="container containerWithTopBottomPadding">

        <div ng-if="isVisible.rulesForm" ng-include="'partial/alarms/rules/rulesForm/rulesForm.html'"></div>

        <div ng-if="!isVisible.rulesForm" class="card">
            <div class="row">
                <div class="col-md-12">
                    <h2>RULES</h2>
                    <br>
                    <button type="button" class="btn btn-sm btn-primary" ng-click="toggleAddNewRule()"><span class="fa fa-plus"></span> {{'common.add_new' | i18n}}</button> 
                </div>
            </div>
        </div>


    </div>

</div>
