.rulesContainer{
    .card{
    	.card-header{
    		.btn{
    			float:left;
    		}
    	}
    }

    .filterRow {
        border:none;
    }

    .rules-table{
        td.active{
            color:@successColor;
        }
        td.inactive{
            color:@errorColor;
        }
        td.availability{
            i{
                cursor: default;
            }
        }
        td.notifyByEmail, td.subscription{
            input, .dropdown{
                width: 95%;
            }
        }
        td.actions, th.actions{
            text-align: left;
            padding-left: 10px;
        }

        i{
            cursor: pointer;
        }

        table{
            tbody{
                tr{background: @searchResultsTableRowColor;}
                tr:nth-child(4n+1) {background: @searchResultsTableOddRowColor !important;}
                tr:nth-child(4n+2) {background: @searchResultsTableOddRowColor !important;}
                tr.basicDataExpanded{
                    border-bottom: none;
                }

                tr.detailData{
                    td.detailsContainer{
                        border-top:1px solid @searchResultsTableRowBorderColor;
                    }
                }
            }
        }
    }
}