.card{
	.card-header{
		.btn{
			float:left;
		}
	}
}
.rules-table{
	.table-checkbox{
		padding-left: 15px;
		width: 40px;
	}

	.detailsIcon{
		color:@primaryColor;

	}
	.editIcon{
		color:green;
		margin-right: 15px;
	}
	.deleteIcon{
		color:red;
	}
	.definition{
		text-overflow: ellipsis;
		overflow: hidden;
		padding-right: 10px;
	}
}