.vesselDetailsContainer{
     padding-top: 10px;

    //Unit input for gross tonage
    .grossTonage{
        .unit-input {
            @unitWidth:40px;
            padding-right: @unitWidth;
            .unit-box {
                width: 55px;
            }
        }
    }

    .unit-box{
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    .lengthTypeUnit, .grossTonnageUnit{
        .dropdown{
            button{
                border-top-left-radius: 0px !important;
                border-bottom-left-radius: 0px !important;
            }
        }
    }
}