.vesselDetailsContainer{
    .vesseldetailsrow{
            margin-top: 0px !important;
            margin-bottom: 0px !important;
    }

    .inputgroup {

        .labelheaders {
            height: 20px;
            margin-bottom: 0;
            margin-top: 10px;
        }

        input[type=text] {
            background-color: #EBEBEB;
        }

    }
    .dropdowntext{
        float:left;
    }
    .caret{
        clear: both;
        margin-left: 10px;
    }
    .form-group{
        margin-bottom: 0px;
    }
    .has-feedback .form-control-feedback {
        position: absolute;
        top: 29px;
        right: 0;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: justify;
    }     
}