<div class="col-md-12 vesselDetailsContainer" loading-indicator="spin">
    <fieldset ng-disabled="disableForm">
        <div class="row">

            <div class="col-md-1 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.countryCode.$dirty) && vesselForm.countryCode.$invalid}">
                <label>{{ 'vessel.vessel_details_flagstate' | i18n }}</label>
                <dropdown name="countryCode" ng-model="vessel.countryCode" initialtext="{{ 'vessel.vessel_details_flagstate' | i18n }}" items="vesselFlagState" required></dropdown>
                <input-validation-message types="required" input="vesselForm.countryCode"></input-validation-message>
            </div>
            <div class="col-md-2 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.ircs.$dirty) && vesselForm.ircs.$invalid}">
                <label>{{ 'vessel.vessel_details_IRCS_code' | i18n }}</label>
                <input type="text" name="ircs" class="form-control" ng-model="vessel.ircs" ng-maxlength="7">
                <input-validation-message types="maxlength" input="vesselForm.ircs"></input-validation-message >
            </div>

            <div class="col-md-3 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.name.$dirty) && vesselForm.name.$invalid}">
                <label>{{ 'vessel.vessel_details_name' | i18n }}</label>
                <input type="text" name="name" class="form-control" ng-model="vessel.name" ng-maxlength="40" required >
                <input-validation-message types="required,maxlength" input="vesselForm.name"></input-validation-message>
            </div>

            <div class="col-md-2 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.externalMarking.$dirty) && vesselForm.externalMarking.$invalid}">
                <label>{{ 'vessel.vessel_details_ext_marking' | i18n }}</label>
                <input type="text" name="externalMarking" class="form-control" ng-model="vessel.externalMarking" ng-maxlength="14" required >
                <input-validation-message types="required,maxlength" input="vesselForm.externalMarking"></input-validation-message>
            </div>

            <div class="col-md-2 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.cfr.$dirty) && vesselForm.cfr.$invalid}">
                <label>{{ 'vessel.vessel_details_CFR' | i18n }}</label>
                <input type="text" name="cfr" class="form-control" ng-model="vessel.cfr"  ng-required ng-pattern="/^[a-zA-Z]{3}[0-9]{9}$/">
                <input-validation-message types="pattern,required" input="vesselForm.cfr" custom-messages="{{cfrValidationMessages}}"></input-validation-message >
            </div>
            <div class="col-md-2 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.imo.$dirty) && vesselForm.imo.$invalid}">
                <label>{{ 'vessel.vessel_details_IMO' | i18n }}</label>
                <input type="text" name="imo" class="form-control" ng-model="vessel.imo" only-digits >
                <input-validation-message types="onlyDigits, required" input="vesselForm.imo"></input-validation-message >
            </div>

        </div>
        <div class="row">

            <div class="col-md-3 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.homeport.$dirty) && vesselForm.homeport.$invalid}">
                <label>{{ 'vessel.vessel_details_home_port' | i18n }}</label>
                <input type="text" name="homeport" class="form-control" ng-model="vessel.homePort" />
            </div>

            <div class="col-md-3 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.gearType.$dirty) && vesselForm.gearType.$invalid}">
                <label>{{ 'vessel.vessel_details_gear_type' | i18n }}</label>
                <dropdown name="gearType" ng-model="vessel.gearType" initialtext="{{ 'vessel.vessel_details_gear_type' | i18n }}" items="vesselGearTypes" required></dropdown>
                <!--TODO: Add required to type input when enabling it!-->
                <input-validation-message types="required" input="vesselForm.gearType"></input-validation-message>
            </div>

            <div class="col-md-2 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.mmsi.$dirty) && vesselForm.mmsi.$invalid}">
                <label>{{ 'vessel.vessel_details_MMSI_no' | i18n }}</label>
                <input type="text" name="mmsi" class="form-control" ng-model="vessel.mmsiNo" ng-pattern="/^[0-9]{9}$/" >
                <input-validation-message types="required, pattern" input="vesselForm.mmsi" custom-messages="{{mmsiValidationMessages}}"></input-validation-message >
            </div>
            <div class="col-md-4 smallerpadding form-group">
                <label>{{ 'vessel.vessel_details_license_type' | i18n }}</label>
                <dropdown ng-model="vessel.licenseType" initialtext="{{ 'vessel.vessel_details_license_type' | i18n }}" items="vesselLicensTypes"></dropdown>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 smallerpadding">
                <div class="col-md-8 nopaddingleft nopaddingright form-group" ng-class="{'has-error': (submitAttempted || vesselForm.lengthValue.$dirty) && vesselForm.lengthValue.$invalid}">
                    <label>{{ 'vessel.vessel_details_length' | i18n }}</label>
                    <div class="unit-input">
                        <input name="lengthValue" class="form-control" ng-model="vessel.lengthValue" numeric ng-maxlength="7" ng-pattern="maxTwoDecimalsRegexp">
                        <div class="unit-box">{{"common.meters_short" | i18n}}</div>
                    </div>
                    <input-validation-message types="maxlength, numeric, pattern" input="vesselForm.lengthValue" custom-messages="{{maxTwoDecimalsValidationMessages}}"></input-validation-message>
                </div>
                <div class="col-md-4 nopaddingleft nopaddingright">
                    <label></label>
                    <dropdown ng-model="vessel.lengthType" no-placeholder-item items="vesselLengthTypes" ></dropdown>
                </div>
            </div>


            <div class="col-md-3 smallerpadding">
                <div class="col-md-8 nopaddingleft nopaddingright form-group grossTonage" ng-class="{'has-error': (submitAttempted || vesselForm.grossTonnage.$dirty) && vesselForm.grossTonnage.$invalid}">
                    <label>{{ 'vessel.vessel_details_tonnage' | i18n }}</label>
                    <div class="unit-input">
                        <input name="grossTonnage" class="form-control" ng-model="vessel.grossTonnage" numeric ng-maxlength="7" ng-pattern="maxTwoDecimalsRegexp">
                        <div class="unit-box">{{"common.tons" | i18n}}</div>
                    </div>
                    <input-validation-message types="maxlength, numeric, pattern" input="vesselForm.grossTonnage" custom-messages="{{maxTwoDecimalsValidationMessages}}"></input-validation-message >
                </div>
                <div class="col-md-4 nopaddingleft nopaddingright">
                    <label></label>
                    <dropdown ng-model="vessel.grossTonnageUnit" no-placeholder-item  items="vesselGrossTonnageUnits" ></dropdown>
                </div>
            </div>

            <div class="col-md-2 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.power.$dirty) && vesselForm.power.$invalid}">
                <label>{{ 'vessel.vessel_details_main_power' | i18n }}</label>
                <div class="unit-input">
                    <input name="power" class="form-control" ng-model="vessel.powerMain" numeric ng-maxlength="8"  ng-pattern="maxTwoDecimalsRegexp">
                    <div class="unit-box">{{"common.kw" | i18n}}</div>
                </div>
                <input-validation-message types="maxlength, numeric, pattern" input="vesselForm.power" custom-messages="{{maxTwoDecimalsValidationMessages}}"></input-validation-message >
            </div>

            <div class="col-md-2 form-group smallerpadding">
                <label>{{ 'vessel.po_name' | i18n }}</label>
                <input type="text" name="producername" class="form-control " ng-model="vessel.producer.name">
            </div>
            <div class="col-md-2 form-group smallerpadding">
                <label>{{ 'vessel.po_code' | i18n }}</label>
                <input type="text" name="producercode" class="form-control" ng-model="vessel.producer.code">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.contactName.$dirty) && vesselForm.contactName.$invalid}">
                <label>{{ 'vessel.vessel_details_contact_name' | i18n }}</label>
                <input type="text" name="contactName" class="form-control" ng-model="vessel.contact.name"/>
            </div>
            <div class="col-md-3 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.email.$dirty) && vesselForm.email.$invalid}">
                <label>{{ 'vessel.vessel_details_email' | i18n }}</label>
                <input type="text" name="email" class="form-control" ng-model="vessel.contact.email"/>
                <input-validation-message types="email" input="vesselForm.email"></input-validation-message >
            </div>
            <div class="col-md-2 form-group smallerpadding" ng-class="{'has-error': (submitAttempted || vesselForm.contactNumber.$dirty) && vesselForm.contactNumber.$invalid}">
                <label>{{ 'vessel.vessel_details_contact_number' | i18n }}</label>
                <input type="text" name="contactNumber" class="form-control" ng-model="vessel.contact.number"/>
            </div>
        </div>
    </fieldset>
</div>
