fa-overview-panel {
    .fa-overview-fieldset {
        legend.fieldsetLegendStyle {
            margin-bottom: 5px;
        }
        .fa-overview-fieldset {
            margin-top: 5px;
            margin-bottom: 0;
            padding-bottom: 15px;
        }
    }
    > .fa-overview-fieldset {
        padding-bottom: 15px;
    }
}