<div class="container">
    <!-- INFO PANEL-->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label for="role">{{"common.application" | translate}}</label>
                    </div>
                    <div class="col-md-4">
                        <span id="role" ng-bind="applicationDetails.name"></span>
                    </div>
                    <div class="col-md-2">
                        <label for="description">{{"common.description" | translate}}</label>
                    </div>
                    <div class="col-md-4">
                        <span id="description" ng-bind="applicationDetails.description"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label for="parent">{{"applications.parent" | translate}}</label>
                    </div>
                    <div class="col-md-10">
                        <span id="parent" ng-bind="applicationDetails.parent"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="containerWrapper pollingTabs">
                <ul class="nav nav-tabs">
                    <li ng-repeat="tab in tabMenu" class="audittab" ng-click="selectTab(tab.tab)" ng-class="{'active': selectedTab === '{{tab.tab}}'}">
                        <span>{{tab.title}}</span>
                    </li>
                </ul>
            </div>
            <div ng-show="selectedTab==='Features'">
                <div ng-include src="'usm/applications/partial/applicationFeatures.html'"></div>
            </div>
            <div ng-if="checkAccess('viewUsers')||checkAccess('manageUsers')" ng-show="selectedTab==='Datasets'">
                <!--  <div ui-view name="contexts" ></div>-->
                <div  ng-include src="'usm/applications/partial/applicationDatasets.html'"></div>
            </div>
            <div ng-if="checkAccess('viewUsers')||checkAccess('manageUsers')" ng-show="selectedTab==='Options'">
                <div ng-include src="'usm/applications/partial/applicationOptions.html'"></div>
            </div>
        </div>
    </div>
</div>
