/*
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
*/

.table-alert {
    position: relative;
    button {
        background-color: transparent;
        box-shadow: none !important;
        border: 0;
        opacity: 0.5;
        &:hover{
            opacity: 0.8;
        }
    }
    .close-btn {
        position: absolute;
        right: 12px;
        font-size: 22px;
        span {
            vertical-align: middle;
        }
    }
    &.alert-danger {
        .fa {
          color: #a94442 !important;
        }
        button {
          span {
            color: #a94442;
          }
        }
      }
      &.alert-warning {
        .fa {
          color: #8a6d3b !important;
        }
        button {
          span {
            color: #8a6d3b;
          }
        }
      }
      &.alert-success {
        .fa {
          color: #3c763d !important;
        }
        button {
          span {
            color: #3c763d;
          }
        }
      }
      &.alert-info {
        .fa {
          color: #31708f !important;
        }
      }
}