<!--
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div ng-controller="ReportformCtrl">
	<!-- Warnings -->
	<div class="row">
		<div class="col-md-12" ng-if="formAlert.visible">
			<div class="alert alert-danger alert-container" role="alert">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<span class="alert-message">
					<span>{{formAlert.msg}}</span>            
				</span>
		    </div>
		</div>
		<div class="col-md-12" ng-if="report.positionSelector === 'last' && report.positionTypeSelector === 'positions'">
			<div class="alert alert-warning alert-container" role="alert">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<span class="alert-message">
					<span>{{ 'spatial.last_x_pos_warning' | i18n }}</span>            
				</span>
		    </div>
		</div>
	</div>
	<div class="card col-md-12 reportFormContainer">
		<div class="col-md-12 report-form-header">
			<div class="row btn-container">
				<div class="col-md-6" ng-show="formMode === 'CREATE'">
					<h3>{{'spatial.reports_form_title_new_report' | i18n }}</h3>
				</div>
				<div class="col-md-6" ng-show="formMode === 'EDIT' || formMode === 'EDIT-FROM-LIVEVIEW'">
					<h3>{{'spatial.reports_form_title_edit_report' | i18n }}</h3>
				</div>
				<div class="col-md-6 formSubmitBtn">
					<button class="btn btn-default button btn-action" type="button" ng-if="repNav.hasPreviousState()" ng-click="cancel()">{{"common.cancel" | i18n }}</button>
					<button class="btn btn-primary button btn-action" type="button" ng-click="saveReport()" ng-show="showSaveBtn()">{{"spatial.reports_form_save_btn" | i18n }}</button>
				</div>
			</div>
		</div>
		<form name="reportForm" id="reportForm" class="reportForm col-md-12" novalidate>
			<div class="general-form row">
				<div class="form-group col-md-3">
					<div class="form-group report-name-group" ng-class="{'has-error': (reportForm.reportName.$dirty || submitingReport === true) && reportForm.reportName.$invalid}">
						<label for="reportName" class="required-field">{{'spatial.reports_form_report_name' | i18n }}</label>
						<input id="reportName" type="text" class="form-control" name="reportName" ng-required="true" ng-model="report.name" maxlength="255"/>
						<div class="innerErrorMessagesInputWithUpLabel" ng-messages="reportForm.reportName.$error" ng-show="(reportForm.reportName.$dirty || submitingReport === true) && reportForm.reportName.$invalid">
							<div ng-message="required">{{'spatial.required_field_error_message' | i18n }}</div>
						</div>
					</div>
					<div class="form-group">
						<label for="reportDesc">{{'spatial.reports_form_report_description' | i18n}}</label>
						<textarea class="form-control reportDesc" name="reportDesc" ng-model="report.desc" maxlength="255"></textarea>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="form-group col-md-6">
							<label>{{'spatial.reports_form_positions_selector_label' | i18n}}</label>
							<combobox ng-model="report.positionSelector" items="positionItems"></combobox>
						</div>
						<div class="form-group col-md-6">
							<div ng-show="report.positionSelector === 'last'" style="width: 100%;">
								<div class="form-group input-with-combo field-noLabel" ng-class="{'has-error': (reportForm.xValue.$dirty || submitingReport === true) && reportForm.xValue.$invalid}">
									<!-- <label for="positionsCounter">{{'spatial.reports_form_positions_x_value' | i18n}}</label> -->
									<numeric-input id="positionsCounter" class="form-control" min="0" name="xValue" ng-required="report.positionSelector !== 'all' && report" ng-model="report.xValue"></numeric-input>
									<combobox ng-model="report.positionTypeSelector" items="positionTypeItems"></combobox>
									<div class="innerErrorMessages" ng-messages="reportForm.xValue.$error" ng-show="(reportForm.xValue.$dirty || submitingReport === true) && reportForm.xValue.$invalid">
										<div ng-message="required">{{'spatial.required_field_error_message' | i18n }}</div>
										<div ng-message="invalidNumber">{{'spatial.not_numeric_error_message' | i18n }}</div>
										<div ng-message="min">{{'spatial.min_value_1_error_message' | i18n }}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6" ng-hide="report.positionSelector === 'last' && report.positionTypeSelector === 'hours'"  ng-class="{'has-error': (reportForm.startDateTime.$dirty || submitingReport === true) && reportForm.startDateTime.$invalid}">
							<label for="reportStartDate" ng-class="{'required-field': report.positionSelector === 'all'}">{{'spatial.reports_form_start_date_label' | i18n}}</label>
							<!-- <datepicker-input id="reportStartDate" time="true" model="report.startDateTime" name="startDateTime" ng-required="report.positionSelector === 'all'"></datepicker-input> -->
							<datepicker-input id="reportStartDate" time="true" model="report.startDateTime" name="startDateTime" max-date="report.endDateTime"  ng-required="report.positionSelector === 'all'" input-field-id="report-start-date-picker" update-when="default"></datepicker-input>
							<div class="innerErrorMessagesDateWithUpLabel" ng-messages="reportForm.startDateTime.$error" ng-show="(reportForm.startDateTime.$dirty || submitingReport === true) && reportForm.startDateTime.$invalid">
								<div ng-message="required">{{'spatial.required_field_error_message' | i18n }}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6" ng-hide="report.positionSelector === 'last' && report.positionTypeSelector === 'hours'" ng-class="{'has-error': (reportForm.endDateTime.$dirty || submitingReport === true) && reportForm.endDateTime.$invalid}">
							<label for="reportEndDate" ng-class="{'required-field': report.positionSelector === 'all'}">{{'spatial.reports_form_end_date_label' | i18n}}</label>
							<!-- <datepicker-input id="reportEndDate" time="true" model="report.endDateTime" name="endDateTime" ng-required="report.positionSelector === 'all'"></datepicker-input> -->
							<datepicker-input id="reportEndDate" time="true" model="report.endDateTime" name="endDateTime" min-date="report.startDateTime" ng-required="report.positionSelector === 'all'" input-field-id="report-end-date-picker"></datepicker-input>
							<div class="innerErrorMessagesDateWithUpLabel" ng-messages="reportForm.endDateTime.$error" ng-show="(reportForm.endDateTime.$dirty || submitingReport === true) && reportForm.endDateTime.$invalid">
								<div ng-message="required">{{'spatial.required_field_error_message' | i18n }}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 report-configuration-form">
					<div class="col-md-12">
						<!-- Report components -->
						<div class="row form-group">
							<label>{{'spatial.reports_form_report_configuration' | i18n }}</label> &nbsp; &nbsp;
						</div>
						<div class="row form-group">
							<label for="reportVisibility">{{'spatial.reports_form_report_availability' | i18n }}</label>
							<combobox id="reportVisibility" name="reportVisibility" ng-model="report.visibility" items="visibilities" />
						</div>
						<div class="row form-group">
							<label class="checkbox-inline checkbox-options">
								<input type="checkbox" ng-model="report.withMap" ng-checked="report.withMap || !report">
								{{'spatial.reports_form_map_component_checkbox' | i18n }}
							</label>
						</div>
						<div class="row">
							<!-- Map configuration -->
							<div class="form-group">
								<button type="button" class="map-config-btn btn btn-primary btn-sm" ng-click="openMapConfigurationModal()" ng-switch="report.withMap">
									<span class="fa" ng-class="{'fa-map': report.withMap,'fa-eye': !report.withMap}" aria-hidden="true"></span> &nbsp;
									<span ng-switch-when="true">{{'spatial.reports_form_map_configuration' | i18n }}</span>
									<span ng-switch-when="false">{{'spatial.visibility_settings' | i18n }}</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ng-form name="reportBodyForm" class="col-md-12">
				<div class="row filter-section">
					<h3 class="row">{{'spatial.reports_form_filters' | i18n }}</h3>

					<!-- Fieldset Areas -->
					<div class="row form-group" ng-include="'partial/spatial/reportsPanel/reportForm/areasSelectionFieldset/areasSelectionFieldset.html'"></div>

					<!-- Fieldset Vessels -->
					<div class="row form-group" ng-include="'partial/spatial/reportsPanel/reportForm/vesselFieldset/vesselFieldset.html'"></div>
					
					<!-- Fieldset VMS Filters -->
					<div class="row form-group" ng-include="'partial/spatial/reportsPanel/reportForm/vmsFiltersFieldset/vmsFiltersFieldset.html'"></div>

					<!-- Fieldset Activity Filters -->
					<div ng-if="isAllowed('Activity', 'ACTIVITY_ALLOWED')" class="row form-group" ng-include="'partial/spatial/reportsPanel/reportForm/activityFiltersFieldset/activityFiltersFieldset.html'"></div>

					<!-- Fieldset Activity Filters -->
					<!--<div  class="row form-group" ng-include="'partial/spatial/reportsPanel/reportForm/aggregationFilterFieldset/aggregationFilterFieldset.html'"></div>-->
					<!--ng-if="isAllowed('Activity', 'ACTIVITY_ALLOWED')"-->
					<div class="row form-group aggregation-container">
						<aggregation-panel class="col-md-12" ng-model="report.sortFilters" aggregation-types="aggregationTypes" min-selections="1" title="{{'spatial.output_criteria' | i18n}}"></aggregation-panel>
					</div>
				</div>
			</ng-form>
			
			<!-- Buttons -->
			<div class="col-md-12 form-group report-form-footer">
				<div class="row">
					<div class="row btn-container">
						<div class="col-md-6 formBtnGroup">
							<a class="button" ng-click="resetForm()" ng-show="formMode === 'CREATE'">{{"spatial.reports_form_clear_btn" | i18n }}</a>
							<a class="button" ng-show="(formMode === 'EDIT' || formMode === 'EDIT-FROM-LIVEVIEW') && (reportForm.$dirty || repFormServ.liveView.outOfDate)" ng-click="resetReport()">{{"spatial.reset" | i18n }}</a>
						</div>
						<div class="col-md-6 formSubmitBtn">
							<button class="btn btn-default button btn-action" type="button" ng-if="repNav.hasPreviousState()" ng-click="cancel()">{{"common.cancel" | i18n }}</button>
							<button class="btn btn-success button btn-action" type="button" ng-show="formMode === 'EDIT-FROM-LIVEVIEW'" ng-click="runReport()">{{"spatial.reports_table_run_label" | i18n }}</button>
							<button class="btn btn-primary button btn-action" type="button" ng-show="formMode === 'EDIT-FROM-LIVEVIEW'" ng-click="saveAsReport()">{{"spatial.reports_form_save_as_btn" | i18n }}</button>
							<button class="btn btn-primary button btn-action" type="button" ng-click="saveReport()" ng-show="showSaveBtn()">{{"spatial.reports_form_save_btn" | i18n }}</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
