.signouticon-extented {
	margin-top: 6px;
}

.reportFormContainer {
	padding: 15px 0 0 0;
	display: flex;
	&.table-responsive-force {
		&.row,
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.col-no-padding {
	padding: 0px;
}

.reportForm {
	border: 1px solid #ddd;
	padding-top: 10px;
}

.field-noLabel {
	margin-top: 20px;
}

.report-components {
	padding-top: 5px;
}

.caret-spatial {
	bottom: 0px !important;
}

.fit-dropdown-menu {
	width: 100%;
}

.checkbox-options {
	text-transform: capitalize;
}

//Fieldset
.fieldsetPadding{
	padding: 0px 0px;
}

.fieldsetStyle {
	border: 1px solid #e5e5e5 !important;
    //padding: 0 1.4em 1.4em 1.4em !important;
    padding-left: 1em !important;	
    margin: 0 0 0 0 !important;
}

.fieldsetLegendStyle {
    font-size: 15px !important;
    font-weight: normal !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    > a {
    	text-transform: uppercase;
    	color: #333333;
    }
}

.fieldsetMenu {
	margin-top: -10px;
	margin-left: 10px;	
}

.menuActive {
	font-weight: bold;
}

.fieldesetGroupMargin {
	margin-left: -5px;
}

//SECTION
.reportFormSection {
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid #ddd;
	display: block;
	margin-bottom: 10px;
}


//Buttons
.formBtnGroup {
	padding-left: 30px;
	float: left;
	line-height: 35px;
}

.formSubmitBtn {
	float: right;
	padding-right: 30px;
}