.activity-overview {
    .olabel {
        font-weight: bold;
        &::after {
            content: ':'
        }
    }
    .table-container {
        padding-top: 35px;
    }
    .notSortable {
        cursor: default;
    }
}