//Var
@containerwidth: 1170px;
@containerposition: 5px auto;

.vesselsearchboxcontainer{
    background-color: white;
    margin-bottom: 25px;
}
.vesselsearchbox{
    width: @containerwidth;
    margin: @containerposition;
    padding: 20px 0;
    input{
        background-color: #EBEBEB;
        border: medium none;
        color: #918D8F;
        font-size: 20px;
        font-style: italic;
        height: 45px;
        padding-left: 25px
    }
    form{
        padding-left: 0px;
    }
}

.vesselsearchtools{
    float: left;
    width: 600px;
    .col-md-2{
        padding-left: 0px;
    }
    .vesselsearch{
        float:left;
        margin-right: 10px;
    }
    .dropdown{
        float:left;
        margin-right: 10px;
    }
    #vesselDropdown{
        /*min-width: 150px;
        */
        height: 45px;
    }
    .vesseldropdowntext{
        padding-right: 120px;
    }

}
.vesseldropdown {
    color: #ffffff;
    background-color: #008e61;
    border-color: #bde5bf;
    border-radius: 4px 4px 4px 4px;
}
/*
.vesseldropdown:hover{
    background-color: red;
}*/

.vesselsearchgroups{
    float: right;
    width: 400px;
}

.vesselsearchresultcontainer{
    background-color: #EBEBEB;
}
.vesselsearchresult{
    width: @containerwidth;
    margin: @containerposition;
    overflow: hidden;
}

.advancesearchcontainer
{
    width: @containerwidth;
    margin: @containerposition;
    overflow: hidden;

    .advancesearchtag{
        color: #35A7DF;
        text-decoration: underline;
        cursor: pointer;
    }
    .advancesearchbody{
        opacity: 1;
        border: 1px solid black;

        height: 200px;
        background-color: #3a87ad;
    }

    .animate-show {
        opacity: 1;
    }

    .animate-show.ng-hide-add.ng-hide-add-active,
    .animate-show.ng-hide-remove.ng-hide-remove-active {
        -webkit-transition: all linear 0.5s;
        transition: all linear 0.5s;
    }

    .animate-show.ng-hide {
        opacity: 0;
    }

}
.advancesearchtag{
    color: #35A7DF;
}
.addvesselbtn{
    background-color: @buttoncolor;
    color: #ffffff;
    width: 120px;
}
.addvesselbtn:hover{
    background-color:#007D52;
    color: #ffffff;
    width: 120px;
}
.createnewvesselbutton{
        background-color: @buttoncolor;
        color: #ffffff;
        width: 120px;
}
.createnewvesselbutton:hover{
    background-color:#007D52;
    color: #ffffff;
    width: 120px;
}

.updatevesselbutton{
    background-color: @buttoncolor;
    color: #ffffff;
    width: 120px;
}
.updatevesselbutton:hover{
    background-color:#007D52;
    color: #ffffff;
    width: 120px;
}

.vesselsearchboxfooter{
    width: @containerwidth;
    margin: 50px auto;

    .right{
        float:right;
    }
    .left{
        float:left;
    }
    .vesseldropdowntext
    {
        padding-right: 120px
    }
    .dropdown{
        float: left;
    }

}


//table
.vesselsearchresult{
 table{
     thead{
         border-bottom: solid 2px #C5C5C4;
     }
     th{
         height:40px;

         a{
             font-weight: bold;
             color:#383737;

             .fa.fa-sort, .fa.fa-caret-down , .fa.fa-caret-up
             {
                 color:#18A689;
                 margin-left:7px;
             }
         }
     }
     tbody{
         tr{
             border-bottom: solid 1px #C5C5C4;
             height: 40px;
         }

     }
     .button{
         height: 24px;
         text-align: center;
         padding:0px 12px;
         font-size: 12px;
     }
 }
}
.fadein,
.fadeout {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
}


.fadegetvesselin,
.fadegetvesselout,
.fadeaddvesselin,
.fadeaddvesselout {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.addvessel, .getvessel{
    width: @containerwidth;
    margin: @containerposition;
    /*height: 500px;
    background-color: #23b5ff;*/
}

.vesselcontainerwrapper.ng-hide-add,
.vesselcontainerwrapper.ng-hide-remove.ng-hide-remove-active,
.fadegetvesselin.ng-hide-remove,
.fadegetvesselout.ng-hide-add.ng-hide-add-active,
.fadeaddvesselin.ng-hide-remove,
.fadeaddvesselout.ng-hide-add.ng-hide-add-active {
    transform: scale(0.01) translate3d(0,0,0);
    opacity: 0;
    display: block !important;
}


.vesselcontainerwrapper.ng-hide-remove,
.vesselcontainerwrapper.ng-hide-add.ng-hide-add-active,
.fadegetvesselout.ng-hide-add,
.fadegetvesselin.ng-hide-remove.ng-hide-remove-active,
.fadeaddvesselout.ng-hide-add,
.fadeaddvesselin.ng-hide-remove.ng-hide-remove-active {
   transform: scale(1.0) translate3d(0,0,0);
    opacity: 1;
    display: block !important;
    //display:none;
}

.updateResponseMessage, .createResponseMessage
{
    font-weight: bold;
    font-size: 14px;
    height: 35px;
    width: 400px;
}



