.holdingTableContainer{
    .filterRow {
        .grayBorderTop;
        padding: 20px 0 10px;
        text-align:center;
        vertical-align: middle;

        .dropdown{
            text-align: left;
        }
    }

    .printAndExport{
        position: relative;
        top: 18px;
    }    
}