<div class="holdingTableContainer">
    <alarms-page-header active-tab="HOLDING_TABLE"></alarms-page-header>
    <div class="container containerWithBottomPadding">

        <div class="card">
            <!-- Advanced search -->
            <div class="row">
                <div class="col-md-11">
                    <advanced-search modeltype="'ALARMS_HOLDING_TABLE'" searchfunc="searchAlarms" advancedsearchvisible="true"></advanced-search>
                </div>
                <div class="col-md-1 pull-right textAlignRight printAndExport">
                    <i class="fa fa-lg fa-download" title="{{'common.export_as_csv' | i18n }}" ng-click="exportItemsAsCSVFile()"></i>
                </div>
            </div>

            <div class="row filterRow">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-2 editSelection">
                            <dropdown ng-model="editSelection" initialtext="{{'common.actions' | i18n}}" items="editSelectionDropdownItems" callback="editSelectionCallback"></dropdown>
                        </div>

                        <div class="col-md-2 available-positions-refresh" ng-click="resetSearch()">
                            <a ng-if="newAlarmsCount > 0"><i class="fa fa-refresh"></i> {{ "alarms.new_items_available" | i18n:[newAlarmsCount] }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div static-include="partial/alarms/holdingTable/holdingTableList/holdingTableList.html"></div>
        </div>

        <search-results-pagination page='currentSearchResults.page' total='currentSearchResults.totalNumberOfPages' callback='gotoPage'></search-results-pagination >


    </div>

</div>
