<div class="col-md-12 trips-panel" ng-controller="TripspanelCtrl">
    <!--TRIP SUMMARY LOADING-->
    <loading-panel type="TripSummary"></loading-panel>
    <!--TRIP SUMMARY ALERT-->
    <div class="container containerWithTopBottomPadding spatial-error" ng-show="alert.hasAlert">
        <div class="alert alert-container" role="alert" ng-class="{'alert-danger': alert.hasError, 'alert-success': alert.hasSuccess, 'alert-warning': alert.hasWarning}">
            <span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="alert.hasError"></span>
            <span class="fa fa-check-circle" aria-hidden="true" ng-show="alert.hasSuccess"></span>
            <span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="alert.hasWarning"></span>
            <span class="alert-message">
                <span>{{alert.alertMessage}}</span>          
            </span>
        </div>
    </div>
    <!--TRIPS LIST (WHEN RUNNING REPORT WITHOUT MAP)-->
    <div ng-include="'partial/spatial/tripsPanel/tripsList/tripsList.html'" ng-if="false"></div>
    <!--TRIP SUMMARY-->
    <uib-tabset ng-show="repNav.isViewVisible('tripSummary')"><!-- active="tripSummServ.activeTab.index"-->
        <uib-tab index="$index" ng-repeat="tab in tripSummServ.tabs" active="tab.active" select="tripSummServ.initializeTrip($index)">
            <!--TAB HEADER-->
            <uib-tab-heading>
                {{tab.title}}
                <a class="close-button" ng-click="closeTab($index)">
                    <i class="fa fa-times"></i>
                </a>
            </uib-tab-heading>
            <!--TAB CONTENT-->
            <div class="trip-summary-tab" ng-if="tab.title === trip.id">
                <div ng-include="'partial/spatial/tripsPanel/tripSummary/tripSummary.html'"></div>
               
            </div>
        </uib-tab>
    </uib-tabset>
	<div ng-show="repNav.isViewVisible('catchDetails')" ng-include="'partial/spatial/tripsPanel/catchDetails/catchDetails.html'" ng-show="true"></div>
 <a class="btn-trip-quit" title="{{'activity.trip_summary_quit_trip_detail' | i18n }}" ng-click="quitTripSummary()"><i class="fa fa-share-square-o"></i></a>
                <a class="btn-print" title="{{'activity.trip_summary_export_trip' | i18n }}"><i class="fa fa-print"></i></a>
</div>
