.pollWizardResultsContainer{

    //Icons for export and print
    .progressAndPrintContainer{
        position: relative;
        .printAndExport{
            position: absolute;
            top:0px;
            width: 100%;
            text-align: right;

            i{
                color:@link-color;
                cursor: pointer;
                &:first-child{
                    padding-right: 5px;
                }
            }            
        }
    }

    //What differs from the polling logs table?
    table{
        td, th{           
            //Time
            &:nth-child(4) {
                width: 14%;
                white-space: nowrap;
            }
            &:last-child {
                text-align: left !important;
                padding-right: 5px !important;
            }                
        }
    }    
}