.pollWizardResultsContainer{
    .progressAndPrintContainer{
        position: relative;
        .printAndExport{
            position: absolute;
            top:0px;
            width: 100%;
            text-align: right;

            i{
                color:@link-color;
                cursor: pointer;
                &:first-child{
                    padding-right: 5px;
                }
            }            
        }
    }
}