<div class="col-md-12" ng-controller="VesselfieldsetCtrl">
	<div class="row">
		<fieldset class="fieldsetStyle col-md-12">
			<legend class="fieldsetLegendStyle">
				<a data-toggle="collapse">{{'spatial.reports_form_vessel_fieldset_label' | i18n }}</a>
				<input class="checkbox-margin" type="checkbox" ng-model="report.hasVesselFilter" ng-checked="report.hasVesselFilter">
			</legend>
			
			<div ng-show="report.hasVesselFilter">
				<!-- <div class="row">
					<div class="form-group col-md-12 fieldsetMenu">
						<a ng-class="{'menuActive': selectedVesselMenu === 'SIMPLE'}" ng-click="toggleVesselMenuType('SIMPLE')">{{'spatial.reports_form_simple_search' | i18n }}</a> &nbsp; 
						<a ng-class="{'menuActive': selectedVesselMenu === 'ADVANCED'}" ng-click="toggleVesselMenuType('ADVANCED')">{{'spatial.reports_form_advanced_search' | i18n }}</a> 
					</div>
				</div> -->
				
				<div class="row fieldesetGroupMargin" ng-show="isVesselMenuVisible('SIMPLE')">
					<div class="col-md-12 search-section">
						<div class="form-group col-md-3">
			   				<combobox ng-model="shared.vesselSearchBy" items="vesselSearchItems"></combobox>
						</div>
						<div class="col-md-6 col-no-padding">
							<div ng-hide="shared.vesselSearchBy === 'vgroup'">
								<div class="form-group col-md-6">
									<input type="text" ng-model="shared.searchVesselString" class="form-control searchText" placeholder="{{'spatial.reports_form_vessels_search_text' | i18n }}">
								</div>
								<div class="form-group col-md-6">
									<button type="button" class="btn btn-primary btn-sm btn-action" style="min-width: 100px;" ng-click="searchVessels()">
										<span>{{'spatial.reports_form_vessels_search_button' | i18n }}</span>
									</button>
								</div>
							</div>
						</div>
						<div class="form-group col-md-3">
							<button type="button" class="btn btn-primary btn-sm add-vessels-btn pull-right" ng-click="addVesselSelection()" ng-disabled="!shared.selectAny">
								<span class="fa fa-plus-square" aria-hidden="true"></span> &nbsp;
								<span>{{'spatial.reports_form_vessel_add_vessel_records_btn' | i18n }}</span>
							</button>
						</div>
					</div>
					
					<div class="form-group col-md-12 search-table table-responsive-force" st-table="displayedRecords" st-safe-src="shared.vessels">
						<table class="table table-striped table-condensed">
							<thead>
								<tr>
 									<th style="width: 35px;"><input type="checkbox" ng-model="shared.selectAll" ng-click="toggleAllVessels()"></th>
									<th ng-hide="shared.vesselSearchBy === 'vgroup'" st-sort="countryCode" st-skip-natural="true" st-sort-default="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'spatial.reports_form_vessel_search_table_header_flag_state' | i18n }}</th>
									<th ng-hide="shared.vesselSearchBy === 'vgroup'" st-sort="ircs" st-skip-natural="true"  st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'spatial.reports_form_vessel_search_table_header_ircs' | i18n }}</th>
									<th ng-hide="shared.vesselSearchBy === 'vgroup'" st-sort="cfr" st-skip-natural="true"  st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'spatial.reports_form_vessel_search_table_header_cfr' | i18n }}</th>
									<th ng-hide="shared.vesselSearchBy === 'vgroup'" st-sort="externalMarking" st-skip-natural="true"  st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'spatial.reports_form_vessel_search_table_header_external_marking' | i18n }}</th>
									<th st-skip-natural="true" st-sort="name" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'spatial.reports_form_vessel_search_table_header_name' | i18n }}</th>
									<th ></th>
								</tr>
						        <tr ng-if="hasError || !displayedRecords.length">
						        	<th colspan="7">
										<table-alert type="'error'" msg="errorMessage" visible="hasError"></table-alert>
										<table-alert type="'info'" msg="'spatial.table_no_data'" visible="!hasError && !displayedRecords.length && !vesselSearchLoading"></table-alert>
						        	</th>
						        </tr>
							</thead>
							<tbody>
								<tr ng-if="vesselSearchLoading">
						        	<td colspan="7" class="loading-spinner-cl"><i class="fa fa-spinner fa-spin loading-spinner"></i></td>
						        </tr>
								<tr ng-repeat="vessel in displayedRecords">
 									<td style="width: 35px;"><input type="checkbox" ng-model="vessel.selected" ng-click="toggleOneVessel(vessel)"></td>
									<td ng-hide="shared.vesselSearchBy === 'vgroup'">{{ vessel.countryCode }}</td>
									<td ng-hide="shared.vesselSearchBy === 'vgroup'">{{ vessel.ircs }}</td>
									<td ng-hide="shared.vesselSearchBy === 'vgroup'">{{ vessel.cfr }}</td>
									<td ng-hide="shared.vesselSearchBy === 'vgroup'">{{ vessel.externalMarking }}</td>
									<td>{{ vessel.name }}</td>
									<td>
										<button type="button" class="btn btn-primary btn-xs pull-right" ng-click="viewDetails($index, 'SEARCH')">{{'spatial.reports_form_vessel_selection_table_details_btn' | i18n}}</button>
									</td>
								</tr>
							</tbody>
							<tfoot class="stFooterPagination" ng-if="!vesselSearchLoading && displayedUserAreasSearch.length">
								<tr>
									<td colspan="7" class="text-right">
										<div st-pagination st-items-by-page="vesselsByPage" st-displayed-pages="7" st-template="partial/common/reportsPagination/reportsPagination.html"></div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					
					<!-- Current selection -->
					<div id="vessel-current-selection" class="form-group col-md-12">
						<div><span class="reportFormSection">{{'spatial.reports_form_current_selection' | i18n}}</span></div>
						<!-- Alert box -->
						<div class="row" ng-show="!vesselsSelectionIsValid">
							<div class="form-group col-md-12">
								<div class="alert alert-danger alert-container" role="alert">
									<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
									<span class="alert-message">
										<span>{{'spatial.reports_form_vessel_selection_invalid' | i18n }}</span>            
									</span>
							    </div>
						    </div>
						</div>
						
						<div st-table="displayedRecordsSelection" st-safe-src="report.vesselsSelection">
							<table class="table table-striped table-condensed">
								<thead>
									<tr>
										<th st-sort="name" st-skip-natural="true"  st-class-ascent="sorting_asc" st-sort-default="true" st-class-descent="sorting_desc">{{'spatial.reports_form_vessel_selection_table_header_name' | i18n }}</th>
										<th st-sort="type" st-skip-natural="true"  st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'spatial.reports_form_vessel_selection_table_header_type' | i18n }}</th>
										<th></th>
										<th>
											<button type="button" class="btn btn-danger btn-xs pull-right" ng-click="deleteSelectionAll()" ng-show="report.vesselsSelection.length > 0">
												<span class="fa fa-minus-square" aria-hidden="true"></span> &nbsp;
												<span>{{'spatial.reports_form_vessel_selection_table_delete_all_btn' | i18n }}</span>
											</button>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="selection in displayedRecordsSelection">
										<td>{{ selection.name }}</td>
										<td>{{ translateSelectionType(selection.type) }}</td>
										<td>
											<button type="button" class="btn btn-primary btn-xs pull-right" ng-click="viewDetails($index, 'SELECTION')">{{'spatial.reports_form_vessel_selection_table_details_btn' | i18n}}</button>
										</td>
										<td>
											<button type="button" class="btn btn-danger btn-xs pull-right" title="{{'spatial.reports_form_vessel_selection_table_delete_btn_title' | i18n }}" ng-click="deleteSelection($index)"> <span class="fa fa-trash"></span></button>
										</td>
									</tr>
								</tbody>
								<tfoot class="stFooterPagination" ng-if="displayedRecordsSelection.length">
									<tr>
										<td colspan="4" class="text-right">
											<div st-pagination st-items-by-page="vesselsSelectionByPage" st-displayed-pages="7" st-template="partial/common/reportsPagination/reportsPagination.html"></div>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
				<!-- <div class="row fieldesetGroupMargin" ng-show="isVesselMenuVisible('ADVANCED')">
					<div class="form-group col-md-12">
						<span>Advanced search will come here</span>
					</div>
				</div> -->
			</div>
		</fieldset>
	</div>
</div>
