.search-section {
	padding-left: 0px;
	padding-right: 5px;
}

.add-vessels-btn {
	margin-bottom: 15px;
}

.select-vessel-table {
	margin-top: -15px;
}

.search-table{
	div.dataTables_paginate {
		float: none !important;
		width: 100%;
		text-align: right;
	}
}
