<div ng-controller="AlarmstylesCtrl">
	<ng-form name="alarmsForm" novalidate>
		<div class="row">
			<div class="col-md-12">{{'spatial.preferences_alarm_status_category_title' | i18n | uppercase}}</div>
		</div>
		<div class="row rulesList">
			<div class="row col-md-12" ng-repeat="item in configModel.alarmStyle.style">
				<div class="form-group col-md-2">
					{{item.code}}
				</div>
				<div class="form-group col-md-3" ng-class="{'has-error': (alarmsForm.propertyColor{{item.id}}.$error.requiredField || alarmsForm.propertyColor{{item.id}}.$error.segPropColor) && (alarmsForm.propertyColor{{item.id}}.$dirty || submitedWithErrors)}">
					<div class="colorPickerComponent">
						<div ng-style="{'background-color': item.color && item.color.length > 3 && item.color.length <= 7 && item.color.indexOf('#') != -1 ? item.color : '#fff'}" class="form-control pickedcolor">
				       		<i class="fa fa-ban" ng-hide="item.color && item.color.length > 3 && item.color.length <= 7 && item.color.indexOf('#') != -1"></i>
				        </div>
				        <input class="form-control" colorpicker ng-model="item.color" type="text" ng-change="validatePropertyColor(item);" name="propertyColor{{item.id}}" autocomplete="off"/>
					</div>
				</div>
				<div ng-messages="alarmsForm.propertyColor{{item.id}}.$error" ng-show="alarmsForm.propertyColor{{item.id}}.$error.hasError && (alarmsForm.propertyColor{{item.id}}.$dirty || submitedWithErrors)">
					<div ng-message="requiredField">{{'spatial.required_error_message' | i18n }}</div>
					<div ng-message="segPropColor">{{'spatial.invalid_color_error_message' | i18n }}</div>
				</div>
			</div>
		</div>
		<div class="row defaultItem">
			<ng-form name="defaultForm" novalidate>
				<div class="row col-md-12">
					<div class="form-group col-md-2" ng-class="{'has-error': defaultForm.alarmSize.$invalid && (defaultForm.alarmSize.$dirty || submitedWithErrors)}">
						<label>{{'spatial.size' | i18n}}</label>
						<numeric-input class="form-control" ng-model="configModel.alarmStyle.size" ng-required="true" name="alarmSize" min="1" max="6" ></numeric-input> <!-- ng-change="validateLineWidth();" -->
						<div class="belowErrorMessages" ng-messages="defaultForm.alarmSize.$error" ng-show="defaultForm.alarmSize.$dirty || submitedWithErrors">
							<div ng-message="required">{{'spatial.required_field_error_message' | i18n }}</div>
							<div ng-message="number">{{'spatial.not_numeric_error_message' | i18n }}</div>
							<div ng-message="min">{{'spatial.invalid_range_error_message_2' | i18n }}</div>
							<div ng-message="max">{{'spatial.invalid_range_error_message_2' | i18n }}</div>
						</div>
					</div>
				</div>
			</ng-form>	
		</div>
	</ng-form>
</div>
