<div class="newvessel" ng-controller="ViewVesselCtrl">
    <div class="row">
        <div class="row col-md-12">

            <div class="col-md-4 vesselname">{{vesselObj.name}}</div>
            <span class="vesselstatus col-md-10">
                     <span ng-show="vesselObj.active == true">Set as inactive</span>
                     <span ng-show="vesselObj.active == false">Set as active</span>
                     <input type="checkbox" ng-click="changeVesselStatus()" checked>
                     <div ng-show="vesselObj.active == true">STATUS: <b> Active</b></div>
                     <div ng-show="vesselObj.active == false">STATUS: <b> Inactive</b></div>
                 </span>
            <div class="col-md-1">
                <button class="btn btn-sm updatevesselbutton" type="submit" ng-click="updateVessel()"> Update </button>
            </div>
            <div>
                <div class="closenewvessel pull-right" ng-click="toggleViewVessel()">
                    <i class="fa fa-times closeicon" title="{{'common.close' | i18n}}"></i>
                </div>
            </div>
        </div>
        <vessel-details vessel="vesselObj"></vessel-details>
    <div class="col-md-12 mobileterminalcontainer row" ng-repeat = "item in vesselObj.mobileTerminals">
        <a ng-click="removeMobileSystem(item, $index)">-REMOVE SATELLITE SYSTEM</a>
        <mobileterminal terminal="item"></mobileterminal>
    </div>
    <div class="row col-md-12">
        <a ng-click="addNewMobileTerminalToVessel()"><b>+ ADD NEW MOBILE TERMINAL</b></a>
    </div>
    <div class="row col-md-12">
        <span class="vesselhistory col-md-12">EVENT HISTORY</span>
        <span ng-show="isVisible.showCompleteVesselHistoryLink"><a ng-click="viewCompleteVesselHistory()">View all events</a></span>
        <hr>
        <table class="col-md-12">
            <thead>
                <tr>
                    <th>{{'vessel.event_table_header_code' | i18n}}</th>
                    <th>{{'vessel.event_table_header_date' | i18n}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vesselHistory | orderBy :'-eventHistory.eventDate'">
                    <td><a ng-click="viewHistoryDetails(item)">{{item.eventHistory.eventCode}}</a></td>
                    <td>{{item.eventHistory.eventDate | date : "medium" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
