<div>
    <fieldset class="col-md-12 fieldsetStyle cronology-section">
        <legend class="fieldsetLegendStyle">
            <a>{{'activity.trip_summary_cronology' | i18n }}</a>
        </legend>
        <div>
            <p>{{'activity.trip_summary_note' | i18n }}</p>
        </div>
        <div ng-if="trip.cronology">
            <div class="row">
                <span class="col-md-7"><b>{{'activity.trip_summary_trip_id' | i18n }}</b></span>
                <span class="col-md-5"><b>{{'activity.trip_summary_start_date' | i18n }}</b></span>
            </div>
            <!--NEXT TRIPS-->
            <div class="row" ng-repeat="item in cronology.nextTrips">
                <a class="col-md-7 trip-item" ng-click="openTrip(item.tripId)">{{item.tripId}}</a>
                <span class="col-md-5">{{item.tripDate | confDateFormat | dataNotAvailable}}</span>
            </div>
            <!--SELECTED TRIP-->
            <div class="row selected-trip">
                <a class="col-md-7 trip-item" ng-click="openTrip(cronology.selectedTrip.tripId)"> >> {{cronology.selectedTrip.tripId}}</a>
                <span class="col-md-5">{{cronology.selectedTrip.tripDate | confDateFormat | dataNotAvailable}}</span>
            </div>
            <!--PREVIOUS TRIPS-->
            <div class="row" ng-repeat="item in cronology.previousTrips">
                <a class="col-md-7 trip-item" ng-click="openTrip(item.tripId)">{{item.tripId}}</a>
                <span class="col-md-5">{{item.tripDate | confDateFormat | dataNotAvailable}}</span>
            </div>
            <!--VIEW ALL LINK-->
           <!--  <a class="view-all">{{'activity.cronology_view_all' | i18n }}</a> -->
        </div>
        <div class="row no-data" ng-if="!trip.cronology">
            <div class="col-md-12">
                <span>{{'activity.no_data' | i18n}}</span>
            </div>
        </div>
    </fieldset>
</div>
