<div>
    <fieldset class="col-md-12 fieldsetStyle cronology-section">
        <legend class="fieldsetLegendStyle">
            <a>{{'activity.trip_summary_cronology' | i18n }}</a>
        </legend>
        <div ng-if="::trip.cronology">
            <!--CURRENT TRIP-->
            <div class="row current-trip">
                <a class="col-md-12 trip-item" ng-click="openTrip(cronology.currentTrip)">{{'activity.cronology_current_trip' | i18n }} {{::cronology.currentTrip}}</a>
            </div>
            <!--NEXT TRIPS-->
            <div class="row" ng-repeat="tripName in ::cronology.nextTrips">
                <a class="col-md-12 trip-item" ng-click="openTrip(tripName)">{{::tripName}}</a>
            </div>
            <!--SELECTED TRIP-->
            <div class="row">
                <a class="col-md-12 trip-item" ng-click="openTrip(cronology.selectedTrip)">{{::cronology.selectedTrip}}</a>
            </div>
            <!--PREVIOUS TRIPS-->
            <div class="row" ng-repeat="tripName in ::cronology.previousTrips">
                <a class="col-md-12 trip-item" ng-click="openTrip(tripName)">{{::tripName}}</a>
            </div>
            <!--VIEW ALL LINK-->
            <a class="view-all">{{'activity.cronology_view_all' | i18n }}</a>
        </div>
        <div class="row no-data" ng-if="!trip.cronology">
            <div class="col-md-12">
                <span>{{'activity.no_data' | i18n}}</span>
            </div>
        </div>
    </fieldset>
</div>