.breadcrumbNavigator {
    ol {
        background-color: white;
        border: 1px solid #ddd;
        font-weight: bold;
        li.active > span {
            cursor: default;
        }
    } 
}