<div class="row">
	<div search-results-table search="currentSearchResults" class="col-md-12 rules-table">
		<table class="searchResults">
			<thead>
				<tr>
					<th class="checkboxContainer"><input type="checkbox" ng-checked="isAllChecked()" ng-click="checkAll()"/></th>
					<th></th>
					<th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'name'">{{'alarms.rules_table_name' | i18n}}</th>
					<th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'type'">{{'alarms.rules_table_type' | i18n}}</th>
					<th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'lastTriggered'">{{'alarms.rules_table_last_triggered' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'dateUpdated'">{{'alarms.rules_table_date_updated' | i18n}}</th>
					<th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'updatedBy'">{{'alarms.rules_table_updated_by' | i18n}}</th>
                    <th>{{'alarms.rules_table_subscription' | i18n}}</th>
                    <th>{{'alarms.rules_table_notify_by_email' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'active'">{{'alarms.rules_table_status' | i18n}}</th>
                    <th></th>
                    <th class="actions">{{'alarms.rules_table_actions' | i18n}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="item in filteredItems = (currentSearchResults.items | orderBy:currentSearchResults.sortBy:currentSearchResults.sortReverse | filter:filterOnType)" ng-init="isExpanded = false" ng-class="isExpanded ? 'basicDataExpanded' : 'basicData'">
    				<td class="checkboxContainer"><input type="checkbox" ng-checked="isChecked(item)" ng-click="checkItem(item)" /></td>
    				<td ng-click="isExpanded = !isExpanded">
                        <i ng-show="!isExpanded" class="fa fa-lg fa-plus-circle detailsIcon" title="{{'alarms.rules_table_details' | i18n}}"></i>
                        <i ng-show="isExpanded" class="fa fa-lg fa-minus-circle detailsIcon" title="{{'alarms.rules_table_details' | i18n}}"></i>
                    </td>
    				<td>{{item.name}}</td>
    				<td>{{getTypeLabelForRule(item)}}</td>
    				<td>{{item.lastTriggered | confDateFormat}}</td>
                    <td>{{item.dateUpdated | confDateFormat}}</td>
                    <td class="link">{{item.updatedBy}}</td>
                    <td class="subscription">
                        <div ng-if="item.active && isSubscriptionPossible(item)">
                            <dropdown ng-model="item.subscription" initialtext="{{'common.none' | i18n}}" initialtext-selectable items="subscriptionsOptions"></dropdown>
                        </div>
                    </td>
                    <td class="notifyByEmail">
                        <div>
                            <input type="text" ng-model="item.notifyByEmail" class="form-control" placeholder="{{'alarms.rules_table_notify_by_email_input_placeholder' | i18n}}">
                        </div>
                    </td>
                    <td ng-class="item.active ? 'active' : 'inactive'">{{getStatusLabelForRule(item)}}</td>
                    <td class="availability textAlignCenter">
                        <i ng-show="item.availability === 'PUBLIC'" class="fa fa-lg fa-users" tooltip-placement="bottom" tooltip="{{'alarms.rules_availability_public' | i18n}}"></i>
                        <i ng-show="item.availability === 'PRIVATE'" class="fa fa-lg fa-user" tooltip-placement="bottom" tooltip="{{'alarms.rules_availability_private' | i18n}}"></i>
                    </td>
    				<td class="actions">
                        <span>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="toggleRuleDetails(item)" title="{{'common.view_details'| i18n}}">
                                <i class="fa fa-eye"></i>
                            </button>
                        </span>

                        <span show-if-allowed="Rules:manageAlarmsRules" ng-if="allowedToDeleteOrUpdateRule(item)">
                            <button type="button" class="btn btn-sm btn-danger" ng-click="deleteRule(item)" title="{{'common.delete'| i18n}}">
                                <i class="fa fa-times"></i>
                            </button>
                        </span>

                        <span show-if-allowed="Rules:manageAlarmsRules">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="copyRule(item)" title="{{'alarms.copy_rule_button_title'| i18n}}">
                                <i class="fa fa-copy"></i>
                            </button>
                        </span>
    				</td>
				</tr>
                <tr ng-repeat-end="" ng-show="isExpanded" class="detailData">
                    <td colspan="2">&nbsp;</td>
                    <td colspan="10" class="detailsContainer">
                        <rules-table-details rule="item" ng-if="isExpanded"></rules-table-details>
                    </td>
                </tr>
			</tbody>
		</table>
        <search-result-error-alert ng-show="currentSearchResults.items.length > 0 && filteredItems.length === 0">{{'common.filter_zero_results' | i18n}}</search-result-error-alert>
    </div>
</div>
