# compiled output
/unionvms-web-2/dist
/unionvms-web-2/tmp
/unionvms-web-2/out-tsc
# Only exists if Bazel was run
/unionvms-web-2/bazel-out

# dependencies
node_modules/

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db

# Maven
node/
target/

# Inherited from old version
/unionvms-web/bower_components
/unionvms-web/dist
/unionvms-web/fonts
/unionvms-web/app/assets/locales/
node_modules/
/unionvms-web/testResults
/unionvms-web/temp
*.iml
font-awesome
**/.idea
.project
.tern-project
.settings
/unionvms-web/app/app.css
/unionvms-web/app/app.css.map
*.sublime-*
*.directory
/unionvms-web/proxies.yaml
