/unionvms-web/bower_components
/unionvms-web/dist
/unionvms-web/fonts
/unionvms-web/app/assets/locales/
node/
node_modules/
target/
/unionvms-web/testResults
/unionvms-web/temp
*.iml
font-awesome
**/.idea
.project
.tern-project
.settings
/unionvms-web/app/app.css
/unionvms-web/app/app.css.map
*.sublime-*
*.directory
/unionvms-web/proxies.yaml
