@import "bower_components/bootstrap/less/bootstrap.less";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
//@fa-font-path: "bower_components/font-awesome/fonts";
@fa-font-path: "bower_components/font-awesome/fonts";


/* Component LESS */
@import "partial/header/header.less";
@import "partial/today/today.less";
@import "partial/vessel/vessel.less";
@import "directive/vesselMultiselectDropdown/vesselMultiselectDropdown.less";
@import "directive/savedSearchesButton/savedSearchesButton.less";
/*@import "directive/addNewVessel/addNewVessel.less";
@import "directive/vesselEditModule/vesselEditModule.less";
*/
@import "directive/newVessel/newVessel.less";
@import "directive/mobileTerminal/mobileTerminal.less";
@import "directive/communicationChannel/communicationChannel.less";
@import "directive/getVessel/getVessel.less";

/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
.modal {

	&.fade {
		.transition(opacity .3s);
	}
	&.fade .modal-dialog {
		.translate(0,0);
	}
}


/*global var*/
@buttoncolor: #18A689;

body{
    width: 100%;
    background-color: #ffffff;
    font-family: Lato, Arial;

}
/*article{
    width: 1070px;
    margin: 0 auto;
    background-color: white;
}*/
.headercontainer{
    width: 100%;
}
.pagename{
    font-size: 24px;
    font-weight: bold;
    width: 250px;
    padding: 35px;
}
.pageinfo{
    height: 50px;
    width: 100%;
    background-color: #383737;
    color:#FFFFFF;
}
 .header{
     width: 100%;
     background-color:#383737;
 }

 #content{
     whidth:100%;
     min-height: 400px;
 }

ul, li {
    list-style: none;
}

.dropdown{
    color:#ffffff;
    button, button:hover{
        background-color: #008e61;
        text-align: left;
        width: 100%;
        color:#ffffff;
    }
    .caret{
        position: relative;
        bottom: 10px;
        float:right;
    }
    .btn.btn-default.dropdown-toggle{
        background-color: @buttoncolor;
        color:#ffffff;
        border:none;
        height: 30px;
        border-radius: 0px;
    }
}
/*
.inputgroup input[type="text"]{
    height: 38px;
}*/



input[type="text"]
{
    border-radius: none;
}
.form-control{
    background-color: #FFFFFF;
    height: 30px;
}


.form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
*:before, *:after {
    -moz-box-sizing: border-box;
}
*:before, *:after {
    -moz-box-sizing: border-box;
}
input[type="text"] {
}
.form-control{
    border-radius: none;
}

.mobileterminalcontainer{
    background-color: #F0F0F0;
    border-radius: 2px 2px 2px 2px;
    margin: 10px 0;
}

.vesselbtn{
    background-color:@buttoncolor;
    color: #ffffff;
}

.vesselbtn:hover{
    background-color:#007D52;
    color: #ffffff;
}
.closenewvessel img{
    cursor: pointer;
}



.form-control:hover{
    border-radius: 0px;
}
.form-control{
    border-radius: 0px;
}
.form-control:focus {
    border-color: #18A689;
    outline: 0;
    -webkit-box-shadow: none; /*inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
    box-shadow: none; /* inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
}

.labelheaders{
    margin-top:10px;
    margin-bottom:0px;
}
.glyphicon {
    color: @buttoncolor;
}


/*Calendar*/
.dropdown-menu.ng-valid.ng-valid-date.ng-valid-date-disabled.ng-dirty,
.dropdown-menu.ng-pristine.ng-valid.ng-valid-date.ng-valid-date-disabled
{
    width:280px;
    padding: 10px;

}

.btn-cal{
    height: 30px;
}
.glyphicon
{
    top: -1px;
}
@icon-font-path: "fonts/";

