.spatialConfig {
	.saveBtn {
		margin-right: 15px;
	}
}

.spatialConfig[ng-controller="ConfigurationreportingCtrl"] {
	.loading-panel {
	    margin-top: -15px;
    	margin-bottom: -15px;
		margin-left: -9px;
    	margin-right: -9px;
	}
	.containerCollapsible{
		margin-left: 8px;
		margin-right: 8px;
		padding-bottom: 10px;
	}
}