.spatialConfig {
	.saveBtn {
		margin-right: 22px;
	}
}

.spatialConfig[ng-controller="ConfigurationreportingCtrl"] {
	.loading-panel {
	    margin-top: -15px;
    	margin-bottom: -15px;
	}
}