<p *ngFor="let alert of alerts">
  <ngb-alert *ngIf="alert.type === 'danger'" [type]="alert.type" (close)="close(alert)">
    <h5>{{ alert.title }}</h5>
    <p *ngFor="let item of alert.body">
      <b>Message :</b>{{item.message}}
      <span *ngIf="item.path"> <b>Path:</b> {{item.path}}</span>
    </p>
  </ngb-alert>
</p>
<form [formGroup]="filterSubscriptionsForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="organisation">Organisation</label>
      <select class="form-control" id="organisation" formControlName="organisation">
        <option value=null>All</option>
        <option *ngFor="let item of organisations" value={{item.organisationId}}>
          <span *ngIf="item.parent">{{item.parent}}</span> {{item.name}}
        </option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="endpoint">Endpoint</label>
      <select class="form-control" id="endpoint" formControlName="endpoint">
        <option value=null>All</option>
        <option *ngFor="let item of endpointItems" value={{item.endpointId}} >{{item.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="channel">Communication Channel</label>
      <select class="form-control" id="communicationChannel" formControlName="channel">
        <option value=null>All</option>
        <option *ngFor="let item of communicationChannels" value={{item.channelId}} >{{item.dataflow}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="messageType">Message Type</label>
      <select class="form-control" id="messageType" formControlName="messageType">
        <option value=null>-</option>
        <option *ngFor="let item of messageTypeItems" value={{item.value}}>{{item.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="withAnyTriggerType">Trigger</label>
      <select class="form-control" id="withAnyTriggerType" formControlName="withAnyTriggerType">
        <option value=null>-</option>
        <option *ngFor="let item of triggerTypeItems" value={{item.value}}>{{item.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-2">
      <label for="dates">Valid from</label>
      <div class="input-group">
        <input class="form-control"
            name="dpstart" formControlName="startDate" ngbDatepicker #dpstart="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" (click)="dpstart.toggle()" type="button">
              <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <label for="dates">Valid Until</label>
      <div class="input-group">
        <input class="form-control"
            name="dpend" formControlName="endDate" ngbDatepicker #dpend="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" (click)="dpend.toggle()" type="button">
              <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="active">Enabled</label>
      <select class="form-control" id="active" formControlName="active">
        <option value="">ALL</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
  </div>
  <div class="form-row justify-content-end">
    <button type="submit" class="btn btn-primary search-button">Search</button>
    <button type="button" (click)="onReset()" class="btn btn-outline-secondary">Reset</button>
  </div>
</form>
<div class="data-table">
  <ngx-datatable
    class="bootstrap"
    [rows]="subscriptionList"
    [loadingIndicator]="loadingIndicator"
    [columnMode]="ColumnMode.force"
    [headerHeight]="40"
    [footerHeight]="40"
    rowHeight="auto"
    columnWidth="auto"
    [reorderable]="reorderable"
    [externalPaging]="true"
    [count]="count"
    [offset]="searchObj.pagination.offset"
    [limit]="searchObj.pagination.pageSize"
    (page)="setPage($event)"
    (sort)="onSort($event)"
    #SubscriptionListTable>
    <ngx-datatable-column name="Organisation" [sortable]="true" prop="organisationName">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{ column.name }}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Comm. Channel" [sortable]="true" prop="channelName">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{ column.name }}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Endpoint" [sortable]="true" prop="endpointName">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{ column.name }}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Message Type" [sortable]="true" prop="messageType">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{ column.name }}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Trigger" [sortable]="true" prop="triggerType">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{ column.name }}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name" [sortable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{ column.name }}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="From" [sortable]="true" prop="startDate">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{ column.name }}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value|  date: "yyyy-MM-dd hh:mm:ss"}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Until" [sortable]="true" prop="endDate">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{ column.name }}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value | date: "yyyy-MM-dd hh:mm:ss"}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [width]="32">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div [ngSwitch]="isInValidRange(row)">
          <fa-icon *ngSwitchCase="true" class="active" [icon]="faCheck"></fa-icon>
          <fa-icon *ngSwitchDefault   class="inactive" [icon]="faTimes"></fa-icon>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Enabled" prop="active" [canAutoResize]="false" [width]="70">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
       {{ column.name }}
      </ng-template>
      <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
        <div class="custom-control custom-checkbox custom-control-inline">
            <input id="checkbox_{{rowIndex}}" class="custom-control-input" type="checkbox" [checked]="value" (click)="onActiveChange($event, row)">
            <label for="checkbox_{{rowIndex}}" class="custom-control-label" [ngClass]="{'disabled-checkbox' : !canEdit}"></label>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Actions" [sortable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{ column.name }}
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button class="btn btn-sm btn-outline-primary" (click)="editSubscription(row)">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
        <button class="btn btn-sm btn-outline-danger ml-2" (click)="deleteSubscription(row)" [attr.disabled]="!canEdit ? true : null">
          <fa-icon class="delete-icon" [icon]="faTrash"></fa-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template
        let-pageSize="pageSize"
        let-rowCount="rowCount"
        let-curPage="curPage"
        let-offset="offset"
        >
        <div class="pagination-extra-content">
          Page Size:
          <span>
            <select  class="page-size-select" style="width:40px;" [ngModel]="searchObj.pagination.pageSize" (ngModelChange)="onPageSizeChange($event)" >
              <option *ngFor="let size of sizeList" [value]="size"> {{size}}</option>
            </select>
          </span>
        </div>
        <datatable-pager
          [pagerLeftArrowIcon]="'datatable-icon-left'"
          [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'"
          [pagerNextIcon]="'datatable-icon-skip'"
          [page]="curPage"
          [size]="pageSize"
          [count]="count"
          [hidden]="!((rowCount / pageSize) > 1)"
          (change)="SubscriptionListTable.onFooterPage($event)">
        </datatable-pager>
          <!-- <div *ngIf="offset">
            <span>
              Page {{offset}} of {{rowCount}}  / {{pageSize}}
            </span>
          </div> -->
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>
