.config-module {

	tr.add-new td {
		padding-right: 10px;

		input {
			display: table-cell;
			width: 100%;
		}
	}

	tr {
		.key {
			word-wrap: break-word;
			padding-right: 10px;
		}

		.value, .description {
			width: 25%;
			word-wrap: break-word;
			padding-right: 10px;
		}

		td:last-child,
		th:last-child {
		width: 60px;
			text-align: right;
		}
	}

	td.add-new-link,
	td.no-content {
		text-align: center;
	}

	td.add-new-link:hover {
		background-color: bisque;
	}

}
