.configuration-general {
	label {
		font-weight: normal;
	}

	
	ul {
		padding-left: 10px;

		li {
			padding-top: 5px;
		}
	}

	h5 {
		margin-bottom: 10px;
		text-transform: none;
	}

	.column {
		padding: 0 20px;
	}

	.dropdown {
		margin-top: 7px;
	}

	.column .row .col-md-6 {
		padding-right: 25px;
		padding-bottom: 20px;
	}

}