<div class="auditSearchForm" ng-controller="AuditsearchformCtrl">
	<div class="row">
		<div class="col-md-2">
			<input type="text" placeholder="{{'audit.search_name_placeholder' | i18n}}" class="form-control" tabindex="1" ng-model="advancedSearchObject.USERNAME">
		</div>
		<div class="col-md-2">
	    	<dropdown ng-model="operation" items="operations" initialtext="{{'audit.search_operation' | i18n}}"></dropdown>
		</div>
		<div class="col-md-2">
	    	<dropdown ng-model="objectType" items="objectTypes" initialtext="{{'audit.search_object_type' | i18n}}"></dropdown>
		</div>
		<div class="col-md-2">
	    	<datepicker-input model="dateFrom" placeholder="{{'audit.search_dateFrom_placeholder' | i18n}}" ></datepicker-input>
		</div>
	    <div class="col-md-2">
	    	<datepicker-input model="dateTo" placeholder="{{'audit.search_dateTo_placeholder' | i18n}}"  ></datepicker-input>
		</div>
		<div class="col-md-1">
			<button type="submit" class="btn btn-primary btn-sm fullWidth searchbtntext" ng-click="performAdvancedSearch()">{{'audit.search_search_button' | i18n}}</button>
		</div>
		<div class="col-md-1 reset">
			<a href="">{{'audit.search_reset' | i18n}}</a>
		</div>
	<div>
	<!--<div class="row">
		<div class="col-md-2">
	    	<multiselect-Drop-Down model="operations" pre_selected="selectedItems" options="operations" initialtext="FTW"></multiselect-Drop-Down>
		</div>
	</div>
	<pre> Selected values = {{selectedItems | json}}</pre>
	<pre>{{objectTypes | json}}</pre>
	-->
</div>
