<div class="newvessel" ng-controller="getVesselCtrl">
    <div class="row">
        <div class="vesselname">{{selectedVessel.name}}</div>
        <span class="vesselstatus col-md-12">
            <div ng-show="selectedVessel.active == true">STATUS: <b> Active</b><a ng-click="changeVesselStatus()"> set as inactive</a></div>
            <div ng-show="selectedVessel.active == false">STATUS: <b> Inactive</b><a ng-click="changeVesselStatus()" > &nbsp;(set as active)</a></div>
        </span>
        <div class="row col-md-4">
            <div class="inputgroup col-md-4">
                <p class="labelheaders">ID</p>
                <input type="text" name="getvesselidinput" class="form-control" ng-model="selectedVessel.internalId" disabled>
            </div>
            <div class="inputgroup col-md-8">
                <p class="labelheaders">NAME</p>
                <input type="text" name="getvesselnameinput" class="form-control" ng-model="selectedVessel.name">
            </div>
            <div class="inputgroup col-md-6">
                <p class="labelheaders">CFR</p>
                <input type="text" name="getvesselcfrinput" class="form-control" ng-model="selectedVessel.cfr">
            </div>
            <div class="inputgroup col-md-6">
                <p class="labelheaders">IMO</p>
                <input type="text" name="getvesselimoinput" class="form-control" ng-model="selectedVessel.imo">
            </div>
        </div>
        <div class="row col-md-4">
            <div class="inputgroup col-md-4">
                <p class="labelheaders">COUNTRY</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="vesselcountry" data-toggle="dropdown" aria-expanded="true">
                        <div class="dropdowntext">{{ vesselCountry }} </div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                        <li><a ng-click="countrySelected(item)" tabindex="-1">None</a></li>
                        <li ng-repeat="item in vesselCountries" role="presentation">
                            <a ng-click="countrySelected(item)" tabindex="-1">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inputgroup col-md-8">
                <p class="labelheaders">TYPE</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="vesselactivity" data-toggle="dropdown" aria-expanded="true" required>
                        <div class="dropdowntext">{{ vesselActivity }}</div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                        <li><a ng-click="activitySelected(item)" tabindex="-1">None</a></li>
                        <li ng-repeat="item in vesselactivitytypes" role="presentation">
                            <a ng-click="activitySelected(item)" tabindex="-1">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inputgroup col-md-8">
                <p class="labelheaders">MMSI NO.</p>
                <input type="text" name="getvesselmmsiofnput" class="form-control" ng-model="selectedVessel.mmsiNo">
            </div>
            <div class="inputgroup col-md-4">
                <p class="labelheaders">BILLING</p>
                <input type="text" name="getvesselbillinginput" class="form-control" ng-model="selectedVessel.billing">
            </div>
        </div>
        <div class="row col-md-4">
            <div class="inputgroup col-md-4">
                <p class="labelheaders">IRCS</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="vesselirc" data-toggle="dropdown" aria-expanded="true" required>
                        <div class="dropdowntext">{{ selectedVessel.hasIrcs }}</div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                        <li ng-repeat="item in vesselircstypes" role="presentation">
                            <a ng-click="ircSelected(item)" tabindex="-1">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inputgroup col-md-4">
                <p class="labelheaders"></p>
                <input type="text" name="getvesselextinput" class="form-control" ng-model="selectedVessel.ircs">
            </div>
            <div class="inputgroup col-md-4">
                <p class="labelheaders">EXT.MARKING</p>
                <input type="text" name="getvesselextmarkingInput" class="form-control"
                       ng-model="selectedVessel.externalMarking">
            </div>
            <div class="inputgroup col-md-4">
                <p class="labelheaders">LICENSE</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="vessellicense" data-toggle="dropdown" aria-expanded="true" required>
                        <div class="dropdowntext">{{ vesselLicense }}</div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                        <li><a ng-click="licenseSelected(item)" tabindex="-1">None</a></li>
                        <li ng-repeat="item in vesselLicensTypes" role="presentation">
                            <a ng-click="licenseSelected(item)" tabindex="-1">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inputgroup col-md-6">
                <p class="labelheaders">HOMEPORT</p>
                <input type="text" name="ngetvesselhomeportinput" class="form-control" ng-model="selectedVessel.homePort">
            </div>
        </div>
        <div class="row col-md-4">
            <div class="inputgroup col-md-4">
                <p class="labelheaders">LENGTH</p>
                <input type="text" name="getvessellengthinput" class="form-control" ng-model="selectedVessel.lengthOverAll">
            </div>
            <div class="inputgroup col-md-6">
                <p class="labelheaders">OVERALL</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="vesselOverall" data-toggle="dropdown" aria-expanded="true">
                        <div class="dropdowntext">{{ vesselOverall }} </div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                        <li><a ng-click="overallSelected(item)" tabindex="-1">None</a></li>
                        <li ng-repeat="item in vesseloveralltypes" role="presentation">
                            <a ng-click="overallSelected(item)" tabindex="-1">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row col-md-8">
            <div class="inputgroup col-md-2">
                <p class="labelheaders">CAPACITY</p>
                <input type="text" name="getvesselcapacityinput" class="form-control" ng-model="selectedVessel.grossTonnage">
            </div>
            <div class="inputgroup col-md-2">
                <p class="labelheaders">City</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="vesselcity" data-toggle="dropdown" aria-expanded="true" required>
                        <div class="dropdowntext">{{ vesselCity}}</div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                        <li><a ng-click="citySelected(item)" tabindex="-1">None</a></li>
                        <li ng-repeat="item in vesselCities" role="presentation">
                            <a ng-click="citySelected(item)" tabindex="-1">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inputgroup col-md-2 col-md-offset-1">
                <p class="labelheaders">POWER</p>
                <input type="text" name="getvesselpowerinput" class="form-control" ng-model="selectedVessel.powerMain">
            </div>
            <div class="inputgroup col-md-2">
                <p class="labelheaders">EFFECT</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="vesseleffect" data-toggle="dropdown" aria-expanded="true" required>
                        <div class="dropdowntext">{{ vesselEffect}}</div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                        <li><a ng-click="effectSelected(item)" tabindex="-1">None</a></li>
                        <li ng-repeat="item in vesselCities" role="presentation">
                            <a ng-click="effectSelected(item)" tabindex="-1">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="mobileterminalcontainer row" ng-repeat = "item in selectedVessel.mobileTerminals">
        <a ng-click="removeMobileSystem(item, $index)">-REMOVE SATELLITE SYSTEM</a>
        <mobileterminal terminal="item"></mobileterminal>
    </div>
    <div class="row col-md-12">
        <a ng-click="addNewMobileTerminalToVessel()"><b>+ ADD NEW MOBILE TERMINAL</b></a>
    </div>
    <div class="row col-md-12">
        <span class="vesselhistory col-md-12">EVENT HISTORY</span>
        <hr>
    </div>

</div>
