.btn-bottom-mg {
	margin-bottom: 3px;
}

.executing-report {
	position:fixed !important;
//	position: absolute;
	width: 100%;
	height: calc(~'100% - 160px');
    background-color: rgba(221, 221, 221, 0.4);
    text-align: center;
    vertical-align: middle;
    > i {
    	font-size: 45px;
    	position: absolute;
    	top: 45%;
    	color: rgba(40, 40, 40, 0.7);
    }
    z-index: 100;
}

.executing-report-msg {
	position: absolute;
	width: 100%;
	top: 55%;
	> span {
		border-radius: 5px;
		padding: 5px;
		text-transform: uppercase;
		color: white;
		background-color: rgba(80, 80, 80, 0.7);
	}
}

.spatial-error {
	padding-top: 0px;
}

[st-table] {
	table.table {
		background-color: transparent;
		border-width: 1px 0px 0px 0px;
		.stColumnHeaders,
		tbody {
			background-color: #fff;
			border: solid #ddd;
			border-width: 0 1px;
		}
		tfoot.stFooterPagination {
			padding-top: 20px;
			> tr > td {
				padding: 20px 0 0 0;
				ul.pagination {
					margin: 2px;
				}
			}
		}
	}
}
