<!--
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="spatialModule">
	<alert-modal ng-model="repServ.hasAlert" display-msg="repServ.message" target-el-id="liveview-panel" side-panel-id="liveview-layer-panel" display-type="repServ.alertType"></alert-modal>
	<loading-panel type="InitialReporting" class="liveview-loading"></loading-panel>
	<div ng-include="'partial/spatial/liveViewPanel/liveViewPanel.html'" ng-show="repNav.isSectionVisible('liveViewPanel')"></div>
	<div ng-include="'partial/spatial/reportsPanel/reportsPanel.html'" ng-show="repNav.isSectionVisible('reportsPanel')"></div>
	<div ng-include="'partial/spatial/configurations/configPanel.html'" ng-show="repNav.isSectionVisible('userPreferences')"></div>
	<div ng-include="'partial/spatial/tripsPanel/tripsPanel.html'" ng-show="repNav.isSectionVisible('tripsPanel')"></div>
</div>
