<div ng-controller="SpatialCtrl">
	<div static-include="partial/spatial/spatialPageHeader/spatialPageHeader.html"></div>
	
	<!-- <div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="#/gis">+ Filter criteria</a> 
			</div>
		</div>
	</div> -->
	
	<div class="containerWrapper">
		<div class="container spatialpages">
			<div class="spatialtabpanel">
				<ul class="nav nav-tabs tabs-left sideways" role="tablist">
					<li ng-repeat="tab in tabMenu" class="sourcetab" ng-click="selectTab(tab.tab)" ng-class="{'active': selectedTab === '{{tab.tab}}'}"><a>{{tab.title}}</a></li>
				</ul>
			</div>
			<div class="spatialtab-content" ng-show="isTabSelected('MAP')">
				<div id="map" class="map" ng-controller="MapCtrl" resize ng-style="doResize(80, 345)"></div>
				<!-- <div id="map" class="map"></div> -->
			</div>
			<div class="spatialtab-content" ng-show="isTabSelected('VMS')">
				Here goes the vms table
			</div>
		</div>
	</div>
</div>