.btn-bottom-mg {
	margin-bottom: 3px;
}

.userPrefContainer {
	position: static;
}

.executing-report {
	position:fixed !important;
	width: 100%;
	height: calc(~'100% - 160px');
    background-color: rgba(221, 221, 221, 0.4);
    text-align: center;
    vertical-align: middle;
    > i {
    	font-size: 45px;
    	position: absolute;
    	top: 45%;
    	color: rgba(40, 40, 40, 0.7);
    }
    z-index: 100;
}

.executing-report-msg {
	position: absolute;
	width: 100%;
	top: 55%;
	> span {
		border-radius: 5px;
		padding: 5px;
		text-transform: uppercase;
		color: white;
		background-color: rgba(80, 80, 80, 0.7);
	}
}

.spatial-error {
	padding-top: 0px;
}

.table-responsive-force {
    width: 100%;
    margin-bottom: 10px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    .pagination > li {
    	display: table-cell;
    }
}

[st-table] {
	table.table {
		background-color: transparent;
		border-width: 1px 0px 0px 0px;
		margin-bottom: 0px;
		thead,
		tbody {
			background-color: #fff;
			border: solid #ddd;
			border-width: 0 1px;
			> tr > th:last-child,
			> tr > td:last-child {
				border-right: 1px solid #ddd;
			}
			> tr.st-selected > td {
				background-color: #3498db !important;
			    color: #FFF;
			    font-weight: bold;
			}
		}
		tfoot.stFooterPagination {
			padding-top: 20px;
			> tr > td {
				padding: 10px 0 0 0;
				ul.pagination {
					margin: 2px;
				}
			}
		}
	}
}

.sectionMenu {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    li.active{
        a{
            color:#000 !important;
            cursor: default;
            border-bottom: 2px solid #000;
        }
    }
}

input.ng-invalid {
	border: 1px solid red;
}