.btn-bottom-mg {
	margin-bottom: 3px;
	border: 1px solid transparent;
}

.buttonContainer {
	position: static;
	.btn-edit-report {
		margin-right: 10px;
	}
}

.executing-report {
	position:fixed !important;
	width: 100%;
	height: calc(~'100% - 180px');
    background-color: rgba(221, 221, 221, 0.4);
    text-align: center;
    vertical-align: middle;
    > i {
    	font-size: 45px;
    	position: absolute;
    	top: 45%;
    	color: rgba(40, 40, 40, 0.7);
    }
    z-index: 100;
}

.executing-report-msg {
	position: absolute;
	width: 100%;
	top: 55%;
	> span {
		border-radius: 5px;
		padding: 5px;
		text-transform: uppercase;
		color: white;
		background-color: rgba(80, 80, 80, 0.7);
	}
}

.spatial-error {
	padding-top: 0px;
}

.table-responsive-force {
    width: 100%;
    margin-bottom: 10px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    .pagination > li {
    	display: table-cell;
    }
}

[st-table] {
	table.table {
		background-color: transparent;
		border-width: 1px 0px 0px 0px;
		margin-bottom: 0px;
		thead,
		tbody {
			background-color: #fff;
			border: solid #ddd;
			border-width: 0 1px;
			> tr > th:last-child,
			> tr > td:last-child {
				border-right: 1px solid #ddd;
			}
			> tr.st-selected > td {
				background-color: #3498db !important;
			    color: #FFF;
			    font-weight: bold;
			}
		}
		tfoot.stFooterPagination {
			padding-top: 20px;
			> tr > td {
				padding: 10px 0 0 0;
				ul.pagination {
					margin: 2px;
				}
			}
		}
	}
}

div.tableSmart:extend(table all) {}
div.thead:extend(thead all) {}
div.tbody:extend(tbody all) {}
div.tfoot:extend(tfoot all) {}
div.tr:extend(tr all) {}
div.th:extend(th all) {}
div.td:extend(td all) {}

[st-table] {
	div.tableSmart:extend([st-table] table.table all) {}
	div.thead:extend([st-table] table.table thead all) {}
	div.tbody:extend([st-table] table.table tbody all) {}
	div.tfoot:extend([st-table] table.table tfoot all) {}
	div.tableSmart.table {
		> div.thead {
			div.th:extend([st-table] table.table thead > tr > th all) {}
			div.th:last-child {
					border-right: 0;
				}
		}
		> div.tbody {
			> div.tr:extend([st-table] table.table tbody > tr all) {}
			> div.tr {
				&:first-child {
					div.td {
						border-top: 0;
					}
				}
				div.td:extend([st-table] table.table tbody > tr > td all) {}
				div.td:last-child {
					border-right: 0;
				}
			}
		}
		> .tfoot {
			padding: 0;
			> div.tr:extend([st-table] table.table tfoot > tr all) {}
			> div.tr {
				div.td {
					div.td:extend([st-table] table.table tfoot > tr > td all) {}
				}
			}
		}
	}
}

.table-striped > .tbody > .tr:nth-child(odd) {
	div.th:extend(.table-striped > tbody > tr:nth-child(odd) > th all) {}
	div.td:extend(.table-striped > tbody > tr:nth-child(odd) > td all) {}
}

.table-condensed > .thead > .tr {
	div.th:extend(.table-condensed > thead > tr > th all) {}
}

.table-condensed > .tbody > .tr {
	div.td:extend(.table-condensed > tbody > tr > td all) {}
}

.table {
	&div.tableSmart:extend(table.table all) {}
	> div.thead:extend(.table > thead all) {}
	> div.tbody:extend(.table > tbody all) {}
	> div.tfoot:extend(.table > tfoot all) {}
	> div.tbody + .tbody:extend(.table > tbody + tbody) {}
	> .thead {
		> div.tr:extend(.table > thead > tr all) {}
		> .tr {
			border-top: 1px solid #dddddd; 
			div.th:extend(.table > thead > tr > th all) {
				display: table-cell;
			}
		}
	}
	> .thead:first-child > .tr:first-child > .th:extend(.table > thead:first-child > tr:first-child > th all) {}
	> .tbody {
		display: block;
		div.tr:extend(.table > tbody > tr all) {}
		> .tr {
			div.td:extend(.table > tbody > tr > td all) {
				display: table-cell;
			}
			div.td:last-child {
				border-right-width: 0;
			}
		}
	}
	> .tfoot {
		> div.tr:extend(.table > tfoot > tr all) {}
		> .tr {
			div.td:extend(.table > tfoot > tr > td all) {
				display: table-cell;
				width: 100%;
				float: right;
				padding: 0;
				[st-pagination] {
					float: right;
				}
			}
		}
	}
	
	.th,
	.td {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}








.sectionMenu {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    li.active{
        a{
            color:#000 !important;
            cursor: default;
            border-bottom: 2px solid #000;
        }
    }
}

.spatialModule,
.spatialConfig,
.modal-dialog,
.areaManagement {
	div[ng-messages] {
		line-height: 30px;
    	color: red;
    	pointer-events: none;
	}
	.belowErrorMessages {
		position: absolute;
	    right: 15px;
    	text-align: right;
	}
	.innerErrorMessages,
	.innerErrorMessagesLabelTimer,
	.innerErrorMessagesCombobox,
	.innerErrorMessagesFileUpload,
	.geoServerUrlInnerErrorMessages {
		position: absolute;
		z-index: 10;
    }
    .innerErrorMessages {
    	right: 3px;
	    top: 0;
	}
    .innerErrorMessagesLabelTimer {
    	right: 50px;
    	top: 20px;
    }
    .innerErrorMessagesCombobox {
    	right: 40px;
	    top: 0;
	}
	.innerErrorMessagesFileUpload {
		right: 55px;
	    top: 0;
	}
    .geoServerUrlInnerErrorMessages {
    	right: 25px;
    	top: 0;
    }
    .degree-input:after {
		content: '\00b0';
		position: absolute;
		top: 0;
		right: 20px;
		color: #999999;	
		font-size: 22px;
	}
	.accordionError {
		display: inline-block;
		margin-left: 30px;
		color: red;
		font-size: 14px;
		.fa.fa-exclamation-circle {
		    text-align: center;
		    color: red;
		    font-weight: bold;
		    cursor: default;
    	}
	}
	.innerErrorMessagesInputWithUpLabel,
	.innerErrorMessagesDateWithUpLabel {
		top: 0;
	    position: absolute;
	    line-height: 30px;
	    color: red;
	    margin-top: 20px;
	    z-index: 2;
	}
	
	.innerErrorMessagesInputWithUpLabel {
		right: 25px;
	}
	
	.innerErrorMessagesDateWithUpLabel {
	    right: 55px;
	}
}
