.trip-summary {
    .vessel-name {
        text-decoration: underline;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 5px;
        color: @primaryColor;
    }
    .trip-row-label {
        font-weight: bold;
    }
}