.modal-header .closehistorymodal {
  position: relative;
  bottom: 40px;
  right: 5px;
}
.modal-header .vesselname {
  border-bottom-colors: #e4e4e4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
