<div class="vesselHistoryContainer">
	<div class="modal-header row">
        <div class="closeIconContainer" ng-click="cancel()">
            <i class="fa fa-times closeicon" title="{{'common.close' | i18n}}"></i>
        </div>
        <div class="col-md-12 historyHeader">
            <span class="vesselName">{{vesselHistory.name}}</span>, {{vesselHistory.vesselType}} {{'vessel.event_information' | i18n}}
        </div>
        <div class="col-md-6">{{'vessel.event_code' | i18n }}: <b>{{vesselHistory.eventHistory.eventCode}}</b></div>
        <div class="col-md-6">{{'vessel.event_date' | i18n }}: <b>{{vesselHistory.eventHistory.eventDate | date : "short"}}</b></div>
	</div>

	<div class="modal-body row">
        <div class="historyValues">
            <div class="col-md-12 grayBorderTop">
                <h5>{{'vessel.event_history_administrative_information' | i18n}}</h5>
            </div>

            <div class="col-md-6">
                {{'vessel.flag_state' | i18n }}: <b>{{vesselHistory.countryCode}}</b>
            </div>
            <div class="col-md-6">
                {{'vessel.ircs' | i18n }}: <b>{{vesselHistory.ircs}}</b>
            </div>

            <div class="col-md-6">
                {{'vessel.ext_marking' | i18n }}: <b>{{vesselHistory.externalMarking}}</b>
            </div>
            <div class="col-md-6">
                {{'vessel.name' | i18n }}: <b>{{vesselHistory.name}}</b>
            </div>

            <div class="col-md-6">
                {{'vessel.cfr' | i18n }}: <b>{{vesselHistory.cfr}}</b>
            </div>
            <div class="col-md-6">
                {{'vessel.mmsi_no' | i18n }}: <b>{{vesselHistory.mmsiNo}}</b>
            </div>

            <div class="col-md-6">
                {{'vessel.license' | i18n }}: <b>{{vesselHistory.hasLicense ? ('common.yes' | i18n | uppercase) : ('common.no' | i18n | uppercase)}}</b>
            </div>
            <div class="col-md-6">
                {{'vessel.license_type' | i18n }}: <b>-</b>
            </div>

            <div class="col-md-6">
                {{'vessel.po_code' | i18n }}: <b>-</b>
            </div>
            <div class="col-md-6">
                {{'vessel.po_name' | i18n }}: <b>-</b>
            </div>

            <div class="col-md-12">
                {{'vessel.home_port' | i18n }}: <b>{{vesselHistory.homePort}}</b>
            </div>


            <div class="col-md-12">
                <h5>{{'vessel.event_history_technical_information' | i18n}}</h5>
            </div>

            <div class="col-md-6">
                {{'vessel.type' | i18n }}: <b>{{vesselHistory.vesselType}}</b>
            </div>
            <div class="col-md-6">
                {{'vessel.tonnage_gt' | i18n }}: <b>{{vesselHistory.grossTonnage}} {{"common.tons" | i18n}}</b>
            </div>    

            <div class="col-md-6">
                {{'vessel.main_power' | i18n }}: <b>{{vesselHistory.powerMain}} {{"common.kw" | i18n}}</b>
            </div>
            <div class="col-md-6">
                {{'vessel.length' | i18n }}: <b>{{vesselHistory.lengthOverAll}} {{"common.meters_short" | i18n}}</b>
            </div>  

            <div class="col-md-6">
                {{'vessel.gear_type' | i18n }}: <b>-</b>
            </div>
        </div>
		
	</div>
	<div class="modal-footer">
    	<button type="button" class="btn btn-primary" ng-click="cancel()">{{'vessel.close' | i18n | uppercase}}</button></button>
	</div>
</div>
