.vesselHistoryContainer{

    .historyHeader{
        margin-bottom: 5px;
        font-size: 18px;
        text-transform: none;
        .vesselName{
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase
        }
    }

    .historyValues{
        line-height: 22px;
    }

    text-transform: uppercase;
    b, h5{
        text-transform: none;
    }

    //Section headers
    h5{
        color:#777;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}