.vesselHistoryContainer{

    .sectionHeader{
        color: #777;
        .grayBorderBottom;
        padding-top: 15px;
    }

    .historyValues{
        line-height: 22px;
    }

    text-transform: uppercase;
    b{
        text-transform: none;
    }
}