<!--
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<ng-form name="attrRow{{$index}}" class="col-md-12 row" ng-controller="AttrfieldmappingruleCtrl">
    <div class="col-md-5" ng-class="{'has-error': wizardStep !== 3 && (attrRow{{$index}}.dbField.$dirty || savedStep2) && attrRow{{$index}}.dbField.$invalid}">
        <combobox ng-model="selectedAttrs[$index].db" items="dbAttrs" name="dbField" initialtext="{{'areas.data_configurations_attr_field_db' | i18n}}" ng-required="true" ng-if="wizardStep !== 3" group="dbAttrs" dest-combo-list="#areaManagement"></combobox>
        <div class="innerErrorMessagesCombobox" ng-messages="attrRow{{$index}}.dbField.$error" ng-show="(attrRow{{$index}}.dbField.$dirty || savedStep2) && attrRow{{$index}}.dbField.$invalid" ng-if="wizardStep !== 3">
            <div ng-message="required">{{'spatial.required_field_error_message' | i18n }}</div>
        </div>
        <span class="static-text" ng-bind="selectedAttrs[$index].db" ng-if="wizardStep === 3"></span>
    </div>
    <div class="col-md-5" ng-class="{'has-error': wizardStep !== 3 && (attrRow{{$index}}.shpField.$dirty || savedStep2) && attrRow{{$index}}.shpField.$invalid}">
        <combobox ng-model="selectedAttrs[$index].shp" items="shpAttrs" name="shpField" initialtext="{{'areas.data_configurations_attr_field_shp' | i18n}}" ng-required="true" ng-if="wizardStep !== 3" group="shpAttrs" dest-combo-list="#areaManagement"></combobox>
        <div class="innerErrorMessagesCombobox" ng-messages="attrRow{{$index}}.shpField.$error" ng-show="(attrRow{{$index}}.shpField.$dirty || savedStep2) && attrRow{{$index}}.shpField.$invalid" ng-if="wizardStep !== 3">
            <div ng-message="required">{{'spatial.required_field_error_message' | i18n }}</div>
        </div>
        <span class="static-text" ng-bind="selectedAttrs[$index].shp" ng-if="wizardStep === 3"></span>
    </div>
    <div class="form-group col-md-2 btn-rm" ng-if="wizardStep !== 3">
        <a ng-click="selectedAttrs.splice($index,1)" title="{{'spatial.property_rm_rule' | i18n }}">
            <span class="btn btn-default btn-sm"><i class="fa fa-trash"></i></span>
        </a>
    </div>
</ng-form>

