.location-tile {
    .container {
        height: calc(~'100% - 20px');
        .col-md-12 {
            top: 50%;
            transform: translateY(-50%);
            &.clickable {
                cursor: pointer;
            }
        }
    }
    .icon-container {
        text-align: center;
        margin-bottom: 10px;
        i {
            font-size: 10vw;
            color: #505050;
        }
    }
    .name {
        text-align: center;
    }
}