<fieldset class="col-md-12 fieldsetStyle location-tile">
	<legend class="fieldsetLegendStyle">
		<a>{{fieldTitle}}</a>
		<span ng-if="isClickable && activityGeom">
			<a href title="{{'activity.fa_locations_zoom_to_activity' | i18n}}" ng-click="zoomToLocation(activityGeom)">
				<i class="fa fa-search-plus" aria-hidden="true"></i>
			</a>
		</span>
	</legend>
	<div ng-if="hasData()">
		<div class="row" ng-if="countries.length > 0">
			<div class="col-md-12 item-container">
				<span class="item-label">{{'activity.fa_locations_country' | i18n}}</span>
				<span>{{ countries | stArrayToString: ', '}}</span>
			</div>
		</div>
		<div class="row" ng-if="rfmo.length > 0">
			<div class="col-md-12 item-container">
				<span class="item-label">{{'activity.fa_rfmo' | i18n}}</span>
				<span>{{ rfmo | stArrayToString: ', '}}</span>
			</div>
		</div>
		<div class="row row-section" ng-if="identifiers.length > 0 || positions.length > 0">
			<div class="col-md-12">
				<ul>
					<li ng-repeat="item in identifiers" class="item-container" ng-if="identifiers.length > 0"  ng-class="{'item-clickable': isItemClickable(item)}" ng-click="zoomToLocation(item)">
						<span class="item-label">{{item.schemeId}}</span> 
						<span>{{item.id}}</span>
					</li>
					<li ng-repeat="item in positions" class="item-container" ng-if="positions.length > 0" ng-class="{'item-clickable': isItemClickable(item)}" ng-click="zoomToLocation(item)">
						<div class="item-field">
							<span class="item-label">{{'activity.fa_locations_lon' | i18n}}</span> 
							<span class="item-text">{{item.lon}}</span>
						</div>
						<div class="item-field">
							<span class="item-label">{{'activity.fa_locations_lat' | i18n}}</span> 
							<span class="item-text">{{item.lat}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row" ng-if="addresses.length > 0">
			<div class="col-md-12">
				<carousel-tile tile-title="{{'activity.fa_locations_addresses' | i18n}}" ng-model="addresses" use-top-nav="false" template-url="directive/activity/carouselTile/templates/addressTile/addressTile.html"></carousel-tile>
			</div>
		</div>
	</div>
	<div class="row no-data" ng-if="!hasData()">
		<div class="col-md-12">
			<span>{{'activity.no_data' | i18n}}</span>
		</div>
	</div>
</fieldset>