<fieldset class="col-md-12 fieldsetStyle location-tile">
	<legend class="fieldsetLegendStyle">
		<a>{{fieldTitle}}</a>
	</legend>
	<div class="row" ng-switch="checkIsMultiple()" ng-class="{container: !checkIsMultiple(), 'container-multiple': checkIsMultiple()}" ng-if="hasData()">
		<div class="col-md-12" ng-class="{clickable: isItemClickable()}" ng-click="zoomToLocation()" ng-switch-default>
			<div class="icon-container">
				<i class="fa fa-location-arrow" aria-hidden="true"></i>
			</div>
			<div class="name">{{locationDetails.name || locationDetails[0].name}}</div>
		</div>
		<div class="col-md-12 location-list" ng-switch-when="true">
			<ul>
				<li ng-repeat="location in locationDetails" ng-class="{'item-clickable': isItemClickable(location)}" ng-click="zoomToLocation(location)">{{location.name}}</li>
			</ul>
		</div>
	</div>
	<div class="row no-data" ng-if="!hasData()">
		<div class="col-md-12">
			<span>{{'activity.no_data' | i18n}}</span>
		</div>
	</div>
</fieldset>