.location-tile {
    height: 100%;
    position: relative;
    .container {
        height: calc(~'100% - 20px');
        .col-md-12 {
            top: 50%;
            transform: translateY(-50%);
            &.clickable {
                cursor: pointer;
            }
        }
    }
    .container-multiple {
        position: absolute;
        top: 30px;
        bottom: 0;
        left: 0;
        right: 15px;
        overflow-y: auto;
    }
    .icon-container {
        text-align: center;
        margin-bottom: 10px;
        i {
            font-size: 10vw;
            color: #505050;
        }
    }
    .name {
        text-align: center;
    }
    .location-list {
        text-align: center;
        li {
            cursor: default;
            &.item-clickable {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}