<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="panel panel-default" >
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 userDetails-label">
                <label>Email</label>
            </div>
            <div class="col-md-10 userDetails-field">
                <span ng-bind="user.person.email"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-nowrap userDetails-label">
                <label>Phone Number</label>
            </div>
            <div class="col-md-2 userDetails-field">
                <span ng-bind="user.person.phoneNumber"></span>
            </div>
            <div class="col-md-2 text-nowrap userDetails-label">
                <label>Mobile Number</label>
            </div>
            <div class="col-md-2 userDetails-field">
                <span ng-bind="user.person.mobileNumber"></span>
            </div>
            <div class="col-md-2 text-nowrap userDetails-label">
                <label>Fax Number</label>
            </div>
            <div class="col-md-2 userDetails-field">
                <span ng-bind="user.person.faxNumber"></span>
            </div>
        </div>
        <div class="col-md-12" style="padding: 1px;">
            <hr style="border-top: 1px solid #000000;">
        </div>
        <div class="row">
            <div class="col-md-2 userDetails-label">
                <label>Active From</label>
            </div>
            <div class="col-md-2 userDetails-field">
                <span>{{user.activeFrom | date:'yyyy-MM-dd'}}</span>
            </div>
            <div class="col-md-2 userDetails-label">
                <label>Active To</label>
            </div>
            <div class="col-md-2 userDetails-field">
                <span>{{user.activeTo | date:'yyyy-MM-dd'}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 userDetails-label">
                <label>Locked out until</label>
            </div>
            <div class="col-md-2 userDetails-field">
                <span>{{user.lockoutTo | date:'yyyy-MM-dd'}}</span>
            </div>
            <div class="col-md-2 userDetails-label">
                <label>Lockout Reason</label>
            </div>
            <div class="col-md-2 userDetails-field">
                <span ng-bind="user.lockoutReason"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 userDetails-label">
                <label>Notes</label>
            </div>
            <div class="col-md-10 userDetails-field">
                <span ng-bind="user.notes"></span>
            </div>
         </div>
         <div class="row" style="text-align:left; padding-top: 30px; padding-bottom:10px; padding-left:15px;">

         <span ng-if="checkAccess('manageUsers') && !ldapEnabled">
             <button type="button" class="btn btn-sm btn-primary pull-left" ng-click="manageUserPassword(user)">Set Password</button>
         </span>

          </div>
    </div>
</div>