/*
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
*/
.validationResultsModal{
  .back-btn {
    margin-bottom: 15px;
    button {
      span.fa {
        color: @primaryColor;
      }
    }
  }
  .xml-content {
    pre {
      max-height: calc(~'100vh - @{headerHeight} - 95px');
      background-color: #f8f8f8;
    }
  }

  .loading-spinner-xml {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 1px;
  }
  .xml-highlight {
    background-color: #f9cdcd;
  }

  .rule-span-title {
    float: left;
    font-weight: bold;
  }

  .rule-span-title:after {
    content: ': ';
    white-space: pre;
  }

  .rule-span-content {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .message-column {
    max-width: 250px !important;
  }

  .alert-margin {
    margin-bottom: 15px !important;
  }
}

