
/*
 * Common css classes that can be used everywhere in the application.
 * Each class should only do one thing, otherwise it should go in components.less
 *
 */

.containerWrapper{
    width: 100%;
}

.grayContainer{
    background-color: #EBEBEB;
}

.containerWithTopBottomPadding{
    padding-top:15px;
    padding-bottom:15px;
}

//Remove outer padding from first and last column in row
.row.no-outer-padding [class*='col-']:first-child{
  padding-left: 0;
}
.row.no-outer-padding [class*='col-']:last-child{
  padding-right: 0;
}

.row-same-height {
    display: table;
    width: 100%;
}

.bottom-column
{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

.top-column
{
    float: none;
    display: table-cell;
    vertical-align: top;
}

.colNoPadding{
    padding: 0px;
}

.nopaddingleft{
    padding-left: 0px;
}
.nopaddingright{
    padding-right: 0px;
}

.nomargin{
    margin: 0px !important;
}

.nomarginbottom {
    margin-bottom: 0px;
}

.nomargintop {
    margin-top: 0px;
}

.nomarginleft {
    margin-left: 0px;
}

.nomarginright {
    margin-right: 0px;
}

.textAlignCenter{
    text-align: center;
}
.textAlignRight{
    text-align: right;
}
.textAlignLeft{
    text-align: left;
}

.floatRight{
    float:right;
}

.floatLeft{
    float:left;
}

.pointer{
    cursor: pointer;
}

.prefixWithMinus::before{
    content: '-';
}

.prefixWithPlus::before{
    content: '+';
}

.link{
    color:@link-color;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
span.error{
    color: @errorColor;
}



//TABLES
.inactiveTableCell{
    color:#999;
}

table.fullWidth{
    width: 100%;
}

table.searchResults{
    width: 100%;
    thead{
        border-bottom: solid 2px #E5E5E4;

        //Table wrow containing search fields
        &>tr.searchInputRow{
            &>th{
                padding-right: 5px;
                &>input, &>.dropdown{
                    width:100%;
                }
                input{
                    font-weight: normal;
                }
            }
        }
    }
    th{
        height:40px;
        border-top: 0px !important;
        border-bottom: 0px !important;

        >a{
            font-weight: bold;
            color:#383737;

            .fa.fa-sort, .fa.fa-caret-down , .fa.fa-caret-up
            {
                color: @primaryColor;
                margin-left:7px;
            }
        }
    }

    td.checkboxContainer,
    th.checkboxContainer {
        text-align: center;
    }

    >tbody{
        tr{
            border-bottom: solid 1px #e0e0e0;
            height: 40px;

            &:last-child{
                border-bottom: none;
            }

            td.inactive{
                .inactiveTableCell;
            }


            >td{
                button{
                    height: 28px;
                    text-align: center;
                    padding:0px 12px;
                    font-size: 12px;
                }
            }
        }
    }

    td, th {
        max-width: 120px;
    }

    &.colorOdd{
        tbody{
            tr:nth-child(odd) {background: #f7f7f7}
        }
    }
}

//Other table colors on gray background
.grayContainer{
    table.searchResults{
        thead{
            border-bottom: solid 2px #C5C5C4;
        }


        >tbody{
            tr{
                border-bottom: solid 1px #C5C5C4;
            }
        }

        &.colorOdd{
            tbody{
                tr:nth-child(odd) {background: #EEE}
            }
        }
    }
}

td div.iconToTheLeftOfTheTableCell{
    position: absolute;
    left:-25px;

    div.tooltip{
        min-width: 100px;
    }
}

div.searchResultsLoading{
    text-align: center;
    margin-top:10px;
}

a{
    cursor:pointer;
}
a:hover{
    text-decoration: none;
    color: #428bca;
}


//MODAL
.modal-header{
    .headerWithBottomBorder{
        font-size: 27px;
        font-width: bold;
        border-bottom-colors: #e4e4e4;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    .closeIconContainer{
      position: absolute;
      right: 20px;
      top: 20px;
    }
}


//Gray border
@grayBorder:1px solid #DDD;
.grayBorder{border:@grayBorder}
.grayBorderBottom{border-bottom:@grayBorder}
.grayBorderTop{border-top:@grayBorder}
.grayBorderRight{border-right:@grayBorder}
.grayBorderLeft{border-left:@grayBorder}

.borderSection{
    padding: 15px;
    .grayBorder;
    border-top-width: 3px;
}


/*Styled scrollbar*/
.scrollbar(){
    padding-right: 10px;
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ECEFEF;
      outline: 1px solid #E4E4E4;
    }
}

.closeicon{
    font-size: 30px;
    position: relative;
    bottom: 12px;
    left:12px;
    cursor: pointer;
    color: @errorColor;
}

.signouticon{
    font-size: 24px;
    position: relative;
    cursor: pointer;
    color: @errorColor;
}

.searchbtntext{
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.modal-dialog .modal-content {
    padding: 20px 30px;
    border: none;
    border-radius: 0px;
    box-shadow: 5px 5px 30px #888888;
}

.card {
    background-color: white;
    border: 1px solid #dddddd;
    border-top: 5px solid #dddddd;
    margin-top: 10px;
    padding: 15px;


    .card-header {
        border-bottom: 1px solid #dddddd;
        padding-bottom: 15px;
        padding-right: 15px;

        .btn {
            float: right;
        }
    }

    &.nomargintop {
        margin-top: 0px;
    }
}

.nopadding {
    padding: 0px;
}

.nopaddingtop {
    padding-top: 0px;
}

.nopaddingbottom {
    padding-bottom: 0px;
}

.valign {
    display: inline-block;
    float: none;
    vertical-align: middle;
}