/*
 * Components that are reused in different places in the application
 *
 */

 //Basic information containing status, and other short information
.vesselForm, .mobileInformationContainer, .mobileTerminal{
    .basicInformation{
        padding-bottom: 10px;
        .label{
            position: relative;
            top:-1px;
        }
        .grayBorderBottom();
        div{
            margin-right: 30px;
            &:first-child{
                margin-right: 90px;
            }            
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}

/*Loading icon*/
.loadingIconContainer{
    width: 100%;
    text-align: center;
}

/*Dropdown button*/
.dropdown{
    color:#ffffff;
    button, button:hover{
        /*background-color: #008e61;*/
        text-align: left;
        width: 100%;
        color:#ffffff;
    }
    .caret{
        position: relative;
        bottom: 10px;
        float:right;
    }
    .btn.btn-default.dropdown-toggle{
        background-color: white;
        height: 30px;
        border-radius: 0px;
        border: solid 1px lightgray;
        color:black;
        padding: 3px 12px;
            .caret{
                color:@btnPrimaryColor;
            }
    }
    .btn.btn-default.dropdown-toggle:focus {
        border-color: @btnPrimaryColor;
    }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu{
    max-height: 200px;
    overflow-y: auto;
}

/*Calendar*/
.dropdown-menu.ng-valid.ng-valid-date.ng-valid-date-disabled.ng-dirty,
.dropdown-menu.ng-pristine.ng-valid.ng-valid-date.ng-valid-date-disabled
{
   /* width:280px;*/
    padding: 10px;
}

.btn-cal{
    height: 30px;
}


/*Buttons*/
.uvmsbtn{
    background-color: @buttoncolor;
    color: #ffffff;
    border: solid 1px @buttoncolor;
}
.uvmsbtn:hover{
    background-color: @buttonhovercolor;
    color:#ffffff;
    border: solid 1px @buttonhovercolor;
}

//PRINT AND EXPORT
.printAndExport{
    i{
        color:@link-color;
        cursor: pointer;
        &:first-child{
            padding-right: 5px;
        }
    }
}

/*Lists*/
ul.horizontal{
    li{
        float:left;
        margin:0 10px;
        &:first-child{
            margin-left: 0px;
        }        
        &:last-child{
            margin-right: 0px;
            border-right:0px;
        }

    }
}

ul.pipeSeparator{
    li + li::before {
        content: " | ";
        margin-right: 10px;
    }   
}


ul.links{
    li{
        color:@link-color;
        text-decoration: none;
        &.active{
            color:#000;
            font-weight: bold;            
            cursor: default;
            border-bottom: 1px solid #000;
        } 
    }
}