footer {
    background-color: #383737;
    color: white;
    height: 75px;
    position: fixed;
    bottom:0px;
    width: 100%;
     .content{
         width: @containerwidth;
         margin: 0px auto;
         padding-top: 30px;
     }
}


