footer {
    background-color: #383737;
    color: white;
    height: @footerHeight;
    position: fixed;
    bottom:0px;
    width: 100%;
    z-index: 5;
     .content{
         width: @containerwidth;
         margin: 0px auto;
         padding-top: 30px;
     }
}


