/*
 * Common styling of forms and inputs
 *
 */

input[type="text"], input[type="time"], input[type="number"], input[type="email"], input[type="search"]
{
    border-radius: 0px;
    height: 30px;
    border:1px solid @inputBorderColor;
    padding-left: 5px;

    &:focus{
        border:1px solid @formInputActiveBorderColor;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

button.inputHeigth{
    height: 30px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}

.form-control{
    background-color: #FFFFFF;
    height: 30px;
}

.form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
*:before, *:after {
    -moz-box-sizing: border-box;
}
*:before, *:after {
    -moz-box-sizing: border-box;
}

.form-control{
    border-radius: none;
}

.form-control:hover{
    border-radius: 0px;
}
.form-control{
    border-radius: 0px;
}
.form-control:focus {
    border-color: @formInputActiveBorderColor;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

label{
    font-weight: bold;
    margin-bottom: 0px;
}

label.section{
    font-weight: bold;
    text-transform: uppercase;
}

.labelheaders{
    margin-top:10px;
    margin-bottom:0px;
    text-transform: uppercase;

    font-size: 12px;

    @media (min-width: @screen-lg-min) {
        font-size: 14px;
    }


}

.has-error{
    .form-control, input, textarea, .periodInput{
    	&,
    	&:focus,
    	&:hover {
        	border:1px solid red;
        	box-shadow: none !important;
        }
    }
    box-shadow:none;
}


.form-group{
    .help-block{
        display: none;
    }
}

.form-group.has-error{
    .help-block{
        display: block;
    }
}

.inputerrors{
    .glyphicon{
        top: 2px;
    }
}

select{
    padding: 10px;
}


.unit-input {
    @unitWidth:30px;
    position: relative;
    text-transform: none;
    padding-right: @unitWidth;

    .unit-box {
        position: absolute;
        right:0px;
        top:0px;
        width: @unitWidth;
        height: 100%;
        padding: 4px 4px 0;
        background-color: lightgray;
        border: 1px solid #cccccc;
        text-align: center;
    }
}