/*
 * Global variables.
 *
 */

 @footerHeight: 75px;

@buttoncolor: #18A689;
@buttonhovercolor:#007D52;


/*Buttons*/
@btnPrimaryColor:@buttoncolor;
@btnPrimaryHoverColor:@buttonhovercolor;
//@btnDefaultHoverColor: darken(@btnDefaultColor, 10%);


/*Modal*/
@modalBackdropColor:#ccc;

/*Forms*/
@formInputActiveBorderColor:#18A689;