/*
 * Global variables.
 *
 */

@footerHeight: 75px;

//Colorblind friendly colors
@primaryColor: #3498db;
@successColor:#5BDD71;
@errorColor:#E21E27;
@warningColor:#f0ad4e;
@headerbackgroundcolor: #383737;

@buttoncolor: @primaryColor;
@buttonhovercolor:#2980b9;
@buttonfontsize: 14px;
@buttonpaddingtop: 3px;
@buttonpaddingbottom: 3px;

/*Buttons*/
@btnPrimaryColor:@buttoncolor;
@btnPrimaryHoverColor:@buttonhovercolor;

/*Inputs*/
@inputBorderColor: #7f8c8d;

/*Modal*/
@modalBackdropColor:#ccc;

/*Forms*/
@formInputActiveBorderColor:@primaryColor;
