<div ng-controller="viewMobileTerminalCtrl">   
    <div class="row">
        <div class="col-md-7">
            <h3>{{'mobileTerminal.view_header' | i18n}}</h3>
        </div>
        <div class="col-md-4 textAlignRight">
            <div class="floatRight">
                <button  type="submit" ng-disabled="!currentMobileTerminal.mobileTerminalId.systemType || !terminalConfig" class="btn btn-primary" ng-click="updateMobileTerminal()" ng-hide="transponderSystems.length == 0">{{'common.update' | i18n}}</button>
            </div>
            <div class="floatRight setStatusContainer">
                <button type="button" class="btn btn-default" ng-show="currentMobileTerminal.active" ng-click="setStatusToInactive()">
                    {{'mobileTerminal.inactivate_link' | i18n}}
                </button>
               <button type="button" class="btn btn-default" ng-hide="currentMobileTerminal.active" ng-click="setStatusToActive()">
                    {{'mobileTerminal.activate_link' | i18n}}
                </button>        
            </div>         
        </div>
        <div class="col-md-1 textAlignRight" ng-click="toggleMobileTerminalDetails()"> <img src="assets/images/close.png" /></div>
    </div>

    <div static-include="partial/mobileTerminal/mobileTerminalForm/mobileTerminalForm.html"></div>
    <div>
        <a ng-click="onMobileTerminalHistoryClick()">
            <p>{{'mobileTerminal.history_view_mobileterminal_history' | i18n }}</p>
        </a>
    </div>
</div>
