
<ul class="nav nav-pills">
  <li class="subscriptions-nav-item nav-item">
    <a class="nav-link" routerLink="/subscriptions/manage-subscriptions" routerLinkActive="active">MANAGE SUBSCRIPTIONS</a>
  </li>
  <li class=" subscriptions-nav-item nav-item">
    <a class="nav-link" routerLink="/subscriptions/new-subscription" routerLinkActive="active">NEW SUBSCRIPTION</a>
  </li>
  <li class=" subscriptions-nav-item nav-item">
    <a class="nav-link" routerLink="/subscriptions/manual-subscriptions" routerLinkActive="active">MANUAL SUBSCRIPTIONS</a>
  </li>
</ul>
<div class="card">
  <router-outlet></router-outlet>
</div>

