<div ng-controller="AdvancedSearchMobileTerminalFormCtrl">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <input type="text" placeholder="{{'mobileTerminal.search_name_placeholder' | i18n}}" class="form-control" tabindex="1" ng-model="advancedSearchObject.NAME" ng-change="onSearchInputChange()">
                </div>
                <div class="col-md-2">
                    <input type="text" placeholder="{{'mobileTerminal.search_IRCS_placeholder' | i18n}}"  class="form-control" tabindex="2" ng-model="advancedSearchObject.IRCS" ng-change="onSearchInputChange()">
                </div>
                <div class="col-md-2">
                    <input type="text" placeholder="{{'mobileTerminal.search_externalMarking_placeholder' | i18n}}" class="form-control" tabindex="3" ng-model="advancedSearchObject.EXTERNAL_MARKING" ng-change="onSearchInputChange()">
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="{{'mobileTerminal.search_CFR_placeholder' | i18n}}"  class="form-control" tabindex="4" ng-model="advancedSearchObject.CFR" ng-change="onSearchInputChange()">
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="{{'mobileTerminal.search_homeport_placeholder' | i18n}}"  class="form-control" tabindex="5" ng-model="advancedSearchObject.HOMEPORT" ng-change="onSearchInputChange()">
                </div>

            </div>
            <div class="row">
               <div class="col-md-2">
                    <input type="text" name="searchmmsi" id="searchmmsi" placeholder="{{'mobileTerminal.search_mmsi_placeholder' | i18n}}" class="form-control" tabindex="6" ng-model="advancedSearchObject.MMSI" ng-change="onSearchInputChange()">
                </div>
                <div class="col-md-2">
                    <input type="text" placeholder="{{'mobileTerminal.search_serialNumber_placeholder' | i18n}}"  class="form-control" tabindex="7" ng-model="advancedSearchObject.SERIAL_NUMBER" ng-change="onSearchInputChange()">
                </div>
                <div class="col-md-2">
                    <input type="text" placeholder="{{'mobileTerminal.search_dnid_placeholder' | i18n}}" class="form-control" tabindex="8" ng-model="advancedSearchObject.DNID" ng-change="onSearchInputChange()">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                  <saved-search-dropdown type="VESSEL"  class="dropdown simpleSearch" ng-model="selectedVesselGroup" initialtext="{{'mobileTerminal.search_selectVesselGroup_placeholder' | i18n}}" callback="searchSelectedGroup"></saved-search-dropdown>
                </div>
            </div>
            <div class="row resetAndSearchContainer">
               <!-- Reset button -->
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary btn-sm vmsbtn" ng-disabled="advancedSearchForm.$invalid"  ng-click="performAdvancedSearch()">
                        {{'common.search' | i18n}}
                    </button>
                </div>
                <!-- Search button -->
                <div class="col-md-6">
                    <button type="button" class="btn btn-default vmsbtn btn-sm" ng-click="resetAdvancedMobileSearchForm()">
                        {{'common.reset' | i18n}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>