<div class="containerWrapper" ng-controller="ReportspanelCtrl">
	<loading-panel type="SaveReport"></loading-panel>
	<loading-panel type="ResetReport"></loading-panel>
	<loading-panel type="AreaSelectionFieldset"></loading-panel>
	<loading-panel type="LiveviewMap" ng-model="repServ.isReportExecuting" class="liveview-loading"></loading-panel>
	<div class="container">
		<div class="containerWithTopBottomPadding" ng-include="'partial/spatial/reportsPanel/reportForm/reportForm.html'" ng-show="repNav.isViewVisible('reportForm')"></div>
	</div>
</div>