<!-- step 1 -->
<div class="col-md-12 newPollWizardStep searchMobileTerminalsStep" ng-controller="NewpollwizardselectmobileterminalsCtrl">
	<div class="wizardcontent">
		<new-poll-wizard-progress step="1"></new-poll-wizard-progress> 
		<advanced-search searchfunc="getPollableChannels" vesselGroupCallback="selectGroupCallback()" modeltype="'POLLING_MOBILE_TERMINAL'" advancedsearchvisible="true"></advanced-search>                
        <div class="row">
            <div class="col-md-12">
                <table class="searchResults polltable colorOdd">
                    <thead>
                        <tr>
                            <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'vesselName'">{{'polling.poll_table_header_vessel_name' | i18n}}</th>
                            <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'vesselIrcs'">{{'polling.poll_table_header_vessel_ircs' | i18n}}</th>
                            <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'attributes.DNID'">{{'polling.poll_table_header_vessel_dnid' | i18n}}</th>
                            <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'attributes.MEMBER_NUMBER'">{{'polling.poll_table_header_vessel_member_no' | i18n}}</th>
                            <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'mobileTerminalType'">{{'polling.poll_table_header_vessel_transponder' | i18n}}</th>
                            <th>
                              <button class="btn btn-primary btn-sm polltablebutton" ng-hide="isTerminalGroupSelected()" ng-click="selectAllVessels()">{{'polling.poll_table_button_add_all' | i18n | uppercase}}</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in currentSearchResults.pollableChannels | orderBy:currentSearchResults.sortBy:currentSearchResults.sortReverse">
                            <td>{{item.vesselName}}</td>
                            <td>{{item.vesselIrcs}}</td>
                            <td>{{item.attributes.DNID}}</td>
                            <td>{{item.attributes.MEMBER_NUMBER}}</td>
                            <td>{{item.mobileTerminalType}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm polltablebutton" ng-hide="isTerminalSelected(item)" ng-click="selectChannel(item, $index)">
                                    {{'polling.poll_table_button_add_selected' | i18n | uppercase}}
                                </button>
                                <button class="btn btn-primary btn-sm polltablebutton selected" ng-show="isTerminalSelected(item)"  ng-click="selectChannel(item, $index)">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <search-result-error-alert ng-show="!currentSearchResults.loading && currentSearchResults.pollableChannels.length < 1">{{'polling.wizard_first_step_nos_search_result' | i18n}}</search-result-error-alert>                
            </div>
            <div class="col-md-12 searchResultsLoading" ng-show="currentSearchResults.loading">
                <i class="fa fa-spinner fa-spin fa-pulse fa-2x"></i>        
            </div>
        </div>

        <div class="row" ng-show="currentSearchResults.totalNumberOfPages > 0">
            <div class="col-md-12">
                {{'common.search_results_current_page' | i18n:[currentSearchResults.page, currentSearchResults.totalNumberOfPages]}}
            </div>
        </div>

        <div class="row" ng-show="currentSearchResults.totalNumberOfPages > 0 && currentSearchResults.totalNumberOfPages > currentSearchResults.page">
            <div class="col-md-12 textAlignCenter">
                <span class="link" ng-click="loadNextPage()"> {{'common.search_results_load_more' | i18n | uppercase}}</span>            
            </div>
        </div>
    </div>

    <div class="row wizardFooter">
        <div class="col-md-12 textAlignRight">
            <button type="button" class="btn btn-primary" ng-disabled="!readyForNextStep()" ng-click="nextStep()">
                {{'common.next' | i18n | uppercase}}
            </button>
        </div>        
    </div>
</div>


