.polltable{
	margin-top: 30px;
	
	.grayBorder;

	td{
		padding: 4px 10px;
	}

	th{
		padding: 10px 10px;
	}

	.polltablebutton{
		min-width: 85px;
	}
	.selected { 
		background-color: #40AE47;
	}	
	button span{
		color:white;
	}

}





