.pollselectmobileterminals{
	border: @pollingwizardboarder; 
	min-height: @pollingwizardminheight;
	margin: @pollingwizardmargin;
	padding: @pollingwizardpadding;
}

.polltable{
	margin-top: 30px;
	border: @pollingwizardboarder;

	td{
		padding: 4px 10px;
	}

	th{
		padding: 10px 10px;
	}

	.selectbutton{
		padding-left:22px;
		padding-right: 22px;
	}
}


