<!-- step 1 -->
<div class="col-md-12 pollselectmobileterminals" ng-controller="NewpollwizardselectmobileterminalsCtrl">
	<div class="row">
		<new-poll-wizard-progress step="1"></new-poll-wizard-progress>	
	</div>
	<div class="row">
		<advanced-search searchfunc="searchMobileTerminals" modeltype="'POLLING_MOBILE_TERMINAL'" advancedsearchvisible="true"></advanced-search>                
    </div>
    <div class="row">
			<table class="polltable col-md-12">
		  		<thead>
					<tr>
				    	 <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'vesselName'">{{'polling.poll_table_header_vessel_name' | i18n}}</th>
				    	 <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'memberno'">{{'polling.poll_table_header_vessel_member_no' | i18n}}</th>
				    	 <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'dnid'">{{'polling.poll_table_header_vessel_dnid' | i18n}}</th>
				    	 <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'transponder'">{{'polling.poll_table_header_vessel_transponder' | i18n}}</th>
				    	 <th><button class="btn btn-primary btn-sm" ng-click="selectAllVessels()">{{'polling.poll_table_button_add_all' | i18n | uppercase}}</button></th>
				    </tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="item in currentSearchResults.mobileTerminals">
			    		<td>{{item.associatedVessel.name}}</td>
			    		<td>{{item.channels[0].ids.MEMBER_ID}}</td>
			    		<td>{{item.channels[0].ids.DNID}}</td>
			    		<td>{{item.mobileTerminalId.systemType}}</td>
			    		<td>
			    			<button class="btn btn-primary btn-sm selectbutton" ng-click="selectVessel(item)">{{'polling.poll_table_button_add_selected' | i18n | uppercase}}</button>
			    		</td>
			    	</tr>
			    </tbody>
	    	</table>
	    	<!--<p>Visar {{currentSearchResults.totalNumberOfPage}} of {{currentSearchResults.totalNumberOfPage}}</p>-->
    	</div>
</div>

