<div ng-controller="MapCtrl" class="mapPanelContainer" ngsf-fullscreen="fullscreenCtrl">
	<div class="map-container">
		<div ng-include="'partial/spatial/liveViewPanel/mapPanel/layerPanel/layerPanel.html'"></div>
		<div id="map-toolbar">
			<div class="btn-group-left">
				<div class="btn-group btn-group-xs" role="group" aria-label="Map controls">
				<button type="button" class="btn btn-default btn-toolbar" title="{{'spatial.map_tip_refresh_report' | i18n }}" ng-click="refreshReport()"><span class="fa fa-refresh"></span></button>
					<button type="button" class="btn btn-default btn-toolbar" title="{{'spatial.map_tip_clear_map' | i18n }}" ng-click="clearMapHighlights()"><span class="fa fa-eraser"></span></button>
				</div>
				<div class="btn-group btn-group-xs" role="group" aria-label="Map controls">
					<button type="button" ng-class="{active: activeControl === 'measure'}" class="btn btn-default btn-toolbar" title="{{'spatial.map_tip_measure_distance' | i18n }}" ng-click="toggleToolbarBtn('measure')" ng-show="tbControl.measure"><span class="fa fa-arrows-h"></span></button>
					<button type="button" id="export-map" ng-class="{active: activeControl === 'print'}" class="btn btn-default btn-toolbar" title="{{'spatial.map_tip_print' | i18n }}" ng-click="toggleToolbarBtn('print')" ng-show="tbControl.print"><span class="fa fa-print"></span></button>
					<!-- <button type="button" ng-class="{active: activeControl === 'other'}" class="btn btn-default btn-toolbar" title="{{'spatial.map_tip_measure_distance' | i18n }}" ng-click="toggleToolbarBtn('other')">Another Control</button> -->
				</div>
			</div>
			<div class="btn-group-right">
				<div class="btn-group btn-group-xs" role="group" aria-label="Map controls">
					<button type="button" class="btn btn-default btn-toolbar btn-fullscreen" title="{{'spatial.map_tip_fullscreen' | i18n }}" ng-click="fullscreenCtrl.toggleFullscreen();" ng-show="tbControl.fullscreen"><span class="fa fa-arrows-alt"></span></button>
				</div>
			</div>
		</div>
		<div id="map" class="map" ng-controller="MappanelCtrl" tabIndex="0">
			<div id="measure-config" ng-show="showMeasureConfigWin">
		    	<div class="row">
		    		<div class="col-md-12">
		    			<span class="fa fa-bullseye drag-icon pull-right"></span>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="form-group col-md-12 measure-content">
		    			<label>{{'spatial.map_measuring_units_label' | i18n }}</label>
		    			<combobox ng-model="measureConfigs.units" items="measuringUnits" ng-disabled="measureConfigs.disabled"></combobox>
		    		</div>
		    		<div class="form-group col-md-12 measure-content">
		    			<label>{{'spatial.map_speed_label' | i18n }}</label>
		    			<div class="unit-input">
		    				<input class="form-control" ng-model="measureConfigs.speed" name="selectedSpeed" min="0" type="number" ng-disabled="measureConfigs.disabled">
		    				<div class="unit-box">{{'spatial.reports_form_vms_field_label_speed_unit_knots' | i18n }}</div>
		    			</div>
		    		</div>
		    		<div class="form-group col-md-12 measure-content">
		    			<label>{{'spatial.map_start_date_label' | i18n }}</label>
		    			<datepicker-input time="true" model="measureConfigs.startDate" name="selectedDate" ng-disabled="measureConfigs.disabled"></datepicker-input>
		    		</div>
		    	</div>
		    </div>
		    <div id="print-config" ng-show="showPrintConfigWin">
		    	<div class="row">
		    		<div class="col-md-12">
		    			<span class="fa fa-bullseye drag-icon pull-right"></span>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="form-group col-md-12 measure-content">
		    			<label>{{'spatial.map_export_format_label' | i18n }}</label>
		    			<combobox ng-model="print.exportFormat" items="exportFormats"></combobox>
		    		</div>
		    		<div ng-show="print.exportFormat === 'pdf'">
			    		<div class="form-group col-md-12 measure-content">
			    			<label>{{'spatial.map_export_title_label' | i18n }}</label>
			    			<input type="text" class="form-control" name="exportTitle" ng-model="print.title"/>
			    		</div>
			    		<div class="form-group col-md-12 measure-content">
			    			<label>{{'spatial.map_export_format_label' | i18n }}</label>
			    			<combobox ng-model="print.layout" items="printLayouts"></combobox>
			    		</div>
		    		</div>
		    		<div class="form-group col-md-12 measure-content">
		    			<button type="button" class="btn btn-primary" ng-click="printMap()" style="width: 100%;">
		    				<span class="fa fa-download"></span>&nbsp;
		    				{{'spatial.map_tip_print' | i18n }}
		    			</button>
		    		</div>
		    	</div>
		    </div>
		</div>
		<div id="popup" class="ol-popup">
	      <a href ng-click="closePopup()" id="popup-closer" class="ol-popup-closer"><span class="fa fa-times"></span></a>
	      <div id="popup-content"></div>
	    </div>
	    
	</div>
	<div class="container map-bottom">
		<div class="row">
			<div class="col-md-2 col-xs-5">
				<b>{{'spatial.map_label_auto_refresh_status' | i18n }} </b> {{refresh.status?'ON':'OFF'}}
			</div>
			<div class="col-md-3 col-xs-5">
				<div id="map-scale" class="scale-line"></div>
			</div>
			<div class="col-md-6 col-xs-13">
				<div id="map-coordinates"></div>
			</div>
		</div>
	</div>
</div>
