.holding-table{
    .forwardIcon, .editIcon {
        color: @primaryColor;
        cursor: pointer;

        &.closed{
            color: @successColor;
        }
    }

    .status{
        text-align: center;
    }
}