<div class="row">
    <div search-results-table search="currentSearchResults" load-next-page-function="loadNextPage" class="col-md-12 holding-table">

        <table class="searchResults colorOdd">
            <thead>
                <tr>
                    <th class="checkboxContainer"><input type="checkbox" ng-checked="isAllChecked()" ng-click="checkAll()"/></th>
                    <th></th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'openedDate'">{{'alarms.alarms_table_date_openend' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'assetId.vessel.name'">{{'alarms.alarms_table_object_affected' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'ruleName'">{{'alarms.alarms_table_rule' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'sender'">{{'alarms.alarms_table_sender' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'resolvedDate'">{{'alarms.alarms_table_date_resolved' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'resolvedBy'">{{'alarms.alarms_table_resolved_by' | i18n}}</th>
                    <th class="actions" show-if-allowed="Rules:manageAlarmsHoldingTable"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in currentSearchResults.items | orderBy:currentSearchResults.sortBy:currentSearchResults.sortReverse | filter:filterOnStatus">
                    <td class="checkboxContainer"><input type="checkbox" ng-checked="isChecked(item)" ng-click="checkItem(item)" /></td>
                    <td class="status">
                        <span class="label" ng-class="{CLOSED:'label-success', OPEN:'label-danger'}[item.status]">
                            {{item.status}}
                        </span>
                    </td>
                    <td>{{item.openedDate}}</td>
                    <td>
                        <span class="link" ng-show="item.vessel">{{item.vessel.name}}</span>
                        <span ng-show="!item.vessel && item.assetId">{{item.assetId.type}}: {{item.assetId.value}}</span>
                    </td>
                    <td>{{item.ruleName}}</td>
                    <td>{{item.sender}}</td>
                    <td>{{item.resolvedDate | date:"medium"}}</td>
                    <td class="link">{{item.resolvedBy}}</td>
                    <td class="textAlignCenter" show-if-allowed="Rules:manageAlarmsHoldingTable">
                        <button ng-if="item.isOpen()" type="button" class="btn btn-sm btn-primary" ng-click="resolveItem(item)" title="{{'alarms.alarms_table_resolve_title' | i18n}}">{{'alarms.alarms_table_resolve' | i18n | uppercase}}</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
