<div class="row">
    <div search-results-table search="currentSearchResults" class="col-md-12 holding-table">

        <table class="searchResults colorOdd">
            <thead>
                <tr>
                    <th class="checkboxContainer"><input type="checkbox" ng-checked="isAllChecked()" ng-click="checkAll()"/></th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'openDate'">{{'alarms.alarms_table_date_openend' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'vessel.name'">{{'alarms.alarms_table_object_affected' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'alarmItems[0].ruleName'">{{'alarms.alarms_table_rule' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'sender'">{{'alarms.alarms_table_sender' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'getResolvedDate()'">{{'alarms.alarms_table_date_resolved' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'getResolvedBy()'">{{'alarms.alarms_table_resolved_by' | i18n}}</th>
                    <th></th>
                    <th class="actions" show-if-allowed="Rules:manageAlarmsHoldingTable"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in currentSearchResults.items | orderBy:currentSearchResults.sortBy:currentSearchResults.sortReverse | filter:filterOnStatus">
                    <td class="checkboxContainer"><input type="checkbox" ng-checked="isChecked(item)" ng-click="checkItem(item)" /></td>
                    <td>{{item.openDate | confDateFormat}}</td>
                    <td>
                        <a ng-show="item.vessel" href="#/assets/{{item.vessel.getGuid()}}" title="{{'common.view_details' | i18n}}">{{item.vessel.name}}</a>
                        <span ng-show="!item.vessel">{{'alarms.alarms_affected_object_unknown' | i18n}}</span>
                    </td>
                    <td>
                        <span ng-show="item.alarmItems.length === 1" tooltip-placement="bottom" tooltip="{{getRuleNamesTooltip(item)}}">{{item.alarmItems[0].ruleName}}</span>
                        <span ng-show="item.alarmItems.length > 1 "tooltip-placement="bottom" tooltip="{{getRuleNamesTooltip(item)}}">{{'alarms.alarms_table_number_of_rules' | i18n:item.alarmItems.length}}</span>
                    </td>
                    <td>{{item.sender}}</td>
                    <td>{{item.getResolvedDate() | confDateFormat}}</td>
                    <td>{{item.getResolvedBy()}}</td>
                    <td class="status">
                        <span class="label" ng-class="{CLOSED:'label-success', OPEN:'label-danger', REJECTED:'label-warning'}[item.status]">
                            {{item.status}}
                        </span>
                    </td>
                    <td class="textAlignCenter">
                        <button show-if-allowed="Rules:manageAlarmsHoldingTable" ng-if="item.isOpen()" type="button" class="btn btn-sm btn-primary" ng-click="resolveItem(item)" title="{{'alarms.alarms_table_resolve_title' | i18n}}"><i class="fa fa-pencil"></i></button>
                        <button ng-if="!item.isOpen()" type="button" class="btn btn-sm btn-primary" ng-click="viewItemDetails(item)" title="{{'common.view_details' | i18n}}">
                            <i class="fa fa-eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
