.runningProgramPollsContainer{
    padding-bottom: 10px;

    .searchResultsContainer.hasError{
        min-height: 0px;
    }

    .tableContainer{
        max-height: 161px; //3 items visible
        overflow-y: auto;
        .scrollbar();
    }

    h5{
        text-transform: uppercase;
        font-weight: bold;
    }

    //Start, stop, delete
    .actionIcon{
        @cellWidth:45px;
        @iconSize:25px;
        @startColor:#35A948;
        @stopAndDeleteColor:#E21E27;
        @inactiveColor:#9B9B9B;

        width: @cellWidth;
        text-align: center;

        &.inactive{
            .start, .stop, .delete{
                background:@inactiveColor !important;
                cursor: default !important;
            }
        }

        .iconWrapper(){
            cursor: pointer;
            border-radius: 50px;
            width:@iconSize;
            height:@iconSize;
            line-height:@iconSize;
            margin: auto;
            text-align: center;
            font-size: 10px;
        }

        .noAccess{
            cursor: default !important;
        }

        .start{
            .iconWrapper();
            background: @startColor;
            color:#fff;
            i{
                position: relative;
                left: 1px;
            }
        }
        .stop{
            .iconWrapper();
            background: @stopAndDeleteColor;
            color:#fff;
        }
        .delete{
            .iconWrapper();
            color: @stopAndDeleteColor;
            font-size: 20px;
        }
    }

}