<div class="col-md-12 catch-details-container">
    <div class="row">
        <fieldset class="col-md-12 fieldsetStyle catch-section">
            <legend class="fieldsetLegendStyle">
                <span class="legend-title">
                    {{title}}
                </span>
            </legend>
            <div class="row catch-details-body">
                <div class="col-md-12 col-lg-12">
                    <div class="col-sm-8 col-md-8 col-xs-12 catch-details-item summary-details-pie">
                        <div class="{{ngModel.graphClass}} summary-pie-section" ng-repeat="item in ngModel.tripCatchSummary track by $index" ng-if="item.onBoard.length || item.transhipment.length ||item.landing.length">
                            <fieldset class="summary-section catch-details-item-fieldsetStyle chart-section">
                                    <legend class="fieldsetLegendStyle summary-pie-section-title">
                                        <span class="onboard-section-title" ng-if="item.onBoard.length">{{'activity.catch_panel_onboard' | i18n}}</span>
                                        <span class="transhipment-section-title" ng-if="item.transhipment.length">{{'activity.catch_panel_transhipment' | i18n}}</span>
                                        <span class="landed-section-title" ng-if="item.landing.length">{{'activity.catch_panel_landing' | i18n}}</span>
                                    </legend>
                                    <div class="pie-container" ng-if="item.onBoard | hasData">
                                        <nvd3 options="options" data="item.onBoard"></nvd3>
                                        <div class="text-center onboard-total">{{'activity.catch_panel_weight' | i18n}}: {{formatWeight(item.grandOnboardTotal)}} {{unit}}</div>
                                    </div>
                                    <div class="pie-container" ng-if="item.transhipment | hasData">
                                        <nvd3 options="options" data="item.transhipment"></nvd3>
                                        <div class="text-center transhipment-total">{{'activity.catch_panel_weight' | i18n}}: {{formatWeight(item.grandTranshipmentTotal)}} {{unit}}</div>
                                    </div>
                                    <div class="pie-container" ng-if="item.landing | hasData">
                                        <nvd3 options="options" data="item.landing"></nvd3>
                                        <div class="text-center landing-total">{{'activity.catch_panel_weight' | i18n}}: {{formatWeight(item.grandLandingTotal)}} {{unit}}</div>
                                    </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 catch-details-item summary-catch-table"  ng-if="ngModel.tripCatchSummary[0].onBoard.length || ngModel.tripCatchSummary[1].landing.length || ngModel.tripCatchSummary[2].transhipment.length">
                        <catch-panel-table data='ngModel.tripTableData' species-colors="ngModel.tripSpeciesColorsObject" headers='ngModel.tripTableHeaders'></catch-panel-table>
                    </div>
                </div>
            </div>
            <div class="row no-data" ng-if="!ngModel.tripCatchSummary[0].onBoard.length && !ngModel.tripCatchSummary[1].landing.length && !ngModel.tripCatchSummary[2].transhipment.length">
                <div class="col-md-12">
                    <span>{{'activity.no_data' | i18n}}</span>
                </div>
            </div>
        </fieldset>
    </div>
</div>
