.savedvesselgroupdropdown{
	/*ul li{
		padidng:3px 0px;
	}
	ul li:hover{
		background-color: #eeeeee;
	}*/
	
	.selectablegroup{
		font-weight: normal;
		line-height: 1.42857143;
		color: #333333;
	}

	.fa{
		color: @errorColor;
		padding-top: 2px;
		font-size: 17px;
		float: right;
		left: 10px;
		position: relative;
	}	

}


