<div ng-controller="savedSearchesButtonCtrl" class="savedsearchdropdownmenu">
    <div class="btn-group">
        <button class="btn btn-lg btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{dropdowntitle}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">Groups</li>
            <li role="presentation" ng-repeat="item in groups">
                <a role="menuitem" ng-click="selectedgroup(item)">{{item.name}}</a>
            </li>
            <li role="presentation" class="dropdown-header">Saved searches</li>
            <li role="presentation" ng-repeat="item in predefinedgroups">
                <a role="menuitem" ng-click="selectedgroup(item)">{{item.name}}</a>
            </li>

        </ul>
    </div>

</div>

<!-- id="savedsearchdropdownmenu" -->
