<!--
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div ng-controller="MdrCtrl" class="mdr-admin-tab">
    <loading-panel class="mdr-tab-loading" type="MdrSettings"></loading-panel>

    <!--MDR configuration sheduler-->
    <ng-form name="mdrConfigurationForm" ng-show="isAllowed('CONFIGURE_MDR_SCHEDULER')">
        <fieldset class="fieldsetStyle col-md-12" >
            <legend class="fieldsetLegendStyle">
                <a data-toggle="collapse" >{{'activity.scheduler_fieldset_label' | i18n }}</a>
            </legend>

            <div class="row">
                <div class="form-group col-md-12">
                    <cron-selection ng-model="configModel.cronJobExpression" config="cronWidgetConfig" ng-if="configModel.cronJobExpression" ></cron-selection>
                    <span ng-show="mdrConfigurationForm.configModel.cronJobExpression.$invalid">{{'activity.required_error_message' | i18n }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group btn-container cron-job-exp">
                    <span class="cronLabel">{{"activity.cron_expression_label" | i18n }}</span>
                    <span>{{configModel.cronJobExpression}}</span>
                    &nbsp;
                    <button class="btn btn-primary button btn-action" type="button" ng-click="mdrConfigurationForm.$pristine || saveCron()">{{"activity.cron_save_btn" | i18n }}</button>
                </div>
            </div>

        </fieldset>
    </ng-form>

    <fieldset class="fieldsetStyle col-md-12 code-list-status-container" ng-show="isAllowed('CONFIGURE_MDR_SCHEDULER')">
        <legend class="fieldsetLegendStyle">
            <a data-toggle="collapse" >{{'activity.webservice_config_fieldset_label' | i18n }}</a>
        </legend>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="wsdlLocation">Wsdl location:</label>
                <input type="text" id="wsdlLocation" name="wsdlLocation" ng-model="webserviceConfig.wsdlLocation">
            </div>
            <div class="col-md-3">
                <label for="webserviceName">Web service name:</label>
                <input type="text" id="webserviceName" name="webserviceName" ng-model="webserviceConfig.webserviceName">
            </div>
            <div class="col-md-3">
                <label for="portName">Port name:</label>
                <input type="text" id="portName" name="portName" ng-model="webserviceConfig.portName">
            </div>
            <div class="col-md-3">
                <label for="webserviceNamespace">Web service namespace:</label>
                <input type="text" id="webserviceNamespace" name="webserviceNamespace" ng-model="webserviceConfig.webserviceNamespace">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group btn-container">
                <button class="btn btn-primary button btn-action" type="button" ng-click="saveWebserviceConfig()">{{"activity.cron_save_btn" | i18n }}</button>
            </div>
        </div>
    </fieldset>

    <!--SMART TABLE containing all the MDR code lists-->
    <fieldset class="fieldsetStyle col-md-12 code-list-status-container" ng-show="isAllowed('LIST_MDR_CODE_LISTS')">
        <legend class="fieldsetLegendStyle">
            <a data-toggle="collapse" >{{'activity.code_lists_fieldset_label' | i18n }}</a>
        </legend>

        <div st-table="displayedMDRLists" st-safe-src="mdrCodeLists" st-set-filter="stMDRCodeLists">
            <div class="form-group row" ng-show="isAllowed('UPDATE_MDR_CODE_LISTS')">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-sm refresh-btn" ng-click="getAcronymsDetails()">
                        <span class="fa fa-refresh" aria-hidden="true"></span>
                    </button>
                    <div class="col-md-12 search-container">
                        <input st-search="" class="form-control" placeholder="{{'common.search' | i18n}}" type="text"/>
                    </div>
                </div>
                <div class="col-md-8 btn-container">
                    <button type="button" class="btn btn-default btn-sm" ng-click="updateNow()" ng-disabled="isUpdateNowDisabled">
                        <span class="fa fa-refresh"></span>
                        &nbsp;
                        <span>{{'activity.synch_selected_btn' | i18n }}</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="updateAllNow()">
                        <span class="fa fa-refresh"></span>
                        &nbsp;
                        <span>{{'activity.synch_all_btn' | i18n }}</span>
                    </button>
                </div>
            </div>

            <div class="table-responsive-force">
                <div id="codeListsTable" class="table table-striped tableSmart areas-table table-condensed">
                    <div class="thead col-md-12">
                        <div class="tr row">
                            <div class="th col-md-1 ckeckbox-column" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">
                                <input type="checkbox" ng-model="selectedAll" ng-change="selectDeselectAll()">
                            </div>
                            <div class="th" ng-class="{'col-md-2': numValidityColumns===2 , 'col-md-2': numValidityColumns!==2}" st-sort="objectAcronym" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'activity.code_list_table_acronym_header' | i18n}}</div>
                            <div class="th" ng-class="{'col-md-1': numValidityColumns===2, 'col-md-2': numValidityColumns<2}" st-sort="objectName" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'activity.code_list_table_name_header' | i18n}}</div>
                            <div class="th" ng-class="{'col-md-1': numValidityColumns===2, 'col-md-2': numValidityColumns<2}" st-sort="objectDescription" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'activity.code_list_table_desc_header' | i18n}}</div>

                            <div ng-if="hasStartValidity" class="th col-md-1" st-sort="startDate" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'activity.startDate' | i18n}}</div>
                            <div ng-if="hasEndValidity" class="th col-md-1" st-sort="endDate" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'activity.endDate' | i18n}}</div>

                            <div class="th col-md-1" st-sort="lastSuccess" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'activity.code_list_table_last_success_header' | i18n}}</div>
                            <div class="th col-md-1" st-sort="lastAttempt" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'activity.code_list_table_last_attempt_header' | i18n}}</div>
                            <div class="th col-md-1" st-sort="lastStatus" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'activity.code_list_table_last_attempt_status_header' | i18n}}</div>
                            <div class="th col-md-1" st-sort="schedulable" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'activity.code_list_table_is_scheduler_enabled_header' | i18n}}</div>
                            <div class="th col-md-1"></div>
                        </div>
                        <div class="tr row" ng-show="!tableLoading && !displayedMDRLists.length">
                            <div class="th col-md-12"><table-alert type="'info'" msg="'common.no_data_available'" visible="!displayedMDRLists.length && !tableLoading"></table-alert></div>
                        </div>
                        <div class="tr row" ng-if="tableLoading && !alert.isLoading">
                            <div class="th col-md-12 loading-spinner-cl"><i class="fa fa-spinner fa-spin loading-spinner"></i></div>
                        </div>
                    </div>
                    <div class="tbody col-md-12">
                        <div ng-repeat="codeList in displayedMDRLists" class="tr row" ng-show="!tableLoading">
                            <div class="td col-md-1" st-skip-natural="true">
                                <input type="checkbox" value="{{codeList.id}}" ng-model="codeList.isSelected" ng-change="enableDisableSynchButton()">
                            </div>
                            <div class="td" ng-class="{'col-md-2': numValidityColumns===2 , 'col-md-2': numValidityColumns!==2}" st-skip-natural="true">{{codeList.objectAcronym}}</div>
                            <div class="td" ng-class="{'col-md-1': numValidityColumns==2, 'col-md-2': numValidityColumns<2}" st-skip-natural="true">{{codeList.objectName}}</div>
                            <div class="td" ng-class="{'col-md-1': numValidityColumns===2, 'col-md-2': numValidityColumns<2}" st-skip-natural="true">{{codeList.objectDescription}}</div>

                            <div ng-if="hasStartValidity" class="td col-md-1" st-skip-natural="true">{{codeList.startDate | stActivityDateUtc}}</div>
                            <div ng-if="hasEndValidity" class="td col-md-1" st-skip-natural="true">{{codeList.endDate | stActivityDateUtc}}</div>

                            <div class="td col-md-1" st-skip-natural="true">{{codeList.lastSuccess | stActivityDateUtc}}</div>
                            <div class="td col-md-1" st-skip-natural="true">{{codeList.lastAttempt | stActivityDateUtc}}</div>
                            <div class="td col-md-1" st-skip-natural="true">{{codeList.lastStatus}}</div>
                            <div class="td col-md-1 col-btn col-auto-update">
                                <button ng-show="isAllowed('CODE_LISTS_ENABLE_DISABLE_SCHEDULED_UPDATE')" type="button" class="btn btn-{{ codeList.schedulable ? 'success' : 'danger' }}" title="{{'activity.enable_disable_autoupdate' | i18n }}" ng-click="enableDisableAutoUpdate($index)">
                                    <span>{{ 'activity.enable_disable_autoupdate_' + codeList.schedulable | i18n}}</span>
                                </button>
                            </div>
                            <div class="td col-md-1 col-btn">
                                <button type="button" class="btn btn-default btn-xs" title="{{codeList.objectAcronym}}" ng-click="openCodeListModal(codeList.objectAcronym)"><span class="fa fa-eye"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tfoot col-md-12 stFooterPagination" ng-if="displayedMDRLists.length && !tableLoading">
                <div class="tr row">
                    <div class="td col-md-12 text-right">
                        <div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="7" st-template="partial/common/reportsPagination/reportsPagination.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

</div>

