.wizardContainer{
    position: relative;

    .wizardStepHeight(@mediaQueryMinHeight) {
        @media screen and (min-height: @mediaQueryMinHeight){
            @maxHeight:@mediaQueryMinHeight - 200px;
            min-height: @maxHeight;
            height: @maxHeight;
            max-height: @maxHeight;
        }
    }

    .newPollWizardStep{
        position: relative;
        margin-top: 0px;
        @maxHeight:395px;
        height: @maxHeight;
        max-height: @maxHeight;
        .wizardStepHeight(595px);
        .wizardStepHeight(695px);
        .wizardStepHeight(795px);
        .wizardStepHeight(895px);
        .wizardStepHeight(995px);
        .wizardStepHeight(1095px);
        overflow-y: auto;
        overflow-x: hidden;
        .scrollbar();
    }

    @footerHeight:40px;
    .wizardFooter{
        position: absolute;
        bottom: 10px;
        height: @footerHeight;
        width: 100%;
        background: #fff;

        button{
            margin-left: 10px;
        }
        margin-top: 20px;
    }


    .wizardcontent{
        padding: 10px;
    }

    //Step 1 results scroller
    .searchMobileTerminalsStep{

        .wizardcontentHeight(@mediaQueryMinHeight) {
            @media screen and (min-height: @mediaQueryMinHeight){
                @maxHeight:@mediaQueryMinHeight - 475px;
                max-height: @maxHeight;
            }
        }
        .wizardcontent{
            .scroller{
                position: relative;
                max-height: 120px;
                .wizardcontentHeight(595px);
                .wizardcontentHeight(695px);
                .wizardcontentHeight(795px);
                .wizardcontentHeight(895px);
                .wizardcontentHeight(995px);
                .wizardcontentHeight(1095px);
                overflow-y: auto;
                overflow-x: hidden;
                .scrollbar();
            }
        }
    }

}

//No max height on polling options page
.pollingOptionsContainer{
    &.newPollWizardStep{
        height: auto;
        max-height: none;
    }
}

//Selected assets container
.newPollWizardSelectionContainer{
    overflow-y: auto;
    .scroller{
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        .scrollbar();
    }
}