.newPollWizardStep{
    .grayBorder;
    min-height: 500px;
    padding: 30px;
}

.wizardFooter{
    margin-top: 20px;
    button{
        margin-left: 10px;
    }
}

.wizardContainer{
    margin: 0 -20px;
}