<div ng-controller="NewpollwizardCtrl">

    <div ng-include="'partial/polling/newPollWizard/selectMobileTerminals/newPollWizardSelectMobileTerminals.html'" ng-show="true"></div>

    <div ng-include="'partial/polling/newPollWizard/pollingOptions/newPollWizardPollingOptions.html'" ng-show="true"></div>

    <div ng-include="'partial/polling/newPollWizard/results/newPollWizardResults.html'" ng-show="true"></div>

    <div ng-include="'partial/polling/newPollWizard/selection/newPollWizardSelection.html'" ng-show="true"></div>        
</div>
