.searchMobileTerminalsStep{
	
}

.newPollWizardStep{
	height: 795px;
	max-height: 795px;
    .grayBorder;
    padding: 30px;
}

.wizardFooter{
    margin-top: 20px;
	
	button{
        margin-left: 10px;
    }
}

.wizardContainer{
    margin: 20px -40px 0;
}

.wizardcontent{
	height: 680px;
	max-height: 680px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;    
    .scrollbar();
}