<div>
    <div static-include="partial/polling/pollingPageHeader/pollingPageHeader.html"></div>

    <!-- Content -->
    <div class="container containerWithTopBottomPadding">
        <div class="wizardContainer row">
            <div class="col-md-8" ng-include="'partial/polling/newPollWizard/selectMobileTerminals/newPollWizardSelectMobileTerminals.html'" ng-show="wizardStep === 1"></div>
            <div class="col-md-8" ng-include="'partial/polling/newPollWizard/pollingOptions/newPollWizardPollingOptions.html'" ng-show="wizardStep === 2"></div>
            <div class="col-md-4 nopaddingleft" ng-include="'partial/polling/newPollWizard/selection/newPollWizardSelection.html'" ng-show="wizardStep < 3"></div>
        </div>
    </div>

</div>
