.catch-class-specie-detail-tile {
    .catch-details-btn {
        position: absolute;
        top: 0;
        right: 16px;
        font-size: 16px;
    }
    .table {
        td,
        .td {
            cursor: default;
        }
        .selected-row td {
            background-color: rgba(8, 159, 215, 0.46) !important;
        }
    }
    .global-container {
        display: flex;
    }
}