<div class="modal-header" style="text-align:left">
    <div class="pointer pull-right" ng-click="cancel()">
    	<i class="fa fa-times"></i>
   	</div>
    <h4 class="modal-title">{{ labels.title }}</h4>
</div>
<div class="modal-body">
	<textarea class="form-control" autofocus placeholder="{{ labels.placeholder }}" ng-model="comment"></textarea>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{ labels.cancel }}</button>
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="comment.length === 0">{{ labels.save }}</button>
</div>
