.searchFormContainer{
    @inputHeight:45px;
    @searchButtonWidth:100px;
    margin-top: 10px;
    margin-bottom: 20px;

    .searchButton{
        width: @searchButtonWidth;
    }

    .searchTools{        

        input{
            height: @inputHeight;
            font-size: 20px;
            .italic();
            .grayInput();
        }

        .dropdown {
            .btn{
                height: @inputHeight !important;
            }
        }
    }    
}
