.searchFormContainer{
    @inputHeight:45px;
    @searchButtonWidth:100px;
    margin-top: 10px;
    margin-bottom: 20px;

    .searchButton{
        width: @searchButtonWidth;
    }
   

    input{
        height: @inputHeight;
        font-size: 20px;
        .italic();
    }

    .dropdown.simpleSearch {
        .btn{
            height: @inputHeight !important;
        }
    }
}
