/*
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
 */
.manualPositionReportModal, .positionReportModal{
    .modal-body{
        .row {
            margin-bottom: 15px;
            margin-top: 15px;
        }

        .unit-input.unit-input-speed {
            padding-right: 40px;

            .unit-box {
                width: 40px;
            }
        }
    }
    .modal-footer{
        .buttons {

            .buttonGroups {
                display: inline-table;
                width: 100%;

                .buttonGroup {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;

                    .button {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    button{
                        text-transform: uppercase;
                    }
                }
                .button-group-right {
                    text-align: right;
                }
            }
        }
    }

    div.loadingIndicator{
        .spinnerOverlay{
            z-index: 1002;
        }
        .spinner{
            z-index: 1003;
        }
    }

    ul.dropdown-menu {
        z-index: 1001;
    }
}