.table-pagination {
    margin-bottom: 0px;
    li.currentPage {
        > span{
            padding: 1px 10px;
            input {
                width: 50px;
            }
        }
    }
}