<!--
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<!-- <div>Showing {{currentPage}} to {{pages.length}} of {{displayedReports.length}} entries</div> -->
<div class="text-right">
	<ul class="pagination table-pagination" ng-controller="ReportspaginationCtrl">
	    <li ng-class="{disabled: currentPage===1}">
	        <a ng-click="currentPage===1 || onInputPageChange(1);" class="previous" title="{{'common.search_results_pagination_first_page_title' | i18n}}">&#60;&#60;</a>
	    </li>
	    <li ng-class="{disabled: currentPage===1}">
	        <a ng-click="currentPage===1 || onInputPageChange(inputPage - 1);" class="previous" title="{{'common.search_results_pagination_prev_page_title' | i18n}}">&#60;</a>
	    </li>
	    <li class="currentPage disabled">
	        <span>{{'common.search_results_pagination_page' | i18n}}
	            <input type="number" ng-model="inputPage" ng-change="onInputPageChange()" ng-disabled="numPages===1">
	            {{'common.search_results_pagination_total' | i18n:[numPages]}}
	        </span>
	    </li>
	    <!--<li ng-repeat="page in pages" ng-class="{active: page===currentPage}" ng-if="numPages > 0">
	        <a ng-click="selectPage(page)" class="ng-binding">{{ page }}</a>
	    </li>-->
	    <li ng-class="{disabled: currentPage===numPages}">
	        <a ng-click="currentPage===numPages || onInputPageChange(inputPage + 1);" class="next" title="{{'common.search_results_pagination_next_page_title' | i18n}}">&#62;</a>
	    </li>
	    <li ng-class="{disabled: currentPage===numPages}">
	        <a ng-click="currentPage===numPages || onInputPageChange(numPages);" class="next" title="{{'common.search_results_pagination_last_page_title' | i18n}}">&#62;&#62;</a>
	    </li>
	</ul>
</div>
