.table-pagination {
    margin-bottom: 0px;
    li.currentPage {
        > span{
            padding: 1px 10px;
            input {
                width: 50px;
                &[disabled] {
                    &:focus,
                    &:hover {
                        border: 1px solid #c2c9cc;
                    }
                }
            }
        }
    }
}