<!-- <div>Showing {{currentPage}} to {{pages.length}} of {{displayedReports.length}} entries</div> -->
<ul class="pagination table-pagination" ng-controller="ReportspaginationCtrl">
    <li ng-class="{disabled: currentPage==1}">
        <a ng-click="inputPage = 1;onInputPageChange();" class="previous" title="{{'common.search_results_pagination_first_page_title' | i18n}}">&#60;&#60;</a>
    </li>
    <li ng-class="{disabled: currentPage==1}">
        <a ng-click="inputPage = inputPage - 1;onInputPageChange();" class="previous" title="{{'common.search_results_pagination_prev_page_title' | i18n}}">&#60;</a>
    </li>
    <li class="currentPage disabled">
        <span>{{'common.search_results_pagination_page' | i18n}}
            <input type="number" ng-model="inputPage" ng-change="onInputPageChange()">
            {{'common.search_results_pagination_total' | i18n:[numPages]}}
        </span>
    </li>
    <!--<li ng-repeat="page in pages" ng-class="{active: page==currentPage}" ng-if="numPages > 0">
        <a ng-click="selectPage(page)" class="ng-binding">{{ page }}</a>
    </li>-->
    <li ng-class="{disabled: currentPage==numPages}">
        <a ng-click="inputPage = inputPage + 1;onInputPageChange();" class="next" title="{{'common.search_results_pagination_next_page_title' | i18n}}">&#62;</a>
    </li>
    <li ng-class="{disabled: currentPage==numPages}">
        <a ng-click="inputPage = numPages;onInputPageChange();" class="next" title="{{'common.search_results_pagination_last_page_title' | i18n}}">&#62;&#62;</a>
    </li>
</ul>