.ruleFormContainer{

    .card{
        margin-bottom: 20px;
    }

    .nameTypeContainer{
        margin-top: 30px;
        margin-bottom: 10px;
        padding-bottom: 30px;
        .grayBorderBottom;
    }

    textarea.description{
        height: 95px;
        resize:none;
    }

    .timeInterval{
        .toText{
            position: relative;
            top:4px;
            text-transform: lowercase;
        }
    }

    //Definitions
    .definitionsContainer{
        table{
            td{
                padding:0px 5px;
                text-align: left;

                .form-group{
                    margin:0px;
                }

                &.endOperator{
                    .dropdown{
                        min-width: 100px;
                        margin-right: 5px;
                    }
                }

                &.remove{
                    cursor:default;
                    text-align: right;
                    i{
                        cursor: pointer;
                    }
                }
            }

        }

    }
    //THEN
    .thenHeader{
        margin-top: 20px;
    }
    .actionsTable{
        .action, .value{
            width: 25%;
        }
    }

    .ruleAsTextContainer{
        margin-top: 10px;
        .ruleAsText{
            .grayBorder;
            padding: 10px;
        }
    }

    .ruleTestContainer{
        margin-top: 10px;
        .outdated{
            opacity: 0.5;
        }
        .ruleTestMessage{
            .success{
                color: @brand-success;
            }
            .error{
                color: @brand-danger;
            }
        }
        .testProblemsContainer{
            ul{
                li{
                    cursor:default;
                }
            }
        }
    }

    .addMoreLink{
        .link;
        margin-bottom: 10px;
    }



}