<div class="ruleFormContainer" ng-controller="RulesformCtrl">

    <div class="row" ng-hide="isCreateNewMode()">
        <div class="col-md-7 valign">
            <h3>{{'alarms.rules_view_header' | i18n}}</h3>
        </div><!-- DO NOT REMOVE this comment!
         --><div class="col-md-4 textAlignRight valign">
            <div class="floatRight">
                <button  type="submit" class="btn btn-primary" ng-click="updateRule()">{{'common.update' | i18n}}</button>
            </div>           
        </div><!-- DO NOT REMOVE this comment!
         --><div class="col-md-1 textAlignRight valign">
            <i class="fa fa-sign-out signouticon" ng-click="toggleRuleDetails()" style="bottom: 0; left: 0;" title="{{'common.close' | i18n}}"></i>
        </div>
    </div>
    <div class="row" ng-show="isCreateNewMode()">
        <div class="col-md-9"><h3>{{'alarms.rules_add_new_header' | i18n}}</h3></div>
        <div class="col-md-2 textAlignRight">
            <button  type="submit" class="btn btn-primary" ng-click="createNewRule()" ng-disabled="waitingForCreateResponse">{{'common.create' | i18n}}</button>
        </div>
        <div class="col-md-1 textAlignRight"> 
            <i class="fa fa-sign-out signouticon" ng-click="toggleAddNewRule()" title="{{'common.close' | i18n}}"></i>
        </div>
    </div>  

    <div class="card" loading-indicator="waitingForCreateResponse">
        <div class="row">
            <div class="col-md-12 basicInformation">
                <div ng-show="isCreateNewMode()">
                    <b>{{'alarms.rules_add_new_header' | i18n | uppercase}}</b>
                </div>
                <div ng-hide="isCreateNewMode()">
                    <b>{{'alarms.rules_view_header' | i18n | uppercase}}</b>
                </div>
            </div>
        </div>

        <form name="ruleForm" method="post" novalidate>
            <div class="row nameTypeContainer">

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>{{'alarms.rules_form_name_label' | i18n}}</label>
                                <input type="text" name="name" class="form-control" ng-model="currentRule.name" required placeholder="{{'alarms.rules_form_name_placeholder' | i18n}}"/>
                            </div>                    
                        </div> 
                       <div class="col-md-4">
                            <div class="form-group">
                                <label>{{'alarms.rules_form_type_label' | i18n}}</label>
                                <dropdown ng-model="currentRule.type" no-placeholder-item items="ruleTypes" callback="updateAvailabilityDropdown"></dropdown>
                            </div>                    
                        </div>                  
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>{{'alarms.rules_form_description_label' | i18n}}</label>
                                <textarea name="description" class="form-control description" ng-model="currentRule.description" placeholder="{{'alarms.rules_form_description_placeholder' | i18n}}"></textarea>
                            </div>                    
                        </div> 
                       <div class="col-md-4">
                            <div class="form-group">
                                <label>{{'alarms.rules_form_availability_label' | i18n}}</label>
                                <dropdown ng-model="currentRule.availability" no-placeholder-item items="availabilityTypes" ng-disabled="disableAvailability"></dropdown>
                            </div>
                            <div class="form-group">
                                <label>{{'alarms.rules_form_status_label' | i18n}}</label>
                                <dropdown ng-model="currentRule.active" no-placeholder-item items="activeStatuses"></dropdown>
                            </div>                                                   
                        </div>                  
                    </div>                    
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <label>{{'alarms.rules_time_interval_header' | i18n}}</label>
                    <div class="timeInterval" ng-repeat="timeInterval in currentRule.timeIntervals">
                        <div class="row" ng-form="intervalForm">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <datepicker-input name="start" model="timeInterval.start"></datepicker-input>
                                </div>           
                            </div>
                            <div class="col-md-1 toText">
                                {{'common.date_to' | i18n}}
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <datepicker-input name="end" model="timeInterval.end"></datepicker-input>
                                </div>
                            </div>
                            <div class="col-md-1 remove">
                                <i class="fa fa-lg fa-times" title="{{'common.remove' | i18n}}" ng-click="removeTimeIntervalItem(timeInterval)"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="addMoreLink" ng-click="addTimeIntervalItem()">
                                <span ng-show="currentRule.getNumberOfTimeIntervals() === 0">{{'alarms.rules_form_time_interval_add' | i18n}}</span>
                                <span ng-show="currentRule.getNumberOfTimeIntervals() > 0">{{'alarms.rules_form_time_interval_add_another' | i18n}}</span>
                            </div
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>{{'alarms.rules_form_notifications_label' | i18n}}</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="currentRule.availableNotifications.OPEN_TICKET"> Open ticket
                            <br>
                            <input type="checkbox" ng-model="currentRule.availableNotifications.NOTIFICATION"> Notification
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="currentRule.availableNotifications.EMAIL"> E-mail
                        </div>                        
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <label>{{'alarms.rules_form_definition_label' | i18n}}</label>
                </div>

                <div class="col-md-12">
                    <label>{{'alarms.rules_form_definition_if_label' | i18n}}</label>
                </div>
                <div class="col-md-12 definitionsContainer">                            
                    <table class="searchResults colorOdd">
                        <thead>
                            <tr>
                                <th>{{'alarms.rules_form_definition_operator_label' | i18n}}</th>
                                <th>{{'alarms.rules_form_definition_criteria_label' | i18n}}</th>
                                <th>{{'alarms.rules_form_definition_subcriteria_label' | i18n}}</th>
                                <th>{{'alarms.rules_form_definition_condition_label' | i18n}}</th>
                                <th>{{'alarms.rules_form_definition_value_label' | i18n}}</th>
                                <th>{{'alarms.rules_form_definition_operator_label' | i18n}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="item in currentRule.definitions">
                                <td class="startOperator">
                                    <dropdown ng-model="item.startOperator" initialtext="-" initialtext-selectable items="startOperators"></dropdown>
                                </td>
                                <td class="criteria">
                                    <dropdown ng-model="item.criteria" no-placeholder-item items="criterias" callback="criteriaSelected" callback-params="item"></dropdown>
                                </td>
                                <td class="subCriteria">
                                    <dropdown ng-model="item.subCriteria" no-placeholder-item items="subCriterias[item.criteria]"></dropdown>
                                </td>
                                <td class="condition">
                                    <dropdown ng-model="item.condition" no-placeholder-item items="conditionTypes"></dropdown>
                                </td>
                                <td class="value">
                                    <div class="autoSuggestionWrapper fullWidthDropdown">
                                        <input type="text" class="form-control" ng-model="item.value" name="value" autocomplete="off"
                                        typeahead="suggestion for suggestion in getAutoSuggestValues($viewValue, item)" 
                                        typeahead-loading="waitingForAutoSuggest" 
                                        typeahead-on-select="onValueSuggestionSelect($item, $label, item)" 
                                        typeahead-select-on-exact="true"
                                        typeahead-wait-ms="300">
                                        <span class="loadingIcon" ng-show="waitingForAutoSuggest"><i class="fa fa-refresh fa-spin"></i></span>
                                    </div>                                    
                                </td>
                                <td class="endOperator">
                                    <dropdown ng-model="item.endOperator" initialtext="-" initialtext-selectable items="endOperators" class="floatLeft"></dropdown>
                                    <dropdown ng-model="item.logicBoolOperator" no-placeholder-item items="logicBoolOperationTypes" class="floatLeft"></dropdown>
                                </td>
                                <td class="remove">
                                    <i class="fa fa-lg fa-times" ng-click="removeRuleDefinition(item)" ng-show="$index > 0" title="{{'alarms.rules_form_definition_remove' | i18n}}"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <div class="addMoreLink" ng-click="addDefinitionRow()">{{'alarms.rules_form_definition_add' | i18n}}</div>
                </div>



                <div class="col-md-12 thenHeader">
                    <label>{{'alarms.rules_form_definition_then_label' | i18n}}</label>
                </div>
                <div class="col-md-12 definitionsContainer">                            
                    <table class="searchResults colorOdd actionsTable">
                        <thead>
                            <tr>
                                <th class="action">{{'alarms.rules_form_definition_action_label' | i18n}}</th>
                                <th class="value">{{'alarms.rules_form_definition_value_label' | i18n}}</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in currentRule.actions">
                                <td class="action">
                                    <dropdown ng-model="item.action" no-placeholder-item items="thenActions" callback="actionSelected" callback-params="item"></dropdown>
                                </td>
                                <td class="value">
                                    <input type="text" class="form-control" ng-model="item.value" name="value" ng-disabled="item.action !== 'SEND_TO_ENDPOINT'">
                                </td>
                                <td class="endOperator">
                                    <span ng-bind="'alarms.rules_definition_and' | i18n | uppercase" ng-show="$index < currentRule.getNumberOfActions()-1"></span>
                                </td>
                                <td class="remove">
                                    <i class="fa fa-lg fa-times" ng-click="removeRuleAction(item)" ng-show="$index > 0" title="{{'alarms.rules_form_definition_remove' | i18n}}"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <div class="addMoreLink" ng-click="addActionRow()">{{'alarms.rules_form_definition_add' | i18n}}</div>
                </div>                
            </div>

            <div class="row ruleTestContainer">
                <div class="col-md-8 ruleTestMessage" ng-class="{'outdated' : ruleTest.outdated}">
                    <span ng-show="ruleTest.message" ng-class="{'success' : ruleTest.success, 'error' : !ruleTest.success}">{{ruleTest.message}}</span>
                    <div class="testProblemsContainer">
                        <ul>
                        <li ng-repeat="problem in ruleTest.problems">
                            <i class="fa fa-times"></i> {{'alarms.rules_test_error_' +problem | i18n}}
                        </li>                    
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 textAlignRight" >
                    <span class="link" ng-click="testRule()">{{'alarms.rules_form_test_rule' | i18n}}</span>
                </div>
            </div>      

            <div class="row ruleAsTextContainer">
                <div class="col-md-12">
                    <div class="ruleAsText">
                        {{ruleAsText}}
                    </div>
                </div>
            </div>    
        </form>
    </div>

    <div class="row" ng-show="isCreateNewMode()">
        <div class="col-md-12">
            <a ng-click="clearForm()">{{'common.clear_form' | i18n}}</a>
        </div>
    </div>    

</div>
