.ruleFormContainer{

    .card{
        margin-bottom: 20px;
    }
    
    .nameTypeContainer{
        margin-top: 30px;
        margin-bottom: 10px;
        padding-bottom: 30px;
        .grayBorderBottom;
    }

    //Definitions
    .definitionsContainer{
        table{
            td{
                padding:0px 5px;
                text-align: left;

                &.endOperator{
                    .dropdown{
                        min-width: 100px;
                        margin-right: 5px;
                    }
                }

                &.remove{
                    cursor:default;
                    text-align: center;
                    i{
                        cursor: pointer;
                    }
                }
            }

        }

    }

    .ruleAsTextContainer{
        margin-top: 10px;
        .ruleAsText{
            .grayBorder;
            padding: 10px;
        }
    }

    .ruleTestContainer{
        margin-top: 10px;
        .ruleTestMessage{
            .success{
                color: @brand-success;
            }
            .error{
                color: @brand-danger;
            }
            .outdated{
                opacity: 0.5;
            }        
        }
    }

    .addMoreLink{
        .link;
        margin-bottom: 10px;
    }


    
}