<div class="ruleFormContainer" ng-controller="RulesformCtrl">

    <div class="row" ng-hide="isCreateNewMode()">
        <div class="col-md-7 valign">
            <h3>{{'alarms.rules_view_header' | i18n}}</h3>
        </div><!-- DO NOT REMOVE this comment!
         --><div class="col-md-4 textAlignRight valign">
            <div class="floatRight">
                <button  type="submit" class="btn btn-primary" ng-click="updateRule()">{{'common.update' | i18n}}</button>
            </div>           
        </div><!-- DO NOT REMOVE this comment!
         --><div class="col-md-1 textAlignRight valign">
            <i class="fa fa-sign-out signouticon" ng-click="toggleRuleDetails()" style="bottom: 0; left: 0;" title="{{'common.close' | i18n}}"></i>
        </div>
    </div>
    <div class="row" ng-show="isCreateNewMode()">
        <div class="col-md-9"><h3>{{'alarms.rules_add_new_header' | i18n}}</h3></div>
        <div class="col-md-2 textAlignRight">
            <button  type="submit" class="btn btn-primary" ng-click="createNewRule()" ng-hide="transponderSystems.length == 0" ng-disabled="waitingForCreateResponse">{{'common.create' | i18n}}</button>
        </div>
        <div class="col-md-1 textAlignRight"> 
            <i class="fa fa-sign-out signouticon" ng-click="toggleAddNewRule()" title="{{'common.close' | i18n}}"></i>
        </div>
    </div>  

    <div class="card" loading-indicator="waitingForCreateResponse">
        <div class="row">
            <div class="col-md-12 basicInformation">
                <div ng-show="isCreateNewMode()">
                    <b>{{'alarms.rules_add_new_header' | i18n | uppercase}}</b>
                </div>
                <div ng-hide="isCreateNewMode()">
                    <b>{{'alarms.rules_view_header' | i18n | uppercase}}</b>
                </div>
            </div>
        </div>

        <form name="ruleForm" method="post" novalidate>
            <div class="row nameTypeContainer">

                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>{{'alarms.rules_form_name_label' | i18n}}</label>
                                <input type="text" name="name" class="form-control" ng-model="currentRule.name" required placeholder="{{'alarms.rules_form_name_placeholder' | i18n}}"/>
                                <span class="help-block" ng-show="ruleForm.name.$error.required">{{'common.validation_required' | i18n}}</span>
                            </div>                    
                        </div> 
                       <div class="col-md-4">
                            <div class="form-group">
                                <label>{{'alarms.rules_form_type_label' | i18n}}</label>
                                <dropdown ng-model="currentRule.type" initialtext="{{ 'common.choose' | i18n }}" items="ruleTypes"></dropdown>
                            </div>                    
                        </div>                  
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <label>{{'alarms.rules_form_definition_label' | i18n}}</label>
                        </div>

                        <div class="col-md-12 definitionsContainer">                            
                            <label>{{'alarms.rules_form_definition_if_label' | i18n}}</label>

                            <div class="definitionSection">
                                <label>{{'alarms.rules_form_definition_assets_label' | i18n}}</label>
                                <div class="definition" ng-repeat="definition in currentRule.getAssetDefinitions()">
                                    <div class="row" ng-form="definitionForm">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <dropdown ng-model="definition.type" initialtext="{{ 'alarms.rules_form_definition_asset_type' | i18n }}" items="assetTypes" name="type"></dropdown>
                                            </div>           
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <dropdown ng-model="definition.attribute" items="assetAttributes" no-placeholder-item name="attribute"></dropdown>
                                            </div>             
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <dropdown ng-model="definition.compareType" items="compareTypes" no-placeholder-item name="compareType"></dropdown>
                                            </div>           
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" name="text" class="form-control" ng-model="definition.text" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-1 remove" ng-show="$index > 0">
                                            <i class="fa fa-lg fa-times" title="{{'common.remove' | i18n}}" ng-click="removeRuleDefinition(definition)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="addMoreLink" ng-click="addAssetDefinition()">{{'alarms.rules_form_add_more' | i18n}}</div
                                        >
                                        <dropdown ng-model="rule.assetsOperation" items="operationTypes" no-placeholder-item></dropdown>
                                    </div>
                                </div>                                                                
                            </div>

                            <div class="definitionSection">
                                <label>{{'alarms.rules_form_definition_mobile_terminals_label' | i18n}}</label>
                                <div class="definition" ng-repeat="definition in currentRule.getMobileTerminalsDefinitions()">
                                    <div class="row" ng-form="definitionForm">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <dropdown ng-model="definition.type" initialtext="{{ 'alarms.rules_form_definition_asset_type' | i18n }}" items="assetTypes" name="type"></dropdown>
                                            </div>           
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <dropdown ng-model="definition.attribute" items="assetAttributes" no-placeholder-item name="attribute"></dropdown>
                                            </div>             
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <dropdown ng-model="definition.compareType" items="compareTypes" no-placeholder-item name="compareType"></dropdown>
                                            </div>           
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" name="text" class="form-control" ng-model="definition.text" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-1 remove" ng-show="$index > 0">
                                            <i class="fa fa-lg fa-times" title="{{'common.remove' | i18n}}" ng-click="removeRuleDefinition(definition)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="addMoreLink" ng-click="addMobileTerminalDefinition()">{{'alarms.rules_form_add_more' | i18n}}</div
                                        >
                                        <dropdown ng-model="rule.mobileTerminalsOperation" items="operationTypes" no-placeholder-item></dropdown>
                                    </div>
                                </div>                                                                
                            </div>                            

                            <div class="definitionSection">
                                <label>{{'alarms.rules_form_definition_position_reports_label' | i18n}}</label>
                                <div class="definition" ng-repeat="definition in currentRule.getPositionReportsDefinitions()">
                                    <div class="row" ng-form="definitionForm">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <dropdown ng-model="definition.type" initialtext="{{ 'alarms.rules_form_definition_asset_type' | i18n }}" items="assetTypes" name="type"></dropdown>
                                            </div>           
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <dropdown ng-model="definition.attribute" items="assetAttributes" no-placeholder-item name="attribute"></dropdown>
                                            </div>             
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <dropdown ng-model="definition.compareType" items="compareTypes" no-placeholder-item name="compareType"></dropdown>
                                            </div>           
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" name="text" class="form-control" ng-model="definition.text" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-1 remove" ng-show="$index > 0">
                                            <i class="fa fa-lg fa-times" title="{{'common.remove' | i18n}}" ng-click="removeRuleDefinition(definition)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="addMoreLink" ng-click="addPositionReportDefinition()">{{'alarms.rules_form_add_more' | i18n}}</div
                                        >
                                    </div>
                                </div>                                                                
                            </div>  

                        </div>
                    </div>                    
                </div>

                <div class="col-md-5">
                    <label>{{'alarms.rules_form_definition_then_label' | i18n}}</label>

                    <div class="definitionSection">
                        <label>{{'alarms.rules_form_definition_notification_label' | i18n}}</label>
                        <div class="definition" ng-repeat="notification in currentRule.notifications">
                            <div class="row" ng-form="notificationForm">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <dropdown ng-model="notification.type" no-placholder-item items="notificationTypes" name="type"></dropdown>
                                    </div>           
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <input type="text" name="text" class="form-control" ng-model="notification.text" required/>
                                    </div>
                                </div>
                                <div class="col-md-1 remove" ng-show="$index > 0">
                                    <i class="fa fa-lg fa-times" title="{{'common.remove' | i18n}}" ng-click="removeNotificationItem(notification)"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="addMoreLink" ng-click="addNotificationItem()">{{'alarms.rules_form_add_more' | i18n}}</div
                                >
                            </div>
                        </div>                                                                
                    </div>

                </div>

            </div>
        </form>

    </div>

    <div class="row" ng-show="isCreateNewMode()">
        <div class="col-md-12">
            <a ng-click="clearForm()">{{'common.clear_form' | i18n}}</a>
        </div>
    </div>      

</div>
