/*.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected span.fancytree-title {
    background-color: #fff;
    border-color: #FFF;
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active span.fancytree-title {
    background-color: #cde;
    border-color: #cde;
}*/
.layertree-panel {
  height: 100%;
}

ul.fancytree-container {
  height: 100%;
}

#ui-id-1 li span.fancytree-level-1 span.fancytree-title {
  padding-left: 3em;
}

#ui-id-1 li span.fancytree-level-2 span.fancytree-title {
  padding-left: 4em;
}

#ui-id-1 li span.fancytree-level-3 span.fancytree-title {
  padding-left: 5em;
}

#ui-id-1 li span.fancytree-level-4 span.fancytree-title {
  padding-left: 6em;
}

span.fancytree-icon, span.fancytree-checkbox, span.fancytree-expander, span.fancytree-radio, span.fancytree-custom-icon {
  margin-top: 4px;
}
/*
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active.fancytree-selected span.fancytree-title {
  color: #000000;
}*/
