span.fancytree-icon, span.fancytree-checkbox, span.fancytree-expander, span.fancytree-radio, span.fancytree-custom-icon {
  margin-top: 4px;
}

span.fancytree-title {
  padding: 0px;
  margin: 0px;
}
