span.fancytree-icon, span.fancytree-checkbox, span.fancytree-expander, span.fancytree-radio, span.fancytree-custom-icon {
  margin-top: 4px;
  color: @primaryColor;
}

span.fancytree-title {
  padding: 0px;
  margin: 0px;
  padding-right: 5px;
}

#fancytree-drop-marker.fancytree-drop-after, #fancytree-drop-marker.fancytree-drop-before {
  width: 1em;
  height: 1em;
  color: #7ca;
}

span.fancytree-clickable {
  width: 15px;
  text-align: center;
  margin-left: 5px;
  color: @profileColor_darkgray;
  &.fa-info,
  &.fa-tags {
  	position: absolute;
  	top: 3px;
  }
  &.fa-info {
  	right: 30px;
  }
  &.fa-tags {
  	right: 10px;
  }
}

span.fancytree-clickable.info-disabled,
span.fancytree-clickable.label-disabled {
  background: #FFFFFF none repeat scroll 0% 0%;
  color: #BBBBBB;
}

span.fancytree-clickable.info-selected {
  color: @primaryColor;
}

span.fancytree-clickable.label-selected-vmspos {
  color: @profileColor_blue;
}

span.fancytree-clickable.label-selected-vmsseg {
  color: #0C9F15;
}

.layertree-baselayer-node > .fancytree-title {
	padding-left: 20px !important;
}

.layertree-alarms {
  span.fancytree-expander {
    display: none;
  }
  span.fancytree-checkbox {
    margin-left: 0;
  }
  span.fancytree-title {
    padding-left: 22px !important;
  }
}

span.fancytree-clickable.fancytree-context-menu-btn {
	border: 1px solid @primaryColor;
	color: @primaryColor;
}

ul.fancytree-container.ui-fancytree {
	font-family: Roboto, Arial;
	font-size: 15px;
}
