<div class="row">
    <div class="indentedSection">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <th>{{'polling.wizard_second_step_configuration_poll_reporting_frequence' | i18n}}</th>
                        <th>{{'polling.wizard_second_step_configuration_poll_grace_period' | i18n}}</th>
                        <th>{{'polling.wizard_second_step_configuration_poll_port_grace' | i18n}}</th>
                        <th>{{'polling.wizard_second_step_configuration_poll_new_dnid' | i18n}}</th>
                        <th>{{'polling.wizard_second_step_configuration_poll_new_member_no' | i18n}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="form-group" ng-class="{'has-error': pollingOptionsForm.configurationFreq.$invalid && (submitAttempted || pollingOptionsForm.configurationFreq.$dirty)}">
                            <period-input name="configurationFreq" model="pollingOptions.configurationPoll.freq" ng-disabled="!isConfigurationPoll()" ng-required="isConfigurationPoll()"></period-input>
                            <input-validation-message types="required, period" input="pollingOptionsForm.configurationFreq"></input-validation-message>
                        </td>

                        <td class="form-group" ng-class="{'has-error': pollingOptionsForm.configurationGracePeriod.$invalid && (submitAttempted || pollingOptionsForm.configurationGracePeriod.$dirty)}">
                            <period-input name="configurationGracePeriod" model="pollingOptions.configurationPoll.gracePeriod" ng-disabled="!isConfigurationPoll()" ng-required="isConfigurationPoll()"></period-input>
                            <input-validation-message types="required, period" input="pollingOptionsForm.configurationGracePeriod"></input-validation-message>
                        </td>

                        <td class="form-group" ng-class="{'has-error': pollingOptionsForm.configurationGracePeriodInPort.$invalid && (submitAttempted || pollingOptionsForm.configurationGracePeriodInPort.$dirty)}">
                            <period-input name="configurationGracePeriodInPort" model="pollingOptions.configurationPoll.inPortGrace" ng-disabled="!isConfigurationPoll()" ng-required="isConfigurationPoll()"></period-input>
                            <input-validation-message types="required, period" input="pollingOptionsForm.configurationGracePeriodInPort"></input-validation-message>
                        </td>

                        <td class="form-group" ng-class="{'has-error': pollingOptionsForm.configurationNewDNID.$invalid && (submitAttempted || pollingOptionsForm.configurationNewDNID.$dirty)}">
                            <input name="configurationNewDNID" type="text" ng-model="pollingOptions.configurationPoll.newDNID" ng-disabled="!isConfigurationPoll() || !isSingleMobileTerminalSelected()" ng-required="isConfigurationPoll() && isSingleMobileTerminalSelected()"/>
                            <input-validation-message types="required" input="pollingOptionsForm.configurationNewDNID"></input-validation-message>
                        </td>

                        <td class="form-group" ng-class="{'has-error': pollingOptionsForm.configurationNewMemberNo.$invalid && (submitAttempted || pollingOptionsForm.configurationNewMemberNo.$dirty)}">
                            <input name="configurationNewMemberNo" type="text" ng-model="pollingOptions.configurationPoll.newMemberNo" ng-disabled="!isConfigurationPoll()" ng-required="isConfigurationPoll()"/>
                            <input-validation-message types="required" input="pollingOptionsForm.configurationNewMemberNo"></input-validation-message>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <span ng-show="isConfigurationPoll() && !isSingleMobileTerminalSelected()" class="validation-warning">{{ "polling.wizard_second_step_configuration_poll_new_dnid_multiple_carrier_warning" | i18n }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>