.catch-fieldset{
    padding: 10px;
    
    .catch-legend{
        margin-bottom: 0px;
    }
}
.baseStyle{
    overflow-y:auto;
    width:100%;
    max-height: 650px;
}
.rows{
    
    text-align: center;
}
table.tableBorder{
    border: 0;
     
    > thead:first-child {
        > tr {
            &:not(:last-child) {
                border-bottom: 0;
                > th {
                    border-top: 1px solid #dddddd;
                    &:first-child {
                        position:relative;
                        border-top: 0;
                        border-left: 0;
                    }
                }
            }
        }
    }
    
}
.tableTitle{
   top:0px;
   font-size:20px;
   padding-bottom:20px;
   position:absolute;

   
}
.LandingTable{
    top:20px;
    font-size:20px;
    padding-bottom:20px;
    position:absolute;
}
 .landingAddress{
    td:first-child { text-align: left };
 }
