<!-- step 2 -->
<div ng-controller="NewpollwizardpollingoptionsCtrl" class="newPollWizardStep pollingOptionsContainer col-md-12 card">
    <div class="wizardcontent">
        <new-poll-wizard-progress step="2"></new-poll-wizard-progress>
        <div ng-show="loadingResult" class="loadingResultContainer">
            <i class="fa fa-spinner fa-spin fa-pulse fa-2x"></i>
            <br><br>
            {{'polling.wizard_second_step_creating_polls' | i18n}}
        </div>        
        <form name="pollingOptionsForm" method="post" novalidate> 
            <div ng-hide="loadingResult">
                <!--MANUAL POLL-->
                <div class="optionsSection">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="radio" ng-model="pollingOptions.type" value="MANUAL"/> <span class="pollType" ng-class="{'activePollType' : isManualPoll()}" ng-click="setPollType('MANUAL')">{{'polling.wizard_second_step_manual_poll' | i18n | uppercase}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="radio" ng-model="pollingOptions.type" value="PROGRAM"/> <span class="pollType" ng-class="{'activePollType' : isProgramPoll()}" ng-click="setPollType('PROGRAM')">{{'polling.wizard_second_step_program_poll' | i18n | uppercase}}</span>
                        </div>
                        <div class="indentedSection">
                            <div class="col-md-12">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>{{'polling.wizard_second_step_program_poll_start_date' | i18n}}</th>
                                            <th>{{'polling.wizard_second_step_program_poll_end_date' | i18n}}</th>
                                            <th>{{'polling.wizard_second_step_program_poll_intervall' | i18n}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="form-group" ng-class="{'has-error': pollingOptionsForm.programStartDate.$invalid && (submitAttempted || pollingOptionsForm.programStartDate.$dirty)}">
                                                <datepicker-input name="programStartDate" model="pollingOptions.programPoll.startDate" ng-disabled="!isProgramPoll()" ng-required="isProgramPoll()" time="true"></datepicker-input>
                                                <input-validation-message types="required, date" input="pollingOptionsForm.programStartDate"></input-validation-message>
                                            </td>

                                            <td class="form-group" ng-class="{'has-error': pollingOptionsForm.programEndDate.$invalid && (submitAttempted || pollingOptionsForm.programEndDate.$dirty)}">
                                                <datepicker-input name="programEndDate" model="pollingOptions.programPoll.endDate" ng-disabled="!isProgramPoll()" ng-required="isProgramPoll()" start-date="pollingOptions.programPoll.startDate" time="true"></datepicker-input>
                                                <input-validation-message types="required, date, minDate" input="pollingOptionsForm.programEndDate"></input-validation-message>
                                            </td>

                                            <td class="form-group" ng-class="{'has-error': pollingOptionsForm.programTime.$invalid && (submitAttempted || pollingOptionsForm.programTime.$dirty)}">
                                                <period-input name="programTime" model="pollingOptions.programPoll.time" ng-disabled="!isProgramPoll()" ng-required="isProgramPoll()"></period-input>

                                                <input-validation-message types="required, period" input="pollingOptionsForm.programTime"></input-validation-message>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!--CONFIGURATION POLL-->
                <div class="optionsSection">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="radio" ng-model="pollingOptions.type" value="CONFIGURATION"/> <span class="pollType" ng-class="{'activePollType' : isConfigurationPoll()}" ng-click="setPollType('CONFIGURATION')">{{'polling.wizard_second_step_configuration_poll' | i18n | uppercase}}</span>
                        </div>
                        <div class="indentedSection">
                            <div class="col-md-12">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>{{'polling.wizard_second_step_configuration_poll_reporting_frequence' | i18n}}</th>
                                            <th>{{'polling.wizard_second_step_configuration_poll_grace_period' | i18n}}</th>
                                            <th>{{'polling.wizard_second_step_configuration_poll_port_grace' | i18n}}</th>
                                            <th>{{'polling.wizard_second_step_configuration_poll_new_dnid' | i18n}}</th>
                                            <th>{{'polling.wizard_second_step_configuration_poll_new_member_no' | i18n}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="form-group" ng-class="{'has-error': pollingOptionsForm.configurationFreq.$invalid && (submitAttempted || pollingOptionsForm.configurationFreq.$dirty)}">
                                                <period-input name="configurationFreq" model="pollingOptions.configurationPoll.freq" ng-disabled="!isConfigurationPoll()" ng-required="isConfigurationPoll()"></period-input>
                                                <input-validation-message types="required, period" input="pollingOptionsForm.configurationFreq"></input-validation-message>
                                            </td>

                                            <td class="form-group" ng-class="{'has-error': pollingOptionsForm.configurationGracePeriod.$invalid && (submitAttempted || pollingOptionsForm.configurationGracePeriod.$dirty)}">
                                                <period-input name="configurationGracePeriod" model="pollingOptions.configurationPoll.gracePeriod" ng-disabled="!isConfigurationPoll()" ng-required="isConfigurationPoll()"></period-input>
                                                <input-validation-message types="required, period" input="pollingOptionsForm.configurationGracePeriod"></input-validation-message>
                                            </td>

                                            <td class="form-group" ng-class="{'has-error': pollingOptionsForm.configurationGracePeriodInPort.$invalid && (submitAttempted || pollingOptionsForm.configurationGracePeriodInPort.$dirty)}">
                                                <period-input name="configurationGracePeriodInPort" model="pollingOptions.configurationPoll.inPortGrace" ng-disabled="!isConfigurationPoll()" ng-required="isConfigurationPoll()"></period-input>
                                                <input-validation-message types="required, period" input="pollingOptionsForm.configurationGracePeriodInPort"></input-validation-message>
                                            </td>

                                            <td class="form-group" ng-class="{'has-error': pollingOptionsForm.configurationNewDNID.$invalid && (submitAttempted || pollingOptionsForm.configurationNewDNID.$dirty)}">
                                                <input name="configurationNewDNID" type="text" ng-model="pollingOptions.configurationPoll.newDNID" ng-disabled="!isConfigurationPoll() || !isSingleMobileTerminalSelected()" ng-required="isConfigurationPoll() && isSingleMobileTerminalSelected()"/>
                                                <input-validation-message types="required" input="pollingOptionsForm.configurationNewDNID"></input-validation-message>
                                                <span ng-show="isConfigurationPoll() && !isSingleMobileTerminalSelected()" class="validation-warning">{{ "polling.wizard_second_step_configuration_poll_new_dnid_multiple_carrier_warning" | i18n }}</span>                                        
                                            </td>

                                            <td class="form-group" ng-class="{'has-error': pollingOptionsForm.configurationNewMemberNo.$invalid && (submitAttempted || pollingOptionsForm.configurationNewMemberNo.$dirty)}">
                                                <input name="configurationNewMemberNo" type="text" ng-model="pollingOptions.configurationPoll.newMemberNo" ng-disabled="!isConfigurationPoll()" ng-required="isConfigurationPoll()"/>
                                                <input-validation-message types="required" input="pollingOptionsForm.configurationNewMemberNo"></input-validation-message>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!--SAMPLING-->
                <div class="optionsSection">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="radio" ng-disabled="!isSingleMobileTerminalSelected()" ng-model="pollingOptions.type" value="SAMPLING"/>
                            <span class="pollType" ng-class="{'activePollType' : isSamplingPoll()}" ng-click="setPollType('SAMPLING')">{{'polling.wizard_second_step_sampling_poll' | i18n | uppercase}}</span>
                            <span ng-hide="isSingleMobileTerminalSelected()" class="validation-warning">{{ "polling.wizard_second_step_sampling_poll_single_carrier_warning" | i18n }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="indentedSection">
                            <div class="col-md-12">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>{{'polling.wizard_second_step_sampling_poll_start_date' | i18n}}</th>
                                            <th>{{'polling.wizard_second_step_sampling_poll_end_date' | i18n}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="form-group" ng-class="{'has-error': pollingOptionsForm.samplingStartDate.$invalid && (submitAttempted || pollingOptionsForm.samplingStartDate.$dirty)}">
                                                <datepicker-input name="samplingStartDate" model="pollingOptions.samplingPoll.startDate" ng-disabled="!isSamplingPoll()" ng-required="isSamplingPoll()"></datepicker-input>
                                                <input-validation-message types="required, date" input="pollingOptionsForm.samplingStartDate"></input-validation-message>
                                            </td>

                                            <td class="form-group" ng-class="{'has-error': pollingOptionsForm.samplingEndDate.$invalid && (submitAttempted || pollingOptionsForm.samplingEndDate.$dirty)}">
                                                <datepicker-input name="samplingEndDate" model="pollingOptions.samplingPoll.endDate" ng-disabled="!isSamplingPoll()" ng-required="isSamplingPoll()" start-date="pollingOptions.samplingPoll.startDate"></datepicker-input>
                                                <input-validation-message types="required, date, minDate" input="pollingOptionsForm.samplingEndDate"></input-validation-message>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!--CHANNELS AND COMMENT-->
                <div class="optionsSection">                    
                    <div class="row">
                        <div class="indentedSection">
                            <div class="col-md-8 form-group" ng-class="{'has-error': pollingOptionsForm.comment.$invalid && (submitAttempted || pollingOptionsForm.comment.$dirty)}">
                                <h5>{{'polling.wizard_second_step_comment_header' | i18n}}</h5>
                                <textarea name="comment" class="form-control" placeholder="{{'polling.wizard_second_step_comment_placeholder' | i18n }}" ng-model="pollingOptions.comment" required></textarea>
                                <input-validation-message types="required" input="pollingOptionsForm.comment"></input-validation-message>                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row wizardFooter">
                <div class="col-md-4">
                    <div class="indentedSection">
                        <a ng-click="previousStep()">{{'common.back' | i18n}}</a>
                    </div>
                </div>
                <div class="col-md-8 textAlignRight">
                    <a ng-click="startNewPoll()">{{'common.cancel' | i18n}}</a> 
                    <button type="button" class="btn btn-primary" ng-click="runPoll()" ng-disabled="getNumberOfSelectedTerminals() === 0 || loadingResult">
                        {{ isProgramPoll() ? 'polling.wizard_second_step_create_program_poll_button' : 'polling.wizard_second_step_run_poll_button' | i18n | uppercase}}
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>