/*
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
 */
.pollingOptionsContainer{

    span.pollType{
        cursor: pointer;
    }

    .optionsSection{
        .grayBorderBottom;
        margin-top: 15px;
        padding-bottom: 15px;

        //No border for last optionsSection
        &:last-child{
            border-bottom:0px !important;
        }
    }

    input[type="radio"]{
        position: relative;
        top:2px;
        margin:0px;
    }

    textarea{
        min-height: 75px;
    }

    .indentedSection{
        padding-left: 15px;
        padding-top: 5px;
    }

    table{
        margin-top: 5px;
        th{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
        }
        td{
            vertical-align: top;
            input[type="text"]{
                width: 100%;
            }
            padding-right: 5px;
        }
    }

    .configurationPollTable{
        td{
        }
    }


    .activePollType{
        font-weight: bold;
    }

    .validation-warning {
        color: gray;
    }

    td.ignored input[type="number"] {
        color: lightgray;
    }
}