<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div ng-controller="mobileTerminalFormCtrl">
    <div class="mobileTerminalFormContainer">

        <div class="card" ng-show="currentMobileTerminal.connectId && !isVisible.assignVessel">
            <div class="row card-header assignedVesselHeader">
                <div class="col-md-12">
                    <span class="form-header">{{'mobileTerminal.assigned_vessel' | i18n}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-show="!currentMobileTerminal.associatedVessel">
                    <search-result-error-alert>{{'mobileTerminal.assigned_vessel_not_found_error' | i18n}}</search-result-error-alert>
                </div>
                <vessel-details ng-show="currentMobileTerminal.associatedVessel" vessel="currentMobileTerminal.associatedVessel" disable-form="true" ></vessel-details>
            </div>
        </div>

        <div class="card" ng-show="isVisible.assignVessel">
            <div class="row card-header">
                <div class="col-md-6">
                     <span class="form-header">{{'mobileTerminal.assign_vessel' | i18n}}</span>
                </div>
                <div class="col-md-6 textAlignRight">
                    <div class="actions">
                        <div>
                            <a ng-click="toggleAssignVessel()" id="mob-term-form-assign-vessel-1">{{'common.cancel' | i18n}}</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div ng-include="'partial/mobileTerminal/assignVessel/assignVessel.html'" ng-show="transponderSystems.length > 0" ></div>
        </div>

        <div class="row" ng-hide="isVisible.assignVessel || vesselFormDisplayed()" show-if-allowed="manageMobileTerminals">
            <div class="col-md-12" ng-hide="currentMobileTerminal.connectId">
                <span id="assignVesselLink" ng-click="toggleAssignVessel()" ng-show="currentMobileTerminal.guid" id="mob-term-form-assign-vessel-2">{{'mobileTerminal.assign_vessel' | i18n}}</span>
            </div>
        </div>

        <mobile-terminal-details mobile-terminal="currentMobileTerminal" modeltype="'MOBILE_TERMINAL'" callback="mobileTerminalFormFunctions" ng-disabled="disableMobileTerminalForm()"></mobile-terminal-details>        
    </div>

</div>
