<div>
    <div class="row" ng-show="isVisible.assignVessel">
        <div class="col-md-6">
            <label class="section">ASSIGN VESSEL</label>
        </div>
        <div class="col-md-6 textAlignRight">
            <span class="link underline"ng-click="toggleAssignVessel()">CANCEL</span>
        </div>            
    </div>

    <div ng-show="currentMobileTerminal.carrierId && !isVisible.assignVessel">        
        <div class="row">
            <div class="col-md-6">
                <label class="section">ASSIGNED VESSEL</label>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" ng-click="unassignVessel()"><i class="fa fa-chain-broken"></i> {{'mobileTerminal.unassign_vessel' | i18n}}</span>
            </div>            
        </div>
        <vessel-details vessel="currentMobileTerminal.associatedVessel" disable-form="true" ></vessel-details>
        <div class="row">
            <div class="col-md-12">
                Type: {{currentMobileTerminal.carrierId.carrierType}}<br>
                ID: {{currentMobileTerminal.carrierId.value}} ({{currentMobileTerminal.carrierId.idType}})
            </div>
        </div>        
    </div>


    <div ng-include="'partial/mobileTerminal/assignVessel/assignVessel.html'" ng-show="transponderSystems.length > 0" ></div>

    <div class="row" ng-hide="isVisible.assignVessel">
        <div class="col-md-12" ng-hide="currentMobileTerminal.carrierId">
            <span id="assignVesselLink" ng-click="toggleAssignVessel()" ng-show="currentMobileTerminal.hasInternalId()">{{'mobileTerminal.assign_vessel' | i18n}}</span>
        </div>    
    </div>

    <div static-include="partial/mobileTerminal/mobileTerminalDetails/mobileTerminalDetails.html"></div>

</div>
