#assignVesselLink{
    font-weight: bold;
    text-transform: uppercase;
    .link();
    .underline();
}

.setStatusContainer{
    padding-right:5px;
    text-transform: uppercase;
    cursor: pointer;
}

.mobileInformationContainer{
    margin: 20px 0px;
}

.mobileTerminalDetailsContainer{
    margin: 20px 0px;
}
