<div ng-controller="mobileTerminalFormCtrl">   
    <div class="row" ng-hide="isCreateNewMode()">
        <div class="col-md-7">
            <h3>{{'mobileTerminal.view_header' | i18n}}</h3>
        </div>
        <div class="col-md-4 textAlignRight">
            <div class="floatRight">
                <button  type="submit" ng-disabled="!currentMobileTerminal.type || !isDirty()" class="btn btn-primary" ng-click="updateMobileTerminal()" ng-hide="transponderSystems.length == 0">{{'common.update' | i18n}}</button>
            </div>
            <div class="floatRight setStatusContainer">
                <button type="button" class="btn btn-default" ng-show="currentMobileTerminal.active" ng-click="setStatusToInactive()">
                    {{'mobileTerminal.inactivate_link' | i18n}}
                </button>
               <button type="button" class="btn btn-default" ng-hide="currentMobileTerminal.active" ng-click="setStatusToActive()">
                    {{'mobileTerminal.activate_link' | i18n}}
                </button>
            </div>         
        </div>
        <div class="col-md-1 textAlignRight" ng-click="toggleMobileTerminalDetails()">
            <i class="fa fa-times closeicon" title="{{'common.close' | i18n}}"></i>
        </div>
    </div>
    <div class="row" ng-show="isCreateNewMode()">
        <div class="col-md-9"><h3>{{'mobileTerminal.add_new_form_header' | i18n}}</h3></div>
        <div class="col-md-2 textAlignRight">
            <button  type="submit" ng-disabled="!currentMobileTerminal.type" class="btn btn-primary" ng-click="createNewMobileTerminal()" ng-hide="transponderSystems.length == 0" ng-disabled="waitingForCreateResponse">{{'common.save' | i18n}}</button>
        </div>
        <div class="col-md-1 textAlignRight" ng-click="toggleAddNewMobileTerminal()"> 
            <i class="fa fa-times closeicon" title="{{'common.close' | i18n}}"></i>
        </div>
    </div>    


    <div class="mobileTerminalFormContainer">

        <div class="borderSection" ng-show="currentMobileTerminal.carrierId && !isVisible.assignVessel">        
            <div class="row assignedVesselHeader">
                <div class="col-md-6">
                    <label class="section">{{'mobileTerminal.assigned_vessel' | i18n | uppercase}}</label>
                </div>
                <div class="col-md-6 textAlignRight">
                    <button class="btn btn-primary" ng-click="unassignVessel()"><i class="fa fa-chain-broken"></i> {{'mobileTerminal.unassign_vessel' | i18n}}</span>
                </div>
            </div>
            <div class="row">
                <vessel-details vessel="currentMobileTerminal.associatedVessel" disable-form="true" ></vessel-details>    
            </div>
        </div>


        <div class="borderSection" ng-show="isVisible.assignVessel">
            <div class="row" >
                <div class="col-md-6">
                    <label class="section">{{'mobileTerminal.assign_vessel' | i18n | uppercase}}</label>
                </div>
                <div class="col-md-6 textAlignRight">
                    <span class="link underline"ng-click="toggleAssignVessel()">{{'common.cancel' | i18n | uppercase}}</span>
                </div>            
            </div>        
            <div ng-include="'partial/mobileTerminal/assignVessel/assignVessel.html'" ng-show="transponderSystems.length > 0" ></div>
        </div>

        <div class="row" ng-hide="isVisible.assignVessel">
            <div class="col-md-12" ng-hide="currentMobileTerminal.carrierId">
                <span id="assignVesselLink" ng-click="toggleAssignVessel()" ng-show="currentMobileTerminal.guid">{{'mobileTerminal.assign_vessel' | i18n}}</span>
            </div>    
        </div>

        <div class="mobileTerminalDetailsContainer" static-include="partial/mobileTerminal/mobileTerminalDetails/mobileTerminalDetails.html"></div>
    </div>


    <div class="row" style="margin-top:100px" ng-show="isCreateNewMode()">
        <div class="col-md-12">
            <a ng-click="clearForm()" class="pointer">{{'common.clear_form' | i18n}}</a>
        </div>
    </div>  

    <div ng-hide="isCreateNewMode()">
        <a ng-click="onMobileTerminalHistoryClick()">
            <p>{{'mobileTerminal.history_view_mobileterminal_history' | i18n }}</p>
        </a>
    </div>
</div>
