<div class="segmentsVisiblity" ng-controller="SegmentsvisibilityCtrl">
	<div class="row">
    	<div class="form-group col-md-12">
    		<div class="col-md-5">
    			<div class="row formLabel">
    				<span>{{'spatial.visibility_configuration_popup' | i18n}}</span>
    			</div>
    			<div class="row">
    				<label ng-repeat="attr in segmentAttrs" class="checkboxLabel">
						<input type="checkbox" checklist-model="configModel.visibilitySettings.segments.popup" checklist-value="attr.value"> {{attr.title}}
					</label>
    			</div>
    		</div>
    		<div class="col-md-2"></div>
    		<div class="col-md-5">
    			<div class="row formLabel">
    				<span>{{'spatial.visibility_configuration_label' | i18n}}</span>
    			</div>
    			<div class="row">
    				<label ng-repeat="attr in segmentAttrs" class="checkboxLabel">
						<input type="checkbox" checklist-model="configModel.visibilitySettings.segments.labels" checklist-value="attr.value"> {{attr.title}}
					</label>
    			</div>
    		</div>
    	</div>
    </div>
</div>