<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="segmentsVisiblity" ng-controller="SegmentsvisibilityCtrl">
	<div class="row">
    	<div class="form-group col-md-12">
    		<table class="table table-striped table-condensed table-no-border">
				<thead>
					<tr>
						<th>
							{{'spatial.visibility_configuration_table' | i18n}}
							<input type="checkbox" ng-model="selectAll.segments.table" ng-change="selectAllChange('segments','table')">
						</th>
						<th ng-if="settingsLevel !== 'report' || (settingsLevel === 'report' && hasMap)">
							{{'spatial.visibility_configuration_popup' | i18n}}
							<input type="checkbox" ng-model="selectAll.segments.popup" ng-change="selectAllChange('segments','popup')">
						</th>
						<th ng-if="settingsLevel !== 'report' || (settingsLevel === 'report' && hasMap)">
							{{'spatial.visibility_configuration_label' | i18n}}
							<input type="checkbox" ng-model="selectAll.segments.label" ng-change="selectAllChange('segments','label')">
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<ul dnd-list="configModel.visibilitySettings.segmentTableAttrs" dnd-allowed-types="['Table']">
								<li ng-repeat="attr in configModel.visibilitySettings.segmentTableAttrs"
								dnd-draggable="attr"
								dnd-type="attr.type"
								dnd-effect-allowed="move"
								dnd-moved="configModel.visibilitySettings.segmentTableAttrs.splice($index, 1);visibilitySettingsForm.$setDirty();">
									<div class="handle">:::</div>
									<span>{{attr.title}}</span>
									<input type="checkbox" checklist-model="configModel.visibilitySettings.segments.table.values" checklist-value="attr.value" ng-change="selectAllChange('segments','table',true)">
								</li>
							</ul>
						</td>
						<td ng-if="settingsLevel !== 'report' || (settingsLevel === 'report' && hasMap)">
							<ul dnd-list="configModel.visibilitySettings.segmentPopupAttrs" dnd-allowed-types="['Popup']">
								<li ng-repeat="attr in configModel.visibilitySettings.segmentPopupAttrs"
								dnd-draggable="attr"
								dnd-type="attr.type"
								dnd-effect-allowed="move"
								dnd-moved="configModel.visibilitySettings.segmentPopupAttrs.splice($index, 1);visibilitySettingsForm.$setDirty();">
									<div class="handle">:::</div>
									<span>{{attr.title}}</span>
									<input type="checkbox" checklist-model="configModel.visibilitySettings.segments.popup.values" checklist-value="attr.value" ng-change="selectAllChange('segments','popup',true)">
								</li>
							</ul>
						</td>
						<td ng-if="settingsLevel !== 'report' || (settingsLevel === 'report' && hasMap)">
							<ul dnd-list="configModel.visibilitySettings.segmentLabelAttrs" dnd-allowed-types="['Label']">
								<li ng-repeat="attr in configModel.visibilitySettings.segmentLabelAttrs"
								dnd-draggable="attr"
								dnd-type="attr.type"
								dnd-effect-allowed="move"
								dnd-moved="configModel.visibilitySettings.segmentLabelAttrs.splice($index, 1);visibilitySettingsForm.$setDirty();">
									<div class="handle">:::</div>
									<span>{{attr.title}}</span>
									<input type="checkbox" checklist-model="configModel.visibilitySettings.segments.labels.values" checklist-value="attr.value" ng-change="selectAllChange('segments','label',true)">
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td></td>
						<td class="is-attr-visible-row" ng-if="settingsLevel !== 'report' || (settingsLevel === 'report' && hasMap)">
							<span>{{'spatial.visibility_show_attr_names' | i18n}}</span>
							<input type="checkbox" ng-model="configModel.visibilitySettings.segments.popup.isAttributeVisible">
						</td>
						<td class="is-attr-visible-row" ng-if="settingsLevel !== 'report' || (settingsLevel === 'report' && hasMap)">
							<span>{{'spatial.visibility_show_attr_names' | i18n}}</span>
							<input type="checkbox" ng-model="configModel.visibilitySettings.segments.labels.isAttributeVisible">
						</td>
					</tr>
				</tbody>
			</table>
    	</div>
    </div>
</div>