<div class="segmentsVisiblity" ng-controller="SegmentsvisibilityCtrl">
	<div class="row">
    	<div class="form-group col-md-12">
    		<table class="table table-striped table-condensed table-no-border">
				<thead>
					<tr>
						<th>{{'spatial.visibility_configuration_table' | i18n}}</th>
						<th>{{'spatial.visibility_configuration_popup' | i18n}}</th>
						<th>{{'spatial.visibility_configuration_label' | i18n}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<ul dnd-list="configModel.visibilitySettings.segmentTableAttrs" dnd-allowed-types="['Table']">
								<li ng-repeat="attr in configModel.visibilitySettings.segmentTableAttrs"
								dnd-draggable="attr"
								dnd-type="attr.type"
								dnd-effect-allowed="move"
								dnd-moved="configModel.visibilitySettings.segmentTableAttrs.splice($index, 1);">
									<div class="handle">:::</div>
									<span>{{attr.title}}</span>
									<input type="checkbox" checklist-model="configModel.visibilitySettings.segments.table.values" checklist-value="attr.value">
								</li>
							</ul>
						</td>
						<td>
							<ul dnd-list="configModel.visibilitySettings.segmentPopupAttrs" dnd-allowed-types="['Popup']">
								<li ng-repeat="attr in configModel.visibilitySettings.segmentPopupAttrs"
								dnd-draggable="attr"
								dnd-type="attr.type"
								dnd-effect-allowed="move"
								dnd-moved="configModel.visibilitySettings.segmentPopupAttrs.splice($index, 1);">
									<div class="handle">:::</div>
									<span>{{attr.title}}</span>
									<input type="checkbox" checklist-model="configModel.visibilitySettings.segments.popup.values" checklist-value="attr.value">
								</li>
							</ul>
						</td>
						<td>
							<ul dnd-list="configModel.visibilitySettings.segmentLabelAttrs" dnd-allowed-types="['Label']">
								<li ng-repeat="attr in configModel.visibilitySettings.segmentLabelAttrs"
								dnd-draggable="attr"
								dnd-type="attr.type"
								dnd-effect-allowed="move"
								dnd-moved="configModel.visibilitySettings.segmentLabelAttrs.splice($index, 1);">
									<div class="handle">:::</div>
									<span>{{attr.title}}</span>
									<input type="checkbox" checklist-model="configModel.visibilitySettings.segments.labels.values" checklist-value="attr.value">
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td></td>
						<td class="is-attr-visible-row">
							<span>{{'spatial.visibility_show_attr_names' | i18n}}</span>
							<input type="checkbox" ng-model="configModel.visibilitySettings.segments.popup.isAttributeVisible">
						</td>
						<td class="is-attr-visible-row">
							<span>{{'spatial.visibility_show_attr_names' | i18n}}</span>
							<input type="checkbox" ng-model="configModel.visibilitySettings.segments.labels.isAttributeVisible">
						</td>
					</tr>
				</tbody>
			</table>
    	</div>
    </div>
</div>