.segmentsVisiblity {
	.formLabel {
		> span {
			font-weight: bold;
			text-transform: uppercase;
			color: #777;	
		}
		margin-bottom: 5px;
		margin-top: 10px;
	}
	.noPadding {
		padding: 0px !important;
	}
}