.positionReportModal{

    .modal-body{

        //Status label
        .label{
            position: relative;
            top: -1px;
            margin-right: 20px;
        }

        .sectionHeader{
            color: #777;
            .grayBorderBottom;
            padding-top: 15px;
        }

        .assignAssetLink{
            position: absolute;
            right: 20px;
            bottom: 0px;
            .link;
            .pointer;
        }

        //Value header
        label{
            font-weight: normal;
            margin-top: 10px;
        }

        //Value
        .value{
            font-weight: bold;

            &.missing{
                color:@errorColor;
                font-style:italic;
            }
        }

        .mapContainer{
            margin-top: 15px;
        }

        .searchVesselContainer{
            margin-top: 10px;
            padding-bottom: 10px;
            padding:10px;
            .grayBorder();

            table{
                td{
                    button{
                        width: 100%;
                    }
                }
            }
        }

        .loadingMovementContainer{
            position: relative;
            top: 30px;
            height: 30px;
        }
    }

    .modal-footer{
        .buttons {
            margin-top: 25px;
            margin-bottom: 0;

            .buttonGroups {
                display: inline-table;
                width: 100%;

                .buttonGroup {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;

                    .button {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    button{
                        text-transform: uppercase;
                    }
                }
                .button-group-right {
                    text-align: right;
                }
            }
        }
    }
}