.base-legend {
	padding: 5px;
}

.legend-text {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
}

.legend-text-subtitle {
	color: #777;
	font-size: 12px;
	margin-left: 5px;
	border-bottom: 1px solid #777;
}

.fontMargin {
	margin-left: 5px;
}

.legend-labels {
	font: Lato, Arial;
	color: #777;
	margin-left: 5px;
	font-size: 13px;
}

.legend-bottom-space {
	padding-bottom: 8px;
}

.legend-top-space-vector {
	padding-top: 5px;
}

.legend-bottom-space-vector {
	padding-bottom: 8px;
}
