/*
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
 */
.base-legend {
	padding: 5px;
}

.legend-text {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
}

.legend-text-subtitle {
	color: #777;
	font-size: 12px;
	margin-left: 5px;
	border-bottom: 1px solid #777;
}

.fontMargin {
	margin-left: 5px;
}

.legend-labels {
	font: Lato, Arial;
	color: #777;
	margin-left: 5px;
	font-size: 13px;
}

.legend-bottom-space {
	padding-bottom: 8px;
}

.legend-top-space-vector {
	padding-top: 5px;
}

.legend-bottom-space-vector {
	padding-bottom: 8px;
}

.labelStyle {
	color: #575757;
}