<div style="background-color: white;" class="vessels-in-zone">
	<div class="widget-header">
		<h1>{{ctrl.i18n('header')}}</h1>
		<p>{{ctrl.i18n('subheader')}}</p>
	</div>
	<div class="scroll-table">
		<div class="alert alert-danger" ng-if="ctrl.error">{{ctrl.error}}</div>
		<div class="row" ng-repeat="item in ctrl.items | orderBy:'numberOfAssets':true">
			<span class="flag-icon" ng-class="'flag-' + item.flagState"></span> {{ctrl.nationName(item.flagState)}} <span class="count">{{item.numberOfAssets}}</span>
		</div>
	</div>
</div>
