<fieldset class="col-md-12 fieldsetStyle catch-section area-tile">
    <legend class="fieldsetLegendStyle">
        <a>{{ngModel.title}}</a>
    </legend>
    <div class="row area-tile-body">
        <!-- <div class="row chart-title">
            <span class="panel-subtitle">{{ngModel.title}}</span>
        </div> -->
        <div class="row">
            <div class="col-md-{{ngModel.number}} area-subsection" ng-repeat="(key,value) in ngModel.areaData">
            	<div class="sub-title">
            		<span>{{ 'activity.area_'+key | i18n }}</span>
            	</div>
                <analog-clock class="col-md-push-2 col-md-8 col-md-push-2" clock-data="value.occurence"></analog-clock>
                <div class="col-md-12"><span>{{value.occurence | stDateUtc}}</span></div>
                <div ng-click="geometryClick(value)" class="lat-long" ng-class="{'is-clickable': isItemClickable(value.geometry)}" ng-if="value.geometry">
                    <div><span class="sub-title">{{ 'activity.area_long' | i18n }} : </span><span>{{value.long}}</span></div>
                    <div><span class="sub-title">{{ 'activity.area_lat' | i18n }} : </span><span>{{value.lat}}</span></div>
                </div>
            </div>
        </div>
    </div>
</fieldset>