<!--<div>
    <fieldset class="col-md-12 fieldsetStyle vessel-tile">
        <legend class="fieldsetLegendStyle">
            <a>{{'activity.trip_summary_vessel' | i18n }}</a>
        </legend>
        <div class="col-md-12" ng-if="trip.tripVessel">
            <div class="row">
                <!--VESSEL NAME-->
                <!--<div class="row form-row">
                    <span class="col-md-12 vessel-name">{{'activity.trip_summary_vessel_name' | i18n }}: {{trip.tripVessel.name}}</span>
                </div>-->
                <!--VESSEL EXT MARK-->
                <!--<div class="row">
                    <span class="col-md-12"><span class="trip-row-label">{{'activity.trip_summary_vessel_exMark' | i18n }}:</span> {{trip.tripVessel.exMark}}</span>
                </div>-->
                <!--VESSEL FLAG STATE-->
                <!--<div class="row">
                    <span class="col-md-12"><span class="trip-row-label">{{'activity.trip_summary_vessel_flagState' | i18n }}:</span> {{trip.tripVessel.flagState}}</span>
                </div>-->
                <!--VESSEL IRCS-->
                <!--<div class="row">
                    <span class="col-md-12"><span class="trip-row-label">{{'activity.trip_summary_vessel_ircs' | i18n }}:</span> {{trip.tripVessel.ircs}}</span>
                </div>-->
                <!--VESSEL CFR-->
                <!--<div class="row">
                    <span class="col-md-12"><span class="trip-row-label">{{'activity.trip_summary_vessel_cfr' | i18n }}:</span> {{trip.tripVessel.cfr}}</span>
                </div>
            </div>
        </div>
        <div class="row no-data" ng-if="!trip.tripVessel">
            <div class="col-md-12">
                <span>{{'activity.no_data' | i18n}}</span>
            </div>
        </div>
    </fieldset>
</div>-->

<fieldset class="col-md-12 fieldsetStyle vessel-tile">
    <legend class="fieldsetLegendStyle">
        <a>{{'activity.vessel_details' | i18n }}</a>
    </legend>
    <fa-details-panel class="col-md-3 summary-section no-border" ng-model="ngModel.vesselOverview" ng-if="ngModel.vesselOverview"></fa-details-panel>

    <div class="row no-data" ng-if="!ngModel">
        <div class="col-md-12">
            <span>{{'activity.no_data' | i18n}}</span>
        </div>
    </div>
</fieldset>