footer {
	bottom: 0;
	background-color: #ecf0f1;
	color: white;
	width: 100%;
	padding-top: 4px;
	min-width: 992px;
	border-top: 1px solid #dddddd;
	position: absolute;
	p {
		margin-bottom: 5px;
		font-size: 13px;
		color: #666666;
	}
}
