<!--
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="col-md-12 activity-details" ng-controller="ActivitydetailsCtrl">
	<loading-panel class="activity-fa-loading" type="FishingActivity"></loading-panel>
	<div class="row">
		<div ng-include="'partial/activity/landingPanel/landingPanel.html'" ng-init="srcTab = 'activity'" ng-if="faServ.activityType === 'landing'"></div>
		<div ng-include="'partial/activity/discardPanel/discardPanel.html'" ng-init="srcTab = 'activity'" ng-if="faServ.activityType === 'discard'"></div>
		<div ng-include="'partial/activity/departurePanel/departurePanel.html'" ng-init="srcTab = 'activity'" ng-if="faServ.activityType === 'departure'"></div>
		<div ng-include="'partial/activity/areaEntryPanel/areaEntryPanel.html'" ng-init="srcTab = 'activity'" ng-if="faServ.activityType === 'area_entry'"></div>
		<div ng-include="'partial/activity/areaExitPanel/areaExitPanel.html'" ng-init="srcTab = 'activity'" ng-if="faServ.activityType === 'area_exit'"></div>
		<div ng-include="'partial/activity/arrivalPanel/arrivalPanel.html'" ng-init="srcTab = 'activity'" ng-if="faServ.activityType === 'arrival'"></div>
		<div ng-include="'partial/activity/transhipmentPanel/transhipmentPanel.html'" ng-init="srcTab = 'activity'" ng-if="faServ.activityType === 'transhipment'"></div>
		<div ng-include="'partial/activity/fishingOperationPanel/fishingOperationPanel.html'" ng-init="srcTab = 'activity'" ng-if="faServ.activityType === 'fishing_operation'"></div>
		<div ng-include="'partial/activity/relocationPanel/relocationPanel.html'" ng-init="srcTab = 'activity'" ng-if="faServ.activityType === 'relocation'"></div>
		<div ng-include="'partial/activity/jointFishingOperationPanel/jointFishingOperationPanel.html'" ng-init="srcTab = 'activity'" ng-if="faServ.activityType === 'joint_fishing_operation'"></div>
	</div>
</div>

