<div class="areaManagement">
	<div class="container containerWithTopBottomPadding">
		<div class="alertContainer" ng-show="alert.hasAlert">
			<div class="alert alert-container" role="alert" ng-class="{'alert-danger': alert.hasError, 'alert-success': alert.hasSuccess, 'alert-warning': alert.hasWarning}">
				<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="alert.hasError"></span>
				<span class="fa fa-check-circle" aria-hidden="true" ng-show="alert.hasSuccess"></span>
				<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="alert.hasWarning"></span>
				<span class="alert-message">
					<span>{{alert.alertMessage}}</span>          
				</span>
		    </div>
		</div>
        <div class="areaCard">
        	<!-- LOADING OVERLAY -->
        	<div class="col-md-12 area-loading" ng-show="alert.isLoading">
        		<div class="area-loading-msg">
        			<div>
        				<i class="fa fa-spinner fa-spin"></i>
        			</div>
        			<div>
        				<span>{{alert.loadingMessage}}</span>
        			</div>
        			
        		</div>
        	</div>
        	<!-- LEFT SIDE -->
        	<div class="col-md-6 customPadding">
        		<!-- TAB MENU -->
        		<ul class="nav nav-pills tabMenu">
	        		<li ng-repeat="tab in tabs" ng-click="(helper.isEditing && selectedTab !== '{{tab.tabId}}') || selectTab(tab.tabId)" ng-class="{'active': selectedTab === '{{tab.tabId}}', disabled: helper.isEditing && selectedTab !== '{{tab.tabId}}'}">
	        			<a>{{tab.title}}</a>
	        		</li>
        		</ul>
        		<!-- USER AREAS -->
        		<div class="base-area-container" ng-show="selectedTab === 'USERAREAS'" ng-include="'partial/areas/userAreas/userAreas.html'"></div>
        		<!-- SYSTEM AREAS -->
        		<div class="base-area-container" ng-show="selectedTab === 'SYSAREAS'" ng-include="'partial/areas/systemAreas/systemAreas.html'"></div>    
                <!--USER AREAS GROUPS-->
                <div class="base-area-container" ng-show="selectedTab === 'AREAGROUPS'" ng-include="'partial/areas/userAreasGroups/userAreasGroups.html'"></div>
        	</div>
        	<!-- RIGHT SIDE WITH MAP -->
        	<div class="col-md-6 withoutPadding">
        		<!-- <div class="areaTb"></div> -->
        		<div class="areaMap" id="areaMap"></div>
        	</div>
        </div>
    </div>
</div>