.areaManagement {
	#areaMap {
		width: 100%;
		min-width: 992px; //According to header.less
		overflow: hidden;
		height: 100%;
		display: block;
		position: relative;

		.areas-panel {
			width: 500px;
			min-height: 300px;
			
			position: absolute;
			top: 56px;
			bottom: 100px;
			left: 10px;
			z-index: 1035;
			//max-height: calc(~'100% - 100px');
			
			border: 1px solid @profileColor_gray;
			border-radius: 6px;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
			background-color: white;

			.tabMenu {
				margin-bottom: 10px;
				cursor: default;
				li {
					cursor: pointer;
					border: 1px solid #dddddd;
					border-top: 0;
					border-left: 0;
					a {
						border: 0;
					}
					&:first-child {
						&,
						a {
							border-top-left-radius: 6px;
						}
					}
					&.active {
						a {
							background-color:#ffffff;
							color: #000000;
						}
					}
				}
			}
			.base-area-container {
				height: calc(~'100% - 50px');
				overflow-y: hidden;
				/*.area-form-container {
					max-height: calc(~'100% - 100px');
					height: calc(~'100% - 100px');
				}*/
			}
		}
	}

	.alert-modal-content {
		.modal-dialog {
			.modal-content {
				top: 62px;
				margin-left: 520px;
				margin-right: 38px;
			}
		}
	}

	.areaCard {
		position: relative;
		background-color: white;
		border: 1px solid #dddddd;
		border-top: 5px solid #dddddd;
		border-right: 0;
		margin-top: 10px;
		border-radius: 0px;
		display: table;
		width: 100%;
	}
	.alertContainer {
		width: 100%;
	}
	.area-loading {
		position: absolute;;
		background-color: rgba(221, 221, 221, 0.4);
		z-index: 100;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		.area-loading-msg {
			position: absolute;
			top: calc(~'50% - 42px');
			left: calc(~'50% - 34px');
			div {
				i {
					font-size: 45px;
					color: rgba(40, 40, 40, 0.7);
					margin-bottom: 20px;
				}
				span {
					border-radius: 5px;
					padding: 5px;
					text-transform: uppercase;
					color: white;
					background-color: rgba(80, 80, 80, 0.7);
				}
			}
		}
	}
	.withoutPadding {
		padding: 0;
	}
	.customPadding {
		padding: 0px 10px;
	}
	.areaTb {
		border-left: 1px solid #dddddd;
		border-right: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
		height: 30px;
	}
	.comboLabel{
	    line-height: 30px;
	}
	.loading-getting-attrs {
		bottom: -10px;
	}
	.btn-default.btn-xs .fa-eye {
		margin-left: -2px;
	}
	.transparency-button[disabled] {
		pointer-events: visible;
	}
	.transparency-container {
		width: 200px;
		margin-top: 3px;
		line-height: 25px;
		height: 25px;
	}

	.transparency-slider {
		margin: 0 15px;
		line-height: 23px;
		.slider-track {
			height: 8px;
			.slider-handle{
				width: 15px;
				height: 15px;
				margin-left: -3px !important;
    			margin-top: -4px;
			}
		}
		.tooltip {
			width: 15px !important;
			margin-left: 0 !important;
			&.top {
				margin-top: -32px;
			}
		}
		.tooltip-arrow {
			margin-left: -8px;
		}
		.tooltip-inner {
			margin: 0 -15px;
		}
	}
}
