<div class="areaManagement" ngsf-fullscreen="fullscreenCtrl">
	<loading-panel type="AreaManagement"></loading-panel>
	<alert-modal ng-model="alert.hasAlert" display-msg="alert.alertMessage" target-el-id="area-management-container" display-type="alert.alertType" timeout="4000"></alert-modal>
	<div id="areaMap-toolbar">
		<div class="btn-group-left">
			<div class="btn-group btn-group-xs" role="group" aria-label="Map controls">
	            <button type="button" class="btn btn-default btn-toolbar" ng-class="{active: graticuleActivated}" title="{{graticuleTip}}" ng-click="toggleGraticule()"><span class="fa fa-th"></span></button>
	            <button type="button" class="btn btn-default btn-toolbar transparency-button" ng-class="{active: helper.slider.active}" ng-disabled="!helper.slider.layer"title="{{'areas.layer_transparency' | i18n}}" ng-click="toggleSlider()"><span class="fa fa-adjust"></span></button>
	            <div class="btn btn-default transparency-container" ng-show="helper.slider.active && helper.slider.layer">
	            	<slider id="areaTransp" ng-model="helper.slider.transparency" min="0" step="5" max="100" formatter="formatTooltip(value)"
						on-slide="setTransparency(value, $event)" slider-tooltip-position="top" class="transparency-slider"></slider>
	            </div>
	        </div>
		</div>
		<div class="btn-group-right">
        	<div id="areaMap-coordinates"></div>
            <div class="btn-group btn-group-xs" role="group" aria-label="Map controls">
                <button type="button" class="btn btn-default btn-toolbar btn-fullscreen" title="{{'spatial.map_tip_fullscreen' | i18n }}" ng-click="fullscreenCtrl.toggleFullscreen();"><span class="fa fa-arrows-alt"></span></button>                
            </div>
        </div>
	</div>
	<div id="areaMap">
		<div class="areas-panel">
			<!-- TAB MENU -->
       		<ul class="nav nav-tabs tabMenu">
        		<li ng-repeat="tab in tabs" ng-click="(helper.isEditing && selectedTab !== '{{tab.tabId}}') || selectTab(tab.tabId)" ng-class="{'active': selectedTab === '{{tab.tabId}}', disabled: helper.isEditing && selectedTab !== '{{tab.tabId}}'}">
        			<a>{{tab.title}}</a>
        		</li>
       		</ul>
       		<!-- USER AREAS -->
       		<div class="base-area-container col-md-12" ng-show="selectedTab === 'USERAREAS'" ng-include="'partial/areas/userAreas/userAreas.html'"></div>
       		<!-- SYSTEM AREAS -->
       		<div class="base-area-container col-md-12" id="system-area-form-container" ng-show="selectedTab === 'SYSAREAS'" ng-include="'partial/areas/systemAreas/systemAreas.html'"></div>    
            <!-- USER AREAS GROUPS -->
            <div class="base-area-container col-md-12" id="group-area-form-container" ng-show="selectedTab === 'AREAGROUPS'" ng-include="'partial/areas/userAreasGroups/userAreasGroups.html'"></div>
		</div>
	</div>
	<!-- <div class="container containerWithTopBottomPadding">
		<alert-modal ng-model="alert.hasAlert" display-msg="alert.alertMessage" target-el-id="area-management-container" display-type="alert.alertType" timeout="4000"></alert-modal>
        <div class="areaCard" id="area-management-container">
        	LOADING OVERLAY
        	<div class="area-loading" ng-show="alert.isLoading">
        		<div class="area-loading-msg">
        			<div>
        				<i class="fa fa-spinner fa-spin"></i>
        			</div>
        			<div>
        				<span>{{alert.loadingMessage}}</span>
        			</div>
        			
        		</div>
        	</div>
        	LEFT SIDE
        	<div class="col-md-6 customPadding">
				<loading-panel class="loading-getting-attrs" type="GetAttrToMap"></loading-panel>
				<loading-panel class="loading-getting-attrs" type="SavingSystemArea"></loading-panel>
        		TAB MENU
        		<ul class="nav nav-pills tabMenu">
	        		<li ng-repeat="tab in tabs" ng-click="(helper.isEditing && selectedTab !== '{{tab.tabId}}') || selectTab(tab.tabId)" ng-class="{'active': selectedTab === '{{tab.tabId}}', disabled: helper.isEditing && selectedTab !== '{{tab.tabId}}'}">
	        			<a>{{tab.title}}</a>
	        		</li>
        		</ul>
        		USER AREAS
        		<div class="base-area-container" ng-show="selectedTab === 'USERAREAS'" ng-include="'partial/areas/userAreas/userAreas.html'"></div>
        		SYSTEM AREAS
        		<div class="base-area-container" id="system-area-form-container" ng-show="selectedTab === 'SYSAREAS'" ng-include="'partial/areas/systemAreas/systemAreas.html'"></div>    
                USER AREAS GROUPS
                <div class="base-area-container" id="group-area-form-container" ng-show="selectedTab === 'AREAGROUPS'" ng-include="'partial/areas/userAreasGroups/userAreasGroups.html'"></div>
        	</div>
        	RIGHT SIDE WITH MAP
        	<div class="col-md-6 withoutPadding">
        		<div class="areaTb"></div>
        		<div class="areaMap" id="areaMap"></div>
        	</div>
        </div>
    </div> -->
</div>