.catch-section {
    .catch-subsection {
        h2 {
            text-align: center;
            margin: 0 0 -15px 0;
        }
        &:last-child {
            border-left: 1px solid #ddd;
        }
        .chart-caption {
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
            left: 0;
        }
        thead {
            display: block;
            tr {
                display: block;
                th {
                    width: 50%;
                }
                th.color-column {
                    width: auto;
                }
            }
        }
        tbody {
            display: block;
            overflow-y: auto;
            max-height: 120px;
            width: 100%;
            tr {
                display: block;
                td {
                    width: 50%;
                }
                td.color-column {
                    width: auto;
                }
            }
        }
    }
    .nvd3-chart {
        margin: 0 -40px;
    }
    .table-responsive-force {
        margin-top: 25px;
    }
}