<fieldset class="col-md-12 fieldsetStyle catch-section" ng-controller="CatchpanelCtrl">
    <legend class="fieldsetLegendStyle">
        <a>{{'activity.trip_summary_catch' | i18n }}</a>
    </legend>
    <div class="row" ng-if="isTabActive()"> <!--CHECK IF CURRENT TAB IS ACTIVE-->
        <!--CATCH ON BOARD-->
        <div class="col-md-6 catch-subsection">
            <h2>{{'activity.catch_panel_title_onboard' | i18n }}</h2>
            <div class="col-md-6">
                <div class="nvd3-chart">
                    <nvd3 options="options" data="trip.catchDetails.onboard.speciesList" on-ready="callback"></nvd3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="table-responsive-force">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>{{'activity.catch_panel_column_species' | i18n }}</th>
                                    <th>{{'activity.catch_panel_column_weight' | i18n }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in trip.catchDetails.onboard.speciesList">
                                    <td>{{item.speciesCode}}</td>
                                    <td>{{item.weight}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <span class="chart-caption">{{'activity.catch_panel_chart_caption_total_catches' | i18n }} {{trip.catchDetails.onboard.total}} kg</span>
        </div>
        <!--CATCH LANDED-->
        <div class="col-md-6 catch-subsection">
            <h2>{{'activity.catch_panel_title_landed' | i18n }}</h2>
            <div class="col-md-6">
                <div class="nvd3-chart">
                    <nvd3 options="options" data="trip.catchDetails.landed.speciesList" on-ready="callback"></nvd3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="table-responsive-force">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>{{'activity.catch_panel_column_species' | i18n }}</th>
                                    <th>{{'activity.catch_panel_column_weight' | i18n }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in trip.catchDetails.landed.speciesList">
                                    <td>{{item.speciesCode}}</td>
                                    <td>{{item.weight}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <span class="chart-caption">{{'activity.catch_panel_chart_caption_total_catches' | i18n }} {{trip.catchDetails.landed.total}} kg</span>
        </div>
    </div>
</fieldset>