.copyright-panel {
	padding: 5px;
	font: Lato, Arial;
	.copyright-record {
		margin-bottom: 10px;
	}
	.layer-title {
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		display: block;
	}
	.layer-copyright {
		display: block;
		font-size: 13px;
		color: #777;
		word-break: break-word;
	}
	.layer-disclaimer {
		display: block;
		float: right;
		font-size: 10px;
		margin-top: -10px;
		i {
			font-style: normal;
			cursor: pointer;
			color: @primaryColor;
		}
	}
}
.disclaimer-tip {
	max-width: 500px;
	min-width: 300px;
	.content {
		font-size: 12px;
		ul {
			li {
				list-style-type: disc;
				list-style-position: inside;
			}
		}
	}
}