@import '../../../../vars';
legend {
  font-size: 14px;
}

fieldset {
  margin-bottom: 20px;
}

.email-body {
  margin-top: -17px;
}

.label-content-adjusted {
  padding-top: 5px;
}

.identifiers-group {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  padding: 15px;
}


.form-control.ng-touched.ng-invalid {
  border: 1px solid red;
}

.validation-error {
  color: red;
}

@mixin switch($res: 'sm') {
  $index: 1rem;
  $mainVal: 1rem;

  @if $res == 'md' {
      $index: 2rem;
      $mainVal: 1.5rem;
  } @else if $res == 'lg' {
      $index: 3rem;
      $mainVal: 2rem;
  } @else if $res == 'xl' {
      $index: 4rem;
      $mainVal: 2.5rem;
  }

  .custom-control-label {
      padding-left: #{$index};
      padding-bottom: #{$mainVal};
  }

  .custom-control-label::before {
      height: $mainVal;
      width: calc(#{$index} + 0.75rem);
      border-radius: $mainVal * 2;
  }

  .custom-control-label::after {
      width: calc(#{$mainVal} - 4px);
      height: calc(#{$mainVal} - 4px);
      border-radius: calc(#{$index} - (#{$mainVal} / 2));
  }

  .custom-control-input:checked ~ .custom-control-label::after {
      transform: translateX(calc(#{$mainVal} - 0.25rem));
  }
}

// YOU CAN PUT ALL RESOLUTIONS HERE
// sm - DEFAULT, md, lg, xl
.custom-switch.custom-switch-sm {
  @include switch();
}

.custom-switch.custom-switch-md {
  @include switch('md');
}

.custom-switch.custom-switch-lg {
  @include switch('lg');
}

.custom-switch.custom-switch-xl {
  @include switch('xl');
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: green;
  background-color: green;
}

.form-switch.custom-control-label::before {

  background-color: red;
  border: red solid 1px;
}

.custom-switch .custom-control-label::after {
  background-color: $black-pearl;
  border: 3px solid $basic-white;
}

.password-icon, .email-plus-icon {
  position: absolute;
  right: 35px;
  top: 1px;
}

.password-icon {
  font-size: 27px;
  color: $light-sky-blue ;
  cursor: pointer;
}

.email-plus-icon {
  color: green;
  cursor: pointer;
  font-size: 24px;
}

.email-trash-icon {
  color: red;
  cursor: pointer;
  margin-left: 5px;
}

.password-input {
  position: relative;
}

.buttons-row {
  margin-right: 1px;
}

#email-fieldset fieldset {
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 0 !important;
}

.email-list {
  border: 1px solid #ced4da;
  min-height: 100px;
  max-height: 100px;
  overflow-y: auto;
  padding: 15px;
}

.subscription-form-areas {
    height: 600px;
}

