@import '../../../../vars';

.email-body {
  margin-top: -17px;
}

.label-content-adjusted {
  padding-top: 5px;
}

.identifiers-group {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ced4da;
  padding: 15px;
  border-radius: 0.25rem;
}

.validation-error {
  color: red;
}

.password-icon, .email-plus-icon {
  position: absolute;
  right: 35px;
  top: 1px;
}

.password-icon {
  font-size: 27px;
  color: $light-sky-blue ;
  cursor: pointer;
}

.email-plus-icon {
  color: green;
  cursor: pointer;
  font-size: 24px;
}

.email-trash-icon {
  color: red;
  cursor: pointer;
  margin-left: 5px;
}

.password-input {
  position: relative;
}

.buttons-row {
  margin-right: 1px;
}

#email-fieldset fieldset {
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 0 !important;
}

.email-list {
  border: 1px solid #ced4da;
  min-height: 100px;
  max-height: 100px;
  overflow-y: auto;
  padding: 15px;
}

.subscription-form-areas {
  height: 600px;
}

.subscription-form-assets {
  height: 835px;
}

.activities-list {
  border: 1px solid #ced4da;
  height: 300px;
  overflow-y: auto;
  padding: 10px;

  hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.sender-list {
  border: 1px solid #ced4da;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.group-of-choices {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

ng-multiselect-dropdown.notClickable{
 pointer-events: none;
}

.disabled-fa-icon {
  color: #7f7f7f;
  pointer-events: none;
}
