<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="close(alert)">
  <h5>{{ alert.title }}</h5>
  <p *ngFor="let item of alert.body">
    <b>Message :</b>{{item.message}}
    <span *ngIf="item.path"> <b>Path:</b> {{item.path}}</span>
  </p>
  </ngb-alert>
</p>
<form [formGroup]="subscriptionForm" (ngSubmit)="onSubmit($event)" autocomplete="off">
  <span> <b>{{mode}} Subscription</b></span>
  <div class="form-row justify-content-end buttons-row">
    <button type="button" class="btn btn-outline-secondary mr-1" (click)="reset()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="!subscriptionForm.valid" >Save</button>
  </div>
  <fieldset class="border p-2">
    <legend  class="w-auto">General Configuration</legend>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label-sm">Name</label>
        <div class="col-sm-4">
          <input type="text" formControlName="name" class="form-control" id="name" (blur)="onCheckName()">
          <span class="validation-error" *ngIf="name.errors?.required && name.touched">
            Field is required
          </span>
          <span class="validation-error" *ngIf="name.errors?.incorrect">
            Name is already in use
          </span>
        </div>
        <label for="active" class="col-sm-2 col-form-label-sm">Active</label>
        <div class="col-sm-4">
          <div class="custom-control custom-switch custom-switch-md">
            <input type="checkbox" formControlName="active" class="custom-control-input" id="active">
            <label class="custom-control-label form-switch" for="active"></label>
          </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label-sm">Description</label>
        <div class="col-sm-4">
          <textarea formControlName="description" rows="4" class="form-control" id="description"></textarea>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label for="startDate" class="col-sm-4 col-form-label-sm">From</label>
            <div class="input-group col-sm-8">
              <input class="form-control"
                  name="dpstart" formControlName="startDate" ngbDatepicker #dpstart="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="dpstart.toggle()" type="button">
                    <fa-icon [icon]="faCalendar"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="endDate" class="col-sm-4 col-form-label-sm">Till</label>
            <div class="input-group col-sm-8">
              <input class="form-control"
                  name="dpend" ngbDatepicker formControlName="endDate" #dpend="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="dpend.toggle()" type="button">
                    <fa-icon [icon]="faCalendar"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="form-group row">
      <label for="accessibility" class="col-sm-2 col-form-label-sm">Accessibility</label>
      <div class="input-group col-sm-4">
        <select class="form-control" id="accessibility" formControlName="accessibility">
          <option value=null>-</option>
          <option *ngFor="let item of accessibilityItems" value={{item.value}}>
            {{item.key}}
        </option>
        </select>
      </div>
    </div>
  </fieldset>
  <div formGroupName="output">
    <fieldset class="border p-2">
      <legend class="w-auto">Output</legend>
      <div class="form-group row">
        <label for="alert" class="col-sm-2 col-form-label-sm">Alert</label>
        <div class="col-sm-4">
          <div class="custom-control custom-switch custom-switch-md">
            <input type="checkbox" formControlName="alert" class="custom-control-input" id="alert">
            <label class="custom-control-label form-switch" for="alert"></label>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row">
                <label for="messageType" class="col-sm-4 col-form-label-sm">Message Type</label>
                <div class="col-sm-8">
                    <select class="form-control" id="messageType" formControlName="messageType">
                        <option *ngFor="let item of messageTypes" value={{item.value}}>
                            {{item.key}}
                        </option>
                    </select>
                </div>
            </div>
            <div formGroupName="subscriber">
              <div class="form-group row">
                <label for="organizationId" class="col-sm-4 col-form-label-sm">Organisation</label>
                <div class="col-sm-8">
                  <select class="form-control" id="organisationId" formControlName="organisationId">
                    <option value=null>All</option>
                    <option *ngFor="let item of organizations" value={{item.organisationId}}>
                      <span *ngIf="item.parent">{{item.parent}}</span> {{item.name}}
                    </option>
                  </select>
                  <span class="validation-error" *ngIf="organisationId.errors?.required">
                    Field is required
                  </span>
                </div>
              </div>
              <div class="form-group row">
                  <label for="endPoint" class="col-sm-4 col-form-label-sm">End Point</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="endpoint" formControlName="endpointId">
                      <option value=null>All</option>
                      <option *ngFor="let item of endpointItems" value={{item.endpointId}} >{{item.name}}</option>
                    </select>
                    <span class="validation-error" *ngIf="endpointId.errors?.required">
                      Field is required
                    </span>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="communicationChannel" class="col-sm-4 col-form-label-sm">Comminication Channel</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="communicationChannel" formControlName="channelId">
                      <option value=null>All</option>
                      <option *ngFor="let item of communicationChannels" value={{item.channelId}} >{{item.dataflow}}</option>
                    </select>
                    <span class="validation-error" *ngIf="channelId.errors?.required">
                      Field is required
                    </span>
                  </div>
              </div>

            </div>
        </div>
      </div>
      <div id="email-fieldset">
        <fieldset class="border p-2">
          <legend class="w-auto">
            <div class="custom-control custom-checkbox custom-control-inline">
              <input class="custom-control-input" type="checkbox" id="email" formControlName="hasEmail">
              <label class="custom-control-label" for="email">Email</label>
            </div>
          </legend>
          <div [ngbCollapse]="!hasEmail.value" >
            <div class="form-group row">
                <label for="emails" class="col-sm-2 col-form-label-sm">Emails</label>
                <div class="col-sm-4">
                  <div class="email-list">
                      <ng-template #content let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Add E-mail(s)</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form #emailForm="ngForm">
                              <div class="form-group">
                                <label for="email">Email addresses</label>
                                <textarea rows="4" pattern="^[a-zA-Z0-9@;._]+$" ngModel name="emails" #emails="ngModel"  type="email" class="form-control" id="email" aria-describedby="email"></textarea>
                                <small id="emailHelp" class="form-text text-muted">Insert multiple emails using ;</small>
                                <span class="validation-error" *ngIf="emails.invalid && (emails.dirty || emails.touched)">
                                  Please insert only valid characters
                                </span>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="modal.close(emailForm.value)" [disabled]="!emailForm.valid">Save</button>
                          </div>
                      </ng-template>
                    <fa-icon class="email-plus-icon" (click)="addEmail(content)" [icon]="faPlusSquare"></fa-icon>
                    <div id="emails-list" formArrayName="emails" *ngFor="let item of emails.value; let i = index;">
                      <label id="emails_{{i}}">{{item}}</label>
                      <fa-icon class="email-trash-icon" (click)="removeEmail(i)" [icon]="faTrash"></fa-icon>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="custom-control custom-checkbox custom-control-inline">
                      <input class="custom-control-input" type="checkbox" disabled id="inlineCheckbox1" value="option">
                      <label class="custom-control-label" for="inlineCheckbox1">Include link to trip overview</label>
                    </div>
                </div>
                </div>
                <div formGroupName="emailConfiguration" class="col-sm-6">
                    <div class="form-group row">
                        <div class="offset-md-4 col-sm-6">
                            <button type="button" class="btn btn-primary" disabled>
                              <fa-icon [icon]="faRetweet"></fa-icon>
                            </button>
                             Reset Default
                        </div>
                    </div>
                    <div class="form-group row email-body">
                        <label for="body" class="col-sm-4 col-form-label-sm">Body</label>
                        <div class="col-sm-8">
                            <textarea formControlName="body" rows="4" class="form-control" id="body"></textarea>
                            <div class="validation-error" *ngIf="body.errors?.required">
                              Field is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div formGroupName="emailConfiguration">
                <div class="form-group row">
                  <label for="attachments" class="col-sm-2 col-form-label-sm">Attachments</label>
                  <div class="col-sm-4">
                      <div class="custom-control custom-checkbox custom-control-inline">
                          <input class="custom-control-input" type="checkbox" id="pdf" formControlName="isPdf" value="option">
                          <label class="custom-control-label" for="pdf">PDF</label>
                      </div>
                  </div>
                  <div class="offset-sm-2 col-sm-2">
                      <div class="custom-control custom-checkbox custom-control-inline">
                          <input class="custom-control-input" type="checkbox" formControlName="isXml" id="xml" value="option">
                          <label class="custom-control-label" for="xml">XML</label>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="offset-sm-2 col-sm-4">
                      <select class="form-control" id="template" disabled>
                          <option value="">Template</option>
                      </select>
                  </div>
                  <div class="offset-sm-2 col-sm-4">
                      <select class="form-control" id="fluxmessage" disabled>
                          <option value="">Flux Message</option>
                      </select>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="offset-sm-2 col-sm-4">
                      <div class="custom-control custom-checkbox custom-control-inline">
                          <input class="custom-control-input" type="checkbox" formControlName="hasAttachments" id="zipAttachments" value="option">
                          <label class="custom-control-label" for="zipAttachments">Zip Attachments</label>
                      </div>
                  </div>
                  <div class="offset-sm-2 col-sm-4">
                      <select class="form-control" id="dataflow" disabled>
                          <option value="">Dataflow</option>
                      </select>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="offset-sm-2 col-sm-4">
                      <input class="form-control password-input" [type]="fieldType ? 'text' : 'password'"
                        formControlName="password" id="password" placeholder="add password optional" (blur)="onPasswordChange()">
                      <fa-icon class="password-icon" (click)="togglePassword()" [icon]="faEye"></fa-icon>
                  </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </fieldset>
    <fieldset class="border p-2">
        <legend  class="w-auto">Message Configuration</legend>
        <div class="form-group row">
            <label for="logbook" class="col-sm-2 col-form-label-sm">Logbook</label>
            <div class="col-sm-2">
              <div class="custom-control custom-switch custom-switch-md">
                  <input type="checkbox" formControlName="logbook" class="custom-control-input" id="logbook">
                  <label class="custom-control-label form-switch" for="logbook"></label>
              </div>
            </div>
            <label for="generateNewReportId" class="col-sm-2 col-form-label-sm">New Report ID</label>
            <div class="col-sm-2">
              <div class="custom-control custom-switch custom-switch-md">
                  <input type="checkbox" formControlName="generateNewReportId" class="custom-control-input" id="generateNewReportId">
                  <label class="custom-control-label form-switch" for="generateNewReportId"></label>
              </div>
            </div>
            <label for="history" class="col-sm-1 col-form-label-sm">History</label>
            <div class="col-sm-1 mx-0 px-0">
                <input type="number" formControlName="history" class="form-control" id="history" min="0">
            </div>
            <div class="col-sm-1 mx-0 px-0">
                <select class="form-control" id="historyUnit" formControlName="historyUnit">
                  <option *ngFor="let item of historyUnits" value={{item.value}}>
                    {{item.key}}
                  </option>
              </select>
              <div class="validation-error" *ngIf="historyUnit.errors?.required">
                Field is required
              </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="consolidated" class="col-sm-2 col-form-label-sm">Consolidated</label>
            <div class="col-sm-1">
                <div class="custom-control custom-switch custom-switch-md">
                    <input type="checkbox" formControlName="consolidated" class="custom-control-input" id="consolidated">
                    <label class="custom-control-label form-switch" for="consolidated"></label>
                </div>
            </div>
            <label for="identifiers" class="col-sm-2 col-form-label-sm">Identifiers</label>
            <div class="col-sm-6 identifiers-group">
              <div class="custom-control custom-checkbox custom-control-inline" *ngFor="let item of vesselIdentifiers; let i = index" formArrayName="vesselIds">
                <input class="custom-control-input" type="checkbox" id="identifierCheckbox_{{i}}" [formControlName]="i">
                <label class="custom-control-label" for="identifierCheckbox_{{i}}">{{item| removeUnderscore }}</label>
              </div>
            </div>
        </div>
    </fieldset>
  </div>
  <fieldset class="border p-2" formGroupName="execution">
    <legend  class="w-auto">Execution</legend>
    <div class="form-group row">
      <label for="triggerType" class="col-sm-2 col-form-label-sm">Trigger</label>
      <div class="col-sm-3">
        <select class="form-control" id="triggerType" formControlName="triggerType" (change)="onTriggerTypeChange()">
          <option *ngFor="let item of triggerTypes" value={{item.value}}>
            {{item.key}}
          </option>
        </select>
      </div>
      <div class="offset-sm-2 col-sm-2">
        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" id="scheduler" value="option">
            <label class="custom-control-label" for="scheduler">Scheduler</label>
        </div>
      </div>
      <label for="immediate" class="col-form-label-sm">Immediate</label>
      <div class="col-sm-2">
        <div class="custom-control custom-switch custom-switch-md">
          <input type="checkbox" formControlName="immediate" formControlName="immediate" class="custom-control-input" id="immediate">
          <label class="custom-control-label form-switch" for="immediate"></label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="frequency" class="col-sm-1 offset-md-7 col-form-label-sm">Frequency</label>
      <div class="col-sm-1">
        <input type="number" formControlName="frequency" class="form-control" id="frequency" min="0">
        <div class="validation-error" *ngIf="frequency.errors?.required">
          Field is required
        </div>
      </div>
      <div class="col-sm-1 mx-0 px-0">
        <select class="form-control" id="frequencyUnit" formControlName="frequencyUnit">
          <option *ngFor="let item of frequencyUnits" value={{item.value}}>
            {{item.key}}
          </option>
        </select>
        <div class="validation-error" *ngIf="frequencyUnit.errors?.required">
          Field is required
        </div>
      </div>
      <label for="at" class="label-content-adjusted">at</label>
      <div class="col-sm-1">
        <input type="text" class="form-control" formControlName="timeExpression" id="at" placeholder="hh:mm">
        <div class="validation-error" *ngIf="timeExpression.errors?.required">
          Field is required
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="border p-2">
    <legend  class="w-auto">Start Conditions</legend>
    <div class="form-group row">
      <div class="col-sm-4">
        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" id="hasAreas" [checked]="!isCollapsed" (change)="isCollapsed = !isCollapsed">
            <label class="custom-control-label" for="hasAreas">Areas
              <span *ngIf="numberOfSelectedAreas" class="badge badge-danger">{{ numberOfSelectedAreas }}</span>
            </label>
        </div>
      </div>
    </div>
    <div class="form-group row" [ngbCollapse]="isCollapsed" class="subscription-form-areas">
      <div class="col-md-12">
        <app-area-selection formArrayName="areas" [formGroup]="subscriptionForm" (selectedAreasChange)="onSelectedAreasChange($event)"></app-area-selection>
      </div>
    </div>
    <hr *ngIf="!isCollapsed">
    <div class="form-group row">
      <div class="col-sm-4">
        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" id="hasAssets" [checked]="!isAssetsCollapsed" (change)="isAssetsCollapsed = !isAssetsCollapsed">
            <label class="custom-control-label" for="hasAssets">Assets
              <span *ngIf="numberOfSelectedAssets" class="badge badge-danger">{{ numberOfSelectedAssets }}</span>
            </label>
        </div>
      </div>
    </div>
    <div class="form-group row" [ngbCollapse]="isAssetsCollapsed" class="subscription-form-assets">
      <div class="col-md-12">
        <app-asset-selection formArrayName="assets" [formGroup]="subscriptionForm" (selectedAssetsChange)="onSelectedAssetsChange($event)" ></app-asset-selection>
      </div>
    </div>
    <hr *ngIf="!isAssetsCollapsed">
  </fieldset>
</form>
