
<form [formGroup]="subscriptionForm" (ngSubmit)="onSubmit($event)">
  <div class="form-row justify-content-end">
		<button type="submit" class="btn btn-primary mr-1">Save</button>
		<button type="button" class="btn btn-outline-secondary">Cancel</button>
	</div>
  <fieldset class="border p-2">
    <legend  class="w-auto">General Configuration</legend>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label-sm">Name</label>
        <div class="col-sm-4">
          <input type="text" formControlName="name" class="form-control" id="name">
        </div>
        <label for="active" class="col-sm-2 col-form-label-sm">Active</label>
        <div class="col-sm-4">
          <div class="custom-control custom-switch">
            <input type="checkbox" formControlName="active" class="custom-control-input" id="active">
            <label class="custom-control-label" for="active"></label>
          </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label-sm">Description</label>
        <div class="col-sm-4">
          <textarea formControlName="description" rows="5" class="form-control" id="description"></textarea>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label for="startDate" class="col-sm-4 col-form-label-sm">From</label>
            <div class="input-group col-sm-5">
              <input class="form-control"
                  name="dpstart" formControlName="startDate" ngbDatepicker #dpstart="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="dpstart.toggle()" type="button">
                    <fa-icon [icon]="faCalendar"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-4 col-form-label-sm">Till</label>
            <div class="input-group col-sm-5">
              <input class="form-control"
                  name="dpend" ngbDatepicker formControlName="endDate" #dpend="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="dpend.toggle()" type="button">
                    <fa-icon [icon]="faCalendar"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </fieldset>
  <div formGroupName="output">
    <fieldset class="border p-2">
      <legend  class="w-auto">Output</legend>
      <div class="form-group row">
        <label for="active" class="col-sm-2 col-form-label-sm">Alert</label>
        <div class="col-sm-4">
          <div class="custom-control custom-switch">
            <input type="checkbox" formControlName="alert" class="custom-control-input" id="alert">
            <label class="custom-control-label" for="alert"></label>
          </div>
        </div>
        <label for="messageType" class="col-sm-2 col-form-label-sm">Flux Message</label>
        <div class="col-sm-4">
          <div class="custom-control custom-radio">
            <input type="radio" id="messageType1" formControlName="messageType" name="messageType" class="custom-control-input">
            <label class="custom-control-label" for="messageType1">None</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="messageType2" formControlName="messageType"  name="messageType" class="custom-control-input">
            <label class="custom-control-label" for="messageType2">FA Report</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="messageType3" formControlName="messageType" name="messageType" class="custom-control-input">
            <label class="custom-control-label" for="messageType3">FA Query</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="messageType4" formControlName="messageType" name="messageType" class="custom-control-input">
            <label class="custom-control-label" for="messageType4">Position</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="messageType5" formControlName="messageType" name="messageType" class="custom-control-input">
            <label class="custom-control-label" for="messageType5">Sale Note</label>
          </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="emails" class="col-sm-2 col-form-label-sm">Emails</label>
        <div class="col-sm-4">
          <textarea formControlName="emails" type="text" class="form-control" id="emails"></textarea>
        </div>
        <div class="offset-sm-2 col-sm-4">
          <select class="form-control" id="subscriber" formControlName="subscriber">
            <option value="" disabled selected hidden>Subscriber</option>
          </select>
        </div>
    </div>
  </fieldset>
  <fieldset class="border p-2">
      <legend  class="w-auto">Message Configuration</legend>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label-sm">Logbook</label>
        <div class="col-sm-1">
          <div class="custom-control custom-switch">
            <input type="checkbox" formControlName="logbook" class="custom-control-input" id="logbook">
            <label class="custom-control-label" for="logbook"></label>
          </div>
        </div>
        <label for="generateNewReportId" class="col-sm-2 col-form-label-sm">New Report ID</label>
        <div class="col-sm-1">
          <div class="custom-control custom-switch">
            <input type="checkbox" formControlName="generateNewReportId" class="custom-control-input" id="generateNewReportId">
            <label class="custom-control-label" for="active"></label>
          </div>
        </div>
        <label for="history" class="col-sm-1 col-form-label-sm">History</label>
        <div class="col-sm-2">
          <input type="text" formControlName="history" class="form-control" id="history">
        </div>
      </div>
      <div class="form-group row">
        <label for="consolidated" class="col-sm-2 col-form-label-sm">Consolidated</label>
        <div class="col-sm-1">
          <div class="custom-control custom-switch">
            <input type="checkbox" formControlName="consolidated" class="custom-control-input" id="consolidated">
            <label class="custom-control-label" for="logbook"></label>
          </div>
        </div>
        <label for="identifiers" class="col-sm-2 col-form-label-sm">Identifiers</label>
        <div class="col-sm-2">
          <select class="form-control" id="identifiers" formControlName="vesselIds">
            <option value="">Identifiers</option>
          </select>
        </div>
      </div>
  </fieldset>

  </div>

</form>
