legend {
  font-size: 14px;
}

fieldset {
    margin-bottom: 20px;
}

.email-body {
  margin-top: -17px;
}

.label-content-adjusted {
  padding-top: 5px;
}

.identifiers-group {
  border: 1px solid black;
  padding-top: 9px;
}

.identifiers-item {
  margin-right: 50px;
}
