.spatialConfig {
	accordion {
		.panel-heading {
			padding: 0;
			border: 1px solid #dddddd;
			.panel-title-link {
				padding: 10px 15px;
			}
		}
		.panel-heading + .panel-collapse .panel-body {
			border: 1px solid #dddddd;
			border-top-width: 0;
			.dropdown-menu {
				position: static;
			}
		}
	}
}