.spatialModule {
	.userPreferencesFormContainer {
		padding: 15px;
		display: flex;
		.userPreferencesForm {
			border: 1px solid #ddd;
			padding-top: 10px;
			.dropdown-menu {
				position: static;
			}
		}
	}
}