<div class="mapConfigurationModal">
	<div class="modal-header row">
        <div class="closeIconContainer" ng-click="cancel()">
            <i class="fa fa-times closeicon" title="{{'common.close' | i18n}}"></i>
        </div>
        <div class="col-md-12 header">
        	<span class="modalTitle">{{'spatial.map_configuration_modal_title' | i18n}}</span>
        </div>
    </div>
    <div class="modal-body row">
        <div class="row">
            <div class="form-group col-md-6 noPadding">
                <label for="mapProjection">{{'spatial.map_configuration_map_projection' | i18n}}</label>
                <dropdown id="mapProjection" ng-model="mapProjection" items="projectionItems" initialtext="{{'spatial.map_configuration_map_projection' | i18n}}"></dropdown>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 noPadding">
                <label for="displayProjection">{{'spatial.map_configuration_display_projection' | i18n}}</label>
                <dropdown id="displayProjection" ng-model="displayProjection" items="projectionItems" initialtext="{{'spatial.map_configuration_display_projection' | i18n}}"></dropdown>
            </div>
            <div class="form-group col-md-6 noPadding" ng-show="projectionSelected">
                <label for="coordinatesFormat">{{'spatial.map_configuration_coordinates_format' | i18n}}</label>
                <dropdown id="coordinatesFormat" ng-model="coordinatesFormat" items="coordinatesFormatItems" initialtext="{{'spatial.map_configuration_coordinates_format' | i18n}}"></dropdown>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 noPadding">
                <label for="scaleBarUnits">{{'spatial.map_configuration_scale_bar_units' | i18n}}</label>
                <dropdown id="scaleBarUnits" ng-model="scaleBarUnits" items="scaleBarUnitsItems" initialtext="{{'spatial.map_configuration_scale_bar_units' | i18n}}"></dropdown>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <div class="modal-footer row">
    	<div class="col-md-12">
    		<button class="btn btn-primary" type="button" ng-click="save()">{{'common.save' | i18n}}</button>
    		<button class="btn btn-default" type="button" ng-click="cancel()">{{'common.cancel' | i18n}}</button>
    	</div>
    </div>
</div>
