<div id="mapConfigurationModal" class="mapConfigurationModal">
    <div class="modal-header">
        <div class="pointer pull-right" ng-click="cancel()">
             <i class="fa fa-times closeicon"></i>
        </div>
        <h4 class="modal-title">{{'spatial.map_configuration_modal_title' | i18n}}</h4>
    </div>
    <div class="modal-body">
    	<div class="col-md-12 containerWithTopBottomPadding spatial-error" ng-if="alert.hasAlert">
			<div class="alert alert-container" role="alert" ng-class="{'alert-danger': alert.hasError, 'alert-success': alert.hasSuccess, 'alert-warning': alert.hasWarning}">
				<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="alert.hasError"></span>
				<span class="fa fa-check-circle" aria-hidden="true" ng-show="alert.hasSuccess"></span>
				<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="alert.hasWarning"></span>
				<span class="alert-message">
					<span>{{alert.alertMessage}}</span>          
				</span>
		    </div>
		</div>
       	<div class="row containerCollapsible">
       		<loading-panel type="Preferences"></loading-panel>
	    	<form name="mapConfigurationForm" novalidate>
<!--     	   <div class="col-md-12 fixMargin" ng-include="'partial/spatial/configurations/mapSettingsPanel/mapProjectionSettings/mapProjectionSettings.html'"></div> -->
	    	    <div class="collapsiblePanel" ng-include="'partial/spatial/configurations/mapSettingsPanel/mapSettingsCollapsiblePanel.html'"></div>
				<div class="collapsiblePanel" ng-include="'partial/spatial/configurations/vmsStyles/vmsStylesCollapsiblePanel.html'"></div>
				<div class="collapsiblePanel" ng-include="'partial/spatial/configurations/visibilitySettings/visibilitySettings.html'"></div>
				<div class="collapsiblePanel" ng-include="'partial/spatial/configurations/layerSettings/layerSettings.html'"></div>
			</form>
		</div>
    </div>
    <!-- FOOTER -->
    <div class="modal-footer">
        <div class="row">
        	<div class="col-md-12">
        		<button class="btn btn-primary" type="button" ng-click="save()">{{'common.save' | i18n}}</button>
        		<button class="btn btn-default" type="button" ng-click="cancel()">{{'common.cancel' | i18n}}</button>
        	</div>
        </div>
    </div>
</div>
