<div class="col-md-12 new-subscription" ng-controller="NewsubscriptionCtrl">
    <div static-include="partial/subscriptions/subscriptionsHeader/subscriptionsHeader.html"></div>
    <div class="container containerWithTopBottomPadding nopaddingtop">
        <div class="card nomargintop col-md-12">
            <form name="subscriptionForm" id="subscriptionForm" novalidate>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>{{'subscriptions.subscription_form_name' | i18n }}</label>
                        <input type="text" class="form-control" ng-model="subscription.name" />
                    </div>
                    <div class="col-md-4 form-group isActive">
                        <label><input type="checkbox" ng-model="subscription.isActive"/> {{'subscriptions.subscription_form_active' | i18n }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>{{'subscriptions.subscription_form_organization' | i18n }}</label>
                        <combobox ng-model="subscription.organization" items="comboData.organization"></combobox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>{{'subscriptions.subscription_form_subscription_type' | i18n }}</label>
                        <combobox ng-model="subscription.subscriptionType" items="comboData.subscriptionType"></combobox>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>{{'subscriptions.subscription_form_accessibility' | i18n }}</label>
                        <combobox ng-model="subscription.accessibility" items="comboData.accessibility"></combobox>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>{{'subscriptions.subscription_end_point' | i18n }}</label>
                        <combobox ng-model="subscription.endPoint" items="comboData.endPoint"></combobox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>{{'subscriptions.subscription_description' | i18n }}</label>
                        <textarea class="form-control form-decription" ng-model="subscription.description"></textarea>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>{{'subscriptions.subscription_valid_form' | i18n }}</label>
                                <datepicker-input placeholder="dd/mm/yyyy" time="true" model="subscription.validFrom" name="periodStartFACriterion"
                                    max-date="subscription.validUntil" input-field-id="periodStartFACriterion" update-when="default"></datepicker-input>
                            </div>
                            <div class="col-md-6">
                                <label>{{'subscriptions.subscription_valid_until' | i18n }}</label>
                                <datepicker-input placeholder="dd/mm/yyyy" time="true" model="subscription.validUntil" name="periodStartFACriterion"
                                    input-field-id="periodEndFACriterion" update-when="default"></datepicker-input>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>{{'subscriptions.subscription_communication_channel' | i18n }}</label>
                        <combobox ng-model="subscription.commChannel" items="comboData.commChannel"></combobox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <h5 class="section-text">Trigger</h5>
                        <div class="row col-md-6">
                            <label><input type="checkbox" ng-model="subscription.manual" ng-change=""/> {{'subscriptions.subscription_manual' | i18n }}</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="checkbox" ng-model="subscription.auto" ng-change=""/> {{'subscriptions.subscription_auto' | i18n }}</label>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>{{'subscriptions.subscription_retry_delay' | i18n }}</label>
                        <input type="text" class="form-control" ng-model="subscription.retryDelay" />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>{{'subscriptions.subscription_message_type' | i18n }}</label>
                        <combobox ng-model="subscription.messageType" items="comboData.messageType"></combobox>
                    </div>
                </div>
                <ng-form name="reportBodyForm">
                    <div class="col-md-12 form-group">
                        <div class="row" ng-include="'partial/subscriptions/newSubscription/repParamSubscription/repParamSubscription.html'"></div>
                    </div>
                    <div class="row form-group" ng-include="'partial/spatial/reportsPanel/reportForm/vesselFieldset/vesselFieldset.html'"></div>
                </ng-form>
                <button class="btn btn-primary button btn-action" type="button" ng-click="saveSubscription(subscription)">Save</button>
            </form>
           
        </div>
    </div>
</div>