[ng-controller="RulerowCtrl"] {
    .btn-rm{
        padding-top: 0;
        button.btn-danger{
            width: 30px;
            height: 30px;
            font-size: 14px;
            padding: 0;
            background-color: #fff;
            border-color: #b4bdc0;
            color: @profileColor_red;
        }
    } 
}