<div ng-controller="manageRoleCtrl">
    <form novalidate class="form-horizontal" name="duplicateUserProfileForm" ng-submit="duplicateUserProfileForm.$valid && duplicateProfile(selectedUsersName)">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="modal-title">Duplicate User Profile</h3>
                </div>
            </div>
        </div>

		<div class="modal-body">
			<div class="row">
				<div class="col-md-12" ng-class="messageDivClass">
					<span ng-bind="actionMessage" ng-class="messageClass"></span>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<label for="userNameDst" class="control-label col-md-3">{{ 'users.copyToUser' | translate }}</label>
					<div class="col-md-5">
						<input type="text" class="form-control" id="userNameDst" name="userNameDst" ng-disabled="true"
							   ng-model="user.userName" required>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<label for="userNameSrc" class="control-label col-md-3">{{ 'users.copyFromUser' | translate }}</label>
					<div class="col-md-5">
						<select class="form-inline form-control dropdown"
								id="userNameSrc"
								name="userNameSrc"
								ng-model="selectedUsersName"
								ng-change="showUserContext(selectedUsersName)"
								ng-options="userName as userName for userName in usersNames"
								ng-disabled="formDisabled || showConfirmation"
								required
								ng-class="{pointer: pointer}"
								ng-mouseenter="pointer=true"
								ng-mouseleave="pointer=false"
								focus-me>
						</select>
					</div>
				</div>
			</div>


		</div>

        <div class="modal-footer">
            <div class="row">
				<div class="col-md-offset-8 col-md-4">
					<input type="button" class="btn btn-warning btn-sm" ng-hide="actionSucceeded" ng-click="cancel()" value="Cancel"/>
                    <input type="submit" class="btn btn-primary btn-sm" value="Copy profile"
                           ng-disabled="duplicateUserProfileForm.$invalid || !userContextsList.length" ng-show="!actionSucceeded && !showConfirmation"/>
					<input type="submit" class="btn btn-primary btn-sm" value="Confirm"
                           ng-disabled="manageUserContextsForm.$invalid" ng-show="!actionSucceeded && showConfirmation" />
                    <label class="btn btn-success btn-sm fa fa-check" ng-show="actionSucceeded" />
				</div>
			</div>
		</div>
	</form>
</div>
