<div ng-controller="setUserPasswordCtlr">

    <form novalidate class="form-horizontal" name="setUserPasswordForm" ng-submit="setUserPasswordForm.$valid && saveUserPassword(user.password)">


        <div class="modal-header">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="modal-title">Set Password</h3>
                </div>
            </div>
        </div>

        <div class="modal-body">

         <div class="row">
                <div class="col-md-12" ng-class="messageDivClass">
                    <span ng-bind-html="actionMessage" ng-class="messageClass"></span>
                </div>
         </div>

            <div class="row">
                <div class="form-group">
                  <label class="col-md-4 col-md-offset-1" for="password">Password
                    <sup class="fa fa-asterisk mandatory" ></sup></label>

                     <div class="col-md-5">
                        <input type="password" class="form-control" id="password" name="password" ng-model="user.password"
                               required>

                          <div ng-show="setUserPasswordForm.password.$dirty">
                            <span class="text-danger small"
                              ng-show="setUserPasswordForm.password.$error.required">Password is required</span>
                           </div>

                      </div>
                 </div>
            </div>


            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 col-md-offset-1" for="repeatPassword">Confirm Password
                     <sup class="fa fa-asterisk mandatory" ></sup></label>

                       <div class="col-md-5">
                          <input type="password" class="form-control" name="repeatPassword" id="repeatPassword" ng-model="user.repeatPassword"
                                 repeat-password="password">


                              <div ng-show="setUserPasswordForm.repeatPassword.$dirty">
                                  <span class="text-danger small" ng-show="user.repeatPassword!==user.password" >Passwords do not match</span>

                              </div>

                       </div>

                </div>
            </div>

        <div class="modal-footer">
            <div class="row">

                  <div class="col-md-offset-8 text-left">
                  </div>

                  <div class="col-md-offset-8 col-md-4">

                     <input type="button" class="btn btn-warning btn-sm"  ng-show="!userPasswordUpdated" ng-click="cancel()" value="Cancel"/>

                       <input type="submit" class="btn btn-primary btn-sm" value="Save"
                          ng-disabled="setUserPasswordForm.$invalid" ng-show="!userPasswordUpdated && !showConfirmation"/>

                       <input type="submit" class="btn btn-primary btn-sm" value="Confirm"
                           ng-disabled="setUserPasswordForm.$invalid" ng-show="!userPasswordUpdated && showConfirmation" />

                        <label class="btn btn-success btn-sm fa fa-check" ng-show="userPasswordUpdated" />

                   </div>
             </div>
        </div>

        </div>

    </form>
</div>
