<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div ng-controller="ModifyContactDetails">
  <form novalidate class="form-horizontal" name="setMyContactDetailsForm" ng-submit="setMyContactDetailsForm.$valid && saveMyContactDetails(myContactDetails)">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-8">
          <h3 class="modal-title">Update Contact Details</h3>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12" ng-class="messageDivClass">
          <span ng-bind-html="actionMessage" ng-class="messageClass"></span>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-md-4 col-md-offset-1" for="phoneNumber">Phone Number</label>
          <div class="col-md-5">
            <input type="text" 
                   class="form-control" 
                   id="phoneNumber" 
                   name="phoneNumber" 
                   ng-model="myContactDetails.phoneNumber">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-md-4 col-md-offset-1" for="mobileNumber">Mobile Number</label>
          <div class="col-md-5">
            <input type="text" 
                   class="form-control" 
                   id="mobileNumber" 
                   name="mobileNumber" 
                   ng-model="myContactDetails.mobileNumber">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-md-4 col-md-offset-1" for="faxNumber">Fax Number</label>
          <div class="col-md-5">
            <input type="text" 
                   class="form-control" 
                   id="faxNumber" 
                   name="faxNumber" 
                   ng-model="myContactDetails.faxNumber">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-md-4 col-md-offset-1" for="email">E-Mail
            <sup class="fa fa-asterisk mandatory" ></sup></label>
          <div class="col-md-5">
            <input type="text" 
                   class="form-control" 
                   id="email" 
                   name="email" 
                   ng-model="myContactDetails.email"
                   required>
            <div ng-show="setMyContactDetailsForm.email.$dirty">
              <span class="text-danger small" ng-show="setMyContactDetailsForm.email.$error.required">E-Mail is required</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-md-4 col-md-offset-1" for="currentPassword">Password
            <sup class="fa fa-asterisk mandatory" ></sup></label>
          <div class="col-md-5">
            <input type="password" 
                   class="form-control" 
                   id="currentPassword" 
                   name="currentPassword" 
                   ng-model="myContactDetails.currentPassword"
                   required>
            <div ng-show="setMyContactDetailsForm.currentPassword.$dirty || setMyContactDetailsForm.currentPassword.$error.minlength">
              <span class="text-danger small" ng-show="setMyContactDetailsForm.currentPassword.$error.required">Password is required</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-offset-8 text-left"></div>
          <div class="col-md-offset-8 col-md-4">
            <input type="button" class="btn btn-warning btn-sm"  ng-show="!contactDetailsUpdated" ng-click="cancel()" value="Cancel"/>
            <input type="submit" class="btn btn-primary btn-sm" value="Save"
                   ng-disabled="setMyContactDetailsForm.$invalid" ng-show="!contactDetailsUpdated && !showConfirmation"/>
            <input type="submit" class="btn btn-primary btn-sm" value="Confirm"
                   ng-disabled="setMyContactDetailsForm.$invalid" ng-show="!contactDetailsUpdated && showConfirmation" />
            <label class="btn btn-success btn-sm fa fa-check" ng-show="contactDetailsUpdated" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>