<div ng-controller="WarningPassword">
    <form novalidate class="form-horizontal" name="warningPasswordForm" ng-submit="warningPasswordForm.$valid">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="modal-title">Warning Password Expiration</h3>
                </div>
            </div>
        </div>
        <div class="modal-body">
	         <div class="row">
	             <div class="form-group">
	               <label class="col-md-4 col-md-offset-1"> </label>
	              </div>
	         </div>
	         <div class="row">
	             <div class="form-group">
	               <label class="col-md-4 col-md-offset-1"> </label>
	              </div>
	         </div>
	         <div class="row">
	                <div class="col-md-12" ng-class="messageDivClass">
	                    <p class="text-center"><strong><span ng-bind-html="actionMessage" ng-class="messageClass"></span></strong></p>
	                </div>
	         </div>
	         <div class="row">
	             <div class="form-group">
	               <label class="col-md-4 col-md-offset-1"> </label>
	              </div>
	         </div>
	         <div class="row">
	             <div class="form-group">
	               <label class="col-md-4 col-md-offset-1"> </label>
	              </div>
	         </div>
	         <div class="modal-footer">
	            <div class="row">
	                  <div class="col-md-offset-8 text-left"></div>
	                  <div class="col-md-offset-8 col-md-4">
	                     <input type="button" class="btn btn-warning btn-sm"  ng-click="cancel()" value="Ok"/>
	                   </div>
	             </div>
	         </div>
        </div>
    </form>
</div>
