.searchResultsContainer{
    min-height: 100px;

    .loadingIndicator{
        .spinner{
            margin-top:30px;
        }
    }

    &.isEmpty{
        .loadingIndicator{
            .spinner{
                margin-top:50px;
            }
        }
    }
}
