<div class="alarmSearchContainer" ng-controller="HoldingTableSearchController">
	<div class="row">

        <div class="col-md-2">
            <dropdown ng-model="advancedSearchObject.STATUS" initialtext="{{'alarms.alarms_search_status' | i18n}}" items="statusOptions"></dropdown>
        </div>
		<div class="col-md-2">
			<dropdown ng-model="advancedSearchObject.TIME_SPAN" no-placeholder-item items="timeSpanOptions"></dropdown>
		</div>
		<div class="col-md-2">
			<datepicker-input model="advancedSearchObject.FROM_DATE" time="true" max-date="advancedSearchObject.TO_DATE"  placeholder="{{'common.search_from' | i18n}}"></datepicker-input>
		</div>
		<div class="col-md-2">
			<datepicker-input model="advancedSearchObject.TO_DATE" time="true" min-date="advancedSearchObject.FROM_DATE"  placeholder="{{'common.search_to' | i18n}}"></datepicker-input>
		</div>
        <div class="col-md-1">
            <input type="text" ng-model="advancedSearchObject.NAME" placeholder="{{'alarms.alarms_search_affected_object_placeholder' | i18n}}"/>
        </div>
        <div class="col-md-1">
            <dropdown ng-model="advancedSearchObject.RULE_GUID" initialtext="{{'alarms.alarms_search_rule' | i18n}}" items="rules"></dropdown>
        </div>
		<div class="col-md-2 nopaddingright nopaddingleft">
            <div class="row nomargin">
    			<div class="col-md-6 smallerpadding">
    				<button type="submit" class="btn btn-primary btn-sm vmsbtn" ng-click="performAdvancedSearch()">{{'common.search' | i18n}}</button>
    			</div>
    			<div class="col-md-6 smallerpadding">
    				<button type="button" class="btn btn-default btn-sm fullWidth vmsbtn" ng-click="resetSearch(true)">
    					{{'common.reset' | i18n}}
    		        </button>
    			</div>
            </div>
		</div>
	</div>
</div>
