#zoomModal {
    display: block;
    background: white;
    width: 10%;
    height: 50%;
    position: absolute;
    left: 90%;
    top: 50%;
}

#zoomContainer {
    background: white;
    width: 128px;
    position: absolute;
    z-index: 1000;
    justify-content: space-between;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    bottom: 28px;
}

.zoomImage {
    width: 128px;
    height: 128px;
    border: 1px solid silver;
    padding: 8px;
    clear: both;
}
.zoomImageContainer
{
    box-sizing: border-box;
}
