<fieldset class="col-md-12 fieldsetStyle catch-tile">
	<legend class="fieldsetLegendStyle">
		<a>{{tileTitle}}</a>
	</legend>
	<div class="row global-container">
		<!-- FIXME in tripsummary panel -->
		<!-- <div class="navigator">
			<i class="fa fa-th-large"></i>
		</div> -->
		<div class="col-md-5 table-chart-container" resizable r-directions="['right']" r-flex="true">
			<!--<table-chart ng-model="ngModel" columns="tableAttrs" selected-item="selectedSpecieLocation"></table-chart>-->
			<table-filter-headers columns="tableAttrs" records="ngModel" unique-columns-src-data="locations" unique-columns="isArea" selected-item="selectedSpecieLocation"></table-filter-headers>
		</div>
		<div class="col-md-7 details-content">
			<div class="col-md-12">
				<div class="global-container">
					<div class="col-md-4">
						<div class="row">
							<table class="table table-condensed table-striped">
								<thead>
									<tr>
										<th>{{'activity.class' | i18n}}</th>
										<th>{{'activity.header_fa_weight' | i18n}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="class in classColumnOrder" ng-class="{'selected-row': selectedClass === class}" ng-click="selectClass(class)">
										<td>{{'activity.' + class | lowercase | i18n}}</td>
										<td>{{selectedSpecieLocation.groupingDetails[class].weight}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row" ng-if="selectedSpecieLocation.groupingDetails[selectedClass].classProps">
							<div class="col-md-12 section">
								<div class="row" ng-repeat="(attrName,attr) in selectedSpecieLocation.groupingDetails[selectedClass].classProps">
									<div class="col-md-12 item-container">
										<span class="labels">{{'activity.' + attrName | i18n}}</span>&nbsp;
										<span>{{attr}} <i class="fa fa-info-circle details {{ attrName + 'Desc' }}" ng-if="selectedSpecieLocation.groupingDetails[selectedClass].classDescs[attrName + 'Desc']" ng-mouseover="displayDetailsTip(selectedSpecieLocation.groupingDetails[selectedClass].classDescs[attrName + 'Desc'], attrName + 'Desc')"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="row location-gear-container">
							<div class="species-title">{{selectedSpecieLocation.species}}<!-- - {{selectedSpecieLocation.speciesName}}--></div>
							<div class="location-gear-content">
								<location-tile class="col-md-6 stretch" field-title="{{'activity.location' | i18n}}" multiple="true" location-details="selectedSpecieLocation.groupingDetails[selectedClass].specifiedFluxLocations" ng-if="selectedSpecieLocation.groupingDetails[selectedClass].specifiedFluxLocations" is-clickable="isLocationClickable" click-callback="clickCallback()" buffer-dist="5000"></location-tile>
								<carousel-tile class="col-md-6 summary-section" tile-title="{{'activity.header_fa_gear' | i18n}}" ng-model="selectedSpecieLocation.groupingDetails[selectedClass].gears" template-url="directive/activity/carouselTile/templates/gearTile/gearTile.html"></carousel-tile>
							</div>
						</div>
					</div>
				</div>
				<a class="catch-details-btn" title="{{'activity.catch_panel_see_catch_details' | i18n }}" ng-click="repNav.goToView('tripsPanel','catchDetails')"><i class="fa fa-table"></i></a>
			</div>
		</div>
	</div>
	<div class="row no-data" ng-if="!ngModel">
		<div class="col-md-12">
			<span>{{'activity.no_data' | i18n}}</span>
		</div>
	</div>
</fieldset>