<div>

<!-- #################################  -->
    <div class="row col-md-12 vesseldetailsrow">
        <div class="col-md-1" ng-hide="!newVesselObj.vesselId.value">
        <p class="labelheaders">ID</p>
        <p>{{newVesselObj.vesselId.value}}</p>
    </div>
        <div class="inputgroup col-md-2 form-group has-feedback">
        <p class="labelheaders">NAME</p>
        <input type="text" name="newvesselnameinput" class="form-control" ng-model="newVesselObj.name" ng-minlength="3" required  >
    </div>
        <div class="inputgroup col-md-2">
        <p class="labelheaders">FLAG STATE</p>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="vesselcountry" data-toggle="dropdown" aria-expanded="true">
                <div class="dropdowntext">{{ vesselCountry }} </div>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                <li><a ng-click="countrySelected(item)" tabindex="-1">None</a></li>
                <li ng-repeat="item in vesselCountries" role="presentation">
                    <a ng-click="countrySelected(item)" tabindex="-1">{{item.name}}</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="inputgroup col-md-2">
        <p class="labelheaders">TYPE</p>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="vesselactivity" data-toggle="dropdown" aria-expanded="true">
                <div class="dropdowntext">{{ vesselActivity }}</div>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                <li><a ng-click="activitySelected(item)" tabindex="-1">None</a></li>
                <li ng-repeat="item in vesselActivitytTypes" role="presentation">
                    <a ng-click="activitySelected(item)" tabindex="-1">{{item.name}}</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="inputgroup col-md-1">
        <p class="labelheaders">Has IRCS</p>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="vesselirc" data-toggle="dropdown" aria-expanded="true">
                <div class="dropdowntext">{{ vesselHasIrc }}</div>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                <li><a ng-click="ircSelected(item)" tabindex="-1">No</a></li>
                <li ng-repeat="item in vesselHasIrcTypes" role="presentation">
                    <a ng-click="ircSelected(item)" tabindex="-1">{{item.name}}</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="inputgroup col-md-2">
        <p class="labelheaders">IRCS CODE</p>
        <input type="text" name="newvesselextinput" class="form-control" ng-model="newVesselObj.ircs">
    </div>
        <div class="inputgroup col-md-2">
        <p class="labelheaders">EXT.MARKING</p>
        <input type="text" name="newvesselextmarkingInput" class="form-control" ng-model="newVesselObj.externalMarking">
    </div>
    </div>
    <div class="row col-md-12 vesseldetailsrow">
        <div class="inputgroup col-md-2 has-feedback">
            <p class="labelheaders">CFR</p>
            <input type="text" name="newvesselcfrinput" class="form-control" ng-model="newVesselObj.cfr" required ng-minlength="3" >
        </div>
        <div class="inputgroup col-md-2">
            <p class="labelheaders">IMO</p>
            <input type="text" name="newvesselimoinput" class="form-control" ng-model="newVesselObj.imo">
        </div>
        <div class="inputgroup col-md-2">
            <p class="labelheaders">MMSI NO.</p>
            <input type="text" name="newvesselmmsiofnput" class="form-control" ng-model="newVesselObj.mmsiNo">
        </div>
        <div class="inputgroup col-md-1">
            <p class="labelheaders">LICENSE</p>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="vessellicense" data-toggle="dropdown" aria-expanded="true">
                    <div class="dropdowntext">{{ vesselHasLicense }}</div>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                    <li><a ng-click="licenseSelected(item)" tabindex="-1">None</a></li>
                    <li ng-repeat="item in vesselHasIrcTypes" role="presentation">
                        <a ng-click="licenseSelected(item)" tabindex="-1">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="inputgroup col-md-2">
            <p class="labelheaders">LICENSE TYPE</p>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="vessellicensetype" data-toggle="dropdown" aria-expanded="true">
                    <div class="dropdowntext">{{ vesselLicenseType }}</div>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                    <li><a ng-click="licenseTypeSelected(item)" tabindex="-1">None</a></li>
                    <li ng-repeat="item in vesselLicensTypes" role="presentation">
                        <a ng-click="licenseTypeSelected(item)" tabindex="-1">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="inputgroup col-md-3">
            <p class="labelheaders col-md-12 nopaddingleft">HOME PORT CODE - NAME</p>
            <!--
            <p class="labelheaders col-md-5"></p>
           -->
            <div class="col-md-5 nopaddingleft">
               <input type="text" name="newvesselhomeportinput" class="form-control " ng-model="newVesselObj.homePort" ng-minlength="3" ng-maxlength="6">
           </div>
            <div class="col-md-7 nopaddingright nopaddingleft">
                <input type="text" name="newvesselhomeportinput" class="form-control" ng-model="newVesselObj.homePort" ng-minlength="3" ng-maxlength="6">
            </div>
               <!--</div>
        <div class="inputgroup col-md-2">-->

              </div>
    </div>
    <div class="row col-md-12 vesseldetailsrow">
        <div class="inputgroup col-md-1">
            <p class="labelheaders">LENGTH</p>
            <input type="text" name="newvessellengthinput" class="form-control" ng-model="newVesselObj.lengthOverAll">
        </div>
        <div class="inputgroup col-md-1 nopaddingleft">
            <p class="labelheaders"></p>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="vesselOverall" data-toggle="dropdown" aria-expanded="true">
                    <div class="dropdowntext">{{ vesselOverall }} </div>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                    <li ng-repeat="item in vesseloveralltypes" role="presentation">
                        <a ng-click="overallSelected(item)" tabindex="-1">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="inputgroup col-md-1">
            <p class="labelheaders">G.TONNAGE</p>
            <input type="text" name="newvesselcapacityinput" class="form-control" ng-model="newVesselObj.grossTonnage">
        </div>
        <div class="inputgroup col-md-1 nopaddingleft">
            <p class="labelheaders"></p>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="vesselcity" data-toggle="dropdown" aria-expanded="true" required>
                    <div class="dropdowntext">{{ vesselUnitOfMessure}}</div>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                    <li ng-repeat="item in vesselUnitOfMessures" role="presentation">
                        <a ng-click="unitOfMessureSelected(item)" tabindex="-1">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="inputgroup col-md-1">
            <p class="labelheaders">POWER</p>
            <input type="text" name="newvesselpowerinput" class="form-control" ng-model="newVesselObj.powerMain">
        </div>
        <div class="inputgroup col-md-1 nopaddingleft">
            <p class="labelheaders"></p>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="vesselEffect" data-toggle="dropdown" aria-expanded="true">
                    <div class="dropdowntext">{{ vesselEffect}}</div>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                    <li ng-repeat="item in vesselEffectTypes" role="presentation">
                        <a ng-click="effectSelected(item)" tabindex="-1">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="inputgroup col-md-3">
            <p class="labelheaders col-md-12 nopaddingleft">PRODUCER CODE - NAME</p>
            <div class="col-md-5 nopaddingleft">
                <input type="text" name="vesselproducername" class="form-control " ng-model="newVesselObj.producerName">
            </div>
            <div class="col-md-7 nopaddingright nopaddingleft">
                <input type="text" name="vesselproducercode" class="form-control" ng-model="newVesselObj.producerCode">
            </div>
        </div>

    </div>
</div>
