<div class="table-filter-headers">
	<div class="table-responsive-force">
		<table class="table table-striped table-condensed" st-table="displayedRecords" st-safe-src="records">
			<thead>
				<tr>
					<th ng-repeat="column in columns" st-sort="{{column.srcObj ? column.srcObj + '.' +  column.srcProp : column.srcProp}}" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc" ng-if="column.isVisible">{{column.title}}</th>
				</tr>
				<tr ng-if="records.length > 1">
					<th ng-repeat="column in columns" ng-if="column.isVisible" class="filter">
						<st-select-multiple ng-if="column.useComboFilter" is-area="column.isArea" collection="records" predicate="{{column.srcObj ? column.srcObj + '.' +  column.srcProp : column.srcProp}}"></st-select-multiple>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in displayedRecords">
					<td ng-repeat="column in columns" ng-if="column.isVisible">{{column.srcObj ? item[column.srcObj][column.srcProp] : item[column.srcProp]}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<!-- <tfoot class="stFooterPagination" ng-show="displayedRecords.length && !isLoadingReportsList">
		<tr>
			<td colspan="7" class="text-right">
				<div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="7" st-template="partial/common/reportsPagination/reportsPagination.html"></div>
			</td>
		</tr>
	</tfoot> -->
	
</div>