<div class="table-filter-headers">
	<div class="table-responsive-force">
		<table class="table table-striped table-condensed" st-table="displayedRecords" st-safe-src="records" st-set-filter="comboHeaderFilter" st-auto-select-row="false">
			<thead>
				<tr>
					<th ng-repeat="column in columns" st-sort="{{column.srcObj ? column.srcObj + '.' +  column.srcProp : column.srcProp}}" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc" ng-if="column.isVisible">{{column.title}}</th>
				</tr>
				<tr ng-if="records.length > 1">
					<th ng-repeat="column in columns" ng-if="column.isVisible" class="filter">
						<st-select-multiple ng-if="column.useComboFilter" is-area="column.isArea" collection="records" translate-column="column.translation" predicate="{{column.filterBy}}"></st-select-multiple>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in displayedRecords" ng-class="{'selected-row': item.selected, 'is-selectable': selectedItem}" ng-click="selectRow($index)">
					<td ng-repeat="column in columns" ng-if="column.isVisible">
						<span ng-if="column.srcObj">{{item[column.srcObj][column.srcProp]}}</span>
						<span ng-if="column.isDate">{{item[column.srcProp] | stDateUtc}}</span>
						<span ng-if="column.isDuration">{{item[column.srcProp] | stHumanizeTime}}</span>
						<span ng-if="column.translation">{{column.translation + item[column.filterBy ? column.filterBy : column.srcProp] | i18n}}</span>
						<span ng-if="!column.srcObj && !column.isDate && !column.isDuration && !column.translation">{{item[column.srcProp]}}</span>
					</td>
				</tr>
			</tbody>
			<tfoot ng-if="hasTotals">
				<tr>
					<td ng-repeat="column in columns" ng-if="column.isVisible">
						<st-calculate-totals ng-if="column.calculateTotal" property="{{column.srcProp}}"></st-calculate-totals>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>