/*
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
 */
.unassignedIcon{
    @iconSize:14px;
    position: absolute;
    top:3px;
    width: @iconSize;
    height: @iconSize;
    line-height: @iconSize;
    border-radius: 50%;
    background: red;
    text-align: center;
    color:#fff;
    font-size:11px;
    font-weight: bold;
    cursor: default;
}

.mobileTerminalsTable{
    tr.inactive{

        td.statusColored{
            .inactiveTableCell;
        }
    }

    .assetNotFound,
    .assetNotAssigned,
    .plugin-inactive {
        color: red;
    }
}