<div class="row" ng-controller="MobileterminallistCtrl">
    <div search-results-table search="currentSearchResults" load-next-page-function="loadNextPage" class="col-md-12">
        <table class="searchResults colorOdd mobileTerminalsTable">
            <thead>
            <tr>
                <th class="checkboxContainer"><input type="checkbox" ng-checked="isAllChecked()" ng-click="checkAll()"/></th>
                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'associatedVessel.name'">{{'mobileTerminal.table_header_vessel_name' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'attributes.SERIAL_NUMBER'">{{'mobileTerminal.table_header_serial_no' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'channels[0].ids.MEMBER_NUMBER'">{{'mobileTerminal.table_header_member_no' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'channels[0].ids.DNID'">{{'mobileTerminal.table_header_dnid' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'type | transponderName'">{{'mobileTerminal.table_header_transponder_type' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'attributes.SATELLITE_NUMBER'">{{'mobileTerminal.table_header_satellite_number' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'associatedVessel.mmsiNo'">{{'mobileTerminal.table_header_mmsi_no' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'active'">{{'mobileTerminal.table_header_status' | i18n}}</th>

                <th>{{'mobileTerminal.table_header_detail_button' | i18n}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in currentSearchResults.items | orderBy:currentSearchResults.sortBy:currentSearchResults.sortReverse" ng-class="{'inactive':!item.active}">            
                <td class="checkboxContainer">
                    <div class="iconToTheLeftOfTheTableCell" ng-show="!item.connectId && !item.associatedVessel">
                        <div class="unassignedIcon" tooltip-placement="bottom" tooltip="{{'mobileTerminal.table_not_assigned_icon_tooltip' | i18n}}">!</div>
                    </div>
                    <input type="checkbox" ng-checked="isChecked(item)" ng-click="checkMobileTerminal(item)"/>
                </td>
                <td>
                    <span ng-show="item.associatedVessel">{{item.associatedVessel.name}}</span>
                    <span ng-show="item.connectId && !item.associatedVessel">ConnectId:{{item.connectId}}</span>
                    <span ng-show="!item.connectId && !item.associatedVessel">{{'mobileTerminal.table_vessel_name_not_assigned' | i18n}}</span>
                </td>
                <td class="statusColored">{{item.attributes.SERIAL_NUMBER}}</td>
                <td class="statusColored">{{item.channels[0].ids.MEMBER_NUMBER}}</td>
                <td class="statusColored">{{item.channels[0].ids.DNID}}</td>
                <td class="statusColored">{{item.type | transponderName}}</td>
                <td class="statusColored">{{item.attributes.SATELLITE_NUMBER}}</td>
                <td>
                    <span ng-show="item.associatedVessel">{{item.associatedVessel.mmsiNo}}</span>
                    <span ng-show="item.associatedVessel && !item.associatedVessel.mmsiNo"> - </span>
                </td>
                <td>
                    <span ng-if="item.active" class="label label-success">{{'common.active' | i18n | uppercase}}</span>
                    <span ng-if="!item.active" class="label label-danger">{{'common.inactive' | i18n | uppercase}}</span>
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="toggleMobileTerminalDetails(item)">
                        <span class="fa fa-eye"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



</div>

