<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="row" ng-controller="MobileterminallistCtrl">
    <div search-results-table search="currentSearchResults" class="col-md-12">
        <table class="searchResults colorOdd mobileTerminalsTable truncate-text">
            <thead>
            <tr>
                <th class="checkboxContainer"><input type="checkbox" ng-checked="isAllChecked()" ng-click="checkAll()" ng-disabled="!currentSearchResults.items.length"/></th>
                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'associatedVessel.name'">{{'mobileTerminal.table_header_vessel_name' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'attributes.SERIAL_NUMBER'">{{'mobileTerminal.table_header_serial_no' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'channels[0].ids.MEMBER_NUMBER'">{{'mobileTerminal.table_header_member_no' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'channels[0].ids.DNID'">{{'mobileTerminal.table_header_dnid' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'type | transponderName'">{{'mobileTerminal.table_header_transponder_type' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'attributes.SATELLITE_NUMBER'">{{'mobileTerminal.table_header_satellite_number' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'associatedVessel.mmsiNo'">{{'mobileTerminal.table_header_mmsi_no' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'active'">{{'mobileTerminal.table_header_status' | i18n}}</th>

                <th>{{'mobileTerminal.table_header_detail_button' | i18n}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in currentSearchResults.items | orderBy:currentSearchResults.sortBy:currentSearchResults.sortReverse" ng-class="{'inactive':!item.active}">
                <td class="checkboxContainer">
                    <input type="checkbox" ng-checked="isChecked(item)" ng-click="checkMobileTerminal(item)"/>
                </td>
                <td class="statusColored">
                    <span ng-show="item.associatedVessel"><a href="#/assets/{{item.associatedVessel.getGuid()}}" ng-attr-title="{{'common.view_details' | i18n}}">{{item.associatedVessel.name}}</a></span>
                    <span ng-show="item.connectId && !item.associatedVessel" class="assetNotFound" ng-attr-title="{{'mobileTerminal.warning_plugin_inactive' | i18n}}">{{'common.asset_not_found' | i18n}}</span>
                    <span ng-show="!item.connectId && !item.associatedVessel" class="assetNotAssigned" ng-attr-title="{{'mobileTerminal.table_not_assigned_icon_tooltip' | i18n}}">{{'mobileTerminal.table_vessel_name_not_assigned' | i18n}}</span>
                </td>
                <td class="statusColored" ng-attr-title="{{item.attributes.SERIAL_NUMBER}}">{{item.attributes.SERIAL_NUMBER}}</td>
                <td class="statusColored" ng-attr-title="{{item.channels[0].ids.MEMBER_NUMBER}}">{{item.channels[0].ids.MEMBER_NUMBER}}</td>
                <td class="statusColored" ng-attr-title="{{item.channels[0].ids.DNID}}">{{item.channels[0].ids.DNID}}</td>
                <td class="statusColored" ng-class="{'plugin-inactive': item.pluginIsInactive()}" 
                    ng-attr-title="{{ (item.pluginIsInactive()) ? ('mobileTerminal.warning_plugin_inactive' | i18n) : (item.type | transponderName)}}">
                    {{item.type | transponderName}}
                </td>
                <td class="statusColored" ng-attr-title="{{item.attributes.SATELLITE_NUMBER}}">{{item.attributes.SATELLITE_NUMBER}}</td>
                <td>
                    <span ng-show="item.associatedVessel">{{item.associatedVessel.mmsiNo}}</span>
                </td>
                <td>
                    <span ng-if="item.active" class="mobile-terminal-status label label-success">{{'common.active' | i18n | uppercase}}</span>
                    <span ng-if="!item.active" class="mobile-terminal-status label label-danger">{{'common.inactive' | i18n | uppercase}}</span>
                </td>
                <td>
                    <button class="btn btn-default btn-sm" ng-click="toggleMobileTerminalDetails(item)">
                        <i class="fa" ng-class="allowedToEditMobileTerminals() ? 'fa-pencil': 'fa-eye'"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



</div>