<div class="row" ng-controller="MobileterminallistCtrl">
    <div class="col-md-12">
        <table class="searchResults mobileTerminalsTable">
            <thead>
            <tr>
                <th><input type="checkbox" ng-checked="isAllChecked()" ng-click="checkAll()"/></th>
                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'associatedVessel.name'">{{'mobileTerminal.table_header_vessel_name' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'attributes.SERIAL_NUMBER'">{{'mobileTerminal.table_header_serial_no' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'channels[0].ids.MEMBER_NUMBER'">{{'mobileTerminal.table_header_member_no' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'channels[0].ids.DNID'">{{'mobileTerminal.table_header_dnid' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'type'">{{'mobileTerminal.table_header_transponder_type' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'attributes.SATELLITE_NUMBER'">{{'mobileTerminal.table_header_satellite_number' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'associatedVessel.mmsiNo'">{{'mobileTerminal.table_header_mmsi_no' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'active'">{{'mobileTerminal.table_header_status' | i18n}}</th>

                <th>{{'mobileTerminal.table_header_detail_button' | i18n}}</th>
                <th>{{'mobileTerminal.table_header_logs' | i18n}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in currentSearchResults.mobileTerminals | orderBy:currentSearchResults.sortBy:currentSearchResults.sortReverse" ng-class="{'inactive':!item.active}">            
                <td>
                    <div class="iconToTheLeftOfTheTableCell" ng-show="!item.connectId && !item.associatedVessel">
                        <div class="unassignedIcon" tooltip-placement="bottom" tooltip="{{'mobileTerminal.table_not_assigned_icon_tooltip' | i18n}}">!</div>
                    </div>
                    <input type="checkbox" ng-checked="isChecked(item)" ng-click="checkMobileTerminal(item)"/>
                </td>
                <td>
                    <span ng-show="item.associatedVessel">{{item.associatedVessel.name}}</span>
                    <span ng-show="item.connectId && !item.associatedVessel">ConnectId:{{item.connectId}}</span>
                    <span ng-show="!item.connectId && !item.associatedVessel">{{'mobileTerminal.table_vessel_name_not_assigned' | i18n}}</span>
                </td>
                <td class="statusColored">{{item.attributes.SERIAL_NUMBER}}</td>
                <td class="statusColored">{{item.channels[0].ids.MEMBER_NUMBER}}</td>
                <td class="statusColored">{{item.channels[0].ids.DNID}}</td>
                <td class="statusColored">{{item.type}}</td>
                <td class="statusColored">{{item.attributes.SATELLITE_NUMBER}}</td>
                <td>
                    <span ng-show="item.associatedVessel">{{item.associatedVessel.mmsiNo}}</span>
                    <span ng-show="item.associatedVessel && !item.associatedVessel.mmsiNo"> - </span>
                </td>
                <td>
                    <span ng-show="item.active">{{'common.active' | i18n}}</span>
                    <span ng-show="!item.active">{{'common.inactive' | i18n}}</span>
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="toggleMobileTerminalDetails(item)">
                        {{'mobileTerminal.table_header_detail_button' | i18n}}
                    </button>
                </td>
                <td><a href="" ng-click="showLog(item)">{{'mobileTerminal.table_header_logs' | i18n}}</a></td>
            </tr>
            </tbody>
        </table>

        <search-result-error-alert ng-show="currentSearchResults.errorMessage">{{currentSearchResults.errorMessage}}</search-result-error-alert>        
        
    </div>
    <div class="col-md-12 searchResultsLoading" ng-show="currentSearchResults.loading">
        <i class="fa fa-spinner fa-spin fa-pulse fa-2x"></i>        
    </div>

    <div class="col-md-12" ng-show="currentSearchResults.totalNumberOfPages > 0">
        {{'common.search_results_current_page' | i18n:[currentSearchResults.page, currentSearchResults.totalNumberOfPages]}}
    </div>
    <div class="col-md-12 textAlignCenter" ng-show="currentSearchResults.totalNumberOfPages > 0 && currentSearchResults.totalNumberOfPages > currentSearchResults.page">
        <span class="link" ng-click="loadNextPage()"> {{'common.search_results_load_more' | i18n | uppercase}}</span>            
    </div>

</div>

