.fullWidthDropdown{
    .dropdown-menu {
      min-width: 100%;
    }

    .btn{
     width: 100%;
    }
}

.dropdown-menu {
  border-radius: 0px;
	.disabled {
		 a:hover{
		 		cursor: pointer;
		 	}
	}
}