.fullWidthDropdown{
    .dropdowntext {
        overflow: hidden;
        text-overflow:ellipsis;
        padding-right: 5px;
        color:#555555;
    }

    .dropdown-menu {
      min-width: 100%;
      border-color: @primaryColor;
    }

    .btn{
     width: 100%;
    }
}

.dropdown-menu {
  border-radius: 0px;
  max-height: 300px !important;
	.disabled {
		 a:hover{
		 		cursor: pointer;
		 	}
	}
  li > a{
    color:#555555;
  }
}

.placeholderColor{
  color: #999999 !important;
}