<div class="fullWidthDropdown" uib-dropdown uib-keyboard-nav deep-blur="closeDropdownMenu()" ng-click="toggleDropdown($event)">
    <button class="btn btn-default" uib-dropdown-toggle type="button" ng-disabled="ngDisabled" tabindex="{{tabIndex}}" ng-required="ngRequired" name="name">
        <div ng-class="setplaceholdercolor ? 'placeholderColor':''" class="dropdowntext" ng-bind="currentItemLabel"></div>
        <span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" ng-click="dropdownMenuClick($event)" ng-keyup="dropdownMenuKeyboardEvent($event)">
        <li ng-class="!initialtextSelectable ? 'disabled initial-text' : 'initial-text'" ng-show="initialValue" ng-click="selectVal(initialValue)">
            <a role="menuitem" tabindex="-1" ng-bind="initialValue.text" ng-focus="focusVal(initialValue)"></a>
        </li>
        <li ng-class="disableItem(item) ? 'disabled' : ''" ng-repeat="item in items" role="presentation" ng-click="selectVal(item,$index)">
            <a role="menuitem" tabindex="-1" ng-bind="getItemLabel(item)" ng-focus="focusVal(item,$index)"></a>
        </li>
    </ul>
</div>
