.fullWidthDropdown{

    .dropdowntext {
        overflow: hidden;
        text-overflow:ellipsis;
        padding-right: 5px;
    }

    .dropdown-menu {
      min-width: 100%;
    }

    .btn{
     width: 100%;
    }
}

.dropdown-menu {
  border-radius: 0px;
	.disabled {
		 a:hover{
		 		cursor: pointer;
		 	}
	}
}