.newPollWizardSelectionContainer{
    padding-top: 45px;
    overflow-y: auto;
    .selectionHeader{
        position: absolute;
        top:15px;
        height: 30px;
        width: 100%;
        padding-right: 20px;
        .carrierSelectionText{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    ul{
        li{
            cursor: auto;

            p {
                padding: 4px;
                border: 1px solid @buttoncolor;
                border-radius: 5px;
            }
        }

        &.group-list{
            padding: 0;

            li{
                padding: 0;
                ul{
                    padding-left: 20px;
                }
            }
        }

    }

    .pointer{
        margin: 5px 10px 0 0;
    }
}
