/*
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
 */
.newPollWizardSelectionContainer{
    overflow-y: auto;
    .card-header{
        position: absolute;
        height: 31px;
        width: 100%;
    }

    .scroller{
        margin-top: 56px;
    }

    ul{
        li{
            cursor: auto;

            p {
                padding: 4px;
                border: 1px solid @primaryColor;
                border-radius: 5px;
            }
        }

        &.group-list{
            padding: 0;

            li{
                padding: 0;
                ul{
                    padding-left: 20px;
                }
            }
        }

    }

    .pointer{
        margin: 5px 10px 0 0;
    }
}