<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="newPollWizardSelectionContainer newPollWizardStep  card with-small-card-header" ng-controller="NewpollwizardselectionCtrl">
    <div class="row card-header">
    	<div class="col-md-6">
    		<h5>{{ 'polling.carrier_selection' | i18n }}</h5>
        </div>
        <div class="col-md-6 textAlignRight">
            <a  ng-click="clear()">{{ 'polling.clear_all' | i18n }}</a>
    	</div>
    </div>

    <div class="scroller">
    	<ul class="group-list">
    		<li ng-repeat="group in selection.selectedMobileTerminalGroups">
    		    <div class="pointer pull-right" ng-click="remove(group)">
    		    	<i class="fa fa-times"></i>
    		   	</div>
    			<p>{{ 'polling.group' | i18n }}: {{ group.name }}</p>
    			<ul>
    				<li ng-repeat="mt in group.mobileTerminals">
    				    <div class="pointer pull-right" ng-click="remove(group, mt)">
    				    	<i class="fa fa-times"></i>
    				   	</div>
    					<p>{{ mt.vesselName }}: {{ mt.mobileTerminalType | transponderName }}</p>
    				</li>
    			</ul>
    		</li>
    	</ul>

    	<ul>
    		<li ng-repeat="mt in selection.selectedMobileTerminals">
    		    <div class="pointer pull-right" ng-click="remove(undefined, mt)">
    		    	<i class="fa fa-times"></i>
    		   	</div>
    			<p>{{ mt.vesselName }}: {{ mt.mobileTerminalType | transponderName}}</p>
    		</li>
    	</ul>
    </div>
</div>