.newPollWizardSelectionContainer{
    overflow-y: auto;
    .card-header{
        position: absolute;
        height: 31px;
        width: 100%;
    }

    .scroller{
        margin-top: 56px;
    }

    ul{
        li{
            cursor: auto;

            p {
                padding: 4px;
                border: 1px solid @buttoncolor;
                border-radius: 5px;
            }
        }

        &.group-list{
            padding: 0;

            li{
                padding: 0;
                ul{
                    padding-left: 20px;
                }
            }
        }

    }

    .pointer{
        margin: 5px 10px 0 0;
    }
}
