.movementsearch{
    .searchFooter{
        margin-top: 10px;
        a{
            margin-right: 10px;
            &:last-child{
                margin-right: 0px !important;
            }
        }        
    }
}


.searchcriteria{
	margin: 3px 0;
}

.searchcriteriadropdown{
	margin-top: 3px;
	margin-bottom: 3px;
}

.movementadvancedsearchbutton{
	width: 100%;
}

.advancedsmallerpadding{
    padding-left: 2px;
    padding-right: 2px;
};
.advancedcolumn{
	padding-left:5px;
	padding-right: 5px;
}