.movementsearchresetbutton{
	position: relative;
	top: 6px;
	margin-left: 20px;
}
.movementadvancesresetbutton{
	position: relative;
	top: 6px;
	margin-left: 0px;
}


.movementsimplesearchcontent{

}

.movementadvancedearchcontent{
	
}

.movementsearch{
/*
	border:solid 1px #e4e4e4;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 0 0 0;
	*/
}

.linklabel{
	margin: 10px;
	height: 20px;
	display: block;
	float: left;
}

.searchcriteria{
	margin: 3px 0;
}

.searchcriteriadropdown{
	margin-top: 3px;
	margin-bottom: 3px;
}

.movementadvancedsearchbutton{
	width: 100%;
}

.advancedsmallerpadding{
    padding-left: 2px;
    padding-right: 2px;
};
.advancedcolumn{
	padding-left:5px;
	padding-right: 5px;
}