<div class="row nomargin">
    <div class="col-md-1 smallerpaddingright searchcriteria">
        <dropdown ng-model="advancedSearchObject.FLAG_STATE" initialtext="{{'movement.advanced_search_placeholder_flag_state' | i18n}}" items="flagStates" callback="resetSavedSearchDropdown"></dropdown>
    </div>
    <div class="col-md-3 smallerpadding searchcriteria">
        <input type="text" placeholder="{{'movement.advanced_search_placeholder_by_name' | i18n}}"  class="form-control" ng-model="advancedSearchObject.NAME" ng-change="resetSavedSearchDropdown()">
    </div>
    <div class="col-md-2 smallerpadding searchcriteria">
        <input type="text" placeholder="{{'movement.advanced_search_placeholder_by_ircs' | i18n}}"  class="form-control" ng-model="advancedSearchObject.IRCS" ng-change="resetSavedSearchDropdown()">
    </div>
    <div class="col-md-2 smallerpadding searchcriteria">
        <input type="text" placeholder="{{'movement.advanced_search_placeholder_by_cfr' | i18n}}"  class="form-control" ng-model="advancedSearchObject.CFR"  ng-change="resetSavedSearchDropdown()">
    </div>
    <div class="col-md-2 smallerpadding searchcriteria">
        <input type="text" placeholder="{{'movement.advanced_search_placeholder_external_marking' | i18n}}"  class="form-control" ng-model="advancedSearchObject.EXTERNAL_MARKING"  ng-change="resetSavedSearchDropdown()">
    </div>
    <div class="col-md-2 smallerpaddingleft searchcriteriadropdown">
        <saved-search-dropdown type="MOVEMENT" ng-model="selectedSavedSearch" initialtext="{{'movement.advanced_search_placeholder_saved_searches' | i18n}}" callback="performSavedSearch" enable-delete="true"></saved-search-dropdown>
    </div>
</div>
<div class="row nomargin">
    <div class="col-md-1 smallerpaddingright searchcriteria">
        <dropdown ng-model="advancedSearchObject.LENGTH_SPAN" initialtext="{{'movement.advanced_search_placeholder_length' | i18n}}" items="carrierLength" callback="resetSavedSearchDropdown"></dropdown>
    </div>
    <div class="col-md-3 smallerpadding searchcriteria">
        <input type="text" placeholder="{{'vessel.advanced_search_placeholder_homeport_name' | i18n}}" class="form-control" ng-model="advancedSearchObject.HOMEPORT"/>
    </div>
    <div class="col-md-2 smallerpadding searchcriteria">
        <input type="text" placeholder="{{'vessel.advanced_search_placeholder_imo' | i18n}}" class="form-control" ng-model="advancedSearchObject.IMO"/>
    </div>
    <div class="col-md-2 smallerpadding searchcriteria">
        <dropdown ng-model="advancedSearchObject.GEAR_TYPE" initialtext="{{'movement.advanced_search_placeholder_gear_type' | i18n}}" items="gearType" callback="resetSavedSearchDropdown"></dropdown>
    </div>
    <div class="col-md-2 smallerpaddingleft searchcriteria">
        <saved-search-dropdown type="VESSEL" class="dropdown simpleSearch" ng-model="selectedVesselGroup" initialtext="{{'movement.advanced_search_group_dropdown' | i18n}}" callback="selectVesselGroup"></saved-search-dropdown>
    </div>
</div>
<div class="row nomargin">
    <div class="col-md-1 smallerpaddingright searchcriteria">
        <dropdown ng-model="advancedSearchObject.TIME_SPAN" no-placeholder-item items="timeSpanOptions" callback="resetSavedSearchDropdown"></dropdown>
    </div>
    <div class="col-md-2 smallerpadding searchcriteria">
         <datepicker-input model="advancedSearchObject.FROM_DATE" time="true" max-date="advancedSearchObject.TO_DATE"placeholder="{{'movement.search_movementStartDate_placeholder' | i18n}}" ng-change-callback="resetSavedSearchDropdown" input-field-id="advanced-movement-search-from-date-picker"></datepicker-input>
    </div>
    <div class="col-md-2 smallerpadding searchcriteria">
         <datepicker-input model="advancedSearchObject.TO_DATE" time="true" min-date="advancedSearchObject.FROM_DATE" placeholder="{{'movement.search_movementEndDate_placeholder' | i18n}}" ng-change-callback="resetSavedSearchDropdown" input-field-id="advanced-movement-search-to-date-picker"></datepicker-input>
    </div>
    <div class="col-md-1 smallerpadding searchcriteria">
        <dropdown ng-model="advancedSearchObject.SPEED_SPAN" initialtext="{{'movement.advanced_search_placeholder_measured_speed' | i18n}}" items="meassuredSpeed" callback="resetSavedSearchDropdown"></dropdown>
    </div>
    <div class="col-md-1 smallerpadding searchcriteria">
        <dropdown ng-model="advancedSearchObject.MOVEMENT_TYPE" initialtext="{{'movement.advanced_search_placeholder_msg_type' | i18n}}" items="movementType" callback="resetSavedSearchDropdown"></dropdown>
    </div>
    <div class="col-md-1 smallerpadding searchcriteria">
        <dropdown ng-model="advancedSearchObject.STATUS" initialtext="{{'movement.advanced_search_placeholder_status' | i18n}}" items="status" callback="resetSavedSearchDropdown"></dropdown>
    </div>
    <div class="col-md-1 smallerpadding searchcriteria">
        <dropdown ng-model="advancedSearchObject.SOURCE" initialtext="{{'movement.advanced_search_placeholder_source' | i18n}}" items="movementSourceTypes" callback="resetSavedSearchDropdown"></dropdown>
    </div>
    <div class="col-md-1 smallerpadding searchcriteria">
        <dropdown ng-model="advancedSearchObject.AREA_ID" initialtext="{{'movement.advanced_search_placeholder_map_area' | i18n}}" items="mapArea" callback="resetSavedSearchDropdown"></dropdown>
    </div>
    <div class="col-md-1 smallerpadding search-button">
        <button type="submit" class="btn btn-primary btn-sm vmsbtn" ng-click="performAdvancedMovementSearch()">
            {{'common.search' | i18n}}
        </button>
    </div>
    <div class="col-md-1 smallerpaddingleft search-button">
        <button type="button" class="btn btn-default btn-sm vmsbtn" ng-click="resetSearch()">
            {{'common.reset' | i18n}}
        </button>
    </div>
</div>
