<div class="col-md-12 activity-filters-section" ng-controller="ActivityfiltersfieldsetCtrl">
	<fieldset class="fieldsetStyle col-md-12" ng-class="{'fieldset-closed': !report.hasFaFilter}">
		<legend class="fieldsetLegendStyle">
			<input class="checkbox-margin" type="checkbox" ng-model="report.hasFaFilter" ng-checked="report.hasFaFilter">
			<a data-toggle="collapse" ng-click="report.hasFaFilter = !report.hasFaFilter;">{{'spatial.reports_form_fishing_activity_fieldset_label' | i18n }}</a>
		</legend>
		<div ng-show="report.hasFaFilter" class="row">
			<div class="form-group col-md-12">
				<div class="row">
					<ng-form name="activitySecForm">
						<div class="col-md-4 reportSubform activity-form">
							<div class="form-group row">
								<div class="col-md-4 label-container centerLabelCombo">
									<label>{{'activity.reports_form_activity_report_type' | i18n }}</label>
								</div>
								<div class="col-md-8">
									<combobox ng-model="report.faFilters.reportType" name="reportType" items="reportTypes" initialtext="{{'common.all' | i18n }}"></combobox>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 label-container centerLabelCombo">
									<label>{{'activity.reports_form_activity_activity_type' | i18n }}</label>
								</div>
								<div class="col-md-8">
									<combobox ng-model="report.faFilters.activityType" name="activityType" items="activityTypes" initialtext="{{'common.all' | i18n }}"></combobox>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 label-container centerLabelCombo">
									<label>{{'activity.reports_form_activity_master' | i18n}}</label>
								</div>
								<div class="col-md-8">
									<input type="text" class="form-control" name="master" ng-model="report.faFilters.master"/>
								</div>
							</div>
						</div>
						<div class="col-md-4 reportSubform technical-form">
							<div class="row port-form-group">
								<div class="form-group col-md-2 label-container centerLabelCombo label-top-space">
									<label>{{'activity.reports_form_activity_port' | i18n }}</label>
								</div>
								<div class="form-group col-md-5">
									<label class="above-label">
										{{'activity.reports_form_activity_port_departure' | i18n }}
										<combobox ng-model="report.faFilters.port.departure" name="portDeparture" initialtext="{{'common.all' | i18n }}" items="ports"></combobox>
									</label>
								</div>
								<div class="form-group col-md-5">
									<label class="above-label">
										{{'activity.reports_form_activity_port_arrival' | i18n }}
										<combobox ng-model="report.faFilters.port.arrival" name="portArrival" initialtext="{{'common.all' | i18n }}" items="ports"></combobox>
									</label>
								</div>
								<div class="form-group col-md-2 label-container centerLabelCombo">
									<label></label>
								</div>
								<div class="form-group col-md-5">
									<label class="above-label">
										{{'activity.reports_form_activity_port_landing' | i18n }}
										<combobox ng-model="report.faFilters.port.landing" name="portLanding" initialtext="{{'common.all' | i18n }}" items="ports"></combobox>
									</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-2 label-container centerLabelCombo label-top-space">
									<label>{{'activity.reports_form_activity_gear' | i18n }}</label>
								</div>
								<div class="col-md-5">
									<label class="above-label">
										{{'activity.reports_form_activity_gear_onboard' | i18n }}
										<combobox ng-model="report.faFilters.gear.onBoard" name="gearOnBoard" initialtext="{{'common.all' | i18n }}" items="gearTypes"></combobox>
									</label>
								</div>
								<div class="col-md-5">
									<label class="above-label">
										{{'activity.reports_form_activity_gear_deployed' | i18n }}
										<combobox ng-model="report.faFilters.gear.deployed" name="gearDeployed" initialtext="{{'common.all' | i18n }}" items="gearTypes"></combobox>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-4 reportSubform species-form">
							<div class="row form-group">
								<div class="col-md-2 label-container center-label-multiple-combo">
									<label>{{'activity.reports_form_activity_species' | i18n }}</label>
								</div>
								<div class="col-md-10">
									<combobox ng-model="report.faFilters.species" name="species" initialtext="{{'common.all' | i18n }}" items="species" multiple="true"></combobox>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-2 label-container centerLabelCombo">
									<label>{{'activity.reports_form_activity_weight' | i18n }}</label>
								</div>
								<div class="form-group col-md-5">
									<div class="unit-input" ng-class="{'has-error': activitySecForm.weightMin.$invalid && submitingReport === true}">
										<numeric-input validate-min-in-range class="form-control" name="weightMin" ng-model="report.faFilters.weight.min" type="number" min="0" max="report.faFilters.weight.max"></numeric-input>
										<div class="unit-box">{{'activity.advanced_search_min' | i18n}}</div>
									</div>
									<!--<div class="belowErrorMessages" ng-messages="activityAdvancedSearchForm.minWeightFACriterion.$error" ng-show="(activityAdvancedSearchForm.minWeightFACriterion.$dirty || isFormValid === true) && activityAdvancedSearchForm.minWeightFACriterion.$invalid">
										<div ng-message="invalidNumber">{{'spatial.not_numeric_error_message' | i18n }}</div>
										<div ng-message="min">{{'spatial.min_value_1_error_message' | i18n }}</div>
										<div ng-message="minBiggerThanMax">{{'spatial.min_value_bigger_than_max' | i18n}}</div>
									</div>-->
								</div>
								<div class="form-group col-md-5">
									<combobox ng-model="report.faFilters.weight.unit" items="weightUnits"></combobox>
								</div>
								<div class="form-group col-md-2 label-container centerLabelCombo">
									<label></label>
								</div>
								<div class="form-group col-md-5">
									<div class="unit-input" ng-class="{'has-error': activitySecForm.weightMax.$invalid && submitingReport === true}">
										<numeric-input validate-max-in-range class="form-control" name="weightMax" ng-model="report.faFilters.weight.max" min="report.faFilters.weight.min"></numeric-input>
										<div class="unit-box">{{'activity.advanced_search_max' | i18n}}</div>
									</div>
								</div>
							</div>
						</div>
					</ng-form>
				</div>
			</div>
		</div>
	</fieldset>
</div>
