.activity-filters-section {
    .reportSubform {
        padding-top: 10px;
        &.activity-form {
            border-right: 1px solid #ddd;
        }
        &.species-form {
            border-left: 1px solid #ddd;
        }
    }
    .unit-input {
        padding-right: 35px;
        .unit-box {
            width: 35px;
        }
    }
    .label-container {
        padding-right: 0;
        &.center-label-multiple-combo {
            line-height: 41px;
        }
    }
    .above-label {
        width: 100%;
    }
}