.activity-filters-section {
    .reportSubform {
        padding-top: 10px;
        &.technical-form {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            .port-form-group {
                margin-bottom: 5px;
            }
        }
    }
    .unit-input {
        padding-right: 35px;
        .unit-box {
            width: 35px;
        }
    }
    .label-container {
        padding-right: 0;
    }
    .unit-combo {
        padding-left: 0;
    }
}