.activity-filters-section {
    [name="activitySecForm"] {
        display: flex;
        .reportSubform {
            padding-top: 10px;
            &.technical-form {
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
            }
        }
        .unit-input {
            padding-right: 35px;
            .unit-box {
                width: 35px;
            }
        }
        .label-container {
            padding-right: 0;
            &.center-label-multiple-combo {
                line-height: 41px;
            }
        }
        .above-label {
            width: 100%;
        }
    }
}