<div ng-controller="MovementCtrl">
	<div class="container">
		<div static-include="partial/movement/movementPageHeader/movementPageHeader.html"></div>
	</div>
	<div class="container movementcontainer">
		<advanced-search searchfunc="searchMovements" vesselGroupCallback="selectGroupCallback()" modeltype="'MOVEMENT'" advancedsearchvisible="true"></advanced-search>
	</div>		
	<div class="container movementcontainer">
		 <div class="row editSelectionsContainer">
                <div class="col-md-2">
                    <dropdown ng-model="editSelection" initialtext="Edit selection" items="editSelectionDropdownItems" callback="editSelectionCallback"></dropdown>
                </div>
            </div>
		<div ng-include="'partial/movement/movementList/movementList.html'"></div>
	</div>
</div>


