<div>
    <div static-include="partial/movement/movementPageHeader/movementPageHeader.html"></div>
    <div class="container containerWithTopBottomPadding">
        <div class="card">
            <advanced-search searchfunc="searchMovements" vesselGroupCallback="selectGroupCallback()" modeltype="'MOVEMENT'" advancedsearchvisible="true"></advanced-search>
      		<div class="row editSelectionsContainer">
                <div class="col-md-2">
                    <dropdown ng-model="editSelection" initialtext="{{'common.edit_selection' | i18n}}" items="editSelectionDropdownItems" callback="editSelectionCallback"></dropdown>
                </div>
                <div class="col-md-4 available-positions-refresh" ng-click="resetSearch()">
                    <a ng-if="newMovementsCount > 0"><i class="fa fa-refresh"></i> {{ "movement.new_positions_available" | i18n:[newMovementsCount] }}</a>
                </div>
                <div class="col-md-6 pull-right textAlignRight printAndExport">
                    <i class="fa fa-lg fa-file" title="{{'common.export_as_csv' | i18n }}" ng-click="exportAsCSVFile()"></i>
                </div>
            </div>
    		<div ng-include="'partial/movement/movementList/movementList.html'"></div>
        </div>
        <search-results-pagination page='currentSearchResults.page' total='currentSearchResults.totalNumberOfPages' callback='gotoPage'></search-results-pagination>
    </div>
</div>