.refreshbutton{
	font-weight: bold;
}
.movementsearchresults{
	width: 100%;
}
.movementtable{
	margin-top: 5px;
}

.movementvesselname{
	font-weight: bold;
	color: #428bca;
}

.addmanualmovementbutton{
	margin-bottom: 20px;
	margin-top: 40px; 
}