<div class="row">
    <div search-results-table search="currentSearchResults" class="col-md-12 tickets-table">

        <table class="searchResults colorOdd">
            <thead>
                <tr>
                    <th class="checkboxContainer"><input type="checkbox" ng-checked="isAllChecked()" ng-click="checkAll()" ng-disabled="!currentSearchResults.items.length"/></th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'openDate'">{{'alarms.alarms_table_date_openend' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'vessel.name'">{{'alarms.alarms_table_object_affected' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'ruleName'">{{'alarms.alarms_table_rule' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'getResolvedDate()'">{{'alarms.alarms_table_date_resolved' | i18n}}</th>
                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'getResolvedBy()'">{{'alarms.alarms_table_resolved_by' | i18n}}</th>
                    <th></th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in currentSearchResults.items | orderBy:currentSearchResults.sortBy:currentSearchResults.sortReverse">
                    <td class="checkboxContainer"><input type="checkbox" ng-checked="isChecked(item)" ng-click="checkItem(item)" /></td>
                    <td>{{item.openDate | confDateFormat}}</td>
                    <td>
                        <a ng-show="item.vessel" href="#/assets/{{item.vessel.getGuid()}}" title="{{'common.view_details' | i18n}}">{{item.vessel.name}}</a>
                        <span ng-show="!item.vessel" class="assetNotFound">{{'common.asset_not_found' | i18n}}</span>
                    </td>
                    <td>{{item.ruleName}}</td>
                    <td>{{item.getResolvedDate() | confDateFormat}}</td>
                    <td>{{item.getResolvedBy()}}</td>
                    <td class="status">
                        <span class="label" ng-class="{CLOSED:'label-success', PENDING:'label-warning', OPEN:'label-danger'}[item.status]">
                            {{item.status}}
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-default" ng-show="item.positionGuid" ng-click="showOnMap(item)" title="{{'common.show_on_map' | i18n}}">
                            <span class="fa fa-eye"></span>
                        </button>
                        <button show-if-allowed="Rules:manageAlarmsOpenTickets"  ng-if="item.isOpen()" type="button" class="btn btn-sm btn-success" ng-click="closeTicket(item)" title="{{'alarms.notifications_table_close_title' | i18n}}"><span class="fa fa-check"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
