@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../bower_components/font-awesome/fonts";

@import "less/globalVariables.less";
@import "less/bootstrapOverride.less";
@import "less/common.less";
@import "less/components.less";
@import "less/forms.less";
@import "less/footer.less";

/* Component LESS */
@import "partial/header/header.less";
@import "partial/header/headerMenu/headerMenu.less";
@import "partial/today/today.less";

@import "directive/vessel/newVessel/newVessel.less";
@import "directive/mobileTerminal/mobileTerminal/mobileTerminal.less";
@import "directive/mobileTerminal/communicationChannel/communicationChannel.less";
@import "directive/vessel/getVessel/getVessel.less";
@import "directive/vessel/vesselDetails/vesselDetails.less";
@import "directive/common/search/advancedSearch/advancedSearch.less";
@import "directive/common/search/search.less";

@import "partial/vessel/vessel.less";
@import "partial/vessel/saveVesselGroupModal/saveVesselGroupModal.less";
@import "partial/vessel/vesselHistory/vesselHistory.less";
@import "partial/vessel/vesselHistory/vesselHistoryModal/vesselHistoryModal.less";

@import "partial/mobileTerminal/mobileTerminal.less";

@import "partial/vessel/vesselList/vesselList.less";
@import "partial/mobileTerminal/mobileTerminalList/mobileTerminalList.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


body{
    width: 100%;
    background-color: #ffffff;
    font-family: Lato, Arial;

}

#content{
    whidth:100%;
    min-height: 400px;
}

//TODO: What is this used for?
.glyphicon {
    color: @buttoncolor;
    top: -1px;
}

//TODO: REMOVE THIS FROM APP.LESS
.closenewvessel img{
    cursor: pointer;
}



@icon-font-path: "fonts/";

