@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "../bower_components/leaflet/dist/leaflet.css";
@import "../bower_components/OpenLayers/css/ol.css";
@import "../bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css";
@fa-font-path: "assets/font-awesome/fonts";

@import "less/globalVariables.less";
@import "less/bootstrapOverride.less";
@import "less/common.less";
@import "less/components.less";
@import "less/forms.less";
@import "less/jquery.datetimepicker.less";

/* Component LESS */
@import "partial/header/header.less";
@import "partial/footer/footer.less";
@import "partial/header/headerMenu/headerMenu.less";
@import "partial/today/today.less";

@import "directive/vessel/vesselDetails/vesselDetails.less";
@import "directive/common/search/advancedSearch/advancedSearch.less";
@import "directive/common/search/advancedSearch/mobileTerminal/advancedSearchMobileTerminalForm.less";
@import "directive/common/search/advancedSearch/pollingMobileTerminal/searchPollingMobileTerminalForm.less";
@import "directive/common/loadingIndicator/loadingIndicator.less";

@import "partial/vessel/vessel.less";
@import "partial/vessel/vesselForm/vesselForm.less";
@import "partial/vessel/vesselList/vesselList.less";
@import "partial/common/saveSearchModal/saveSearchModal.less";
@import "partial/vessel/vesselHistory/vesselHistoryModal/vesselHistoryModal.less";

@import "partial/mobileTerminal/mobileTerminal.less";
@import "partial/mobileTerminal/mobileTerminalList/mobileTerminalList.less";
@import "directive/common/dropdown/dropdown.less";
@import "directive/common/sortableTableHeader/sortableTableHeader.less";
@import "partial/mobileTerminal/assignVessel/assignVessel.less";
@import "partial/alerts/alerts.less";
@import "partial/mobileTerminal/mobileTerminalDetails/mobileTerminalDetails.less";
@import "partial/mobileTerminal/mobileTerminalForm/mobileTerminalForm.less";
@import "service/common/modalComment/modalComment.less";
@import "partial/mobileTerminal/mobileTerminalHistoryModal/mobileTerminalHistoryModal.less";


@import "partial/polling/polling.less";
@import "partial/polling/runningProgramPolls/runningProgramPolls.less";
@import "partial/polling/newPollWizard/newPollWizard.less";
@import "partial/polling/newPollWizard/selectMobileTerminals/newPollWizardSelectMobileTerminals.less";
@import "partial/polling/newPollWizard/pollingOptions/newPollWizardPollingOptions.less";
@import "partial/polling/newPollWizard/results/newPollWizardResults.less";
@import "partial/polling/newPollWizard/selection/newPollWizardSelection.less";
@import "directive/polling/newPollWizardProgress/newPollWizardProgress.less";
@import "partial/polling/pollingLogs/pollingLogs.less";
@import "partial/polling/pollingPageHeader/pollingPageHeader.less";
@import "directive/common/inputValidationMessage/inputValidationMessage.less";
@import "directive/common/periodInput/periodInput.less";
@import "directive/common/tagSelectInput/tagSelectInput.less";
@import "directive/common/savedSearchDropdown/savedSearchDropdown.less";
@import "directive/common/searchResultErrorAlert/searchResultErrorAlert.less";
@import "partial/movement/movement.less";
@import "partial/movement/movementList/movementList.less";
@import "partial/movement/movementPageHeader/movementPageHeader.less";
@import "directive/common/search/advancedSearch/movement/advancedSearchMovementForm.less";
@import "directive/common/search/advancedSearch/vessel/advancedSearchVesselForm.less";
@import "partial/movement/manualPositionReports/manualPositionReports.less";
@import "partial/movement/manualPositionReports/manualMovementList/manualMovementList.less";
@import "partial/movement/manualPositionReports/manualPositionReportModal/manualPositionReportModal.less";
@import "partial/common/confirmationModal/confirmationModal.less";
@import "partial/common/infoModal/infoModal.less";
@import "partial/admin/admin.less";
@import "partial/admin/adminConfiguration/adminConfiguration.less";
@import "partial/admin/adminLog/adminLog.less";
@import "partial/admin/adminPageHeader/adminPageHeader.less";
@import "directive/common/search/advancedSearch/audit/auditSearchForm.less";
@import "directive/common/multiselectDropDown/multiselectDropDown.less";

@import "partial/spatial/spatial.less";
@import "partial/spatial/liveViewPanel/liveViewPanel.less";
@import "partial/spatial/reportsPanel/reportsPanel.less";
@import "partial/spatial/liveViewPanel/mapPanel/mapPanel.less";
@import "partial/spatial/liveViewPanel/vmsPanel/vmsPanel.less";
@import "partial/spatial/liveViewPanel/mapPanel/layerPanel/layerPanel.less";
@import "partial/spatial/reportsPanel/reportsList/reportsList.less";
@import "partial/spatial/reportsPanel/reportForm/reportForm.less";
@import "partial/spatial/reportsPanel/reportForm/vesselFieldset/vesselFieldset.less";
@import "partial/spatial/reportsPanel/reportForm/vmsFiltersFieldset/vmsFiltersFieldset.less";
@import "partial/exchange/exchange.less";
@import "partial/exchange/tables/exchangeSendingQueue.less";
@import "partial/exchange/tables/exchangeTransmissionStatus.less";

/*USM*/
@import "usm/integration.less";

@import "partial/alarms/rules/rules.less";
@import "partial/alarms/holdingTable/holdingTable.less";
@import "partial/alarms/openTickets/openTickets.less";
@import "partial/alarms/alarmsPageHeader/alarmsPageHeader.less";
@import "partial/alarms/rules/rulesTable/rulesTable.less";
@import "partial/alarms/rules/rulesForm/rulesForm.less";
@import "partial/alarms/holdingTable/holdingTableList/holdingTableList.less";
@import "partial/admin/adminConfiguration/configurationGeneral/configurationGeneral.less";
@import "partial/admin/adminConfiguration/configurationImport/configurationImport.less";
@import "partial/admin/adminConfiguration/configurationOther/configurationOther.less";
@import "partial/uvmsLogin/uvmsLogin.less";
@import "directive/common/loadMorePagination/loadMorePagination.less";
@import "directive/common/searchResultsTable/searchResultsTable.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


html {
  position: relative;
  min-height: 100%;
}

body{
    width: 100%;
    background-color: #ecf0f1;
    font-family: Lato, Arial;
}

#content{
    min-height: 400px;
    margin-bottom: @footerHeight;
}

.appErrorContainer {
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 200px;
    text-align: center;
    font-size: 16px;

    div{
        font-size: 12px;
    }
}

//TODO: What is this used for?
.glyphicon {
    color: @buttoncolor;
    top: -1px;
}

//TODO: REMOVE THIS FROM APP.LESS
.closenewvessel img{
    cursor: pointer;
}



@icon-font-path: "fonts/";