<!--
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="validationResultsModal">
    <div class="modal-header">
        <div class="pointer pull-right" ng-click="cancel()">
             <i class="fa fa-times closeicon"></i>
        </div>
        <h4 class="modal-title">{{'exchange.validation_results_modal_title' | i18n}}</h4>
    </div>
    <div class="modal-body">
    	<div class="table-responsive-force" st-table="displayedResults" st-safe-src="validationResults" ng-show="isTableVisible">
    		<table class="table table-striped table-condensed">
    			<thead>
    				<tr class="row">
    					<th st-sort="id" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'exchange.table_header_rule_id' | i18n}}</th>
	    				<th st-sort="level" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'exchange.table_header_level' | i18n}}</th>
	    				<th st-sort="status" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'exchange.table_header_status' | i18n}}</th>
						<th class="message-column">{{'exchange.table_msg' | i18n}}</th>
	    				<th>{{'exchange.table_header_actions' | i18n}}</th>
    				</tr>
    				<tr class="row" ng-if="isLoading">
						<th colspan="5" class="loading-spinner-cl"><i class="fa fa-spinner fa-spin loading-spinner"></i></th>
					</tr>
    			</thead>
    			<tbody>
    				<tr ng-repeat="rule in displayedResults" class="row" ng-if="!isLoading && displayedResults.length > 0">
    					<td>{{rule.id}}</td>
    					<td>{{rule.level}}</td>
    					<td>
    						<message-status ng-model="rule" is-clickable="false"></message-status>
    					</td>
						<td class="message-column">
							<div ng-if="::rule.message">
								<span>{{rule.message}}</span>
							</div>
                            <div ng-if="::rule.entity">
                                <span class="rule-span-title">{{'exchange.table_entity' | i18n}}</span>
                                <span>{{rule.entity}}</span>
                            </div>
							<div ng-if="::rule.note" title="{{rule.note}}">
								<span class="rule-span-title">{{'exchange.table_note' | i18n}}</span>
								<span class="rule-span-content">{{rule.note}}</span>
							</div>
                            <div ng-if="::rule.expression" title="{{rule.expression}}">
                                <span class="rule-span-title">{{'exchange.table_expression' | i18n}}</span>
                                <span class="rule-span-content">{{rule.expression}}</span>
                            </div>
						</td>
    					<td>
    						<button type="button" class="btn btn-xs btn-default" title="{{'exchange.title_details' | i18n }}" ng-click="showError(rule.xpaths)" ng-hide="::rule.id === 'FA-L00-00-0000'">
								<span class="fa fa-eye"></span>
							</button>
    					</td>
    				</tr>
    				<tr class="row" ng-if="!isLoading && errorMessage !== undefined && validationResults.length === 0">
						<th colspan="5">
							<table-alert type="'error'" msg="errorMessage" visible="true" no-hide="false"></table-alert>
						</th>
					</tr>
    			</tbody>
    		</table>
   		</div>
   		<div ng-show="!isTableVisible">
   			<div class="back-btn">
   				<button type="button" class="btn btn-xs btn-default" title="{{'exchange.go_back' | i18n }}" ng-click="togglePanelVisibility()">
					<span class="fa fa-arrow-circle-left"></span>
					<span>{{'exchange.go_back' | i18n }}</span>
				</button>
   			</div>
			<table-alert class="alert-margin" type="'error'" msg="errorMessage" visible="inValidXpath" no-hide="false"></table-alert>
			<div class="loading-spinner-cl loading-spinner-xml" ng-if="isLoadingXml"><i class="fa fa-spinner fa-spin"></i></div>
   			<div hljs hljs-source="msg" class="xml-content"></div>
   		</div>
    </div>
</div>