<div class="area-group-editor-modal">
	<loading-panel type="EditAreaGroupModal"></loading-panel>
	<!--  HEADER -->
	<div class="modal-header">
        <div class="pointer pull-right" ng-click="cancel()">
             <i class="fa fa-times closeicon"></i>
        </div>
        <h4 class="modal-title">{{'areas.edit_area_group' | i18n}}</h4>
    </div>
    <!-- BODY -->
    <div class="modal-body">
		<div class="alert alert-container" role="alert" ng-class="{'alert-danger': alert.alertType === 'danger', 'alert-warning': alert.alertType === 'warning'}" ng-show="alert.hasAlert">
			<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="alert.alertType === 'danger'"></span>
			<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="alert.alertType === 'warning'"></span>
			<span class="alert-message">
				<span>{{alert.alertMessage}}</span>          
			</span>
		</div>
    	<label class="area-group-name-label">{{'areas.area_group' | i18n | uppercase}} - {{areaGroup.type}}</label>
		<div class="row form-group datesGroup">
			<ng-form name="areaGroupActiveForm">
				<div class="col-md-6" ng-class="{'has-error': areaGroupActiveForm.areaGroupFrom.$invalid && (areaGroupActiveForm.areaGroupFrom.$dirty || isSubmitted)}">
					<label for="areaGroupFrom">{{'areas.user_area_valid_from' | i18n }}</label>
					<datepicker-input time="true" model="areaGroup.startDate" name="areaGroupFrom" max-date="areaGroup.endDate" ng-change-callback="resetDateTimePicker" input-field-id="area-group-start-date-picker" fullscreen-location="'#areaManagement'"></datepicker-input>
				</div>
				<div class="col-md-6" ng-class="{'has-error': areaGroupActiveForm.areaGroupTo.$invalid && (areaGroupActiveForm.areaGroupTo.$dirty || isSubmitted)}">
					<label for="areaGroupTo">{{'areas.user_area_valid_to' | i18n }}</label>
					<datepicker-input time="true" model="areaGroup.endDate" name="areaGroupTo" min-date="areaGroup.startDate" ng-change-callback="resetDateTimePicker" input-field-id="area-group-end-date-picker" fullscreen-location="'#areaManagement'"></datepicker-input>
				</div>
			</ng-form>
		</div>
	</div>
	<!-- FOOTER -->
    <div class="modal-footer">
        <div class="row">
        	<div class="col-md-12">
        		<button class="btn btn-default btn-action" type="button" ng-click="cancel()">{{'common.cancel' | i18n}}</button>
				<button class="btn btn-primary btn-action" type="button" ng-click="save()" ng-show="!isConfirming">{{'common.save' | i18n}}</button>
        		<button class="btn btn-warning btn-action" type="button" ng-click="confirm()" ng-show="isConfirming">{{'common.confirm' | i18n}}</button>
        	</div>
        </div>
    </div>
</div>
