.advancedSearch{
    .row{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    input[type="text"]{
        height: 30px;
    }

    .searchFooter{
        margin-top: 10px;
        a{
            margin-right: 10px;
            &:last-child{
                margin-right: 0px !important;
            }
        }
    }

    .searchcriteria{
        margin: 3px 0;
    }

    .searchcriteriadropdown{
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .fullWidth{
        width: 100%;
    }

    .advancedsmallerpadding{
        padding-left: 2px;
        padding-right: 2px;
    };
    .advancedcolumn{
        padding-left:5px;
        padding-right: 5px;
    }    

}

.exchangeSearch, .alarmSearchContainer {
    .btn {
        width: 100%;
    }
    input[type="text"] {
        width: 100%;
    }
    .reset {
        line-height: 27px;
    }
    .no-padding {
        padding: 0;
    }
}
