<div class="container containerWithTopBottomPadding">
    <div class="row">
        <div class="col-md-12 pageMenu">
            <ul class="horizontal pipeSeparator">
                <li ng-class="{active: isActiveTab('HOLDING_TABLE')}" show-if-allowed='Rules:viewAlarmsHoldingTable'>
                    <a href="#/alerts/holdingtable">{{'alarms.pagemenu_holding_table' | i18n }}</a>
                    <span ng-show="numberOfOpenAlarmsAndTickets.alarms > 0" class="badge notificationsBadge" ng-bind="numberOfOpenAlarmsAndTickets.alarms"></span>
                </li>
                <li ng-class="{active: isActiveTab('OPEN_TICKETS')}" show-if-allowed='Rules:viewAlarmsOpenTickets'>
                    <a href="#/alerts/notifications">{{'alarms.pagemenu_open_tickets' | i18n }}</a>
                    <span ng-show="numberOfOpenAlarmsAndTickets.tickets > 0" class="badge notificationsBadge" ng-bind="numberOfOpenAlarmsAndTickets.tickets"></span>
                </li>
                <li ng-class="{active: isActiveTab('RULES')}" show-if-allowed='Rules:viewAlarmRules'>
                    <a href="#/alerts/rules">{{'alarms.pagemenu_rules' | i18n }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
