<div class="container containerWithTopBottomPadding">
    <div class="row">
        <div class="col-md-8 pageMenu">
            <ul class="horizontal pipeSeparator">
                <li ng-class="{active: activeTab === 'HOLDING_TABLE'}"><a href="#/alarms/holdingtable">{{'alarms.pagemenu_holding_table' | i18n }}</a></li>
                <li ng-class="{active: activeTab === 'OPEN_TICKETS'}"><a href="#/alarms/opentickets">{{'alarms.pagemenu_open_tickets' | i18n }}</a></li>
                <li ng-class="{active: activeTab === 'RULES'}"><a href="#/alarms/rules">{{'alarms.pagemenu_rules' | i18n }}</a></li>                
            </ul>
        </div>
    </div>
</div>
