.manualPositionReportModal h4 {
	text-transform: uppercase;
}

.manualPositionReportModal .row {
	margin-bottom: 15px;
  	margin-top: 15px;
}

.manualPositionReportModal .col-md-2, 
.manualPositionReportModal .col-md-3,
.manualPositionReportModal .col-md-4,
.manualPositionReportModal .col-md-6 {
	padding: 0 5px;
}

.manualPositionReportModal .buttons {
	margin-top: 25px;
	margin-bottom: 0;
}

.manualPositionReportModal .buttonGroups,
.manualPositionReportModal .buttons .buttonGroups {
	display: inline-table;
	width: 100%;
}

.manualPositionReportModal .buttonGroups .buttonGroup,
.manualPositionReportModal .buttons .buttonGroup {
	display: table-cell;
	vertical-align: middle;
}

.manualPositionReportModal .buttonGroups .button-group-right,
.manualPositionReportModal .buttons .button-group-right {
	text-align: right;
}

.manualPositionReportModal .buttons .button {
	margin-left: 10px;
	margin-right: 10px;
}

.manualPositionReportModal .closeicon {
	bottom: 0;
	left: 0;
	position: relative; 
}

.manualPositionReportModal .unit-input {
	display: table;
	text-transform: none;
}

.manualPositionReportModal .unit-box {
	background-color: lightgray;
	border: 1px solid #cccccc;
	display: table-cell;
	padding: 0 4px;
	text-align: center;
	width: 30px;
}
