.manualPositionReportModal, .positionReportModal{
    .modal-body{
        .row {
            margin-bottom: 15px;
            margin-top: 15px;
        }
    }
    .modal-footer{
        .buttons {
            margin-top: 25px;
            margin-bottom: 0;

            .buttonGroups {
                display: inline-table;
                width: 100%;

                .buttonGroup {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;

                    .button {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    button{
                        text-transform: uppercase;
                    }
                }
                .button-group-right {
                    text-align: right;
                }
            }
        }
    }

    div.loadingIndicator{
        .spinnerOverlay{
            z-index: 1002;
        }
        .spinner{
            z-index: 1003;
        }
    }
}

