.manualPositionReportModal{
    h4 {
    	text-transform: uppercase;
    }

    .row {
    	margin-bottom: 15px;
      	margin-top: 15px;
    }

    .col-md-2, 
    .col-md-3,
    .col-md-4,
    .col-md-6 {
    	padding: 0 5px;
    }

    .buttons {
    	margin-top: 25px;
    	margin-bottom: 0;
    }

    .buttonGroups,
    .buttons .buttonGroups {
    	display: inline-table;
    	width: 100%;
    }

    .buttonGroups .buttonGroup,
    .buttons .buttonGroup {
    	display: table-cell;
    	vertical-align: middle;
    }

    .buttonGroups .button-group-right,
    .buttons .button-group-right {
    	text-align: right;
    }

    .buttons .button {
    	margin-left: 10px;
    	margin-right: 10px;
    }

    .closeicon {
    	bottom: 0;
    	left: 0;
    	position: relative; 
    }
    
    .autoSuggestionWrapper{
        position: relative;
        .loadingIcon{
            position: absolute;
            right: 5px;
            top:5px;
        }
    }    
}