.pollingTabs{
    margin-top: 20px;
    border-bottom: 1px solid #DDD;

    ul{
        position: relative;
    }
    ul li {
	    border-bottom: none;
        top: 1px;
       	margin-right: 10px;
    }

    .nav-tabs {
    	border-bottom: none;
    }
}