<div class="container" ng-controller="organisationsListCtrl">

    <!-- SEARCH PANEL-->
    <div class="panel panel-default">
        <div class="panel-body">

            <form class="form-inline" id="searchOrganisationForm">

                <div class="form-group col-md-2">
                    <label for="name">{{'organisations.name' | translate}}</label>

                    <select class="form-control dropdown"
                            id="name"
                            name="name"
                            ng-model="criteria.name"
                            ng-options="name.parentOrgName for name in namesList"
                            ng-class="{pointer: pointer}"
                            ng-mouseenter="pointer=true"
                            ng-mouseleave="pointer=false">
                        <option value="">Organisation...</option>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label for="nation">{{'organisations.nation' | translate}}</label>

                    <select class="form-control dropdown"
                            id="nation"
                            name="nation"
                            ng-model="criteria.nation"
                            ng-options="nation for nation in nationsList"
                            ng-class="{pointer: pointer}"
                            ng-mouseenter="pointer=true"
                            ng-mouseleave="pointer=false">
                        <option value="">Nation...</option>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label for="status">{{'organisations.status' | translate}}</label>

                    <select class="form-control dropdown"
                            id="status"
                            name="status"
                            ng-model="criteria.status"
                            ng-options="'users.status_'+status | translate for status in statusList"
                            ng-init="criteria.status = statusList[0]"
                            ng-class="{pointer: pointer}"
                            ng-mouseenter="pointer=true"
                            ng-mouseleave="pointer=false">
                    </select>
                </div>

                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <div>
                        <button type="button" id="searchButton" class="btn btn-default" ng-click="searchOrganisation(criteria)">
                            <span class="glyphicon glyphicon-search"></span></span>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="resetForm()">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <!-- SEARCH PANEL END-->

    <!-- ORGANISATIONS TABLE -->

    <table id="organisationsTable" st-table="displayedOrganisations" st-safe-src="organisationsList" class="table table-striped fixed">
        <colgroup>
            <col style="width: 150px;">
            <col style="width: 180px;">
            <col style="width: 270px;">
            <col style="width: 120px;">
            <col style="width: 200px;">
            <col style="width: 100px;">
            <col style="width: 120px;">
        </colgroup>
        <thead>
        <tr>
            <th ng-click="changeSorting('parent')">{{'organisations.parent' | translate}}&nbsp;<i class="fa" ng-class="sortIcon('parent')"></i></th>
            <th ng-click="changeSorting('name')">{{'organisations.name' | translate}}&nbsp;<i class="fa" ng-class="sortIcon('name')"></i></th>
            <th ng-click="changeSorting('description')">{{'organisations.description' | translate}}&nbsp;<i class="fa" ng-class="sortIcon('description')"></i></th>
            <th ng-click="changeSorting('nation')">{{'organisations.nation' | translate}}&nbsp;<i class="fa" ng-class="sortIcon('nation')"></i></th>
            <th ng-click="changeSorting('email')">{{'organisations.email' | translate}}&nbsp;<i class="fa" ng-class="sortIcon('email')"></i></th>
            <th ng-click="changeSorting('status')">{{'organisations.status' | translate}}&nbsp;<i class="fa" ng-class="sortIcon('status')"></i></th>

            <th class="text-right">
                <div ng-controller="manageOrganisationCtrl">
                    <button id="newOrgButton" class="btn btn-primary btn-sm" ng-click='manageOrganisation("new", "")'>
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>&nbsp;New</span>
                    </button>
                </div>
            </th>
        </tr>
        </thead>
        <tbody class="table-bordered" ng-if="!isDataLoading">
        <tr ng-repeat="organisation in displayedOrganisations">
            <td ng-bind="organisation.parent"></td>
            <td ng-bind="organisation.name"></td>
            <td ng-bind="organisation.description"></td>
            <td ng-bind="organisation.nation"></td>
            <td ng-bind="organisation.email"></td>
            <td>
                <span ng-class="{'label label-success': organisation.status=='E', 'label label-danger': organisation.status=='D'}">{{"organisation.status_"+organisation.status | translate}}</span>
            </td>
            <td class="actionTd text-right">
                <span ng-controller="manageOrganisationCtrl">
                    <button type="button" class="btn btn-sm btn-primary usm-action-btn" ng-click='manageOrganisation("edit", organisation)'>
                        <span><i class="glyphicon glyphicon-pencil"></i></span>
                    </button>
                </span>
                <button type="button" class="btn btn-sm btn-primary usm-action-btn"
                        ui-sref="app.usm.organisations.organisation({organisationId: organisation.organisationId})" ui-sref-opts="{ inherit : false }">
                    <span><i class="glyphicon glyphicon-eye-open"></i></span>
                </button>
                <span ng-controller="manageOrganisationCtrl">
                    <button type="button" class="btn btn-sm btn-danger usm-action-btn" ng-click='manageOrganisation("delete", organisation)'>
                        <span><i class="glyphicon glyphicon-remove"></i></span>
                    </button>
                </span>
            </td>
        </tr>
        </tbody>

        <tbody ng-if="isDataLoading">
        <tr>
			<td colspan="7" class="text-center">{{loadingMessage}}</td>
        </tr>
        </tbody>

        <tbody ng-if="emptyResult">
        <tr>
            <td colspan="7">{{emptyResultMessage}}</td>
        </tr>
        </tbody>
    </table>

    <!-- ORGANISATIONS TABLE END-->


    <div ng-if="showPagination">
        <usm-pagination config="paginationConfig"></usm-pagination>
    </div>
</div>
