.trip-overview-panel {
    .fieldsetStyle{
        padding:0 0 20px 0;
        margin:0;
    }
    .trip-overview-container {
        margin:0;
        padding:0;
        .field-format,
        .field-width {
            padding:0 10px;
            float:left;
            word-break: break-all;
                }
        .field-format{
            width:21%;
        }
        .field-width {
            width:16%;
        }
             
    }
    
}