/*
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
*/
.trip-overview-panel {
    width: 100%;
    .fieldsetStyle{
        padding: 0;
        padding-bottom: 10px;
        margin: 0; 
        .fieldsetLegendStyle {
            margin: 0 0 10px 10px;
            a:hover {
                cursor: default;
            }
        }
    }
    .trip-overview-container {
        margin: 0;
        padding: 0;
        display: flex;
        .field-icon {
            display: table;
            height: 100%;
            &:hover {
                cursor: pointer;
                .field-label {
                    color: @primaryColor;
                }
                .field-text {
                    text-decoration: underline
                }
            }
            .field-label {
                display: table-cell;
                vertical-align: middle;
                font-size: 22px;
                padding-right: 10px;
            }
            .field-text {
                display: table-cell;
                white-space: nowrap;
                vertical-align: middle;
            }
        }
        .trip-row {
            width: 100%;
            display: flex;
            .field-format {
                display: inline-flex;
                .field-label {
                    font-weight: bold;
                    white-space: nowrap;
                    margin-right: 5px;
                }
                &:not(:last-child){
                    .field-text {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    
}