.trip-overview-panel {
    .fieldsetStyle{
        padding: 0;
        padding-bottom: 10px;
        margin: 0; 
        .fieldsetLegendStyle {
            margin: 0 0 10px 10px;
        }
    }
    .trip-overview-container {
        margin: 0;
        padding: 0;
        .field-format,
        .field-width {
            padding: 0 10px;
            float:left;
            word-break: break-all;
        }
        .field-format{
            width: 21%;
        }
        .field-width {
            width: 16%;
        }
             
    }
    
}