/*
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
 */
.tabs {
 	.flexbox-inline();
 	border-top: 1px solid @sectionBorderColor;
 	background: #fff;
 	margin: 0;

 	.tab {
 		.transition-all-ease(200ms);
 		padding: 10px 15px 8px 15px;
 		align-items: center;
 		color: @primaryColor;

 		text-transform: uppercase;
 		font-weight: 600;
 		letter-spacing: 0.01em;

		border-right: 1px solid @sectionBorderColor;

 		&:first-of-type {
 			border-left: 1px solid @sectionBorderColor;
 		}

 		&.active {
 			background: @primaryColor;
 			color: #fff;
 		}
 	}
}