<div>
    <div class="modal-header">
        <div class="pointer pull-right" ng-click="cancel()">
             <i class="fa fa-times closeicon"></i>
        </div>
        <h4 class="modal-title">{{'spatial.report_list_modal_title' | i18n}}</h4>
    </div>
   	<!-- BODY -->
    <div class="modal-body">
        <div ng-include="'partial/spatial/reportsPanel/reportsList/reportsList.html'"></div>
    </div>
    <!-- FOOTER -->
    <div class="modal-footer">
        <div class="row">
        	<div class="col-md-12">
        		<button class="btn btn-default btn-action" type="button" ng-click="cancel()">{{'common.cancel' | i18n}}</button>
        	</div>
        </div>
    </div>
</div>