<div class="systemAreasContainer" ng-controller="SystemareasCtrl">
	<div class="row">
		<div class="col-md-3 comboLabel">
			<label>{{'areas.sys_areas_data_type_label' | i18n}}</label>
		</div>
		<div class="col-md-9">
			<combobox ng-model="sysAreaType" items="helper.systemAreaItems" name="dataType" initialtext="{{'areas.sys_areas_data_type_label' | i18n}}" ng-required="true" is-loading="helper.isLoadingSysAreaTypes" dest-combo-list="#areaManagement"></combobox>
		</div>
	</div>

	<div class="col-md-12 sysareas-radio-btns" ng-show="sysAreaType">
		<div class="row">
			<div class="form-group radioButtons">
				<label class="radio-inline">
					<input type="radio" value="upload" ng-model="helper.sysAreasEditingType">
					{{'areas.upload_radio_title' | i18n}}
				</label>
				<label class="radio-inline">
					<input type="radio" value="metadata" ng-model="helper.sysAreasEditingType">
					{{'areas.metadata_radio_title' | i18n}}
				</label>
				<label class="radio-inline" ng-if="sysAreaType !== 'PORT'">
					<input type="radio" value="dataset" ng-model="helper.sysAreasEditingType">
					{{'areas.dataset_radio_title' | i18n}}
				</label>
			</div>
		</div>

		<div class="row system-area-body">
			<div ng-show="helper.sysAreasEditingType === 'upload'" class="editingTypeTab">
				<!-- UPLOAD AREA -->
				<ng-form name="SysareasForm">
					<div class="form-container sysarea-wizard">
						<div ng-include="'partial/areas/systemAreas/uploadSysAreaProgress/uploadSysAreaProgress.html'"></div>
						<ng-form name="selectFileForm" class="step-panel" ng-show="wizardStep === 1">
							<div class="col-md-12 form-group input-group" ng-class="{'has-error': SysareasForm.areaFile.$dirty && SysareasForm.areaFile.$invalid}">
								<span class="btn btn-primary btn-file input-group-addon">
									{{'areas.area_upload_select_zip_file_btn' | i18n}}
									<input type="file" accept="application/zip" onchange="angular.element(this).scope().fileNameChanged(this)"/>
								</span>
								<input type="text" class="form-control" ng-model="sysAreafile" name="areaFile" ng-required="true" readonly>
								<span class="input-group-addon alert-success" ng-show="validFile.isValid === true">
									<i class="fa fa-check alert-success"></i>
								</span>
								<span class="input-group-addon alert-danger" ng-show="SysareasForm.areaFile.$dirty && (SysareasForm.areaFile.$invalid || validFile.isValid === false)">
									<i class="fa fa-times alert-danger"></i>
								</span>
								<a href="" qtip content="{{'areas.area_upload_select_zip_file_info_btn' | i18n}}" class="info-qtip qtip-blue"><i class="fa fa-question-circle"></i></a>
								<div class="innerErrorMessagesFileUpload" ng-messages="SysareasForm.areaFile.$error" ng-show="SysareasForm.areaFile.$dirty && (SysareasForm.areaFile.$invalid || validFile.isValid === false)">
									<div ng-message="required">{{'spatial.required_field_error_message' | i18n }}</div>
								</div>
							</div>
						</ng-form>
						<ng-form name="dataConfigForm" class="step-panel" ng-show="wizardStep === 2">
							<div class="proj-container col-md-12 form-group form-inline">
								<div class="row">
									<div class="col-md-3 proj-label comboLabel">
										<label class="static-text required-field" for="editingProjection">{{'areas.editing_projection_label' | i18n}}</label>
									</div>
									<div class="col-md-9 proj-combo" ng-class="{'has-error': SysareasForm.dataConfigForm.editingProjection.$dirty && SysareasForm.dataConfigForm.editingProjection.$invalid}">
										<combobox ng-model="dataConfig.selectedProj" items="projections.items" name="editingProjection" initialtext="{{'areas.editing_projection_label' | i18n}}" ng-required="true"
										is-loading="projections.isLoading" dest-combo-list="#areaManagement"></combobox>
									</div>
									<div class="innerErrorMessagesCombobox" ng-messages="SysareasForm.dataConfigForm.editingProjection.$error" ng-show="SysareasForm.dataConfigForm.editingProjection.$dirty && SysareasForm.dataConfigForm.editingProjection.$invalid">
										<div ng-message="required">{{'spatial.required_field_error_message' | i18n }}</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<div class="row">
									<div class="col-md-3">
										<label class="static-text required-field" for="name">{{'areas.data_configurations_name' | i18n}}</label>
									</div>
									<div class="col-md-9" ng-class="{'has-error': SysareasForm.dataConfigForm.name.$dirty && SysareasForm.dataConfigForm.name.$invalid}">
										<combobox ng-model="dataConfig.name" items="shpAttrs" name="name" initialtext="{{'areas.data_configurations_attr_field_shp' | i18n}}" ng-required="true" group="shpAttrs" dest-combo-list="#areaManagement"></combobox>
									</div>
									<div class="innerErrorMessagesCombobox" ng-messages="SysareasForm.dataConfigForm.name.$error" ng-show="SysareasForm.dataConfigForm.name.$dirty && SysareasForm.dataConfigForm.name.$invalid">
										<div ng-message="required">{{'spatial.required_field_error_message' | i18n }}</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<div class="row">
									<div class="col-md-3">
										<label class="static-text required-field" for="code">{{'areas.data_configurations_code' | i18n}}</label>
									</div>
									<div class="col-md-9" ng-class="{'has-error': SysareasForm.dataConfigForm.code.$dirty && SysareasForm.dataConfigForm.code.$invalid}">
										<combobox ng-model="dataConfig.code" items="shpAttrs" name="code" initialtext="{{'areas.data_configurations_attr_field_shp' | i18n}}" ng-required="true" group="shpAttrs"></combobox>
									</div>
									<div class="innerErrorMessagesCombobox" ng-messages="SysareasForm.dataConfigForm.code.$error" ng-show="SysareasForm.dataConfigForm.code.$dirty && SysareasForm.dataConfigForm.code.$invalid">
										<div ng-message="required">{{'spatial.required_field_error_message' | i18n }}</div>
									</div>
								</div>
							</div>

							<div class="col-md-12">
								<span class="col-md-12 areaFormSection">{{'areas.data_configurations_attr_fields_mapping' | i18n }}</span>
							</div>
							<div ng-include="'partial/areas/systemAreas/attrFieldMappingRule/attrFieldMappingRule.html'" ng-repeat="attr in selectedAttrs"></div>
							<div class="form-group col-md-4 btn-add">
								<a ng-click="selectedAttrs.length >= dbAttrs.length || selectedAttrs.length + 2 >= shpAttrs.length || addNewAttr()" title="{{'areas.add_new_attr' | i18n }}"  class="btn btn-default btn-sm">
									<span><i class="fa fa-plus"></i></span>
									{{'areas.add_new_attr' | i18n }}
								</a>
							</div>
						</ng-form>

						<div class="step-panel overview-panel" ng-show="wizardStep === 3">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-3">
										<label class="static-text">{{'areas.area_upload_selected_file_btn' | i18n}}</label>
									</div>
									<div class="col-md-9">
										<span class="static-text" ng-bind="sysAreafile"></span>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="row" ng-if="wizardStep === 3">
									<div class="col-md-3">
										<label class="static-text">{{'areas.editing_projection_label' | i18n}}</label>
									</div>
									<div class="col-md-9">
										<span class="static-text" ng-bind="getProjectionNameById()"></span>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-3">
										<label class="static-text">{{'areas.data_configurations_name' | i18n}}</label>
									</div>
									<div class="col-md-9">
										<span class="static-text" ng-bind="dataConfig.name"></span>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-3">
										<label class="static-text">{{'areas.data_configurations_code' | i18n}}</label>
									</div>
									<div class="col-md-9">
										<span class="static-text" ng-bind="dataConfig.code"></span>
									</div>
								</div>
							</div>

							<div ng-if="selectedAttrs.length > 0">
								<div class="col-md-12">
									<span class="col-md-12 areaFormSection">{{'areas.data_configurations_attr_fields_mapping' | i18n }}</span>
								</div>

								<div class="col-md-12 row table-header-attr-mapping">
									<div class="col-md-5">{{'areas.mapping_db_attr' | i18n }}</div>
									<div class="col-md-5">{{'areas.mapping_shp_attr' | i18n }}</div>
								</div>
								<div ng-include="'partial/areas/systemAreas/attrFieldMappingRule/attrFieldMappingRule.html'" ng-repeat="attr in selectedAttrs"></div>
							</div>
						</div>
					</div>
				</ng-form>
				<div class="btn-container">
					<button class="btn btn-primary btn-action pull-right" ng-class="{'disabled': validateForm()}" type="button" ng-click="nextStep();" ng-disabled="validateForm()">
						<span ng-if="wizardStep !== 3">
							{{'common.next' | i18n}}
						</span>
						<span class="fa" ng-class="{'fa-refresh fa-spin': isSaving === true, 'fa-upload': isSaving === false}" ng-if="wizardStep === 3"></span>
						<span ng-if="wizardStep === 3">
							{{'areas.area_upload_modal_upload_btn' | i18n}}
						</span>
					</button>
					<button class="btn btn-default btn-back btn-action pull-right" type="button" ng-click="previousStep();" ng-show="wizardStep > 1">
						<span>
							{{'common.back' | i18n}}
						</span>
					</button>
				</div>
			</div>
			<!-- UPDATE METADATA -->
			<div class="col-md-12 updateMetadata editingTypeTab" ng-show="helper.sysAreasEditingType === 'metadata'">
				<ng-form name="metadataForm">
					<div class="row form-container metadata-container">
						<div class="form-group col-md-12 metadata-group" ng-class="{'has-error': metadataForm.areaName.$dirty && metadataForm.areaName.$invalid}">
							<label for="areaName" class="required-field">{{'areas.metadata_ref_title' | i18n}}</label>
							<input type="text" class="form-control" name="areaName" ng-model="helper.metadata.areaName" ng-required="true">
							<div class="innerErrorMessagesInputWithUpLabel" ng-messages="metadataForm.areaName.$error" ng-show="metadataForm.areaName.$dirty && metadataForm.areaName.$invalid">
								<div ng-message="required">{{'spatial.required_field_error_message' | i18n }}</div>
							</div>
						</div>
						<div class="form-group col-md-12 metadata-group">
							<label for="areaDesc">{{'areas.metadata_ref_description' | i18n}}</label>
							<textarea class="form-control" name="areaDesc" ng-model="helper.metadata.areaDesc"></textarea>
						</div>
						<div class="form-group col-md-12 metadata-group">
							<label for="shortCopy">{{'areas.metadata_short_copyright_title' | i18n}}</label>
							<textarea class="form-control" name="shortCopy" ng-model="helper.metadata.shortCopy"></textarea>
						</div>
						<div class="form-group col-md-12 metadata-group">
							<label for="longCopy">{{'areas.metadata_long_copyright_title' | i18n}}</label>
							<textarea class="form-control" name="longCopy" ng-model="helper.metadata.longCopy"></textarea>
						</div>
					</div>
				</ng-form>
				<div class="row btn-container">
					<button class="btn btn-primary btn-action pull-right" type="button" ng-click="saveMetadata()" ng-class="{disabled: !metadataAvailable}">
						<span>{{'areas.update_metadata_btn' | i18n}}</span>
					</button>
				</div>
			</div>
			<!-- CREATE DATASET -->
			<div ng-show="helper.sysAreasEditingType === 'dataset'" class="editingTypeTab">
				<ng-form name="datasetForm">
					<div class="col-md-12 dataset-form-container form-container">
						<div class="section">
							<div class="row">
								<div class="form-group col-md-12">
									<label class="required-field">{{'areas.area_selection_selected_area' | i18n}}</label>
									<span class="form-span" ng-bind="selectedArea"></span>
									<input type="text" name="areaCode" ng-model="datasetNew.areaGid" ng-show="false" required>
									<div class="innerErrorMessages dataset-errorMsg" ng-messages="datasetForm.areaCode.$error" ng-show="(datasetForm.areaCode.$dirty || submittedDataset) && datasetForm.areaCode.$invalid">
										<div ng-message="required"><div class="fa fa-exclamation-circle"></div> {{'spatial.required_field_error_message' | i18n }}</div>
									</div>
								</div>
								<div class="form-group col-md-12">
									<label class="required-field">{{'areas.area_selection_dataset_name' | i18n}}</label>
									<input class="form-control" type="text" name="datasetName" ng-model="datasetNew.datasetName" ng-show="!hasDatasetCreated" ng-required="!hasDatasetCreated">
									<span ng-bind="savedDatasetName" ng-show="hasDatasetCreated"></span>
									<div class="innerErrorMessages dataset-errorMsg" ng-messages="datasetForm.datasetName.$error" ng-show="(datasetForm.datasetName.$dirty || submittedDataset) && datasetForm.datasetName.$invalid">
										<div ng-message="required"><div class="fa fa-exclamation-circle"></div> {{'spatial.required_field_error_message' | i18n }}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 dataset-table-container form-container">
						<!-- SYSTEM WIDE AREAS -->
						<div class="section">
							<div class="form-group col-md-12 noPadding" ng-show="sysAreaType !== undefined">
								<label class="radio-inline radioselector">
									<input type="radio" name="sysSelect" value="map" ng-model="sysSelection">
									{{'spatial.area_selection_modal_select_on_map_radio' | i18n}}
								</label>
								<label class="radio-inline radioselector">
									<input type="radio" name="sysSelect" value="search" ng-model="sysSelection">
									{{'spatial.area_selection_modal_search_area' | i18n}}
								</label>
							</div>
							<div ng-show="sysSelection === 'search' || (sysSelection === 'map' && clickerServ.clickResults > 1)">
								<div class="form-group col-md-12 noPadding" ng-hide="sysSelection === 'map'">
									<div class="form-group col-md-8 noPadding">
										<input type="text" ng-model="searchSysString" class="form-control" placeholder="{{'spatial.reports_form_vessels_search_text' | i18n }}">
									</div>
									<div class="form-group col-md-4 noPadding">
										<button type="button" class="btn btn-primary btn-sm btn-action pull-right" style="min-width: 100px;" ng-click="searchSysAreas()">
											<span>{{'spatial.reports_form_vessels_search_button' | i18n }}</span>
										</button>
									</div>
								</div>
								<!-- Search results table -->
								<div class="table-responsive-force form-group" st-table="displayedRecordsArea" st-safe-src="sysAreaSearch">
									<table class="table table-striped">
										<thead>
											<tr class="stColumnHeaders">
												<th st-sort="name" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'spatial.area_selection_modal_table_name_header' | i18n}}</th>
												<th st-sort="code" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'spatial.area_selection_modal_table_code_header' | i18n}}</th>
												<th style="min-width: 70px;"></th>
											</tr>
											<tr ng-if="searchLoading">
												<th colspan="3" class="loading-spinner-cl"><i class="fa fa-spinner fa-spin loading-spinner"></i></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="!displayedRecordsArea.length && !searchLoading">
												<td colspan="3">{{'spatial.table_no_data' | i18n}}</td>
											</tr>
											<tr ng-repeat="sysArea in displayedRecordsArea">
												<td>{{sysArea.name}}</td>
												<td>{{sysArea.code}}</td>
												<td style="min-width: 70px;">
													<button type="button" class="btn btn-default btn-xs" title="{{'spatial.area_selection_modal_see_on_map_btn' | i18n }}" ng-click="mergeParamsWms($index, displayedRecordsArea, sysAreaSearch)"> <span class="fa fa-globe"></span></button>
													<button type="button" class="btn btn-xs" ng-class="{'btn-success': datasetNew.areaGid === sysArea.gid, 'btn-default': datasetNew.areaGid !== sysArea.gid}" title="{{'areas.area_selection_select_area_btn' | i18n }}" ng-click="selectArea($index,sysArea.gid)"><span class="fa fa-check"></span></button>
												</td>
											</tr>
										</tbody>
										<tfoot class="stFooterPagination">
											<tr>
												<td colspan="3" class="text-right">
													<div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="7" st-template="partial/common/reportsPagination/reportsPagination.html"></div>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</ng-form>
				<div class="btn-container">
					<button class="btn btn-primary btn-action" type="button" ng-click="createDataset()" ng-disabled="hasDatasetCreated">
						<span>{{'areas.create_dataset_btn' | i18n}}</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
