<div class="col-md-12">
	<div static-include="partial/admin/adminPageHeader/adminPageHeader.html"></div>

    <div class="containerWrapper pollingTabs">
        <div class="container">
        	<ul class="nav nav-tabs" role="tablist">
				<li ng-repeat="t in tabs" class="audittab" ng-click="setTab(t)" ng-class="{'active': activeTab === t}">
					{{'audit.configuration_header_' + t | i18n}} <span ng-if="settings[t]"></span>
				</li>
			</ul>
        </div>
    </div>

	<div class="container containerWithTopBottomPadding nopaddingtop">
		<div class="card nomargintop">
	
	<!-- 		
		<ul>
			<li ng-repeat="t in tabs" ng-class="{active: activeTab === t}" ng-click="setTab(t)" class="configuration-header" title="{{t}}">
				{{'audit.configuration_header_' + t | i18n}} <span ng-if="catalog[t]">({{catalog[t].length}})</span>
			</li>
			<li ng-class="{active: activeTab === 'GENERAL'}" ng-click="setTab('GENERAL')" class="configuration-header">{{'audit.configuration_header_general' | i18n}}</li>
			<li ng-class="{active: activeTab === 'IMPORT'}" ng-click="setTab('IMPORT')" class="configuration-header">{{'audit.configuration_header_import' | i18n}}</li>
			<li ng-class="{active: activeTab === 'OTHER'}" ng-click="setTab('OTHER')" class="configuration-header">{{'audit.configuration_header_other' | i18n}}</li>
		</ul>
		</div><div ng-if="activeTab === 'GENERAL'" static-include="partial\admin\adminConfiguration\configurationGeneral\configurationGeneral.html"></div>
		<div ng-if="activeTab === 'IMPORT'" static-include="partial\admin\adminConfiguration\configurationImport\configurationImport.html"></div>
		<div ng-if="activeTab === 'OTHER'" static-include="partial\admin\adminConfiguration\configurationOther\configurationOther.html"></div>
		<div ng-switch-when="globalSettings" ng-include="'partial/admin/adminConfiguration/configurationModule/globalSettings.html'"></div>
	-->

			<ng-include src="configurationPageUrl()"/>

		</div>
	</div>
<!-- <pre>{{catalog | json }}</pre> -->
</div>
