.audit-configuration{
	.card{

		padding-left: 0px;
		padding-right: 0px;
	}
	.btn{
		min-width: 70px;
		.fa{
			margin-right: 10px;
		}
	}
	.row{
		padding-left: 15px;
		padding-right: 15px;
	}
	ul{
		overflow: hidden;
	}
	.active{
		font-weight: bold;
	}
	.configuration-header{
		float: left;
		margin: 0 10px;
		font-size: 16px;
		color:#428bca;
	}
	.section-header{
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
	}
	.section-text{
		margin-bottom: 10px;
		font-size: 16px;

	}
	.section-selection{
		margin-bottom: 10px;
	}
	.section-footer{
		border-top: 1px solid #dddddd;
		padding-top: 10px;
		margin-top: 20px;
	}
	.other-cancel{
		margin-top: 8px;
	}

}