.vms-styles-settings {
    .rulesList {
        margin-top: 20px;
        .has-error input[colorpicker] {
            border: 1px solid #FF0000  !important;
        }
    }

    .has-error input[colorpicker] {
        border: 1px solid #FF0000  !important;
    }

    .defaultItem {
        margin-top: 30px;
    }

    .alarm-styles-title {
        font-weight: bold;
    }
}