<div class="row col-md-12" ng-controller="SegmentstylesCtrl">
	<ng-form name="segmentsForm" novalidate>
		<div class="row">
			<div class="form-group col-md-4">
				<combobox ng-model="configModel.segmentStyle.attribute" initialtext="{{'spatial.segment_property' | i18n }}" items="segmentProperties"></combobox>
			</div>
			<div class="form-group col-md-4 btn-add">
				<a ng-class='{ disabled: !configModel.segmentStyle.attribute || !isAddNewRuleActive}' ng-click="!configModel.segmentStyle.attribute || !isAddNewRuleActive || addNewRule()" title="{{'spatial.segment_property_add_rule' | i18n }}">
					<span class="btn btn-primary btn-sm btn-circle"><i class="fa fa-plus"></i></span>
					{{'spatial.segment_property_add_rule' | i18n }}
				</a>
			</div>
		</div>
		<div class="row rulesList">
			<div ng-repeat="item in configModel.segmentStyle.style" ng-include="'partial/spatial/configurations/vmsStyles/segmentStyles/segmentStylesRuleRow/segmentStylesRuleRow.html'"></div>
		</div>
		<div class="row defaultItem" ng-show="configModel.segmentStyle.attribute">
			<ng-form name="segmentDefaultForm" novalidate>
				<div class="row col-md-12">
					<div class="form-group col-md-3" ng-class="{'has-error': segmentDefaultForm.$error.segDefColor || segmentDefaultForm.$error.required}">
						<label>{{'spatial.default_color' | i18n}}</label>
						<div class="colorPickerComponent">
							<div ng-style="{'background-color': configModel.segmentStyle.defaultColor && configModel.segmentStyle.defaultColor.length > 3 && configModel.segmentStyle.defaultColor.indexOf('#') != -1 ? configModel.segmentStyle.defaultColor : '#fff'}" class="form-control pickedcolor">
					       		<i class="fa fa-ban" ng-hide="configModel.segmentStyle.defaultColor && configModel.segmentStyle.defaultColor.length > 3 && configModel.segmentStyle.defaultColor.indexOf('#') != -1"></i>
					        </div>
					        <input class="form-control" colorpicker ng-model="configModel.segmentStyle.defaultColor" type="text" ng-change="validateDefaultColor();" ng-required="true"/>
						</div>
					</div>
				</div>
			</ng-form>	
		</div>
	</ng-form>
</div>
