<div ng-controller="SegmentstylesCtrl">
	<ng-form name="segmentsForm" novalidate>
		<div class="row">
			<div class="form-group col-md-4" ng-class="{'has-error': segmentsForm.segmentProperty.$invalid}">
				<combobox ng-model="configModel.segmentStyle.attribute" initialtext="{{'spatial.segment_property' | i18n }}" items="segmentProperties" ng-change="changeProperty()" name="segmentProperty" ng-required="true"></combobox>
			</div>
			<div class="form-group col-md-4 btn-add" ng-show="configModel.segmentStyle.attribute && ['countryCode','segmentCategory'].indexOf(configModel.segmentStyle.attribute) === -1">
				<button class="btn btn-default" ng-class="{ disabled: !configModel.segmentStyle.attribute || !isAddNewRuleActive}" ng-click="!configModel.segmentStyle.attribute || !isAddNewRuleActive || addNewRule()" title="{{'spatial.property_add_rule' | i18n }}">
					<span class="fa fa-plus"></span>&nbsp;{{'spatial.property_add_rule' | i18n }}
				</button>
			</div>
		</div>
		<div class="row rulesList">
			<div ng-if="configModel.segmentStyle.attribute === 'countryCode'" ng-include="'partial/spatial/configurations/vmsStyles/generalStyles/countryStyles/countryStyles.html'" ng-init="lastComponentStyle = 'segments'" class="col-md-12"></div>
			<div ng-repeat="item in configModel.segmentStyle.style" ng-include="'partial/spatial/configurations/vmsStyles/generalStyles/ruleRow/ruleRow.html'" ng-if="configModel.segmentStyle.attribute !== 'countryCode'" ng-init="lastComponentStyle = 'segment'"></div>
		</div>
		<div class="row defaultItem" ng-if="configModel.segmentStyle.attribute">
			<ng-form name="defaultForm" novalidate>
				<div class="row col-md-12">
					<div class="form-group col-md-3" ng-class="{'has-error': defaultForm.defaultColor.$error.hasError && (defaultForm.defaultColor.$dirty || submitedWithErrors)}" ng-if="configModel.segmentStyle.attribute && configModel.segmentStyle.attribute !== 'countryCode'">
						<label>{{'spatial.default_color' | i18n}}</label>
						<div class="colorPickerComponent">
							<div ng-style="{'background-color': configModel.segmentStyle.defaultColor && configModel.segmentStyle.defaultColor.length > 3 && configModel.segmentStyle.defaultColor.length <= 7 && configModel.segmentStyle.defaultColor.indexOf('#') != -1 ? configModel.segmentStyle.defaultColor : '#fff'}" class="form-control pickedcolor">
					       		<i class="fa fa-ban" ng-hide="configModel.segmentStyle.defaultColor && configModel.segmentStyle.defaultColor.length > 3 && configModel.segmentStyle.defaultColor.length <= 7 && configModel.segmentStyle.defaultColor.indexOf('#') != -1"></i>
					        </div>
					        <input class="form-control" name="defaultColor" colorpicker ng-model="configModel.segmentStyle.defaultColor" type="text" ng-change="validateDefaultColor();" autocomplete="off"/>
						</div>
						<div class="belowErrorMessages form-group" ng-messages="defaultForm.defaultColor.$error" ng-show="defaultForm.defaultColor.$dirty || submitedWithErrors">
							<div ng-message="requiredField">{{'spatial.required_field_error_message' | i18n }}</div>
							<div ng-message="segDefColor">{{'spatial.invalid_color_error_message' | i18n }}</div>
						</div>
					</div>
					<div class="form-group col-md-3">
						<label>{{'spatial.line_style' | i18n}}</label>
						<combobox ng-model="configModel.segmentStyle.lineStyle" line-style="true"></combobox>
					</div>
					<div class="form-group col-md-2" ng-class="{'has-error': defaultForm.lineWidth.$error.hasError && (defaultForm.lineWidth.$dirty || submitedWithErrors)}">
						<label>{{'spatial.line_width' | i18n}}</label>
						<numeric-input class="form-control" ng-model="configModel.segmentStyle.lineWidth" ng-required="true" name="lineWidth" ng-change="validateLineWidth();"></numeric-input>
						<div class="belowErrorMessages" ng-messages="defaultForm.lineWidth.$error" ng-show="defaultForm.lineWidth.$dirty || submitedWithErrors">
							<div ng-message="requiredField">{{'spatial.required_field_error_message' | i18n }}</div>
							<div ng-message="rangeError">{{'spatial.invalid_range_error_message' | i18n }}</div>
						</div>
					</div>
				</div>
			</ng-form>	
		</div>
	</ng-form>
</div>
