/*
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
*/
.fa-history-navigator {
    .btn-group{
        position: absolute;
        right: 53px;
        top: 5px;
        .fa-history {
            color: @primaryColor;
        }
        .fa-exclamation-triangle {
          color: @profileColor_red;
        }
        .dropdown-menu {
            overflow: visible;
            text-align: center;
            .disabled {
                a {
                  padding-left: 0px;
                  padding-right: 0px;
                  text-align: center;
                }
                span {
                  font-weight: bold;
                }
                .fa, fa-trash-o, .fa-ban  {
                  color: #999999;
                }
            }
            i {
               margin-right: 5px;
            }
            .fa {
                color: @primaryColor;
                font-size: 16px;
            }
            .fa-trash-o, .fa-ban {
                color: @errorColor;
            }
            .fa-caret-left {
                color: #999999;
                position: absolute;
                margin-left: -10px !important;
            }

            .dropdown-submenu {
                position:relative;
                .dropdown-menu {
                    top:0;
                    left:-98%;
                    max-width:180px;
                    margin-top:-6px;
                    margin-right:-1px;
                    -webkit-border-radius:6px 6px 6px 6px;
                    -moz-border-radius:6px 6px 6px 6px;
                    border-radius:6px 6px 6px 6px;
                }
                &:hover{
                  .dropdown-menu {
                      display: block;
                  }
                  a:after{
                      border-left-color:#ffffff;
                  }
                }
                &.pull-left{
                    float: none !important;
                    .dropdown-menu {
                        left:-100%;
                        margin-left:10px;
                        -webkit-border-radius:6px 6px 6px 6px;
                        -moz-border-radius:6px 6px 6px 6px;
                        border-radius:6px 6px 6px 6px;
                    }
                }
            }

        }
    }
}


