[ng-controller="VmsstylesCtrl"] {
	.pickedcolor {
		height: 30px;
		width: 30px;
		border: 1px solid #000;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		display: inline-block;
	}
	
	table td > * {
		vertical-align: middle;
	}
	
	.searchField {
		margin-bottom: 10px;
	}
}