.vms-styles-settings {
    .btn-add{
        padding-top: 0;
        button.btn-default{
            //width: 30px;
            height: 30px;
            font-size: 14px;
            padding: 0 5px;
            background-color: #fff;
            border-color: #b4bdc0;
            color: @primaryColor;
        }
    }
}