<div class="col-md-12 collapsibleRow" ng-controller="VmsstylescollapsiblepanelCtrl">
  <accordion close-others="oneAtATime">
    <accordion-group is-open="status.isOpen">
    	<accordion-heading>
    		<div class="panel-title-link" ng-click="toggleOpen()">
	    		{{'spatial.style_settings' | i18n }}
	    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isOpen, 'glyphicon-chevron-right': !status.isOpen}"></i>
    		</div>
	    </accordion-heading>
	    <div class="containerWithBottomPadding">
		    <div class="row">
				<div class="col-md-6 sectionMenu">
					<ul class="horizontal pipeSeparator">
						<li ng-repeat="menu in headerMenus" ng-click="selectMenu(menu.menu)" ng-class="{'active': selectedMenu === '{{menu.menu}}'}"><a>{{menu.title}}</a></li>
					</ul>
				</div>
			</div>
		</div>
        <div ng-show="isMenuSelected('POSITIONS')" ng-include="'partial/spatial/configurations/vmsStyles/positionStyles/positionStyles.html'"></div>
        <div ng-show="isMenuSelected('SEGMENTS')" ng-include="'partial/spatial/configurations/vmsStyles/segmentStyles/segmentStyles.html'"></div>
    </accordion-group>
   </accordion>
</div>
