<div class="col-md-12 collapsibleRow vms-styles-settings" ng-controller="VmsstylescollapsiblepanelCtrl">
	<ng-form name="stylesSettingsForm">
		<accordion close-others="oneAtATime">
			<accordion-group is-open="status.isOpen">
				<accordion-heading>
					<div class="panel-title-link" ng-click="toggleOpen()">
						{{'spatial.style_settings' | i18n }}
						<div class="accordionError" ng-show="submitedWithErrors && stylesSettingsForm.$invalid">
							<div class="fa fa-exclamation-circle"></div>
							{{'spatial.section_errors' | i18n }}
						</div>
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isOpen, 'glyphicon-chevron-right': !status.isOpen}"></i>
					</div>
				</accordion-heading>
				<div class="containerWithBottomPadding">
					<div class="row">
						<div class="col-md-6 sectionMenu">
							<ul class="horizontal pipeSeparator">
								<li ng-repeat="menu in headerMenus" ng-click="selectMenu(menu.menu)" ng-class="{'active': selectedMenu === '{{menu.menu}}'}"><a>{{menu.title}}</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div ng-repeat="styleTab in headerMenus" ng-include="'partial/spatial/configurations/vmsStyles/stylesSettingsTab/stylesSettingsTab.html'" ng-show="isMenuSelected(styleTab.menu)"></div>

				<div class="col-md-12 col-btn-no-padding" ng-if="settingsLevel !== 'admin'">
					<button type="button" class="btn btn-default pull-right" ng-click="prefService.reset('styles',stylesSettingsForm,configModel,configCopy,settingsLevel)">{{'spatial.settings_reset_btn' | i18n}}</button>
				</div>
			</accordion-group>
		</accordion>
	</ng-form>
</div>
