<div ng-controller="MovementlistCtrl">
    <div search-results-table search="currentSearchResults" load-next-page-function="loadNextPage" class="movementtablecontainer">
        <table class="searchResults colorOdd movementtable">
            <thead>
                <tr>
                    <th class="checkboxContainer"><input type="checkbox" ng-checked="isAllChecked()" ng-click="checkAll()"/></th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'vessel.state'">{{'movement.table_header_flag_state' | i18n}}</th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'vessel.externalMarking'">{{'movement.table_header_external_marking' | i18n}}</th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'vessel.ircs'">{{'movement.table_header_ircs' | i18n}}</th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'vessel.name'">{{'movement.table_header_name' | i18n}}</th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'movement.movement.time'">{{'movement.table_header_time' | i18n}}</th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'movement.movement.latitude'">{{'movement.table_header_latitude' | i18n}}</th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'movement.longitude'">{{'movement.table_header_longitude' | i18n}}</th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'movement.status'">{{'movement.table_header_status' | i18n}}</th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'movement.ms'">{{'movement.table_header_ms' | i18n}}</th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'movement.cs'">{{'movement.table_header_cs' | i18n}}</th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'movement.course'">{{'movement.table_header_course' | i18n}}</th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'movement.messagetype'">{{'movement.table_header_message_type' | i18n}}</th>

                    <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'movement.source'">{{'movement.table_header_source' | i18n}}</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="movement in currentSearchResults.items | orderBy:currentSearchResults.sortBy : currentSearchResults.sortReverse | filter:searchFilter">
                    <td class="checkboxContainer"><input type="checkbox" ng-checked="isChecked(movement)" ng-click="checkItem(movement)"/></td>
                    <td>{{movement.vessel.state}}</td>
                    <td>{{movement.vessel.externalMarking}}</td>
                    <td>{{movement.vessel.ircs}}</td>
                    <td class="movementvesselname">{{movement.vessel.name}}</td>
                    <!--<td>{{movement.type}}</td>-->
                    <td>{{movement.getFormattedTime()}}</td>
                    <td>{{movement.movement.latitude}}</td>
                    <td>{{movement.movement.longitude}}</td>
                    <td>{{movement.movement.status}}</td>
                    <td>{{movement.movement.measuredSpeed}} {{'movement.movement_speed_unit' | i18n}}</td>
                    <td>{{movement.movement.calculatedSpeed}} {{'movement.movement_speed_unit' | i18n}}</td>
                    <td>{{movement.movement.course}}&deg;</td>
                    <td>{{movement.movement.messageType}}</td>
                    <td>{{movement.movement.source}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

