<!--
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="tracksVisiblity" ng-controller="TracksvisibilityCtrl">
	<div class="row">
    	<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							{{'spatial.visibility_configuration_table' | i18n}}
							<input type="checkbox" ng-model="selectAll.tracks.table" ng-change="selectAllChange('tracks','table')">	
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<ul dnd-list="configModel.visibilitySettings.trackTableAttrs" dnd-allowed-types="['Table']">
								<li ng-repeat="attr in configModel.visibilitySettings.trackTableAttrs"
								dnd-draggable="attr"
								dnd-type="attr.type"
								dnd-effect-allowed="move"
								dnd-moved="configModel.visibilitySettings.trackTableAttrs.splice($index, 1);visibilitySettingsForm.$setDirty();">
									<div class="handle">:::</div>
									<span>{{attr.title}}</span>
									<input type="checkbox" checklist-model="configModel.visibilitySettings.tracks.table.values" checklist-value="attr.value" ng-change="selectAllChange('tracks','table',true)">
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
</div>

