<div class="tracksVisiblity" ng-controller="TracksvisibilityCtrl">
	<div class="row">
    	<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							{{'spatial.visibility_configuration_table' | i18n}}
							<input type="checkbox" ng-model="selectAll.tracks.table" ng-change="selectAllChange('tracks','table')">	
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<ul dnd-list="configModel.visibilitySettings.trackTableAttrs" dnd-allowed-types="['Table']">
								<li ng-repeat="attr in configModel.visibilitySettings.trackTableAttrs"
								dnd-draggable="attr"
								dnd-type="attr.type"
								dnd-effect-allowed="move"
								dnd-moved="configModel.visibilitySettings.trackTableAttrs.splice($index, 1);visibilitySettingsForm.$setDirty();">
									<div class="handle">:::</div>
									<span>{{attr.title}}</span>
									<input type="checkbox" checklist-model="configModel.visibilitySettings.tracks.table.values" checklist-value="attr.value" ng-change="selectAllChange('tracks','table',true)">
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
</div>
