<div ng-controller="addNewMobileTerminalCtrl">   
    <div class="row">
        <div class="col-md-9"><h3>{{'mobileTerminal.add_new_form_header' | i18n}}</h3></div>
        <div class="col-md-2 textAlignRight">
            <button  type="submit" ng-disabled="!currentMobileTerminal.mobileTerminalId.systemType || !terminalConfig" class="btn btn-primary" ng-click="createNewMobileTerminal()" ng-hide="transponderSystems.length == 0">{{'common.save' | i18n}}</button>
        </div>
        <div class="col-md-1 textAlignRight" ng-click="toggleAddNewMobileTerminal()"> <img src="assets/images/close.png" /></div>
    </div>

    <div static-include="partial/mobileTerminal/mobileTerminalForm/mobileTerminalForm.html"></div>

    <div class="row" style="margin-top:100px">
        <div class="col-md-12">
            <a ng-click="clearForm()" class="pointer">Clear form</a>
        </div>
    </div>  

</div>
