<fieldset class="col-md-12 fieldsetStyle fishing-trip-panel" ng-controller="FishingtrippanelCtrl">
    <legend class="fieldsetLegendStyle">
        <a>{{'activity.fishing_trip' | i18n }}</a>
    </legend>
    <!--TRIP ID-->
    <div class="row">
        <b class="col-md-12">{{'activity.trip_id' | i18n }}: {{ trip.id }}</b>
    </div>
    <!--TRIP DEPARTURE DATE-->
    <div class="row">
        <span class="col-md-6"><span class="trip-row-label">{{'activity.trip_departure' | i18n }}:</span> {{ trip.overview.DEPARTURE.date }}</span>
        <span class="col-md-6">
            <span ng-repeat="location in trip.overview.DEPARTURE.locations">{{location}} </span>
        </span>
    </div>
    <!--TRIP ARRIVAL DATE-->
    <div class="row">
        <span class="col-md-6"><span class="trip-row-label">{{'activity.trip_arrival' | i18n }}:</span>  {{ trip.overview.ARRIVAL.date }}</span>
        <span class="col-md-6">
            <span ng-repeat="location in trip.overview.ARRIVAL.locations">{{location}} </span>
        </span>
    </div>
    <!--TRIP LANDING DATE-->
    <div class="row">
        <span class="col-md-6"><span class="trip-row-label">{{'activity.trip_landing' | i18n }}:</span>  {{ trip.overview.LANDING.date }}</span>
        <span class="col-md-6">
            <span ng-repeat="location in trip.overview.LANDING.locations">{{location}} </span>
        </span>
    </div>
</fieldset>
