@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "ec-template/variables.less";
@import "ec-template/bootswatch.less";
@import "../../bower_components/bootstrap/less/utilities.less";
//unionVMS datepicker
@inputBorderColor: @input-border;
@inputBorderRadius : @input-border-radius;
//dropdown
@primaryColor: @input-border-focus;
@import "../directive/common/datepickerInput/datepickerInput.less";
@import "../directive/common/dropdown/dropdown.less";
@errorColor: @state-danger-bg;
@import "../less/components.less";
@import "../less/jquery.datetimepicker.less";

@import "../../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../bower_components/font-awesome/fonts";

@import "usm.less";
