
//@import "bower_components/bootstrap/less/theme.less";
@import "../../bower_components/font-awesome/less/font-awesome.less";

@fa-font-path: "../bower_components/font-awesome/fonts";

/* Component LESS */
@import "users/users.less";
@import "organisations/organisations.less";
@import "roles/roles.less";
@import "scenarios/scenarios.less";
@import "scopes/scopes.less";
@import "applications/applications.less";
@import "users/account/account.less";
@import "shared/shared.less";
@import "users/changes/changes.less";
@import "users/userContexts/userContexts.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/*
 * Datepicker element
 */

.datepicker.dropdown-menu {
    width: 250px;
    height: 270px;
    button {
        outline: none;
        border: 0;
    }
    tbody {
        height: 180px;
    }
    tbody button {
        padding: 6px;
    }
    &.datepicker-mode-1, &.datepicker-mode-2 {
        tbody button {
            height: 65px;
        }
    }
}

.formUserState {
    width: 150px;
}
/*
.dropdown-menu {
    min-width: 150px;
}

.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background: transparent none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
}

.open > .dropdown-menu {
    display: block;
}

.open > a {
    outline: 0;
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu-left {
    left: 0;
    right: auto;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #999999;
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
}
*/

/* ui-select fixes the width of the choices list*/
.ui-select-bootstrap > .ui-select-choices {
    /* width: 100%; */
    width: auto;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin-top: -1px;
}

/* custom classes*/
sup.mandatory {
    font-weight: normal;
    font-size: 0.6em;
    color: red;
}

.pointer {
    cursor: pointer;
}

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}


