
<div class="vesseleditmodule">

    <div class="row">
        <span class="vesselstatus col-md-12">STATUS: <b>Active </b><a href="">set as inactive</a></span>

        <div class="row col-md-4">
            <div class="inputgroup col-md-4">
                <p class="labelheaders">ID</p>
                <input type="text" name="newvesselidinput" class="form-control" ng-model="newVessesel.id">
            </div>
            <div class="inputgroup col-md-8">
                <p class="labelheaders">NAME</p>
                <input type="text" name="newvesselnameinput" class="form-control" ng-model="newVessesel.name">
            </div>
            <div class="inputgroup col-md-6">
                <p class="labelheaders">CFR</p>
                <input type="text" name="newvesselcfrinput" class="form-control" ng-model="newVessesel.cfr">
            </div>
            <div class="inputgroup col-md-6">
                <p class="labelheaders">IMO</p>
                <input type="text" name="newvesselimoinput" class="form-control" ng-model="newVessesel.imo">
            </div>
        </div>
        <div class="row col-md-4">
            <div class="inputgroup col-md-4">
                <p class="labelheaders">COUNTRY</p>
                <select class="form-control" ng-options="o.name for o in vesselcountries" ng-model="selectedCountry"></select>
            </div>
            <div class="inputgroup col-md-8">
                <p class="labelheaders">TYPE</p>
<!--                <input type="text" name="newvesseltypeinput" class="form-control" ng-model="newVessesel.type">-->
                <select class="form-control" ng-options="v.name for v in vesselactivitytypes" ng-model="selectedActivityType"></select>
            </div>
            <div class="inputgroup col-md-8">
                <p class="labelheaders">MMSI NO.</p>
                <input type="text" name="newvesselmmsiofnput" class="form-control" ng-model="newVessesel.mmsio">
            </div>
            <div class="inputgroup col-md-4">
                <p class="labelheaders">BILLING</p>
                <input type="text" name="newvesselbillinginput" class="form-control" ng-model="newVessesel.billing">
            </div>

        </div>
        <div class="row col-md-4">
            <div class="inputgroup col-md-4">
                <p class="labelheaders">IRCS</p>
               <!-- <input type="text" name="newvesselircsinput" class="form-control" ng-model="newVessesel.ircs">-->
                <select class="form-control" ng-options="irc.name for irc in vesselircstypes" ng-model="selectedIrcs"></select>
            </div>
            <div class="inputgroup col-md-4">
                <p class="labelheaders"></p>
                <input type="text" name="newvesselextinput" class="form-control" ng-model="newVessesel.ext">
            </div>
            <div class="inputgroup col-md-4">
                <p class="labelheaders">EXT.MARKING</p>
                <input type="text" name="newvesselextmarkingInput" class="form-control"
                       ng-model="newVessesel.extmarking">
            </div>
            <div class="inputgroup col-md-4">
                <p class="labelheaders">LICENSE</p>
        <!--    <input type="text" name="newvessellicenseinput" class="form-control" ng-model="newVessesel.license">-->
                <select class="form-control" ng-options="licens.name for licens in vessellicenstypes" ng-model="selectedLicense"></select>
            </div>
            <div class="inputgroup col-md-6">
                <p class="labelheaders">HOMEPORT</p>
                <input type="text" name="newvesselhomeportinput" class="form-control" ng-model="newVessesel.homeport">
            </div>
        </div>
        <div class="row col-md-4">
            <div class="inputgroup col-md-4">
                <p class="labelheaders">LENGTH</p>
                <input type="text" name="newvessellengthinput" class="form-control" ng-model="newVessesel.length">
            </div>
            <div class="inputgroup col-md-6">
                <p class="labelheaders">OVERALL</p>
                <input type="text" name="newvesseloverallinput" class="form-control" ng-model="newVessesel.overall">
            </div>
        </div>
        <div class="row col-md-8">
            <div class="inputgroup col-md-2">
                <p class="labelheaders">CAPACITY</p>
                <input type="text" name="newvesselcapacityinput" class="form-control" ng-model="newVessesel.capacity">
            </div>
            <div class="inputgroup col-md-2">
                <p class="labelheaders"></p>
                <input type="text" name="newvesselcityinput" class="form-control" ng-model="newVessesel.city">
            </div>
            <div class="inputgroup col-md-2 col-md-offset-1">
                <p class="labelheaders">POWER</p>
                <input type="text" name="newvesselpowerinput" class="form-control" ng-model="newVessesel.power">
            </div>
            <div class="inputgroup col-md-1">
                <p class="labelheaders">EFFECT</p>
                <input type="text" name="newvesseleffectinput" class="form-control" ng-model="newVessesel.effect">
            </div>
        </div>
    </div>
    <hr>
    <div class="row">


    </div>
</div>
