<div class="row card-header menuBar">
    <div class="menuTextItem">
        <b>{{ header }}</b>
    </div>
    <div ng-include="formPartial" class="wrapper"></div>
    <div class="textAlignRight">
        <div class="actions wrapper">
            <div ng-if="includeArchive" ng-include="'directive/common/menuBar/menuBarArchive.html'"></div>
            <div ng-if="includeUnlink" ng-include="'directive/common/menuBar/menuBarUnlink.html'"></div>
            <div ng-if="includeCSVDownload" ng-include="'directive/common/menuBar/menuBarCSV.html'"></div>
            <div class="actionContainer menuTextItem">
                <b ng-click="functions.cancelCallback()" class="btn-cancel">Cancel</b>
            </div>
            <div ng-if="includeSaveUpdate" ng-include="'directive/common/menuBar/menuBarSave.html'"></div>
        </div>
    </div>
</div>
