<div class="row card-header menuBar">
    <div class="textAlignLeft">
        <div class="wrapper">
            <div class="menuTextItem item">
                <span class="menu-bar-header bold" id="menu-bar-header">{{ header }}</span>
            </div>
            <div ng-include="formPartial" class="wrapper"></div>
        </div>
    </div>
    <div class="textAlignRight">
        <div class="actions wrapper">
            <div ng-if="includeArchive" ng-include="'directive/common/menuBar/menuBarArchive.html'" class="item"></div>
            <div ng-if="includeUnlink" ng-include="'directive/common/menuBar/menuBarUnlink.html'" class="item"></div>
            <div ng-if="includeHistory" ng-include="'directive/common/menuBar/menuHistory.html'" class="item"></div>
            <div ng-if="includeCSVDownload" ng-include="'directive/common/menuBar/menuBarCSV.html'" class="item"></div>
            <div ng-if="functions.showCancel()" class="item">
                <div class="menuTextItem">
                    <a ng-click="functions.cancelCallback()" class="btn-cancel" id="menu-bar-cancel">Cancel</a>
                </div>
            </div>
            <div ng-if="includeSaveUpdate && !functions.isNotAllowed(ngModel)" ng-include="'directive/common/menuBar/menuBarSave.html'" class="item"></div>
        </div>
    </div>
</div>
