@media (min-width: 992px)
{
	.modal-lg
	{
	    width: 1200px;
	}
}
.modalhistoryheader{
	float:left;
	 margin: 5px 10px 5px 0px;
		p{
			float:left;
			margin: 0px 0px 0px 0px;
			font-weight:bold;
		}
		p:first-child{
			font-weight: normal;
		}
}

.closehistorymodal {
			position: relative;
			bottom: 39px;
			left: 12px;
}