<div ng-controller="VesselCtrl">
    <div class="container">
        <div class="addvessel fadeaddvesselin fadeaddvesselout" ng-show="isVisible.createNewVessel">
            <div ng-include="'partial/vessel/createNewVessel/createNewVessel.html'"></div>
        </div>
        <div class="getvessel fadegetvesselin fadegetvesselout" ng-show="isVisible.viewVessel">
            <div ng-include="'partial/vessel/viewVessel/viewVessel.html'"></div>
        </div>
    </div>

    <div class="container">
        <search resultscallback="searchCallback" modeltype="VESSEL" advanced="true" ng-show="isVisible.search"></search>
    </div>

    <div class="containerWrapper grayContainer">
        <div class="vesselcontainerwrapper container containerWithTopBottomPadding fadeaddvesselin fadeaddvesselout" ng-show="isVisible.search">
            <div class="vesselsearchboxfooter row">
                <!-- Dropdown -->
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="vesselDropdownn"
                            data-toggle="dropdown" aria-expanded="true">
                        <div class="vesseldropdowntext">{{'common.edit_selection' | i18n}}</div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="vesselDropdown">
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="openSelectedSaveGroupModal()" href="">{{'common.save_as_group' | i18n}}</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="">{{'common.view_on_map' | i18n}} View on map</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="">{{'common.export_selection' | i18n}}Export selection</a></li>
                    </ul>
                </div>
                <!-- add new button -->
                <button class="btn btn-sm pull-right addvesselbtn uvmsbtn" ng-click="toggleCreateNewVessel()" type="button">
                    {{'vessel.add_new' | i18n}} &nbsp;&nbsp;&nbsp;&nbsp;<span>+</span></button>
                <input type="text" class="filtertext pull-right" placeholder="Filter" ng-model="searchFilter">
            </div>
            <div ng-include="'partial/vessel/vesselList/vesselList.html'"></div>

            <div class="row">          
                <div class="col-md-12" ng-show="currentSearchResults.totalNumberOfPages > 0">
                    {{'common.search_results_current_page' | i18n:[currentSearchResults.page, currentSearchResults.totalNumberOfPages]}}
                </div>      
                <div class="col-md-12 textAlignCenter" ng-show="currentSearchResults.totalNumberOfPages > 0 && currentSearchResults.totalNumberOfPages > currentSearchResults.page">
                    <span class="link" ng-click="loadNextPage()"> {{'common.search_results_load_more' | i18n | uppercase}}</span>            
                </div>
            </div>
        </div>
    </div>
</div>
