<div ng-controller="VesselCtrl">
    <div class="container">
        <div class="getvessel" ng-show="isVisible.vesselForm">
            <div ng-include="'partial/vessel/vesselForm/vesselForm.html'"></div>
        </div>
    </div>

    <div class="container">
        <advanced-search searchfunc="searchVessels" modeltype="'VESSEL'" ng-show="isVisible.search"></advanced-search>
    </div>

    <div class="containerWrapper grayContainer">
        <div class="vesselcontainerwrapper container containerWithTopBottomPadding " ng-show="isVisible.search">
            <div class="vesselsearchboxfooter row">
                <div class="col-md-2">
                    <dropdown class="" ng-model="editSelection" initialtext="{{'common.edit_selection' | i18n}}" items="editSelectionDropdownItems" callback="editSelectionCallback"></dropdown>
                </div>
                <!-- add new button -->
                <button class="btn btn-sm pull-right addvesselbtn uvmsbtn" ng-click="toggleCreateNewVessel()" type="button">
                    {{'vessel.add_new' | i18n}} &nbsp;&nbsp;&nbsp;&nbsp;<span>+</span></button>
                <input type="text" class="filtertext pull-right" placeholder="Filter" ng-model="currentSearchResults.filter">
            </div>
            <div ng-include="'partial/vessel/vesselList/vesselList.html'"></div>
        </div>
    </div>
</div>
