.vesselsearchboxcontainer {
  background-color: white;
  margin-bottom: 25px;
}
.vesselsearchbox {
  width: 1170px;
  margin: 5px auto;
  padding: 20px 0;
}
.vesselsearchbox input {
  background-color: #EBEBEB;
  border: medium none;
  color: #918D8F;
  font-size: 20px;
  font-style: italic;
  height: 45px;
  padding-left: 25px;
}
.vesselsearchbox form {
  padding-left: 0px;
}
.vesselsearchtools {
  float: left;
  width: 600px;
}
.vesselsearchtools .col-md-2 {
  padding-left: 0px;
}
.vesselsearchtools .vesselsearch {
  float: left;
  margin-right: 10px;
}
.vesselsearchtools .dropdown {
  float: left;
  margin-right: 10px;
}
.vesselsearchtools #vesselDropdown {
  /*min-width: 150px;
        */
  height: 45px;
}
.vesselsearchtools .vesseldropdowntext {
  padding-right: 120px;
}
.vesseldropdown {
  color: #ffffff;
  background-color: #008e61;
  border-color: #bde5bf;
  border-radius: 4px 4px 4px 4px;
}
/*
.vesseldropdown:hover{
    background-color: red;
}*/
.vesselsearchgroups {
  float: right;
  width: 400px;
}
.vesselsearchresultcontainer {
  background-color: #EBEBEB;
}
.vesselsearchresult {
  width: 1170px;
  margin: 5px auto;
  overflow: hidden;
}
.advancesearchcontainer {
  width: 1170px;
  margin: 5px auto;
  overflow: hidden;
}
.advancesearchcontainer .advancesearchtag {
  color: #35A7DF;
  text-decoration: underline;
  cursor: pointer;
}
.advancesearchcontainer .advancesearchbody {
  opacity: 1;
  height: 200px;
}
.advancesearchcontainer .animate-show {
  opacity: 1;
}
.advancesearchcontainer .animate-show.ng-hide-add.ng-hide-add-active,
.advancesearchcontainer .animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.advancesearchcontainer .animate-show.ng-hide {
  opacity: 0;
}
.advancesearchtag {
  color: #35A7DF;
}
.addvesselbtn {
  background-color: #008e61;
  color: #ffffff;
  width: 120px;
}
.addvesselbtn:hover {
  background-color: #007D52;
  color: #ffffff;
  width: 120px;
}
.createnewvesselbutton {
  background-color: #008e61;
  color: #ffffff;
  width: 120px;
}
.createnewvesselbutton:hover {
  background-color: #007D52;
  color: #ffffff;
  width: 120px;
}
.updatevesselbutton {
  background-color: #008e61;
  color: #ffffff;
  width: 120px;
}
.updatevesselbutton:hover {
  background-color: #007D52;
  color: #ffffff;
  width: 120px;
}
.vesselsearchboxfooter {
  width: 1170px;
  margin: 50px auto;
}
.vesselsearchboxfooter .right {
  float: right;
}
.vesselsearchboxfooter .left {
  float: left;
}
.vesselsearchboxfooter .vesseldropdowntext {
  padding-right: 120px;
}
.vesselsearchboxfooter .dropdown {
  float: left;
}
.vesselsearchresult table thead {
  border-bottom: solid 2px #C5C5C4;
}
.vesselsearchresult table th {
  height: 40px;
  color: #008e61;
}
.vesselsearchresult table th a {
  font-weight: bold;
  color: #008e61;
}
.vesselsearchresult table tbody tr {
  border-bottom: solid 1px #C5C5C4;
  height: 40px;
}
.vesselsearchresult table .button {
  height: 24px;
  text-align: center;
  padding: 0px 12px;
  font-size: 12px;
}
.fadein,
.fadeout {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}
.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
.fadegetvesselin,
.fadegetvesselout,
.fadeaddvesselin,
.fadeaddvesselout {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}
.addvessel,
.getvessel {
  width: 1170px;
  margin: 5px auto;
  /*height: 500px;
    background-color: #23b5ff;*/
}
.vesselcontainerwrapper.ng-hide-add,
.vesselcontainerwrapper.ng-hide-remove.ng-hide-remove-active,
.fadegetvesselin.ng-hide-remove,
.fadegetvesselout.ng-hide-add.ng-hide-add-active,
.fadeaddvesselin.ng-hide-remove,
.fadeaddvesselout.ng-hide-add.ng-hide-add-active {
  transform: scale(0.01) translate3d(0, 0, 0);
  opacity: 0;
  display: block !important;
}
.vesselcontainerwrapper.ng-hide-remove,
.vesselcontainerwrapper.ng-hide-add.ng-hide-add-active,
.fadegetvesselout.ng-hide-add,
.fadegetvesselin.ng-hide-remove.ng-hide-remove-active,
.fadeaddvesselout.ng-hide-add,
.fadeaddvesselin.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1) translate3d(0, 0, 0);
  opacity: 1;
  display: block !important;
}
.updateResponseMessage,
.createResponseMessage {
  font-weight: bold;
  font-size: 14px;
}
