//Var


.vesselsearchboxcontainer{
    background-color: white;
}

.filtertext{
    margin-right: 30px;
    background-color: #ffffff;
    border:1px solid @buttoncolor !important;
}
.searchtext{
    height: 47px !important;
}

.searchbutton{
    width: 100px;
}

.vesselsearchtools{
    float: left;
    .vesselsearch{
        float:left;
        margin-right: 10px;
    }
    #vesseldropdown{
        height: 45px;
    }
    #savedsearches{
        height: 45px;

    }
    .dropdown-menu{
        left:15px !important;
    }
    .vesseldropdowntext{
        padding-right: 120px;
    }

}
.vesseldropdown {
    color: #ffffff;
    background-color: #008e61;
    border-color: #bde5bf;
    border-radius: 4px 4px 4px 4px;
}


.addvesselbtn{

    width: 120px;
}

.savedgroupbtn{
    width: 100%;
}

.createnewvesselbutton{
        background-color: @buttoncolor;
        color: #ffffff;
        width: 120px;
}
.createnewvesselbutton:hover{
    background-color:#007D52;
    color: #ffffff;
    width: 120px;
}

.updatevesselbutton{
    background-color: @buttoncolor;
    color: #ffffff;
    width: 120px;
}
.updatevesselbutton:hover{
    background-color:#007D52;
    color: #ffffff;
    width: 120px;
}

.vesselsearchboxfooter{
    margin: 0px auto 0px auto;
    padding:15px 0px;

    .right{
        float:right;
    }
    .left{
        float:left;
    }
    .vesseldropdowntext
    {
        padding-right: 120px
    }
    .dropdown{
        float: left;
    }

}

.updateResponseMessage, .createResponseMessage
{
    font-weight: bold;
    font-size: 14px;
    height: 20px;
}

.vesselname{
    font-size: 27px;
    font-width: bold;
}

.vesselloadmore{
    width: 100px;
    margin: 0px auto;
    margin-bottom: 20px;
    color: #35A7DF;
    cursor: pointer;
    font-weight: 500;
}
.vesselloadmore:hover{
    text-decoration:underline;
}