<div class="usmDatepicker input-group">
    <input id="{{config.id}}"
           name="{{config.name}}"
           ng-required="isRequired"
           type="text"
           class="form-control"
           datepicker-popup="yyyy-MM-dd"
           min-date="minDate"
           max-date="maxDate"
           ng-model="dataModel"
           is-open='opened'
           close-text="Close"
           ng-disabled="isDisabled"
           ng-change="change(dataModel)"
           ng-click="open($event)">

          <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)" ng-disabled="isDisabled">
                    <i class="fa fa-calendar"></i>
                </button>
          </span>

    <div ng-transclude></div>

</div>


