<div class="text-right" style="margin-top: -20px;">
    <ul class="pagination usm-pagination">
        <li ng-class="prevPageDisabled()">
            <a href ng-click="firstPage()" aria-label="Next">
                <span aria-hidden="true">&#60;&#60;</span>
            </a>
        </li>
        <li ng-class="prevPageDisabled()">
            <a href ng-click="prevPage()" aria-label="Previous">
                <span aria-hidden="true">&#60;</span>
            </a>
        </li>
        <li>
            <span class="current-page">Page <input type="number"
            				  min="1"
            				  max="{{ pageCount }}"
               				  ng-model="currentPage"
               				  ng-value="{{currentPage}}"
               				  id="currentPage"
               				  name="currentPage"
               				  style="width: 40px;"> / {{ pageCount }} </span>
        </li>
        <li ng-class="nextPageDisabled()">
            <a href ng-click="nextPage()" aria-label="Next">
                <span aria-hidden="true">&#62;</span>
            </a>
        </li>
        <li ng-class="nextPageDisabled()">
            <a href ng-click="lastPage()" aria-label="Next">
                <span aria-hidden="true">&#62;&#62;</span>
            </a>
        </li>
        <li>
    		<span style="margin-top: 0px;">{{startItems}} - 
    		
    		<!--  {{ totalItems < limitItems ? totalItems : limitItems }}  is not working, < breaks the html parser during the build -->    		    		
    		<span ng-if="totalItems <= limitItems">{{ totalItems }}</span>
    		<span ng-if="totalItems > limitItems">{{ limitItems }}</span>
    		
    		of {{ totalItems }} items
    		</span>
        </li>
    </ul>
</div>
