<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="periodInput" ng-class="{'disabled' : ngDisabled}">
    <div class="unit-input">
        <input type="number" ng-model="hours" min="0" max="99" step="1" ng-disabled="ngDisabled" title="{{'common.hours' | i18n}}">
        <div class="unit-box unit-box-hours">{{"common.time_hour_short" | i18n}}</div>
    </div>
    
    <div class="unit-input">
        <input type="number" class="minutes" ng-model="minutes" min="0" max="59" step="5" ng-disabled="ngDisabled" title="{{'common.minutes' | i18n}}">
        <div class="unit-box">{{"common.time_minute_short" | i18n}}</div>
    </div>
    <input type="hidden" ng-model="model" ng-disabled="ngDisabled" ng-required="ngRequired" period="ngRequired">
</div>