.periodInput{
    @inputWidth:45px;
    width: 102px;
    padding: 0px !important;
    input{
        width: @inputWidth;
        text-align: center;
        border-color: transparent !important;
        background-color: transparent !important;
        height: 100%;
    }
}