.periodInput{
    @inputWidth:45px;
    padding: 0px !important;
    .unit-input{
        float: left;
        input{
            width: @inputWidth;
            text-align: center;
            &.minutes{
                border-radius: 0px !important;
            }
        }
        .unit-box.unit-box-hours {
            border-radius: 0px !important;
        }
    }
}