<header>
    <div class="headercontainer">
		<div class="header">
			<div class="pageinfo">
				<div class="container">
					<div class="row">
                        <div class="col-md-2">
				            <img class="uvmslogo" src="assets/images/logo.png" ng-click="gotoStartPage()">
                        </div>
                        <div class="col-md-10">
    					    <div class="signed-in" ng-if="isAuthenticated">
    							<div class="dropdown fullWidthDropdown login-drop-down">
    								<button class="btn btn-default dropdown-toggle" type="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    									<div class="username"> <i class="fa fa-lg fa-user"></i>{{userName}}</div>
    									<span class="caret"></span>
    								</button>
    								<ul class="dropdown-menu" aria-labelledby="user-menu" >
                                        <li ng-click="showFeatures()">
                                            <a><i class="fa fa-user"></i>as {{currentContext.role.roleName}}</a>
                                        </li>
                                        <li ng-click="switchContext()">
                                            <a><i class="fa fa-group"></i> <span ng-bind="'header.switch_context' | i18n"></span></a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li ng-controller="ModifyContactDetails">
                                            <a ng-click="modifyMyContactDetails()"><i class="fa fa-user"></i><span ng-bind="'header.update_contact_details' | i18n"></span></a>
                                        </li>
                                        <li ng-controller="ModifyPassword">
                                            <a ng-click="modifyMyPassword()"><i class="fa fa-key"></i> <span ng-bind="'header.change_password' | i18n"></span></a>
                                        </li>
                                        <li ng-controller="ModifySecurityAnswer">
                                            <a ng-click="modifySecurityAnswer()"><i class="fa fa-key"></i> <span ng-bind="'header.change_security_answer' | i18n"></span></a>
                                         </li>
                                        <li role="separator" class="divider"></li>
    									<li ng-click="signOut()">
                                            <a><i class="fa fa-sign-out"></i> <span ng-bind="'header.sign_out' | i18n"></span></a>
                                        </li>
    								</ul>
    							</div>
    						</div>
                            <div class="language-select">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" id="language-select-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <div class="flag"><span class="flag-icon" ng-class="userFlagIconClass()"></span></div>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="language-select-menu">
                                        <li ng-repeat="language in languages" ng-class="{'disabled': language === selectedLanguage}">
                                            <a ng-click="language !== selectedLanguage && setLanguage(language)">
                                                {{ languageNames[language] }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sign-in" ng-if="!isAuthenticated">
                                <span ng-click="signIn()"><i class="fa fa-lg fa-user"></i><span ng-bind="'header.sign_in' | i18n"></span></a>
                            </div>
                            <div class="notifications" ng-if="isAuthenticated">
                                <div class="fa fa-lg fa-bell-o" ng-click="viewNotifications()"><span class="badge" ng-bind="numberOfOpenAlarmsAndTickets.alarms + numberOfOpenAlarmsAndTickets.tickets" ng-show="numberOfOpenAlarmsAndTickets.alarms > 0 || numberOfOpenAlarmsAndTickets.tickets > 0"></span></div>
                            </div>
                            <current-time class="currentTime"></current-time>
                        </div>
				    </div>
				</div>
			</div>
			<div ng-if="isAuthenticated" ng-include="'partial/header/headerMenu/headerMenu.html'"></div>
		</div>
	</div>
</header>