 .header{
     width: 100%;
     background-color:#383737;
     min-height: @headerHeight;
     z-index: 12;
 }

.uvmslogo{
    width: 130px;
    cursor: pointer;
}

.headercontainer{
    font-size: 16px;
    font-weight: bold;
    width: 100%;

    .pageinfo{
        width: 100%;
        background-color: #383737;
        color:#FFFFFF;
        padding: 16px 0px 0px 0px;
    }

    .currentTime, .notifications, .signed-in, .sign-in, .language-select {
        float: right;
    }

    .currentTime, .notifications{
        padding-right: 40px;
    }

    .currentTime{
        position: relative;
        top:3px;
        font-weight: normal;
        font-size: 14px;
    }

    .notifications {
        cursor: pointer;
        .badge {
            background-color: red;
            bottom: 8px;
            right: 6px;
            position: relative;
        }
    }

    .btn.btn-default.dropdown-toggle{
        background-color:#383737;
        color:white;
        border:none;
        .caret{
            position: relative;
            top: 9px;
            color:white;
            float: left;
            margin-left: 4px;
        }
    }

    .language-select {
        .flag {
            float: left;
        }
        .dropdown {
            margin-top: -4px;

            li {
                color: #262626;
            }

            li.disabled a {
                cursor: default;
            }
        }
    }

    .signed-in{
        .login-drop-down{
            position: relative;
            top:-4px;
            text-align: left;

            color: white;
            .username{
                float:left;
            }
            i{
                margin-right: 5px;
            }
            ul{
                padding:10px 0;
            }

            .btn.btn-default.dropdown-toggle:focus {
                border:none;
            }

            .dropdown-menu {
                color:black;
                border-radius: 1px;
                i{
                    color:@primaryColor;
                }
            }
        }
    }

    .sign-in{
        cursor: pointer;
        font-size: 14px;
        font-weight: normal;
        i{
            color:#fff;
            font-size: 15px;
            margin-right: 5px;
        }
    }

}