<header>
    <div class="headercontainer">
		<div class="header">
			<div class="pageinfo">
				<div class="container">
					<div class="pagename">
				        <a href="#/today">
				        	<img class="uvmslogo" src="assets/images/logo.png">
				        </a>
						<div class="headerwarnings" ng-controller="HeaderCtrl">
							<div class="fa fa-bell-o">
								<span class="badge" ng-bind="randomNumber"></span>
				        	</div>
				        </div>
				        <div class="headermessages">
				        	<div class="fa fa-envelope-o"></div>
					    </div>
				    </div>
				</div>
			</div>
			<div ng-include="'partial/header/headerMenu/headerMenu.html'"></div>
		</div>
	</div>			
</header>