 .header{
     width: 100%;
     background-color:#383737;
     margin-bottom: 20px;
 }

.uvmslogo{
    width: 130px;
}

.headercontainer{
    //width: 100%;
}
.pagename{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    padding: 16px 0px 0px 0px;
    overflow: hidden;
}
.headerwarnings {
    float: right;
    padding-right: 20px;

    .glyphicon-bell {
        color:#ffffff;
    }

    .badge {
        background-color: red;
        bottom: 15px;
        left: 15px;
        position: absolute;
    }
}
.headermessages{
    float: right;
    margin-right: 30px;
    .glyphicon-envelope{
        color:#ffffff;
    }
}

.pageinfo{
    width: 100%;
    background-color: #383737;
    color:#FFFFFF;
}
