<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div ng-controller="ConfigurationgeneralCtrl" class="configuration-general">

	<div class="row">
		<div class="col-md-8 column">
			<div class="row">

				<!-- Units -->
				<div class="col-md-4 setting">
					<h5 class="section-text">{{'audit.configuration_general_numeric_system' | i18n}}</h5>
					<ul class="radio-buttons">
						<li ng-repeat="u in measurementSystems">
							<label>
								<input type="radio" name="unit" ng-model="unit" ng-model-options="{ getterSetter: true }" ng-value="u"/> {{u}}
							</label>
						</li>
					</ul>
				</div>

				<!-- Coordinate format -->
				<div class="col-md-4 col-md-offset-2 setting">
					<h5 class="section-text">{{'audit.configuration_general_coordinates_format' | i18n}}</h5>
					<ul class="radio-buttons">
						<li ng-repeat="cf in coordinateFormats">
							<label>
								<input type="radio" name="coordinateFormat" ng-model="coordinateFormat" ng-model-options="{ getterSetter: true }" ng-value="cf"/>
								{{ ("config.coordinateFormat-" + cf) | i18n }}
							</label>
						</li>
					</ul>
				</div>

			</div>
			<div class="row">

				<!-- Date format -->
				<div class="col-md-4 setting">
					<h5 class="section-text">{{'audit.configuration_general_time_format' | i18n}}</h5>
					<ul class="radio-buttons">
						<li ng-repeat="df in dateFormats">
							<label>
								<input type="radio" name="dateFormat" ng-model="dateFormat" ng-model-options="{ getterSetter: true }" ng-value="df"/> {{df}}
							</label>
						</li>
					</ul>
				</div>

				<!-- Default homepage -->
				<div class="col-md-4 col-md-offset-2 setting">
					<h5 class="section-text">{{'audit.configuration_general_default_homepage' | i18n}}</h5>
					<dropdown ng-model="settings.defaultHomePage.value" items="homePages" no-placeholder-item callback="setDefaultHomePage"></dropdown>
				</div>

			</div>
			<div class="row">

				<!-- Distance unit -->
				<div class="col-md-4 setting">
					<h5 class="section-text">{{'audit.configuration_general_unit_distance' | i18n}}</h5>
					<dropdown ng-model="settings.distanceUnit.value" items="distanceUnits" no-placeholder-item callback="setDistanceUnit"></dropdown>
				</div>

				<!-- Speed unit -->
				<div class="col-md-4 col-md-offset-2 setting">
					<h5 class="section-text">{{'audit.configuration_general_unit_speed' | i18n}}</h5>
					<dropdown ng-model="settings.speedUnit.value" items="speedUnits" no-placeholder-item callback="setSpeedUnit"></dropdown>
				</div>

			</div>
			<div class="row">

				<!-- Maximum speed -->
				<div class="col-md-4 setting">
					<h5 class="section-text">{{'audit.configuration_general_max_speed' | i18n}} ({{'config.short_speed_unit_' + speedUnit | i18n}})</h5>
					<input type="text" class="form-control" ng-model="maxSpeed" ng-model-options="{ getterSetter: true }" transform-speed />
				</div>

				<!-- Timezone -->
				<div class="col-md-4 col-md-offset-2 setting">
					<h5 class="section-text">{{'audit.configuration_general_timezone' | i18n}}</h5>
					<dropdown ng-model="settings.timezone.value" items="timezones" no-placeholder-item callback="setTimezone"></dropdown>
				</div>

			</div>
		</div>
		<div class="col-md-4 column">
			<!-- Languages -->
			<h5 class="section-text">{{'audit.configuration_general_languages' | i18n}}</h5>
				<div class="row" ng-repeat="l in selectedLanguages track by $index" style="display: flex; align-items: center;">
					<div class="col-md-8">
						<dropdown items="languages" disabled-items="selectedLanguages" ng-model="selectedLanguages[$index]" callback="selectLanguage" callback-params="$index" initialtext="{{'config.select_language' | i18n}}"></dropdown>
					</div>
					<div class="col-md-4">
						<a ng-click="removeLanguage($index)" ng-if="$index > 0">{{'common.remove' | i18n}}</a>
						<span ng-if="$index === 0" class="defaultLanguage">({{'common.default' | i18n}})</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 setting">
						<a ng-click="addLanguage()">{{'config.add_more_languages' | i18n}}</a>
					</div>
				</div>
			<h5 class="section-text">Long polling</h5>
			<div class="row">
				<div class="col-md-12 setting">
				<label><input type="checkbox" ng-model="longPollingEnabled" ng-change="toggleLongPollingEnabled()"/> Enabled</label>
				<p ng-if="reloadLongPolling && longPollingEnabled" class="text-muted"><small>Reload page to resume long-polling.</small></p>
				</div>
			</div>
		</div>
	</div>

	<!--div class="row section-footer">
		<div class="col-md-1 pull-right">
			<button ng-click="save()" type="button" class="btn btn-primary btn-md">
	  			{{'audit.save' | i18n }}
			</button>
		</div>
		<div class="col-md-1 pull-right">
			<button class="btn btn-link" ng-click="cancel()">{{'audit.cancel' | i18n }}</button>
		</div>
	</div-->

</div>