.advancedSearch{
    .row{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    input[type="text"]{
        height: 30px;
        background-color: #EBEBEB;
    }

    .form-control:focus {
        border-color:#18A689;
        box-shadow: none;
        outline: 0 none;
    }
}

@import "saveVesselGroupModal/saveVesselGroupModal.less";