<div class="col-md-12 areas-fieldset" ng-controller="AreasselectionfieldsetCtrl">
	<fieldset class="fieldsetStyle col-md-12" ng-class="{'fieldset-closed': !report.showAreaFilter}">
		<legend class="fieldsetLegendStyle">
			<input class="checkbox-margin" type="checkbox" ng-model="report.showAreaFilter" ng-checked="report.showAreaFilter" ng-change="clearSearchProps()">
			<a data-toggle="collapse" ng-click="report.showAreaFilter = !report.showAreaFilter;clearSearchProps()">{{'spatial.reports_form_area_fieldset_label' | i18n }}</a>
			<span class="badge red-badge" ng-if="selectedAreas.length" title="{{areaCountDesc}}">{{selectedAreas.length}}</span>
		</legend>

		<div ng-show="report.showAreaFilter" class="areasSelectionFieldset">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs top-tabs" role="tablist">
						<li ng-repeat="tab in areaTabs" ng-click="selectTab(tab.tab)" class="areaTab" ng-class="{'active': selectedTab === '{{tab.tab}}'}"><a>{{tab.title}}</a></li>
					</ul>
				</div>
			</div>
			<div class="row" ng-show="showWarning">
				<div class="col-md-12 left-component">
					<div class="alert" role="alert" ng-class="{'alert-danger': hasError, 'alert-warning': !hasError}">
						<span class="fa fa-exclamation-triangle" aria-hidden="true" ng-show="hasError"></span>
						<span class="fa fa-exclamation-circle" aria-hidden="true" ng-hide="hasError"></span>
						<span>
							<span>{{ warningMessage }}</span>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 left-component">
					<!-- SYSTEM WIDE AREAS COMBOBOX-->
					<div ng-show="isTabSelected('SYSTEM')">
						<div class="form-group col-md-12">
							<combobox ng-model="sysAreaType" items="systemItems" initialtext="{{'spatial.area_selection_modal_area_type_label' | i18n}}" is-loading="isLoadingAreaLayers"></combobox>
						</div>
					</div>
					<!-- SELECTION TYPE -->
					<div class="form-group col-md-12" ng-show="(sysAreaType !== undefined && isTabSelected('SYSTEM')) || isTabSelected('USER') ">
						<label class="radio-inline radioselector">
							<input type="radio" value="map" ng-model="selectionType[selectedTab]">
							{{'spatial.area_selection_modal_select_on_map_radio' | i18n}}
						</label>
						<label class="radio-inline radioselector">
							<input type="radio" value="search" ng-model="selectionType[selectedTab]">
							{{'spatial.area_selection_modal_search_area' | i18n}}
						</label>
					</div>
					<!-- MAP SECTION -->
					<div id="area-selection-map" class="col-md-12 area-map" destroy-map-scope="areaSelection" ng-if="report.showAreaFilter && ((sysAreaType !== undefined && isTabSelected('SYSTEM')) || isTabSelected('USER')) && selectionType[selectedTab] === 'map' && clickResults < 2" ng-init="setMap()"></div>
					<!-- SEARCH BY PROPERTIES SECTION -->
					<div class="col-md-12" ng-show="selectionType[selectedTab] === 'search' || clickResults > 1">
						<!-- SEARCH INPUT, SEARCH BUTTON, RESET BUTTON -->
						<div class="searchRow" ng-show="selectionType[selectedTab] === 'search'">
							<div class="col-md-6 noPadding">
								<input type="text" ng-model="searchString" class="form-control" placeholder="{{'spatial.reports_form_vessels_search_text' | i18n }}">
							</div>
							<div class="col-md-3 with-left-padding">
								<button type="button" class="btn btn-primary btn-sm"  ng-click="searchByProps()">
										<span>{{'spatial.reports_form_vessels_search_button' | i18n }}</span>
								</button>
							</div>
							<div class="col-md-3 with-left-padding">
								<button type="button" class="btn btn-default btn-sm" ng-click="clearSearchProps()">
									<span>{{'spatial.reset' | i18n }}</span>
								</button>
							</div>
						</div>
						<!-- BACK TO MAP BUTTON -->
						<div class="searchRow col-md-12 noPadding" ng-show="selectionType[selectedTab] === 'map' && clickResults > 1">
							<button type="button" class="btn btn-primary btn-sm" style="min-width: 120px; width: 25%" ng-click="goBackToMap()">
								<span class="fa fa-map" aria-hidden="true"></span>&nbsp;
								<span>{{'spatial.ref_data_go_back_to_map' | i18n}}</span>
							</button>
						</div>
						<!-- TABLE -->
						<div st-table="displayedAreas" st-safe-src="searchedAreas">
							<div class="col-md-12 table table-striped tableSmart table-condensed" >
								<!-- THEAD -->
								<div class="thead container-fluid row">
									<div class="tr row" ng-class="{'tablerow-has-btn': displayedAreas.length > 0}">
										<div class="th col-md-6" st-sort="name" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'spatial.area_selection_modal_table_name_header' | i18n}}</div>
										<div class="th" ng-if="isTabSelected('SYSTEM')" ng-class="{'col-md-4': isTabSelected('SYSTEM')}" st-sort="code" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'spatial.area_selection_modal_table_code_header' | i18n}}</div>
										<div class="th" ng-if="isTabSelected('USER')" ng-class="{'col-md-4': isTabSelected('USER')}" st-sort="desc" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'spatial.area_selection_modal_table_desc_header' | i18n}}</div>
										<div class="th col-md-2 check-btn-column">
											<button type="button" class="btn btn-sm btn-success" ng-click="selectAllAreasFromTable()" ng-show="searchedAreas.length > 0">
												<span class="fa fa-plus"></span>&nbsp;
												{{'spatial.add_all_btn' | i18n}}
											</button>
										</div>
									</div>
								</div>
								<!-- TBODY -->
								<div class="tbody container-fluid row area-selection-table">
									<div ng-repeat="rec in displayedAreas" class="tr row">
										<div class="td col-md-6">
											{{rec.name}}
										</div>
										<div class="td" ng-if="isTabSelected('SYSTEM')" ng-class="{'col-md-4': isTabSelected('SYSTEM')}">
											{{rec.code}}
										</div>
										<div class="td" ng-if="isTabSelected('USER')" ng-class="{'col-md-4': isTabSelected('USER')}">
											{{rec.desc}}
										</div>
										<div class="td col-md-2" style="text-align: right;">
											<wms-preview record="rec" get-layer-type-def="getPropsForToolTip()"></wms-preview>
											<button type="button" class="btn btn-sm" ng-click="selectAreaFromTable(rec)" ng-class="{'btn-default': !rec.isSelected, 'btn-success': rec.isSelected}" title="{{'spatial.area_selection_modal_add_area_btn' | i18n }}"><span class="fa fa-check"/></button>
										</div>
									</div>
								</div>
							</div>
							<div class="stFooterPagination tfoot container-fluid row" ng-if="displayedAreas.length">
								<div class="tr">
									<div class="td col-md-12">
										<div class="pull-right footer-with-no-bottom-margin" st-pagination st-items-by-page="itemsByPage" st-template="partial/common/reportsPagination/reportsPagination.html"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- SELECTION CARD -->
				<div class="col-md-4">
					<div class="card with-small-card-header selectionContainer">
						<div class="row card-header">
							<div class="col-md-8">
								<h5>
									{{'spatial.area_selection_modal_current_selection' | i18n}}
									<span class="badge blue-badge" title="{{getSelectionTip(selectedAreas.length)}}">{{selectedAreas.length}}</span>
								</h5>
							</div>
							<div class="col-md-4 textAlignRight">
								<a ng-click="removeAllAreas()" >{{'spatial.clear_all_btn' | i18n}}</a>
							</div>
						</div>
						<div class="row scroller">
							<ul class="col-md-12">
								<li ng-repeat="area in selectedAreas">
									<div class="pointer pull-right" ng-click="removeArea(area, true)">
										<i class="fa fa-times"></i>
									</div>
									<p>{{ area.name }} ({{ area.areaType }})</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</div>
