.reportsListTable {
	margin-top: 20px;
}

div.dataTables_length label,
div.dataTables_filter label {
	text-transform: capitalize;
}

div.dataTables_filter input {
	margin-left: 10px !important;
}

div.dataTables_length select {
	margin: 0px 5px;
}

table.table thead .sorting_asc:before,
table.table thead .sorting_desc:before {
	color: #18a689;
}

.dt-center {
	text-align: center;
}

//Columns
.is-shared-cl {
	width: 80px;
}

//Icons
.fa-checkbox {
	color: #8e8e8e;
}

//Buttons
.run-report {
	text-transform: uppercase;
}

