<div class="reportsListTable" ng-controller="ReportslistCtrl as rt">
	<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped">
	    <thead>
	        <tr>
	            <th>{{'spatial.reports_table_header_name' | i18n }}</th>
	            <th>{{'spatial.reports_table_header_description' | i18n }}</th>
	            <th>{{'spatial.reports_table_header_created_on' | i18n }}</th>
	            <th>{{'spatial.reports_table_header_owner' | i18n }}</th>
	            <th>{{'spatial.reports_table_header_last_executed' | i18n }}</th>
	            <th class="dt-center">{{'spatial.reports_table_header_visibility' | i18n }}</th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="report in reports">
	            <td>{{ report.name }}</td>
	            <td>{{ report.desc }}</td>
	            <td>{{ report.created_on }}</td>
	            <td>{{ report.created_by }}</td>
	            <td>{{ report.executed_on }}</td>
	            <td class="dt-center">
	            	<span class="label label-default label-visibility" ng-if="report.visibility === 'p'" visprop="p">{{'spatial.reports_table_p_label' | i18n }}</span>
	            	<span class="label label-default label-visibility" ng-if="report.visibility === 's'" visprop="s">{{'spatial.reports_table_s_label' | i18n }}</span>
	            	<span class="label label-default label-visibility" ng-if="report.visibility === 'g'" visprop="g">{{'spatial.reports_table_g_label' | i18n }}</span>
	            </td>
	            <td>
                    <button type="button" class="btn btn-success btn-xs" ng-click="runReport($index)"><span class="run-report">{{'spatial.reports_table_run_label' | i18n }}</span></button>
                    <button type="button" class="btn btn-info btn-xs" title="{{'spatial.reports_table_config_label' | i18n }}" ng-click="showFilters($index)" ng-show="{{ report.editable }}"><span class="fa fa-cog"></span></button>
                    <button type="button" class="btn btn-info btn-xs" title="{{'spatial.reports_table_share_label' | i18n }}" ng-click="shareReport($index)" ng-show="{{ report.shareable }}"><span class="fa fa-share-alt"></span></button>
                    <button type="button" class="btn btn-danger btn-xs" title="{{'spatial.reports_table_delete_label' | i18n }}" ng-click="deleteReport($index)" ng-show="{{ report.deletable }}"> <span class="fa fa-trash-o"></span></button>
                </td>
	        </tr>
	    </tbody>
	</table>
</div>