<div ng-controller="ReportslistCtrl as rt" class="reportsListTable" st-table="displayedRecords" st-safe-src="reports">
	
  	<div class="row reportBtnGroup" ng-show="isVisible.reportsList">
		<div class="col-md-6 report-btn-group">
			<button type="button" class="btn btn-primary btn-sm" ng-click="reloadReportsList()">
                <span class="fa fa-refresh" aria-hidden="true"></span>
          	</button>
			<button type="button" class="btn btn-primary btn-sm" ng-click="toggleReportForm('CREATE')" ng-show="isAllowed('Reporting', 'CREATE_REPORT')">
                   <span class="fa fa-plus-square" aria-hidden="true"></span> &nbsp;
                   <span>{{'spatial.reports_add_new_report' | i18n }}</span>
            </button>
		</div>
		<div class="col-md-6">
			<input type="text" class="form-control" ng-model="searchString" st-searchargs="name|desc|createdOn|createdBy|lastExecTime|visibility" placeholder="{{'spatial.reports_table_search_header' | i18n}}">
		</div>
	</div>
	
	<div class="table-responsive-force">
		<table class="table table-striped">
		    <thead>
		        <tr>
		            <th st-sort="name" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc" >{{'spatial.reports_table_header_name' | i18n }}</th>
		            <th st-sort="desc" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc" >{{'spatial.reports_table_header_description' | i18n }}</th>
		            <th st-sort="createdOn" st-skip-natural="true" st-sort-default="reverse"  st-class-ascent="sorting_asc" st-class-descent="sorting_desc" >{{'spatial.reports_table_header_created_on' | i18n }}</th>
		            <th st-sort="createdBy" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc" >{{'spatial.reports_table_header_owner' | i18n }}</th>
		            <th st-sort="executedOn" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc" >{{'spatial.reports_table_header_last_executed' | i18n }}</th>
		            <th st-sort="visibility" st-skip-natural="true"  st-class-ascent="sorting_asc" st-class-descent="sorting_desc" class="dt-center" >{{'spatial.reports_table_header_visibility' | i18n }}</th>
		            <th style="min-width: 135px;"></th>
		        </tr>
		        <tr ng-if="alert.visible">
		        	<th colspan="7">
					    <div class="alert alert-danger alert-container" role="alert" ng-if="alert.type === 'error'">
	       					<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
	       					<span class="alert-message">
	           					<span>{{ alert.msg }}</span>            
	       					</span>
					    </div>
					    <div class="alert alert-success alert-container" role="alert" ng-if="alert.type === 'success'">
	       					<span class="fa fa-check-circle" aria-hidden="true"></span>
	       					<span class="alert-message">
	           					<span>{{ alert.msg }}</span>            
	       					</span>
					    </div>
		        	</th>
		        </tr>
		        <tr ng-if="isLoading">
		        	<th colspan="7" class="loading-spinner-cl"><i class="fa fa-spinner fa-spin loading-spinner"></i></th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr ng-if="!displayedRecords.length && !isLoading">
					<td colspan="7">{{'spatial.table_no_data' | i18n}}</td>
				</tr>
		        <tr ng-repeat="report in displayedRecords" ng-if="displayedRecords.length && !isLoading">
		            <td class="break-word-column">{{ report.name }}</td>
		            <td class="break-word-column">{{ report.desc }}</td>
		            <td class="no-wrap-white-space">{{ report.createdOn | stDateUtc }}</td>
		            <td class="no-wrap-white-space">{{ report.createdBy }}</td>
		            <td class="no-wrap-white-space">{{ report.executedOn | stDateUtc }}</td>
		            <td class="dt-center">
		            	<report-visibility ng-model="report.visibility"/>
	            	</td>
		            <td class="no-wrap-white-space">
			            <div class="btn-group">
		                    <button type="button" class="btn btn-success btn-xs btn-bottom-mg btn-run-default" ng-click="runReport($index)"><span class="run-report">{{'spatial.reports_table_run_label' | i18n }}</span></button>
		                    <button type="button" class="btn btn-success dropdown-toggle btn-run-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-run-options">
								<li><a ng-click="runReport($index)">{{'spatial.reports_table_run_label' | i18n }}</a></li>
								<li><a ng-click="openMapOnNewTab()">{{'spatial.reports_table_run_new_tab_label' | i18n }}</a></li>
							</ul>
						</div>
	                    <button type="button" class="btn btn-primary btn-xs btn-bottom-mg" title="{{'spatial.reports_table_config_label' | i18n }}" ng-click="showFilters($index)"><span class="fa fa-cog"></span></button>
	                    <button type="button" class="btn btn-xs btn-bottom-mg" ng-class="{'btn-primary': !report.isDefault, 'btn-warning': report.isDefault}" ng-attr-title="{{report.isDefault ? removeDefaultTooltip : makeDefaultTooltip}}" ng-click="makeDefault($index)">
	                    	<span class="fa fa-star"></span>
	                    </button>
						<div class="btn-group" ng-show="{{report.shareable && report.shareable.length > 0}}">
						  <!--<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >-->
						  <button type="button" class="btn btn-primary btn-xs btn-bottom-mg" title="{{'spatial.reports_table_share_label' | i18n }}" data-toggle="dropdown" aria-haspopup="true" ><span class="fa fa-share-alt"></span></button>
						  <div class="dropdown-menu">
						  	<div class="dropdown-body">
						      <a class="dropdown-item" ng-repeat="visibilityLevel in report.shareable" ng-click="shareReport($parent.$index, visibilityLevel)" ng-hide="!isAllowed('Reporting', 'SHARE_REPORT_{{visibilityLevel}}') && visibilityLevel !== 'PRIVATE'">
						    	  <report-visibility visibility="visibilityLevel"/></a>					    
						    </div>
						  </div>
						</div>
	                    <button type="button" class="btn btn-danger btn-xs btn-bottom-mg" title="{{'spatial.reports_table_delete_label' | i18n }}" ng-click="deleteReport($index)" ng-show="{{ report.deletable }}"> <span class="fa fa-trash-o"></span></button>
	                </td>
		        </tr>
		    </tbody>
		    <tfoot class="stFooterPagination">
				<tr>
					<td colspan="7" class="text-right">
						<div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="7" st-template="partial/spatial/templates/reportsPagination.html"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>