<div>
    <span class="col-md-12"><span class="col-md-12 trip-row-label">{{'activity.trip_summary_roles_name' | i18n}}: </span><span class="col-md-12">{{item.title}}. {{item.givenName}} {{item.middleName}} {{item.familyName}}</span></span>
    <span class="col-md-12"><span class="col-md-12 trip-row-label">{{'activity.trip_summary_roles_address' | i18n}}: </span><span class="col-md-12">{{item.adresses[0].streetname}} {{item.adresses[0].postcode}} {{item.adresses[0].cityName}}</span></span>
    <span class="col-md-12"><span class="col-md-12"><span class="trip-row-label">{{'activity.trip_summary_roles' | i18n}}: </span><span ng-repeat="role in item.roles">{{role}}<span ng-if="!$last">, </span></span></span></span>
</div>