.roles-section {
    .roles-combo {
        margin-bottom: 2px;
    }
    [uib-carousel] {
        .carousel-inner {
            height: 167px;
        }
        .carousel-control {
            top: 30px;
            width: 17px;
            background: #fff;
            span {
                margin-left: 0;
                font-size: 20px;
            }
            &.left span {
                left: 0;
            }
            &.right span {
                right: 0;
            }
        }
    }
}
