.trips-panel {
    background-color: #fff;
    padding-top: 10px;
    padding: 15px;
    overflow-y: auto;
    .tab-content {
        max-height: calc(~"100vh - 138px");
        .trip-summary-tab {
            border: 1px solid #ddd;
            border-top: 0;
            margin-top: -1px;
            padding: 5px 30px 5px 15px;
            position: relative;
            .summary-row {
                display: flex;
                .summary-section {
                    padding-left: 0;
                    padding-right: 15px;
                    align-items: stretch;
                    display: flex;
                    &:first-child {
                        padding-left: 15px;
                    }
                    fieldset {
                        padding-bottom: 10px;
                        margin-bottom: 5px;
                        align-items: stretch;
                        legend {
                            margin: 0 5px 0 -5px;
                            padding: 0 5px;
                        }
                    }
                }
            }
            .btn-trip-quit,
            .btn-print {
                position: absolute;
            }
            .btn-trip-quit {
                right: -1px;
                top: -26px;
                color:red;
                font-size: 20px;
            }
            .btn-print {
                right: 6px;
                top: 14px;
                font-size: 18px;
            }
        }
    }
    .close-button {
        color: red;
        font-size: 16px;
        position: absolute;
        top: 0;
        right: 4px;
        z-index: 1;
    }
    ul.nav.nav-tabs {
        cursor: auto;
        li {
            margin-bottom: 0;
            &.active {
                margin-bottom: -1px;
                border-bottom: 1px solid #fff;
                &,
                a {
                    background: #fff;
                }
                > a {
                    color: #000;
                }
                .close-button {
                    color: red;
                }
            }
            a {
                border-radius: 6px 6px 0 0;
            }
            > a {
                padding: 5px 20px 0 5px;
            }
        }
    }
}
.in-new-tab {
    .trips-panel {
        .tab-content {
            //overflow-y: auto;
            max-height: calc(~"100vh - 93px");
        }
    }
}