<div>
    <div class="inputgroup col-md-2">
        <p class="labelheaders">dnid</p>
        <input type="text" class="form-control" ng-model="communicationChannel.dnid">
    </div>
    <div class="inputgroup col-md-2">
        <p class="labelheaders">channel</p>
        <input type="text" class="form-control" ng-model="communicationChannel.channel">
    </div>
    <div class="inputgroup col-md-2">
        <p class="labelheaders">Member no.</p>
        <input type="text" class="form-control" ng-model="communicationChannel.memberNo">
    </div>
    <div class="inputgroup col-md-2">
        <p class="labelheaders">Land station</p>
        <input type="text" class="form-control" ng-model="communicationChannel.landStation">
    </div>
    <div class="inputgroup col-md-2">
        <p class="labelheaders">Started</p>
        <datepicker-input model="communicationChannel.started"></datepicker-input>
    </div>
    <div class="inputgroup col-md-2">
        <p class="labelheaders">Stopped</p>
        <datepicker-input model="communicationChannel.stopped"></datepicker-input>
    </div>
</div>
