.rulesContainer, .holdingTableContainer, .openTicketsContainer{
    .filterRow {
        .grayBorderTop;
        padding: 20px 0 10px;
        text-align:center;
        vertical-align: middle;

        .dropdown{
            text-align: left;
        }
    }

    .rules-table, .holding-table{
        .table-checkbox{
            padding-left: 15px;
            width: 40px;
        }

        .detailsIcon{
            color:@primaryColor;

        }
        .editIcon{
            color:@primaryColor;
            margin-right: 15px;
        }
        .deleteIcon{
            color:red;
        }
    }
}

.holdingTableContainer, .openTicketsContainer{
    .printAndExport{
        position: relative;
        top: 15px;
    }
}