
<div class="table-responsive" class="catches-table">
    <table class="table table-striped" id="catches-table-calculations">
        <tr>
            <th ng-repeat="key in headers track by $index">{{ key | titleTransformer }}</th>
        </tr>
        <tr ng-repeat="(column, value) in data">
            <td ng-repeat="key in headers track by $index">
                <div class="square" ng-if="key === 'Species' && value[key] !== 'TOTAL'" style="background-color: #{{speciesColors[value[key]]}};"></div>
                {{value[key] || '0'}}
            </td>
        </tr>
    </table>
</div>

