.newvessel{
    border-bottom:2px solid #383737;

    .row{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .inputgroup {

        .labelheaders {
            height: 20px;
            margin-bottom: 0;
            margin-top: 10px;
        }

        /*input[type=text] {
            background-color: #EBEBEB;
            /*   border: medium none;
              color: #9CA1BB;
              font-size: 20px;
              font-style: italic;
        }*/

    }
    .dropdowntext{
        float:left;
    }
    .caret{
        clear: both;
        margin-left: 10px;
    }
    .closenewvessel{
        margin-right: 0px;
    }

    .btn.btn-sm.createnewvesselbutton {
        position: relative;
        right: 13px;
    }
     a{
         cursor: pointer;
     }

}

