.newvessel{
    border-bottom:2px solid #918D8F;

    .row{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .inputgroup {

        .labelheaders {
            height: 20px;
            margin-bottom: 0;
            margin-top: 10px;
        }

        input[type=text] {
            background-color: #EBEBEB;
        }

    }
    .dropdowntext{
        float:left;
    }
    .caret{
        clear: both;
        margin-left: 10px;
    }
    .closenewvessel{
        margin-right: 0px;
    }

    .btn.btn-sm.createnewvesselbutton {
        position: relative;
        right: 13px;
    }
     a{
         cursor: pointer;
     }

    .has-feedback .form-control-feedback {
        position: absolute;
        top: 29px;
        right: 0;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: justify;
}

    .form-group{
        margin-bottom: 0px;
    }
}

