<div class="col-md-12 collapsibleRow visibilitySettings" ng-controller="VisibilitysettingsCtrl">
	<ng-form name="visibilitysettingsForm">
		<accordion close-others="oneAtATime">
			<accordion-group is-open="status.isOpen">
				<accordion-heading>
				<div class="panel-title-link" ng-click="toggleOpen()">
					{{'spatial.visibility_settings' | i18n }}
					<div class="accordionError" ng-show="submitedWithErrors && visibilitysettingsForm.$error.hasError">
						<div class="fa fa-exclamation-circle"></div>
						{{'spatial.section_errors' | i18n }}
					</div>
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isOpen, 'glyphicon-chevron-right': !status.isOpen}"></i>
				</div>
				</accordion-heading>
				<div class="containerWithBottomPadding">
					<div class="row noBottomMargin">
						<div class="col-md-6 sectionMenu">
							<ul class="horizontal pipeSeparator">
								<li ng-repeat="menu in headerMenus" ng-click="selectMenu(menu.menu)" ng-class="{'active': selectedMenu === '{{menu.menu}}'}"><a>{{menu.title}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div ng-show="isMenuSelected('POSITIONS')" ng-include="'partial/spatial/configurations/visibilitySettings/positionsVisibility/positionsVisibility.html'"></div>
				<div ng-show="isMenuSelected('SEGMENTS')" ng-include="'partial/spatial/configurations/visibilitySettings/segmentsVisibility/segmentsVisibility.html'"></div>
				<div ng-show="isMenuSelected('TRACKS')" ng-include="'partial/spatial/configurations/visibilitySettings/tracksVisibility/tracksVisibility.html'"></div>
				<div class="col-md-12 col-btn-no-padding" ng-show="isUserPreference">
					<button class="btn btn-default pull-right" ng-click="reset()">{{'spatial.settings_reset_btn' | i18n}}</button>
				</div>
			</accordion-group>
		</accordion>
	</ng-form>
</div>