.vesselsearchresult table thead {
  border-bottom: solid 2px #C5C5C4;
}
.vesselsearchresult table th {
  height: 40px;
}
.vesselsearchresult table th a {
  font-weight: bold;
  color: #383737;
}
.vesselsearchresult table th a .fa.fa-sort,
.vesselsearchresult table th a .fa.fa-caret-down,
.vesselsearchresult table th a .fa.fa-caret-up {
  color: #18A689;
  margin-left: 7px;
}
.vesselsearchresult table tbody tr {
  border-bottom: solid 1px #C5C5C4;
  height: 40px;
}
.vesselsearchresult table .button {
  height: 24px;
  text-align: center;
  padding: 0px 12px;
  font-size: 12px;
}
