<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="row" ng-controller="VesselListCtrl">
    <div search-results-table search="currentSearchResults" class="col-md-12">
        <table class="searchResults colorOdd truncate-text">
            <thead>
            <tr>
                <th class="checkboxContainer"><input type="checkbox" ng-checked="isAllChecked()" ng-click="checkAll()" ng-disabled="!currentSearchResults.items.length"/></th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'countryCode'">{{'vessel.table_header_flag_state' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'externalMarking'">{{'vessel.table_header_external_marking' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'name'">{{'vessel.table_header_name' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'ircs'">{{'vessel.table_header_signal' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'cfr'">{{'vessel.table_header_cfr' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'gearType'">{{'vessel.table_header_gear_type' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'licenseType'">{{'vessel.table_header_license_type' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'-lastMovement.time'">{{'vessel.table_header_last_report' | i18n}}</th>

                <th>{{'vessel.table_header_details' | i18n}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in currentSearchResults.items | orderBy:currentSearchResults.sortBy:currentSearchResults.sortReverse | filter:currentSearchResults.filter" ng-class="{archived: !item.active}">
                <td class="checkboxContainer"><input type="checkbox" ng-checked="isChecked(item)" ng-click="checkItem(item)"/></td>
                <td ng-attr-title="{{item.countryCode}}">{{item.countryCode}}</td>
                <td ng-attr-title="{{item.externalMarking}}">{{item.externalMarking}}</td>
                <td ng-attr-title="{{item.name}}">{{item.name}}</td>
                <td ng-attr-title="{{item.ircs}}">{{item.ircs}}</td>
                <td ng-attr-title="{{item.cfr}}">{{item.cfr}}</td>
                <td ng-attr-title="{{item.gearType | vesselGearTypeTranslation}}">{{item.gearType | vesselGearTypeTranslation}}</td>
                <td ng-attr-title="{{item.licenseType | vesselLicenseTypeTranslation}}">{{item.licenseType | vesselLicenseTypeTranslation}}</td>
                <td>
                    <span ng-show="item.lastMovement" class="link" ng-click="showReport(item.lastMovement.guid)" ng-attr-title="{{item.lastMovement.time | timeAgo}}">{{item.lastMovement.time | timeAgo}}</span>
                </td>
                <td>
                    <button class="btn btn-default btn-sm" ng-click="toggleViewVessel(item)">
                        <i class="fa" ng-class="allowedToEditVessel(item) ? 'fa-pencil': 'fa-eye'"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>