<div class="row" ng-controller="VesselListCtrl">
    <div search-results-table search="currentSearchResults" load-next-page-function="loadNextPage" class="col-md-12">
        <table class="searchResults colorOdd">
            <thead>
            <tr>
                <th class="checkboxContainer"><input type="checkbox" ng-checked="isAllChecked()" ng-click="checkAll()"/></th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'countryCode'">{{'vessel.table_header_flag_state' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'externalMarking'">{{'vessel.table_header_external_marking' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'name'">{{'vessel.table_header_name' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'ircs'">{{'vessel.table_header_signal' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'vesselType'">{{'vessel.table_header_type' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'license'">{{'vessel.table_header_license' | i18n}}</th>

                <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'lastreport'">{{'vessel.table_header_last_report' | i18n}}</th>

                <th>{{'vessel.table_header_details' | i18n}}</th>
                <th>{{'vessel.table_header_reports' | i18n}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in currentSearchResults.items | orderBy:currentSearchResults.sortBy:currentSearchResults.sortReverse | filter:currentSearchResults.filter">
                <td class="checkboxContainer"><input type="checkbox" ng-checked="isChecked(item)" ng-click="checkItem(item)"/></td>
                <td>{{item.countryCode}}</td>
                <td>{{item.externalMarking}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ircs}}</td>
                <td>{{item.vesselType}}</td>
                <td>{{item.license}}</td>
                <td>{{item.lastReport}}</td>
                <td>
                    <button class="btn vesselbtn button" ng-click="toggleViewVessel(item)">
                        {{'vessel.table_details_button' | i18n}}
                    </button>
                </td>
                <td>{{'vessel.table_report_button' | i18n}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>