.advancedActiviySearchForm {
    form {
        > div {
            padding-bottom: 5px !important;
            .unit-box {
                font-weight: bold;
                width: 35px;
            }
            .unit-input {
                padding-right: 35px;
            }
            .labelAlign {
                text-align: right;
                line-height: 30px;
            }
        } 
    }
    .belowErrorMessages {
	    right: auto;
        line-height: 15px !important;
        margin-top: 5px;
	}
    .buttonSection {
        margin-bottom: 30px;
        text-align: right;
        button {
            text-transform: uppercase;
        }
    }
}