.smallerpaddingright.searchcriteria{
    margin-bottom: 10px;
}

.unit-input .unit-box {
    width: initial;
}

.absoluteRight {
    right: 7px;
    position: absolute;
}
.smallerpaddingright.searchcriteria{
    margin-bottom: 10px;
}

.unit-input .unit-box {
    width: initial;
}

.absoluteRight {
    right: 7px;
    position: absolute;
}
