.advancedActiviySearchForm {
    > div {
        padding-bottom: 5px !important;
        .unit-box {
            font-weight: bold;
            width: 35px;
        }
        .unit-input {
            padding-right: 35px;
        }
        .labelAlign {
            text-align: right;
            line-height: 30px;
        }
    }
    .buttonSection {
        margin-bottom: 30px;
        text-align: right;
        button {
            text-transform: uppercase;
        }
    }
}