.area-selection-container{
  display: flex;
  flex-direction: row;
  height: 500px;

  .area-selection {
    flex: 2;
    .system-section {
      margin-top: 10px;
    }
  }

  .area-selection-list {
    flex: 1;
    margin-top: 41px;
    border-top: 1px solid #dee2e6;
    padding-top: 15px;
  }

  .card {
    padding: 0px;
    min-height: 530px;
  }

  .card-header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    a {
      cursor: pointer;
    }
  }

  .card-body {
    height: 300px;
    overflow-y: auto;
  }

  .badge.badge-primary {
    background-color: #089fd7;
    border-radius: 10px;
    margin-left: 5px;
  }

  .area-selection-map {
    min-height: 500px;
  }

  .area-selection-item {
      display: flex;
      justify-content: space-between;
      fa-icon {
        color: red;
        cursor: pointer;
      }
  }

}
