.area-selection-list {
  margin-top: 41px;
  border-top: 1px solid #dee2e6;
  padding-top: 15px;
}

.card {
  padding: 0px;
  min-height: 530px;
}

.card-header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  a {
    cursor: pointer;
    color: #089fd7;
    text-decoration: none;
  }
}

.card-body {
  height: 300px;
  overflow-y: auto;
}

.badge.badge-primary {
  background-color: #089fd7;
  border-radius: 10px;
  margin-left: 5px;
}

.area-selection-item {
    display: flex;
    justify-content: space-between;
    fa-icon {
      color: red;
      cursor: pointer;
    }
}

.map-alert {
  margin-right: 16px;
  margin-top: 5px;
}
