<div>
    <div class="col-md-12 card mobileInformationContainer" loading-indicator="waitingForCreateResponse" size="small" type="SPINNER" ng-if="displayMobileTerminalForm()">
        <menu-bar header="getMenuHeader()" modeltype="'MOBILE_TERMINAL'" ng-model="mobileTerminal"
                  functions="menuBarFunctions"
                  is-create-new-mode="isCreateNewMode">
        </menu-bar>
        
        <div class="mobileTerminalDetailsContainer">
            <form name="mobileTerminalForm" method="post" ng-init="setFormScope(this)">
                <fieldset ng-disabled="disableForm()">
                    <div class="transponderSystemSelects">
                        <div class="flexrow form-section-1">
                            <div class="transponderSystemSelect form-group medium-field-static" ng-class="{'has-error': mobileTerminalForm.typeAndPlugin.$invalid && (submitAttempted || mobileTerminalForm.typeAndPlugin.$dirty)}">
                                <label>{{'mobileTerminal.transceiver_system' | i18n}}
                                <span ng-show="mobileTerminal.mobileTerminalType.length < 0 || isCreateNewMode()" class="mandatory">{{ 'common.mandatory_field' | i18n }}</span></label>
                                <dropdown ng-model="typeAndPlugin" name="typeAndPlugin" input-field-id="mt-{{listIndex}}-typeAndPlugin" initialtext="{{ 'common.choose' | i18n }}" items="transponderSystems" callback="onTerminalSystemSelect" ng-disabled="!isCreateNewMode()" data="typeAndPlugin" ng-required="true"></dropdown>
                                <input-validation-message types="required" input="mobileTerminalForm.typeAndPlugin"></input-validation-message>
                            </div>
                            <div class="flexrow" ng-if="typeAndPlugin">
                                <div class="transponderSystemSelect form-group long-field" ng-show="getTerminalConfig().capabilities.SUPPORT_SINGLE_OCEAN || getTerminalConfig().capabilities.SUPPORT_MULTIPLE_OCEAN">
                                    <label>{{'mobileTerminal.add_new_form_ocean_region_label' | i18n}}</label>
                                    <div ng-show="getTerminalConfig().capabilities.SUPPORT_SINGLE_OCEAN">
                                        <dropdown ng-model="mobileTerminal.attributes.SINGLE_OCEAN" initialtext="{{ 'common.choose' | i18n }}" items="getTerminalConfig().capabilities.SUPPORT_SINGLE_OCEAN" input-field-id="mt-{{listIndex}}-singleOcean"></dropdown>
                                    </div>
                                    <!-- 
                                    <div ng-hide="getTerminalConfig().capabilities.SUPPORT_SINGLE_OCEAN">
                                        <tag-select-input ng-model="mobileTerminal.attributes.MULTIPLE_OCEAN" ng-init="mobileTerminal.attributes.MULTIPLE_OCEAN = setOceanRegions()" placeholder="{{'common.choose' | i18n }}" items="getTerminalConfig().capabilities.SUPPORT_MULTIPLE_OCEAN" ng-disabled="disableForm()" input-field-id="mt-{{listIndex}}-multipleOcean"></tag-select-input>
                                        {{ mobileTerminal.attributes.MULTIPLE_OCEAN }}
                                    </div>

                                    items="oceanreg"
-->

                                    <div ng-hide="getTerminalConfig().capabilities.SUPPORT_SINGLE_OCEAN">
                                        <tag-select-input  ng-model="mobileTerminal.attributes.MULTIPLE_OCEAN" ng-init="mobileTerminal.attributes.MULTIPLE_OCEAN = mobileTerminal.attributes.MULTIPLE_OCEAN || setOceanRegions()" items="oceanreg" ng-disabled="disableForm()" input-field-id="mt-{{listIndex}}-multipleOcean"></tag-select-input>
                                    </div>
                                </div>
                                <div class="form-group medium-field" ng-show="typeAndPlugin && getTerminalConfig().terminalFields.SERIAL_NUMBER" ng-class="{'has-error': mobileTerminalForm.serialNumber.$invalid && (submitAttempted || mobileTerminalForm.serialNumber.$dirty)}">
                                    <label>{{'mobileTerminal.form_inmarsatc_serial_no_label' | i18n}}
                                    <span ng-show="mobileTerminal.serialNo.length < 0 || isCreateNewMode()" class="mandatory">{{ 'common.mandatory_field' | i18n }}</span></label>
                                    <input type="text" name="serialNumber" id="mt-{{listIndex}}-serialNumber" class="form-control" ng-model="mobileTerminal.serialNo" ng-required="true"/>
                                    <input-validation-message types="required" input="mobileTerminalForm.serialNumber"></input-validation-message>
                                </div>
                                <div class="form-group long-field" ng-show="typeAndPlugin" ng-show="getTerminalConfig().terminalFields.TRANSCEIVER_TYPE">
                                    <label>{{'mobileTerminal.form_inmarsatc_transceiver_type_label' | i18n}}</label>
                                    <input type="text" name="tranciverType" id="mt-{{listIndex}}-tranciverType" class="form-control" ng-model="mobileTerminal.transceiverType">
                                </div>
                                <div class="form-group align-right" ng-show="typeAndPlugin">
                                    <div class="switch-container">
                                        <label ng-if="mobileTerminal.active">{{'common.active' | i18n}}</label>
                                        <label ng-if="!mobileTerminal.active">{{'common.inactive' | i18n}}</label>
                                        <label class="switch">
                                            <input type="checkbox" ng-model="mobileTerminal.active">
                                            <div class="slider" id="mt-{{listIndex}}-activation">
                                                <i class="fa fa-check"></i>
                                                <i class="fa fa-times"></i>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flexrow form-section-2" ng-if="typeAndPlugin">
                            <div class="form-group medium-field" ng-show="getTerminalConfig().terminalFields.SOFTWARE_VERSION">
                                <label>{{'mobileTerminal.form_inmarsatc_software_version_label' | i18n}}</label>
                                <input type="text" name="softwareVersion" id="mt-{{listIndex}}-softwareVersion" class="form-control" ng-model="mobileTerminal.softwareVersion">
                            </div>
                            <div class="form-group long-field" ng-show="getTerminalConfig().terminalFields.ANTENNA">
                                <label>{{'mobileTerminal.form_inmarsatc_antenna_label' | i18n}}</label>
                                <input type="text" name="antenna" id="mt-{{listIndex}}-antenna"class="form-control" ng-model="mobileTerminal.antenna">
                            </div>
                            <div class="form-group medium-field" ng-show="getTerminalConfig().terminalFields.SATELLITE_NUMBER">
                                <label>{{'mobileTerminal.form_inmarsatc_satellite_number_label' | i18n}}</label>
                                <input type="text" name="satelliteNumber" id="mt-{{listIndex}}-satelliteNumber" class="form-control" ng-model="mobileTerminal.satelliteNumber"/>
                            </div>
                            <div class="form-group long-field" ng-show="getTerminalConfig().terminalFields.ANSWER_BACK">
                                <label>{{'mobileTerminal.form_inmarsatc_answer_back_label' | i18n}}</label>
                                <input type="text" name="answerBack" id="mt-{{listIndex}}-answerBack" class="form-control" ng-model="mobileTerminal.answerBack">
                            </div>
                        </div>
                        <div class="currentMobileTerminalTypes" ng-show="typeAndPlugin">
                            <div class="flexrow">
                                <h5 class="form-header" ng-show="!isMultipleChannelsAllowed()">{{'mobileTerminal.form_inmarsatc_communication_channel_header' | i18n}}</h5>
                                <h5 class="form-header" ng-show="isMultipleChannelsAllowed()">{{'mobileTerminal.form_inmarsatc_communication_channels_header' | i18n}}</h5>
                            </div>
                            <div class="flexrow">
                                <span>{{'mobileTerminal.form_inmarsatc_communication_channels_notice' | i18n}}</span>
                            </div>
                            <div ng-repeat="communicationChannel in mobileTerminal.channels">
                                <div ng-form="channelForm" class="channel-form" ng-class="{'single-channel': !isMultipleChannelsAllowed()}">
                                    <div class="delete-channel" ng-show="!disableForm() && mobileTerminal.channels.length > 1">
                                        <div class="btn btn-default" ng-click="removeChannel(communicationChannel)" id="mt-{{listIndex}}-channel-{{$index}}-removeChannel">
                                            <i class="fa fa-trash" title="{{'common.remove' | i18n}}"></i>
                                        </div>
                                    </div>
                                    <div class="flexrow form-section-3">
                                        <div class="form-group short-field half-margin-right">
                                            <label>{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_channel_label' | i18n}}</label>
                                            <input type="text" name="communicationChannel" id="mt-{{listIndex}}-channel-{{$index}}-communicationChannel" class="form-control" ng-model="communicationChannel.name">
                                        </div>
                                        <div class="form-group radio-button">
                                            <input type="checkbox" name="polling" ng-value="$index" ng-model="communicationChannel.pollChannel" ng-disabled="disableChannels.pollable(communicationChannel)" id="mt-{{listIndex}}-channel-{{$index}}-checkbox-polling">
                                            <label for="mt-{{listIndex}}-channel-{{$index}}-checkbox-polling" ng-attr-title="{{getRadioButtonHelpText.pollable(communicationChannel)}}">
                                                <span>{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_poll_label' | i18n}}</span>
                                            </label>
                                        </div>
                                        <div class="form-group radio-button">
                                            <input type="checkbox" name="config" ng-value="$index" ng-model="communicationChannel.configChannel" ng-disabled="disableChannels.configurable(communicationChannel)" id="mt-{{listIndex}}-channel-{{$index}}-checkbox-config">
                                            <label for="mt-{{listIndex}}-channel-{{$index}}-checkbox-config" ng-attr-title="{{getRadioButtonHelpText.configurable(communicationChannel)}}">
                                                <span>{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_con_label' | i18n}}</span>
                                            </label>
                                        </div>
                                        <div class="form-group radio-button margin-right">
                                            <input type="checkbox" name="default" ng-value="$index" ng-model="communicationChannel.defaultChannel" ng-disabled="disableChannels.defaultReporting(communicationChannel)" id="mt-{{listIndex}}-channel-{{$index}}-checkbox-default">
                                            <label for="mt-{{listIndex}}-channel-{{$index}}-checkbox-default" ng-attr-title="{{getRadioButtonHelpText.defaultReporting(communicationChannel)}}">
                                                <span>{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_def_label' | i18n}}</span>
                                            </label>
                                        </div>
                                        <div class="form-group short-field" ng-class="{'has-error': channelForm.dnid.$invalid && (submitAttempted || channelForm.dnid.$dirty)}" ng-show="getTerminalConfig().channelFields.DNID">
                                            <label>{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_dnid_label' | i18n}}<span ng-if="createNewMode" class="mandatory">{{ 'common.mandatory_field' | i18n }}</span></label>
                                            <input type="text" name="dnid" id="mt-{{listIndex}}-channel-{{$index}}-dnid" class="form-control" ng-model="communicationChannel.DNID" only-digits>
                                            <input-validation-message types="onlyDigits" input="channelForm.dnid"></input-validation-message>
                                        </div>
                                        <div class="form-group short-field" ng-class="{'has-error': channelForm.memberId.$invalid && (submitAttempted || channelForm.memberId.$dirty)}" ng-show="getTerminalConfig().channelFields.MEMBER_NUMBER">
                                            <label>{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_member_no_label' | i18n}}<span ng-if="createNewMode" class="mandatory">{{ 'common.mandatory_field' | i18n }}</span></label>
                                            <input type="text" name="memberId" id="mt-{{listIndex}}-channel-{{$index}}-memberId" class="form-control" ng-model="communicationChannel.memberNumber" only-digits>
                                            <input-validation-message types="onlyDigits" input="channelForm.memberId"></input-validation-message>
                                        </div>
                                        <div class="form-group short-field" ng-show="getTerminalConfig().channelFields.LES_DESCRIPTION">
                                            <label>{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_land_station_label' | i18n}}</label>
                                            <input type="text" name="lesDescription" id="mt-{{listIndex}}-channel-{{$index}}-lesDescription" class="form-control" ng-model="communicationChannel.lesDescription">
                                        </div>
                                        <div class="form-group medium-field" ng-class="{'has-error': channelForm.started.$invalid && (submitAttempted || channelForm.started.$dirty)}" ng-show="getTerminalConfig().channelFields.START_DATE">
                                            <label>{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_started_label' | i18n}}</label>
                                            <datepicker-input name="started" input-field-id="mt-{{listIndex}}-channel-{{$index}}-started" model="communicationChannel.startDate" time="true" max-date="communicationChannel.endDate"></datepicker-input>
                                        </div>
                                        <div class="form-group medium-field" ng-class="{'has-error': channelForm.stopped.$invalid && (submitAttempted || channelForm.stopped.$dirty)}" ng-show="getTerminalConfig().channelFields.END_DATE">
                                            <label>{{'mobileTerminal.form_inmarsatc_communication_selectedchannel_stopped_label' | i18n}}</label>
                                            <datepicker-input name="stopped" input-field-id="mt-{{listIndex}}-channel-{{$index}}-stopped" time="true" model="communicationChannel.endDate" min-date="communicationChannel.startDate"></datepicker-input>
                                        </div>
                                    </div>
                                    <div class="flexrow form-section-4">
                                        <div class="form-group medium-field" ng-show="getTerminalConfig().channelFields.INSTALLED_BY">
                                            <label>{{'mobileTerminal.form_inmarsatc_installed_by_label' | i18n}}</label>
                                            <input type="text" name="installedBy" id="mt-{{listIndex}}-channel-{{$index}}-installedBy" class="form-control" ng-model="communicationChannel.installedBy">
                                        </div>
                                        <div class="form-group medium-field" ng-show="getTerminalConfig().channelFields.INSTALLED_ON">
                                            <label>{{'mobileTerminal.form_inmarsatc_installed_on_label' | i18n}}</label>
                                            <datepicker-input name="installedOn" input-field-id="mt-{{listIndex}}-channel-{{$index}}-installedOn" model="communicationChannel.installDate" time="true"></datepicker-input>
                                        </div>
                                        <div class="form-group medium-field" ng-show="getTerminalConfig().channelFields.UNINSTALLED_ON" ng-class="{'has-error': mobileTerminalForm.uninstalled.$invalid && (submitAttempted || mobileTerminalForm.uninstalled.$dirty)}">
                                            <label>{{'mobileTerminal.form_inmarsatc_uninstalled_on_label' | i18n}}</label>
                                            <datepicker-input name="uninstalled" input-field-id="mt-{{listIndex}}-channel-{{$index}}-uninstalled" model="communicationChannel.uninstallDate" time="true" min-date="communicationChannel.installDate"></datepicker-input>
                                        </div>
                                        <div class="form-group" ng-show="getTerminalConfig().channelFields.FREQUENCY_EXPECTED" ng-class="{'has-error': mobileTerminalForm.frequencyExpected.$invalid && (submitAttempted || mobileTerminalForm.frequencyExpected.$dirty)}">
                                            <label>{{'mobileTerminal.form_inmarsatc_expected_freq_label' | i18n}}</label>
                                            <period-input name="frequencyExpected" input-field-id="mt-{{listIndex}}-channel-{{$index}}-frequencyExpected" model="communicationChannel.expectedFrequency" no-minutes="true"></period-input>
                                            <input-validation-message types="number" input="mobileTerminalForm.frequencyExpected"></input-validation-message>
                                        </div>
                                        <div class="form-group" ng-show="getTerminalConfig().channelFields.FREQUENCY_GRACE_PERIOD" ng-class="{'has-error': mobileTerminalForm.frequencyGrace.$invalid && (submitAttempted || mobileTerminalForm.frequencyGrace.$dirty)}">
                                            <label>{{'mobileTerminal.form_inmarsatc_grace_period_label' | i18n}}</label>
                                            <period-input name="frequencyGrace" input-field-id="mt-{{listIndex}}-channel-{{$index}}-frequencyGrace" model="communicationChannel.frequencyGracePeriod" no-minutes="true"></period-input>
                                            <input-validation-message types="number" input="mobileTerminalForm.frequencyGrace"></input-validation-message>
                                        </div>
                                        <div class="form-group" ng-show="getTerminalConfig().channelFields.FREQUENCY_IN_PORT" ng-class="{'has-error': mobileTerminalForm.frequencyPort.$invalid && (submitAttempted || mobileTerminalForm.frequencyPort.$dirty)}">
                                            <label>{{'mobileTerminal.form_inmarsatc_in_port_grace_period_label' | i18n}}</label>
                                            <period-input name="frequencyPort" input-field-id="mt-{{listIndex}}-channel-{{$index}}-frequencyPort" model="communicationChannel.expectedFrequencyInPort" no-minutes="true"></period-input>
                                            <input-validation-message types="number" input="mobileTerminalForm.frequencyPort"></input-validation-message>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flexrow" ng-show="isMultipleChannelsAllowed() && !disableForm()">
                            <a class="btn-addChannel" ng-click="addNewChannel()" id="mt-{{listIndex}}-addChannel"><i class="fa fa-plus"></i> {{'mobileTerminal.form_inmarsatc_communication_channels_add_new_button' | i18n}}</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
   </div>
</div>
