.context-menu-input > label > input[type="checkbox"], .context-menu-input > label > input[type="radio"] {
  vertical-align: middle;
  margin: 5px 2px 5px -17px;
}

.context-menu-input > label > span {
  vertical-align: middle;
}

.context-menu-item {
  padding: 0px 0px 0px 24px;
}
