.context-menu-input > label > input[type="checkbox"], .context-menu-input > label > input[type="radio"] {
  vertical-align: middle;
  margin: 5px 2px 5px -17px;
}

.context-menu-input > label > span {
  vertical-align: middle;
}

.context-menu-item {
  padding: 0px 0px 0px 24px;
}

.layertree-menu > .fa-caret-down {
  background: #3498DB none repeat scroll 0% 0%;
  width: 15px;
  text-align: center;
  color: #fff;
  margin-left: 5px;
}

.context-menu-item > label {
  font-weight: normal;
  cursor: pointer;
}

.context-menu-item.layer-menu-header {
  padding: 5px 0px 5px 8px;
  font-weight: bold;
  color: #000;
  cursor: default;
}
