.positionsVisiblity {
	.table-no-border,
	div.table-no-border.tableSmart {
		border: 0;
		th {
			border-bottom: 0;
			text-align: center;
			text-transform: uppercase;
			color: #777;
		}
		td {
			text-align: center;
		}
		td:first-child {
			text-align: justify;
			font-weight: bold;
			color: #777;
		}
	}
	.noPadding {
		padding: 0px !important;
	}
	.form-group {
		margin-bottom: 0px;
	}
}