<div class="positionsVisiblity" ng-controller="PositionsvisibilityCtrl">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							{{'spatial.visibility_configuration_table' | i18n}}
							<input type="checkbox" ng-model="selectAll.positions.table" ng-change="selectAllChange('positions','table')">
						</th>
						<th>
							{{'spatial.visibility_configuration_popup' | i18n}}
							<input type="checkbox" ng-model="selectAll.positions.popup" ng-change="selectAllChange('positions','popup')">
						</th>
						<th>
							{{'spatial.visibility_configuration_label' | i18n}}
							<input type="checkbox" ng-model="selectAll.positions.label" ng-change="selectAllChange('positions','label')">
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-if="isPositionVisLoading">
						<th colspan="3" class="loading-spinner-cl"><i class="fa fa-spinner fa-spin loading-spinner"></i></th>
					</tr>
					<tr ng-if="!isPositionVisLoading">
						<td>
							<ul dnd-list="configModel.visibilitySettings.positionTableAttrs" dnd-allowed-types="['Table']">
								<li ng-repeat="attr in configModel.visibilitySettings.positionTableAttrs"
								dnd-draggable="attr"
								dnd-type="attr.type"
								dnd-effect-allowed="move"
								dnd-moved="configModel.visibilitySettings.positionTableAttrs.splice($index, 1);">
									<div class="handle">:::</div>
									<span>{{attr.title}}</span>
									<input type="checkbox" checklist-model="configModel.visibilitySettings.positions.table.values" checklist-value="attr.value" ng-change="selectAllChange('positions','table',true)">
								</li>
							</ul>
						</td>
						<td>
							<ul dnd-list="configModel.visibilitySettings.positionPopupAttrs" dnd-allowed-types="['Popup']">
								<li ng-repeat="attr in configModel.visibilitySettings.positionPopupAttrs"
								dnd-draggable="attr"
								dnd-type="attr.type"
								dnd-effect-allowed="move"
								dnd-moved="configModel.visibilitySettings.positionPopupAttrs.splice($index, 1);">
									<div class="handle">:::</div>
									<span>{{attr.title}}</span>
									<input type="checkbox" checklist-model="configModel.visibilitySettings.positions.popup.values" checklist-value="attr.value" ng-change="selectAllChange('positions','popup',true)">
								</li>
							</ul>
						</td>
						<td>
							<ul dnd-list="configModel.visibilitySettings.positionLabelAttrs" dnd-allowed-types="['Label']">
								<li ng-repeat="attr in configModel.visibilitySettings.positionLabelAttrs"
								dnd-draggable="attr"
								dnd-type="attr.type"
								dnd-effect-allowed="move"
								dnd-moved="configModel.visibilitySettings.positionLabelAttrs.splice($index, 1);">
									<div class="handle">:::</div>
									<span>{{attr.title}}</span>
									<input type="checkbox" checklist-model="configModel.visibilitySettings.positions.labels.values" checklist-value="attr.value" ng-change="selectAllChange('positions','label',true)">
								</li>
							</ul>
						</td>
					</tr>
					<tr ng-if="!isPositionVisLoading">
						<td></td>
						<td class="is-attr-visible-row">
							<span>{{'spatial.visibility_show_attr_names' | i18n}}</span>
							<input type="checkbox" ng-model="configModel.visibilitySettings.positions.popup.isAttributeVisible">
						</td>
						<td class="is-attr-visible-row">
							<span>{{'spatial.visibility_show_attr_names' | i18n}}</span>
							<input type="checkbox" ng-model="configModel.visibilitySettings.positions.labels.isAttributeVisible">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
</div>
