.layer-switcher.shown.ol-control {
    background-color: transparent;
}

.layer-switcher.shown.ol-control:hover {
    background-color: transparent;
}

.layer-switcher {
    position: absolute;
    text-align: left;
}

.layer-switcher.default-control {
    top: 39px;
    right: 7px;
    float: right;
}

.layer-switcher.right-side {
    top: 97px;
    right: 7px;
    float: right;
}

.layer-switcher.left-side {
    top: 97px;
    left: 7px;
}

.layer-switcher.shown {
    bottom: 3em;
}

.layer-switcher .panel {
    padding: 5px;
    margin: 0;
    border: solid 1px #c2c9cc;
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    font-size: 14px ;
    color: #333333;
}

.layer-switcher.shown .panel {
    display: block;
}

.layer-switcher button {
    color: #089fd7;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: solid 1px #c2c9cc;
}

.layer-switcher.shown button {
    display: none;
}

.layer-switcher button:focus, .layer-switcher button:hover {
    background-color: white;
}

.layer-switcher ul {
    padding: 5px;
    list-style: none;
    margin: 0px;
}

.layer-switcher li.group {
    padding-top: 5px;
}

.layer-switcher li.group > label {
    font-weight: bold;
}

.layer-switcher li.layer {
    display: table;
}

.layer-switcher li.layer label, .layer-switcher li.layer input {
    display: table-cell;
    vertical-align: sub;
    font-weight: normal;
}

.layer-switcher input {
    margin: 4px;
}

.layer-switcher.touch ::-webkit-scrollbar {
    width: 4px;
}

.layer-switcher.touch ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.layer-switcher.touch ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
