[ng-controller='CountrystylesCtrl']{
	.searchField {
		margin-bottom: 10px;
	}
	.noBottomPadding {
		margin-bottom: 0px !important;
		padding-left: 0px;
	}
	
	.tableSmart .tbody > .tr .td {
		line-height: 30px;
	}
	
	[st-table] div.tableSmart.table {
		border: 0;
	}
}