<div class="newvessel" ng-controller="getVesselCtrl">
    <div class="row">
        <div class="row col-md-12">

            <div class="col-md-4 vesselname">{{newVesselObj.name}}</div>
            <span class="vesselstatus col-md-10">
                <input type="checkbox" ng-click="changeVesselStatus()" checked>
                <div ng-show="newVesselObj.active == true">STATUS: <b> Active</b><a ng-click="changeVesselStatus()"> &nbsp;(set as inactive)</a></div>
                <div ng-show="newVesselObj.active == false">STATUS: <b> Inactive</b><a ng-click="changeVesselStatus()" > &nbsp;(set as active)</a></div>
            </span>
            <div class="col-md-1">
                <button class="btn btn-sm updatevesselbutton" type="submit" ng-click="updateVessel()"> Update </button>
            </div>
            <div>
                <div class="closenewvessel pull-right" ng-click="toggleGetVessel()"> <img src="assets/images/close.png" /></div>
            </div>
        </div>
        <vessel-details></vessel-details>
    <div class="col-md-12 mobileterminalcontainer row" ng-repeat = "item in newVesselObj.mobileTerminals">
        <a ng-click="removeMobileSystem(item, $index)">-REMOVE SATELLITE SYSTEM</a>
        <mobileterminal terminal="item"></mobileterminal>
    </div>
    <div class="row col-md-12">
        <a ng-click="addNewMobileTerminalToVessel()"><b>+ ADD NEW MOBILE TERMINAL</b></a>
    </div>
    <div class="row col-md-12">
        <span class="vesselhistory col-md-12">EVENT HISTORY</span>
        <span ng-show="enableViewAllEvent"><a ng-click="onViewAllEvent()">View all events</a></span>
        <hr>
        <table class="col-md-12">
            <thead>
                <tr>
                    <th>{{'vessel.event_table_header_code' | i18n}}</th>
                    <th>{{'vessel.event_table_header_date' | i18n}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vesselHistory">
                    <td><a ng-click="onVesselHistoryClick(item.eventHistory.eventId)">{{item.eventHistory.eventCode}}</a></td>
                    <td>{{item.eventHistory.eventDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
