<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="openTicketsContainer">
    <alarms-page-header active-tab="OPEN_TICKETS"></alarms-page-header>
    <div class="container containerWithBottomPadding">

        <div class="card">
            <!-- Advanced search -->
            <advanced-search modeltype="'ALARMS_OPEN_TICKETS'" searchfunc="searchTickets" advancedsearchvisible="true"></advanced-search>

            <!-- Toggle: ALL, OPEN, CLOSED -->
            <div class="row filterRow">
                <div class="col-md-2 editSelection">
                    <uib-dropdown ng-model="editSelection" initialtext="{{'common.actions' | i18n}}" items="editSelectionDropdownItems" menu-style callback="editSelectionCallback" input-field-id="notifications-dropdown-actions"></uib-dropdown>
                </div>

                <div class="col-md-2 available-positions-refresh" ng-click="resetSearch()">
                    <a ng-if="newTicketsCount > 0"><i class="fa fa-refresh"></i> {{ "alarms.new_items_available" | i18n:[newTicketsCount] }}</a>
                </div>
            </div>

            <div static-include="partial/alarms/openTickets/openTicketsList/openTicketsList.html"></div>

        </div>
    </div>
</div>
