<div class="openTicketsContainer">
    <alarms-page-header active-tab="OPEN_TICKETS"></alarms-page-header>
    <div class="container containerWithBottomPadding">

        <div class="card">
            <!-- Advanced search -->
            <div class="row">
                <div class="col-md-11">
                    <advanced-search modeltype="'ALARMS_OPEN_TICKETS'" searchfunc="searchTickets" advancedsearchvisible="true"></advanced-search>
                </div>
                <div class="col-md-1 pull-right textAlignRight printAndExport">
                    <i class="fa fa-lg fa-file" title="{{'common.export_as_csv' | i18n }}" ng-click="exportItemsAsCSVFile()"></i>
                    <i class="fa fa-lg fa-print" title="{{'common.print_page' | i18n }}" ng-click="print()"></i>
                </div>
            </div>

            <!-- Toggle: ALL, OPEN, CLOSED -->
            <div class="row filterRow">
                <div class="col-md-1 editSelection">
                    <dropdown ng-model="editSelection" initialtext="{{'common.edit_selection' | i18n}}" items="editSelectionDropdownItems" callback="editSelectionCallback"></dropdown>
                </div>

                <div class="col-md-10">
                    <div class="">
                        <div class="btn-group">
                            <label class="btn btn-default" ng-model="statusFilter" btn-radio="'all'">
                                {{'alarms.alarms_filter_all' | i18n}}
                            </label>
                            <label class="btn btn-default" ng-model="statusFilter" btn-radio="'open'">
                                {{'alarms.alarms_filter_open' | i18n}}
                            </label>
                            <label class="btn btn-default" ng-model="statusFilter" btn-radio="'closed'">
                                {{'alarms.alarms_filter_closed' | i18n}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div static-include="partial/alarms/openTickets/openTicketsList/openTicketsList.html"></div>
        </div>
        <search-results-pagination page='currentSearchResults.page' total='currentSearchResults.totalNumberOfPages' callback='gotoPage'></search-results-pagination >


    </div>

</div>
