<div class="container containerWithTopBottomPadding exchangeContainer">

	<div class="row exchange-grid-header">
		<!-- Sending queue, transmission status, ... -->
		<div class="col-md-5 smallerpaddingright">
			<div static-include="partial/exchange/tables/exchangeTransmissionStatus.html"></div>
		</div>
        <div class="col-md-7 smallerpaddingleft">
            <div static-include="partial/exchange/tables/exchangeSendingQueue.html"></div>
        </div>
        <div class="clearfix"></div>
	</div>

    <div class="card exchange-log-wrapper">

		<!-- Exchange log table advanced search -->
		<div class="row">
            <div class="col-md-12">
                <advanced-search modeltype="'EXCHANGE'" searchfunc="searchExchange" advancedsearchvisible="true"></advanced-search>
            </div>
		</div>

        <div class="row">
            <div class="col-md-4 available-positions-refresh">
                <a ng-click="resetSearch()" ng-if="newExchangeLogCount > 0"><i class="fa fa-refresh"></i> {{ "movement.new_positions_available" | i18n:[newExchangeLogCount] }}</a>
            </div>
        </div>

		<!-- Toggle: ALL, INCOMING, OUTGOING -->
        <div class="row incoming-outgoing-toggle">
            <div class="col-md-1 editSelection">
                <dropdown ng-model="editSelection" initialtext="{{'common.actions' | i18n}}" items="editSelectionDropdownItems" callback="editSelectionCallback"></dropdown>
            </div>

            <div class="col-md-10">
                <div class="">
                    <div class="btn-group">
                        <label class="btn btn-default" ng-model="exchangeLogsSearchResults.incomingOutgoing" btn-radio="'all'">
                            {{'exchange.title_all' | i18n}}
                        </label>
                        <label class="btn btn-default" ng-model="exchangeLogsSearchResults.incomingOutgoing" btn-radio="'incoming'">
                            <span class="fa fa-arrow-down incoming"></span>
                            {{'exchange.title_incoming' | i18n}}
                        </label>
                        <label class="btn btn-default" ng-model="exchangeLogsSearchResults.incomingOutgoing" btn-radio="'outgoing'">
                            <span class="fa fa-arrow-up outgoing"></span>
                            {{'exchange.title_outgoing' | i18n}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-1 textAlignRight printAndExport">
                <i class="fa fa-lg fa-file" title="{{'common.export_as_csv' | i18n }}" ng-click="exportLogsAsCSVFile()"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div search-results-table search="exchangeLogsSearchResults">
    				<!-- Exchange log table -->
    				<table class="searchResults exchangeLog colorOdd">
    					<thead>
                            <th class="checkboxContainer"><input type="checkbox" ng-checked="isAllChecked()" ng-click="checkAll()"/></th>
                            <th></th>
    						<th></th>
    						<th	sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'dateReceived'">{{'exchange.table_header_date_received' | i18n}}</th>
                            <th sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'source'">{{'exchange.table_header_source' | i18n}}</th>
                            <th sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'logData.type'">{{'exchange.table_header_type' | i18n}}</th>
    						<th sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'sender_reciever'">{{'exchange.table_header_sender_reciever' | i18n}}</th>
    						<th sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'forwardRule'">{{'exchange.table_header_fwd_rule' | i18n}}</th>
    						<th sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'recipient'">{{'exchange.table_header_recipient' | i18n}}</th>
    						<th sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'dateForwarded'">{{'exchange.table_header_date_fwd' | i18n}}</th>
    						<th sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'status'">{{'exchange.table_header_status' | i18n}}</th>
    					</thead>
    					<tbody>
    						<tr ng-repeat="message in exchangeLogsSearchResults.items | filter:filterIncomingOutgoing | orderBy:exchangeLogsSearchResults.sortBy:exchangeLogsSearchResults.sortReverse">
                                <td class="checkboxContainer">
                                    <input type="checkbox" ng-checked="isChecked(message)" ng-click="check(message)"/>
                                </td>
    							<td class="incoming-outgoing" ng-switch="message.incoming">
    								<span ng-switch-when="true" class="fa fa-arrow-down incoming" title="{{'exchange.title_incoming' | i18n}}"></span>
    								<span ng-switch-when="false" class="fa fa-arrow-up outgoing" title="{{'exchange.title_outgoing' | i18n}}"></span>
    							</td>
                                <td>
                                    <!--<a ng-show="exchangePath(message)" href="exchangePath(message)" title="{{'exchange.title_details' | i18n}}">
                                        <span class="fa fa-search-plus details"></span>
                                    </a>-->
                                    <a ng-show="false" ng-click="showMessageDetails(message)" title="{{'exchange.title_details' | i18n}}">
                                        <span class="fa fa-search-plus details"></span>
                                    </a>
                                </td>
    							<td>{{message.dateRecieved | confDateFormat}}</td>
                                <td>{{message.source | transponderName}}</td>
                                <td>{{message.type}}</td>
    							<td>{{message.senderRecipient}}</td>
    							<td>{{message.forwardRule}}</td>
    							<td>{{message.recipient}}</td>
    							<td>{{message.dateForward | confDateFormat}}</td>
    							<td class="status">
                                    <span class="label" ng-class="getStatusLabelClass(message.status)">
                                        {{getStatusLabel(message.status) | uppercase}}
                                    </span>
    							</td>
    						</tr>
    					</tbody>
    				</table>

                </div>

            </div>
        </div>
	</div>

    <search-results-pagination page='exchangeLogsSearchResults.page' total='exchangeLogsSearchResults.totalNumberOfPages' callback='gotoPage'></search-results-pagination >

</div>