.exchange-grid-header {
	height: 200px;
	.sending-queue-list-container {
		height: 200px;
		padding: 0;
	}
	.transmission-status-list-container {
		height: 200px;
		padding: 0;
		padding-right: 5px;
	}
}

.incoming-outgoing-toggle,
.exchange-log-wrapper table.searchResults td.incoming-outgoing {
	text-align:center;
	vertical-align: middle;

	.incoming {
		color: #18a989;
	}

	.outgoing {
		color: #0079FF;
	}  
}

.exchange-log-wrapper {
    .printAndExport{
        position: relative;
        top: 18px;
    }
}  

.incoming-outgoing-toggle {
	border-top: 1px solid #dddddd;
	padding: 20px 0 10px;
	text-align: center;

	.btn-default,
	.btn-default.active {
		color: gray;
		border-color: lightgray;
	}

	.incoming,
	.outgoing {
		padding-right: 5px;
	}

    .editSelection {
        text-align:left;
    }
}

.exchange-log-wrapper {
	margin-top: 10px;
	padding-bottom: 20px;

	table.searchResults {
		.fa {
			color: @primaryColor;
		}
        .details {
            color:@link-color;
        }        
		li {
			float: left;
			padding-right: 20px;
		}
		td.message {
			padding-right: 15px;
		}
		td.message div {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.sending-queue-header, .transmission-queue-header{
	height: 40px;
	border-bottom: 1px solid #dddddd;
	padding-top: 10px;
	i{
		margin-left: 10px;
		color: orange;
	}
}
