<div>
	<div class="container containerWithTopBottomPadding">

		<div class="row exchange-grid-header">
			<!-- Sending queue, transmission status, ... -->
			<div class="col-md-5 transmission-status-list-container">
				<div static-include="partial/exchange/tables/exchangeTransmissionStatus.html"></div>
			</div>
            <div class="col-md-7 sending-queue-list-container">
                <div static-include="partial/exchange/tables/exchangeSendingQueue.html"></div>
            </div>
		</div>
		<div class="row">
			<div class="col-md-12 exchange-log-wrapper card">

				<!-- Exchange log table advanced search -->
				<div class="row">
                    <div class="col-md-12">
                        <advanced-search modeltype="'EXCHANGE'" searchfunc="searchExchange" advancedsearchvisible="true"></advanced-search>
                    </div>
				</div>

				<!-- Toggle: ALL, INCOMING, OUTGOING -->
                <div class="row incoming-outgoing-toggle">
                    <div class="col-md-1 editSelection">
                        <dropdown ng-model="editSelection" initialtext="{{'common.edit_selection' | i18n}}" items="editSelectionDropdownItems" callback="editSelectionCallback"></dropdown>
                    </div>

                    <div class="col-md-10">
                        <div class="">
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="exchangeLogsSearchResults.incomingOutgoing" btn-radio="'all'">
                                    {{'exchange.title_all' | i18n}}
                                </label>
                                <label class="btn btn-default" ng-model="exchangeLogsSearchResults.incomingOutgoing" btn-radio="'incoming'">
                                    <span class="fa fa-arrow-down incoming"></span>
                                    {{'exchange.title_incoming' | i18n}}
                                </label>
                                <label class="btn btn-default" ng-model="exchangeLogsSearchResults.incomingOutgoing" btn-radio="'outgoing'">
                                    <span class="fa fa-arrow-up outgoing"></span>
                                    {{'exchange.title_outgoing' | i18n}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 textAlignRight printAndExport">
                        <i class="fa fa-lg fa-file" title="{{'common.export_as_csv' | i18n }}" ng-click="exportLogsAsCSVFile()"></i>
                        <i class="fa fa-lg fa-print" title="{{'common.print_page' | i18n }}" ng-click="print()"></i>
                    </div>
                </div>

                <div search-results-table search="exchangeLogsSearchResults">
    				<!-- Exchange log table -->
    				<table class="searchResults exchangeLog colorOdd">
    					<thead>
                            <th class="checkboxContainer"><input type="checkbox" ng-checked="isAllChecked()" ng-click="checkAll()"/></th>
                            <th></th>
    						<th></th>
    						<th	sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'dateReceived'">{{'exchange.table_header_date_received' | i18n}}</th>
    						<th sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'sentBy'">{{'exchange.table_header_sent_by' | i18n}}</th>
    						<th sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'forwardRule'">{{'exchange.table_header_fwd_rule' | i18n}}</th>
    						<th sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'recipient'">{{'exchange.table_header_recipient' | i18n}}</th>
    						<th sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'dateForwarded'">{{'exchange.table_header_date_fwd' | i18n}}</th>
    						<th sortable-table-header by="exchangeLogsSearchResults.sortBy" reverse="exchangeLogsSearchResults.sortReverse" order="'status'">{{'exchange.table_header_status' | i18n}}</th>
    						<th>{{'exchange.table_header_actions' | i18n}}</th>
    					</thead>
    					<tbody>
    						<tr ng-repeat="message in exchangeLogsSearchResults.items | filter:filterIncomingOutgoing | orderBy:exchangeLogsSearchResults.sortBy:exchangeLogsSearchResults.sortReverse">
                                <td class="checkboxContainer">
                                    <input type="checkbox" ng-checked="isChecked(message)" ng-click="check(message)"/>
                                </td>
    							<td class="incoming-outgoing" ng-switch="message.outgoing">
    								<span ng-switch-when="false" class="fa fa-arrow-down incoming" title="{{'exchange.title_incoming' | i18n}}"></span>
    								<span ng-switch-when="true" class="fa fa-arrow-up outgoing" title="{{'exchange.title_outgoing' | i18n}}"></span>
    							</td>
                                <td><a href ng-click="showMessageDetails(message)" title="{{'exchange.title_details' | i18n}}"><span class="fa fa-search-plus details"></span></a></td>
    							<td>{{message.dateRecieved | confDateFormat}}</td>
    							<td>{{message.sentBy}}</td>
    							<td>{{message.forwardRule}}</td>
    							<td>{{message.recipient}}</td>
    							<td>{{message.dateForward | confDateFormat}}</td>
    							<td class="status">
                                    <span class="label" ng-class="{SUCCESSFUL:'label-success', PENDING:'label-warning', 'ERROR':'label-danger'}[message.status]">
                                        {{getStatusLabel(message.status) | uppercase}}
                                    </span>
    							</td>
    							<td>
    								<ul>
    									<li><span class="fa fa-refresh fa-lg" title="{{'exchange.title_resend' | i18n}}"></span></li>
    									<li><span class="fa fa-share fa-lg" title="{{'exchange.title_forward' | i18n}}"></span></li>
    								</ul>
    							</td>
    						</tr>
    					</tbody>
    				</table>

                </div>

            </div>

            <search-results-pagination page='exchangeLogsSearchResults.page' total='exchangeLogsSearchResults.totalNumberOfPages' callback='gotoPage'></search-results-pagination >

		</div>

	</div>
</div>
