<div class="clock-panel">
    <fieldset class="col-md-12 fieldsetStyle catch-section">
        <legend class="fieldsetLegendStyle">
            <a>{{'activity.title_fishing_activity' | i18n}}: {{translatedFaType| i18n}}</a>
        </legend>
        <div class="row clock-body {{horizontalAlign ? 'horizontal-align' : ''}}">
            <div class="col-md-{{::horizontalAlign ? (12/clockPanalData.length) : 12}} clock-subsection" ng-repeat="item in clockPanalData" ng-switch="item.arrivalTime !== undefined">
                <div class="row" ng-if="item.arrivalTime">
                    <analog-clock clock-data="item.arrivalTime"></analog-clock>
                    <div><span>{{item.arrivalTime | stDateUtc}}</span></div>
                    <div><span ng-if="item.caption" class="fields">{{ item.caption}}</span></div>
                </div>
                <div ng-if="item.reason || $first"><span class="fields useColon">{{'activity.fa_details_item_reason' | i18n}}</span><span> {{item.reason}}</span></div>
            </div>
        </div>
    </fieldset>
</div>