/*
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
*/
.clock-panel {
    height: 100%;
    .catch-section {
        height: 100%;
        .clock-body {
            margin: 0 5px;
        }
    }
    .clock-subsection {
        .fields {
            font-weight: bold;
            &.useColon::after {
                content: ':'
            }
        }
        padding-bottom: 20px;
        text-align: center;
        &:not(:first-child) {
            border-top: 1px solid #ddd;
            padding-top: 15px;
        }
    }

    .clock-body.horizontal-align {
        .clock-subsection {
            padding-left: 30px;
            padding-right: 30px;
            &:not(:first-child) {
                border-top: 0;
                padding-top: 0;
            }
        }
    }
}