<div class="clock-panel">
    <fieldset class="col-md-12 fieldsetStyle catch-section">
        <legend class="fieldsetLegendStyle">
            <a>{{'activity.title_fishing_activity' | i18n}}: {{translatedFaType| i18n}}</a>
        </legend>
        <div class="row clock-body">
            <div class="col-md-12 clock-subsection" ng-show="{{item.showClock}}" ng-repeat="item in clockPanalData">
                <analog-clock clock-data="item.arrivalTime"></analog-clock>
                <div><span ng-if="item.caption">{{ item.caption}}</span></div>
                <div><span ng-if="$first">{{'activity.activity_summary_reason' | i18n}}: {{item.reason}}</span></div>
            </div>
        </div>
    </fieldset>
</div>