<div class="clock-panel">
    <fieldset class="col-md-12 fieldsetStyle catch-section">
        <legend class="fieldsetLegendStyle">
            <a>{{'activity.title_fishing_activity' | i18n}}: {{translatedFaType| i18n}}</a>
        </legend>
        <div class="row clock-body">
            <div class="col-md-12 clock-subsection" ng-repeat="item in clockPanalData" ng-switch="item.arrivalTime !== undefined">
                <analog-clock ng-switch-when="true" clock-data="item.arrivalTime"></analog-clock>
                <div ng-switch-when="true"><span>{{item.arrivalTime | stDateUtc}}</span></div>
                <div ng-switch-when="true"><span ng-if="item.caption" class="fields">{{ item.caption}}</span></div>
                <div ng-if="item.reason || $first"><span class="fields useColon">{{'activity.fa_details_item_reason' | i18n}}</span><span> {{item.reason}}</span>
                </div>
            </div>
        </div>
    </fieldset>
</div>