<div class="col-md-12 departure-panel" ng-controller="DeparturepanelCtrl">
	<!-- Include directive for fishing trip generic info -->
	<div class="col-md-12 main-content">
		<div class="row title">
			<span ng-class="{useColon: faServ.activityData.operationType}">{{'activity.fa_type_departure' | i18n}}</span>
			<span class="operationType" ng-if="faServ.activityData.operationType">{{'activity.departure_optype_correction' | i18n}}</span>
		</div>
		<div class="row activity-summary-row">
			<activity-summary-tile class="col-md-3 summary-section" fa-type="{{faServ.activityData.faType}}" summary="faServ.activityData.summary"></activity-summary-tile>
			<location-tile class="col-md-2 summary-section" is-clickable="isLocationClickable()" field-title="{{'activity.activity_location_port_departure' | i18n}}" location-details="faServ.activityData.port" click-callback="locationClickCallback()"></location-tile>
			<carousel-tile class="col-md-3 summary-section" tile-title="{{'activity.header_fa_gear' | i18n}}" ng-model="faServ.activityData.gears" template-url="directive/activity/carouselTile/templates/gearTile/gearTile.html"></carousel-tile>
			<fa-report-doc-tile class="col-md-4 summary-section" fa-report="faServ.activityData.reportDoc"></fa-report-doc-tile>
		</div>
		<div class="row activity-summary-row">
			<catch-class-detail-tile class="col-md-12 summary-section" ng-model="faServ.activityData.fishingData" tile-title="{{'activity.departure_catch_detail' | i18n}}" is-location-clickable="isLocationClickable()" buffer-distance="5000" click-callback="locationClickCallback()"></catch-class-detail-tile>
		</div>
	</div>
</div>
