table-chart {
    &,
    .table-chart,
    .table-responsive-force,
    .table-container {
        display: block;
        height: 100%;
    }
    .table-chart {
        position: relative;
        padding-left: 30px;
        .switch-btn {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 16px;
        }
        .table {
            padding: 0;
            .thead {
                position: absolute;
                top: 0;
                left: 0
            }
            .tbody {
                margin-top: 32px;
                max-height: 230px;
                overflow-y: auto;
            }
        }
    }
}