.pollingLogsContainer{
    //SEARCH BUTTONS
    .searchButton{
        width:115px;
        padding-top:5px;
        width: 100%;
    }
    td.searchButton{
        max-width: 100%;
    }

    .searchResultsContainer{
        min-height: 180px;

        .loadingIndicator{
            .spinner{
                margin-top:70px;
            }
        }

        &.isEmpty{
            .loadingIndicator{
                .spinner{
                    margin-top:90px;
                }
            }
        }
    }
    .datepicker{
        width: 100%;
    }
}





table.pollingLogsTable{
    &>thead, &>tbody{
        //Table wrow containing search fields
        &>tr.searchInputRow{
            &>th{
                padding-right: 5px;
                &>input, &>.dropdown{
                    width:100%;
                }
                input{
                    font-weight: normal;
                }
            }

            //Date fields
            &:first-child{
                height: 50px;
            }

            .datepickerStart{
                .datepicker{
                    width: 100%;
                }
            }
        }

        &>tr{
            &>td{
                padding-top:8px;
                vertical-align: top;
                //Search
                &:last-child {
                    //width:0%;
                }
            }
            &>td, &>th{
                width: 10%;

                //Checkbox
                &:first-child {
                    padding-left: 10px;
                    width: 3%;
                }
            }
            &>th{
              //Search button
                &:last-child {
                    text-align: right;
                    padding-right: 0px;
                    padding-left: 5px;
                }
            }
            &>td{
                //Time
                &:nth-child(6) {
                    width: 14%;
                    white-space: nowrap;
                    padding-bottom:8px;
                }
            }

            th.printAndExport{
                i{
                    color:@link-color;
                    cursor: pointer;
                    &:first-child{
                        padding-right: 5px;
                    }
                }
            }

            th.times{
                padding-left: 25px;
            }

            td.statusTime{
                .expandIcon{
                    position: absolute;
                    width: 20px;
                    cursor: pointer;
                    color:@primaryColor;
                }
                div.times{
                    padding-left: 25px;
                }
            }
        }
    }

}