/*
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
 */
.pollingLogsContainer{

    .search-wrapper {
        .row-padding {
            padding: @standardContainerPadding 0;

            &:last-of-type {
                padding-bottom: 0;
            }
        }

        .buttons-wrapper {
            float: right;
        }
    }

    .dropdown-actions {
        padding-bottom: @standardContainerPadding;
    }

    .toggle-search-views {
        padding-top: @standardContainerPadding;
        padding-bottom: @standardContainerPadding * 2;
    }

    .textAlignLeft {
        text-align: left;
    }

    .searchResultsContainer {
        min-height: 180px;

        .loadingIndicator {
            .spinner {
                margin-top: 60px;
            }
        }
    }

    td {
        padding-top: 8px;
        vertical-align: top;
    }

    .col-time {
        padding-left: 25px;

        .row-time {
            display: block;
            margin-top: 3px;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    .col-status-times {
        cursor: pointer;

        .expandIcon {
            position: absolute;
            width: 20px;
            color: @primaryColor;
        }

        &.expanded {
            padding-bottom: 8px;
        }
    }

    .row-status {
        display: block;
        margin-top: 3px;

        &:first-of-type {
            margin-top: 0;
        }

        .status-label {
            font-size: 11px;
            letter-spacing: 0.5px;
            padding: 3px 6px;
            color: #fff;
            border-radius: 3px;
            font-weight: 500;
            background: darken(@profileColor_gray, 15%);

            &.status-label-danger {
                background: @errorColor;
            }

            &.status-label-success {
                background: @successColor;
            }
        }
    }
}