<div class="col-md-12 spatialConfig" ng-controller="ConfigpanelCtrl">
	<div class="containerWrapper">
	    <div class="container containerWithTopBottomPadding containerCollapsible">
	    	<div class="row configHeader">
	            <div class="col-md-11">
	                <h3 class="pull-left">{{'spatial.user_preferences' | i18n }}</h3>
	            </div>
	            <div class="col-md-1 textAlignRight" ng-click="toggleUserPreferences()"> 
	                <i class="fa fa-sign-out signouticon signouticon-extented" title="{{'common.close' | i18n}}"></i>
	            </div>
	        </div>
	        
			<div ng-include="'partial/spatial/configurations/mapSettingsPanel/mapSettingsCollapsiblePanel.html'"></div>
			<div ng-include="'partial/spatial/configurations/vmsStyles/vmsStylesCollapsiblePanel.html'"></div>
		</div>
	</div>
</div>