.spatialConfig {
	.configHeader {
		margin-bottom: 30px;
	}
	accordion {
		.panel {
			border: 0;
			margin: 0;
			border-radius: 0;
		}
		.panel-group {
			margin: 0;
		}
		.panel-heading {
			padding: 0;
			border: 1px solid #dddddd;
			.panel-title-link {
				padding: 10px 15px;
			}
		}
		.panel-heading + .panel-collapse .panel-body {
			border: 1px solid #dddddd;
			border-top-width: 0;
			.dropdown-menu {
				position: static;
			}
		}
	}
}