<div class="col-md-12 spatialConfig spatialConfigNoBottomMargin" ng-controller="ConfigpanelCtrl">
	<div class="containerWrapper">
	    <div class="container containerWithTopBottomPadding spatial-error" ng-show="alert.hasAlert">
			<div class="alert alert-container" role="alert" ng-class="{'alert-danger': alert.hasError, 'alert-success': alert.hasSuccess, 'alert-warning': alert.hasWarning}">
				<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="alert.hasError"></span>
				<span class="fa fa-check-circle" aria-hidden="true" ng-show="alert.hasSuccess"></span>
				<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="alert.hasWarning"></span>
				<span class="alert-message">
					<span>{{alert.alertMessage}}</span>          
				</span>
		    </div>
		</div>
	    <div class="container containerWithTopBottomPadding containerCollapsible">
	    	<loading-panel type="Preferences"></loading-panel>
	    	<loading-panel type="SavePreferences"></loading-panel>
	    	<loading-panel type="ResetPreferences"></loading-panel>
			<div class="col-md-12 preferences-form-header">
				<div class="row btn-container">
					<div class="col-md-6">
						<h3>{{'spatial.user_preferences' | i18n }}</h3>
					</div>
					<div class="col-md-6 textAlignRight">
						<button type="button" class="btn btn-default btn-action" ng-click="repNav.goToPreviousView()">{{'common.cancel' | i18n}}</button>
						<button type="button" class="btn btn-primary btn-action" ng-click="save()">{{'common.save' | i18n}}</button>
					</div>
				</div>
			</div>
	    	<form name="configPanelForm" novalidate>
				<div class="collapsiblePanel" ng-include="'partial/spatial/configurations/mapSettingsPanel/mapSettingsCollapsiblePanel.html'"></div>
				<div class="collapsiblePanel" ng-include="'partial/spatial/configurations/vmsStyles/vmsStylesCollapsiblePanel.html'"></div>
				<div class="collapsiblePanel" ng-include="'partial/spatial/configurations/visibilitySettings/visibilitySettings.html'"></div>
				<div class="collapsiblePanel" ng-include="'partial/spatial/configurations/layerSettings/layerSettings.html'"></div>
				<div class="collapsiblePanel" ng-include="'partial/spatial/configurations/referenceDataSettings/referenceDataSettings.html'"></div>
				<div class="collapsiblePanel">
					<div class="col-md-12 collapsibleRow">
						<div class="buttonGroup">
							<div>
								<button type="button" class="btn btn-default btn-action" ng-click="repNav.goToPreviousView()">{{'common.cancel' | i18n}}</button>
								<button type="button" class="btn btn-primary btn-action" ng-click="save()">{{'common.save' | i18n}}</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
