<div class="col-md-12 spatialConfig spatialConfigNoBottomMargin" ng-controller="ConfigpanelCtrl">
	<div class="containerWrapper">
		<div class="container containerWithTopBottomPadding">
			<div class="row configHeader">
	            <div class="col-md-11">
	                <h3 class="pull-left">{{'spatial.user_preferences' | i18n }}</h3>
	            </div>
	            <div class="col-md-1 textAlignRight" ng-click="toggleUserPreferences()"> 
	                <i class="fa fa-sign-out signouticon signouticon-extented" title="{{'common.close' | i18n}}"></i>
	            </div>
	        </div>
	    </div>
	    <div class="container containerWithTopBottomPadding spatial-error" ng-show="hasError">
			<div class="alert alert-danger alert-container" role="alert">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<span class="alert-message">
					<span>{{errorMessage}}</span>          
				</span>
		    </div>
		</div>
		<div class="container containerWithTopBottomPadding spatial-error" ng-show="hasSuccess">
			<div class="alert alert-success alert-container" role="alert">
				<span class="fa fa-check-circle" aria-hidden="true"></span>
				<span class="alert-message">
					<span>{{'spatial.user_preferences_success_saving' | i18n }}</span>          
				</span>
		    </div>
		</div>
		<div class="container containerWithTopBottomPadding spatial-error" ng-show="hasWarning">
			<div class="alert alert-warning alert-container" role="alert">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<span class="alert-message">
					<span>{{'spatial.user_preferences_warning_saving' | i18n }}</span>          
				</span>
		    </div>
		</div>
	    <div class="container containerWithTopBottomPadding containerCollapsible">
	    	<form name="configPanelForm">
				<div class="collapsiblePanel" ng-include="'partial/spatial/configurations/mapSettingsPanel/mapSettingsCollapsiblePanel.html'"></div>
				<div class="collapsiblePanel" ng-include="'partial/spatial/configurations/vmsStyles/vmsStylesCollapsiblePanel.html'"></div>
				<div class="collapsiblePanel" ng-include="'partial/spatial/configurations/visibilitySettings/visibilitySettings.html'"></div>
				<div class="collapsiblePanel">
					<div class="col-md-12 collapsibleRow">
						<div class="buttonGroup">
							<div>
								<button class="btn btn-primary" ng-click="save()">{{'common.save' | i18n}}</button>
								<button class="btn btn-dedault" ng-click="cancel()">{{'common.cancel' | i18n}}</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
