.spatialConfig {
	.containerCollapsible {
		padding-top: 0;
		.collapsiblePanel {
			&:first-of-type .panel-default {
				padding-top: 15px;
			}
			&:last-of-type .panel-default {
				padding-bottom: 15px;
			}
			.panel-default {
				padding: 0 15px 5px 15px;
			}
		}
	}
	.containerCollapsible,
	.collapsibleRow {
		padding-left: 0;
		padding-right: 0;
	}
	.configHeader {
		margin-bottom: 15px;
	}
	accordion {
		.panel {
			border: 0;
			margin: 0;
			border-radius: 0;
		}
		.panel-group {
			margin: 0;
		}
		.panel-heading {
			padding: 0;
			border: 1px solid #dddddd;
			.panel-title-link {
				padding: 10px 15px;
			}
		}
		.panel-heading + .panel-collapse .panel-body {
			border: 1px solid #dddddd;
			border-top-width: 0;
		}
	}
	.userPreferencesFormContainer {
		padding: 15px;
		display: flex;
		.userPreferencesForm {
			border: 1px solid #ddd;
			padding-top: 10px;
		}
	}
}