.gear-tile {
    padding-left: 35px;
    padding-right: 35px;
    
    .gear-type {
        font-weight: bold;
        font-size: 16px;
    }
    .fieldsetStyle {
        margin-top: 15px;
    }
}

.without-arrows {
    .gear-tile {
        padding-left: 0px;
        padding-right: 0px;
    }
}