.cron-select-wrap {
    vertical-align: top;
}

.select-options {
    display: inline-flex;
}


.position-right{
    float: right;
    padding-right: 30px;
    padding-bottom: 10px;
}

.cronLabel{
    font-weight: bold;
}

.position-right span {
    font-style: italic;
}

.cron-select-wrap {
    margin-left: 10px;
    margin-right: 10px;
}
