.multiselectdropdowncontainer{
	
	.dropdown-menu
	{
		border-radius: 0px;
		width: 100%;
		border-color: #18a689;
		font-size: 12px;
	}
	.dropdown-menu{
		border: solid 1px #18a689 !important;
		border-radius: 0px;
	}
	.fa{
		color: #18a689;
	}

	.multiselectdropdownitem{
		font-size: 12px;
	}
}

.itemselected
{
	background-color: #f5f5f5;
}