<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="vesselForm" ng-controller="VesselFormCtrl">
    <div></div>
    <div class="vesselContainer">
        <form name="vesselForm" method="post" novalidate >
        <div class="card" loading-indicator="waitingForVesselDataResponse || waitingForCreateResponse" size="small" type="SPINNER"> 
            <menu-bar header="'Create new asset'" modeltype="'VESSEL'" ng-model="vesselObj"
                      functions="menuBarFunctions"
                      disable-form="disableForm"
                      is-create-new-mode="isCreateNewMode">
            </menu-bar>
            <div class="row">
                <div class="detailsContainer">
                    <vessel-details vessel="vesselObj" vessel-form="vesselForm" submit-attempted="submitAttempted" disable-form="disableForm()" create-new-mode="isCreateNewMode()" existing-values="existingValues" functions="vesselDetailsFunctions"></vessel-details>
                </div>

                <div class="notesContainer">
                    <div class="col-md-3 notesListContainer">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="form-header">{{'vessel.vessel_notes' | i18n}}</h5>
                            </div>
                            <div class="col-md-6 textAlignRight">
                                <span ng-show="vesselObjOriginal.notes.length > vesselNotesSize"><a ng-click="showVesselNotesList()">{{'common.view_all' | i18n}}</a></span>
                            </div>
                        </div>
                        <table class="fullWidth" ng-show="vesselObjOriginal.notes.length > 0 && !isCreateNewMode()">
                            <thead>
                                <tr>
                                    <th>{{'vessel.event_table_header_code' | i18n}}</th>
                                    <th>{{'vessel.event_table_header_date' | i18n}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vesselObjOriginal.notes | orderBy :'-date' | limitTo: vesselNotesSize track by item.id" class="list">
                                    <td><a ng-click="viewVesselNotesDetails(item)">{{item.activity}}</a></td>
                                    <td>{{item.date | confDateFormat}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <span ng-hide="vesselObjOriginal.notes.length > 0">
                            {{'vessel.vessel_notes_zero_message' | i18n}}
                        </span>
                    </div>
                    <div class="col-md-9 notesForm">
                        <h5 class="form-header">{{'vessel.vesse_notes_new_note' | i18n}}</h5>
                        <vessel-notes vessel-notes="vesselNotesObj" vessel-form="vesselForm" disable-form="disableForm()" status="isVisible.vesselForm" submit-attempted="submitAttempted"></vessel-notes>
                    </div>
                </div>

                <div class="historyAndTerminalInformation">
                    <div class="col-md-3 grayBorderRight historyContainer">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="form-header">{{'vessel.event_history' | i18n}}</h5>
                            </div>
                            <div class="col-md-6 textAlignRight">
                                <span ng-show="isThisVisible.showCompleteVesselHistoryLink"><a ng-click="viewCompleteVesselHistory()">{{'common.view_all' | i18n}}</a></span>
                            </div>
                            <div class="col-md-12" loading-indicator="waitingForHistoryResponse" size="small" type="SPINNER">
                                <table class="fullWidth" ng-show="vesselHistory.length > 0 && !isCreateNewMode()">
                                    <thead>
                                        <tr>
                                            <th>{{'vessel.event_table_header_code' | i18n}}</th>
                                            <th>{{'vessel.event_table_header_date' | i18n}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vesselHistory | orderBy :'-eventHistory.eventDate'" class="list">
                                            <td><a ng-click="viewHistoryDetails(item)">{{item.eventHistory.eventCode}}</a></td>
                                            <td>{{item.eventHistory.eventDate | confDateFormat}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span ng-hide="!isCreateNewMode()">
                                    {{'vessel.event_history_zero_message' | i18n}}
                                </span>
                                <search-result-error-alert ng-show="vesselHistoryError">{{vesselHistoryError}}</search-result-error-alert>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

    <div class="row mobileTerminalsContainer" ng-if="mobileTerminals.length > 0">
        <div class="col-md-12">
            <h3>{{'vessel.connected_mobile_terminals' | i18n}}</h3>
            <div ng-repeat="mobileTerminal in mobileTerminals | orderBy :'[-isCreateNewMode]'" loading-indicator="waitingForMobileTerminalsResponse" size="small" type="SPINNER">
                <mobile-terminal-details mobile-terminal="mobileTerminal" vessel-id="vesselObj.vesselId.guid" modeltype="'VESSEL'" callback="mobileTerminalForm"></mobile-terminal-details>
            </div>
        </div>
    </div>
</div>
