<div class="sending-queue-container card">
    <div class="row card-header">
        <div class="col-md-11">
            <h5>{{'exchange.sending_queue_header' | i18n}}</h5>
            <i ng-hide="sendingQueue.items.length <= 5" class="fa fa-exclamation-triangle fa-lg warning-icon"></i>
            <span ng-hide="sendingQueue.items.length <= 5" class="warning-text">{{'exchange.sending_queue_warning' | i18n}}</span>
        </div>
        <div ng-hide="sendingQueue.items.length <= 0" class="col-md-1 pushright">
            <i class="fa fa-repeat fa-lg" show-if-allowed="Exchange:manageExchangeSendingQueue" title="{{'exchange.sending_queue_table_resendall' | i18n}}" ng-click="resendAllQueued()"></i>
        </div>
    </div>
	<div class="row scroller" loading-indicator="sendingQueue.loading" size="small" type="SPINNER">
        <div class="col-md-12 nopaddingright">
            <h3 ng-show="sendingQueue.items.length <= 0 && !sendingQueue.errorMessage && !sendingQueue.loading">{{'exchange.sending_queue_all_ok' | i18n}}</h3>
            <div ng-hide="sendingQueue.items.length <= 0" class="sendingQueue searchResults">
                <div class="panel_title">
                </div>
                <div class="panel_list" ng-repeat="item in sendingQueue.items | filter:query as results">
                    <div class="list_item">
                        <div class="list_item_header">
                            <h3>{{item.sendingLogList.length}}</h3>
                            <i class="fa fa-plus fa-md" title="{{'exchange.sending_queue_expandgroup' | i18n}}" ng-click="messageVisible = messageVisible ? false:true" ng-show="!messageVisible"></i>
                            <i class="fa fa-minus fa-md" title="{{'exchange.sending_queue_collapsegroup' | i18n}}" ng-click="messageVisible = !messageVisible ? true:false" ng-show="messageVisible"></i>
                            <small>{{'exchange.sending_queue_table_number_of_reports' | i18n}}</small>
                        </div>
                        <div class="list_item_header">
                            <small class="pull-right message_group">{{item.recipient}}</small>
                            <div class="group_action pull-right">
                                <i show-if-allowed="Exchange:manageExchangeSendingQueue" class="fa fa-repeat fa-lg" title="{{'exchange.sending_queue_table_resendgroup'| i18n}}" ng-click="resendAllQueueItemsInGroup(item)" ng-show="!messageVisible"></i>
                            </div>
                        </div>
                        <div class="list_item_container" ng-show="messageVisible">
                            <ul>
                                <li class="list_item_details" ng-repeat="sendingLog in item.sendingLogList" ng-class-odd="'odd'" ng-class-even="'even'">
                                    <div class="details">{{sendingLog.dateRecieved | confDateFormat}}</div>
                                    <div class="details">{{sendingLog.senderRecipient}}</div>
                                    <div class="details"></div>
                                    <div class="details action"><i show-if-allowed="Exchange:manageExchangeSendingQueue" class="fa fa-repeat fa-sm" title="{{'exchange.sending_queue_table_resend'| i18n}}" ng-click="resendQueuedItemInGroup(sendingLog.messageId)"></i></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <search-result-error-alert ng-show="sendingQueue.errorMessage">{{sendingQueue.errorMessage}}</search-result-error-alert>
        </div>
	</div>
</div>