.transmission-status-container{

    .tranmission-status{
        width: 70px;´
        span{
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    .tranmission-action{
        text-align: right;
    }

	table .type{
		font-weight: bold;
		padding-left: 5px;
	}



}