.sending-queue-container{
    table.sendingQueue{

    	overflow: hidden;
    	padding: 0px 10px 0px 0px;

    	td, th{
    		padding-left: 5px;
    		padding-right: 5px;
    		max-width: none;
    	}
    	td.from{
    		.link;
    	}
    	td.action, th.action{
    		.link;
    		max-width: 100px;
    		padding-left: 28px;
    		padding-right: 15px;
    		text-align: right;
    		width: 25%;
    	}
    	thead {
    		border-bottom: none;
    	}

		tbody tr:last-child {
			border-bottom: none;
		}
    }
}