.transmission-status-container{
	border-top: 5px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 200px;

	table .type{
		min-width: 300px;
		max-width: 300px;
		font-weight: bold;
		padding-left: 5px;	
	}

	
}

.transmission-header-text{
  		font-weight: bold;
  		font-size: 14px;
		text-transform: uppercase;
		padding-left: 5px;
}
.tranmission-action{
	//float: right;
	margin-top: 8px;
	span{
		font-size: 12px;
		text-transform: uppercase;
		cursor: pointer;
	}
}