<div class="transmission-status-container card">
    <div class="row card-header">
        <div class="col-md-12">
            <div>
                <h5>{{'exchange.transmission_status_header' | i18n}}</h5>
            </div>
        </div>
    </div>
    <div class="row scroller">
        <div class="col-md-12 nopaddingright">
            <div search-results-table search="transmissionStatuses">
            	<table class="searchResults">
            		<tbody>
            			<tr ng-repeat="item in transmissionStatuses.items">
            				<td class="tranmission-status">
                                <span class="label" ng-class="getStatusLabelClass(item.status)">
                                    {{getTransmissionStatusLabel(item.status) | uppercase}}
                                </span>
                            </td>
                            <td class="type">{{item.name}}</td>
                            <td class="tranmission-action" show-if-allowed="Exchange:manageExchangeTransmissionStatuses">
                                <span class="link" ng-show="item.isOnline()" ng-click="stopTransmissionService(item)">{{'exchange.transmission_action_stop' | i18n}}</span>
                                <span class="link" ng-hide="item.isOnline()" ng-click="startTransmissionService(item)">{{'exchange.transmission_action_start' | i18n}}</span>
                            </td>
            			</tr>
            		</tbody>
            	</table>
            </div>
        </div>
    </div>
</div>
