<div class="sending-queue-container card">
    <div class="row card-header">
        <div class="col-md-11">
            <h5>{{'exchange.sending_queue_header' | i18n}}</h5>
            <i ng-hide="sendingQueue.items.length <= 5" class="fa fa-exclamation-triangle fa-lg warning-icon"></i>
            <span ng-hide="sendingQueue.items.length <= 5" class="warning-text">{{'exchange.sending_queue_warning' | i18n}}</span>
        </div>
        <div class="col-md-1 pushright"><i class="fa fa-refresh fa-lg refresh-icon" ng-click="refreshSendingQue()" title="{{'exchange.sending_table_queue_refreshqueue' | i18n}}"></i></div>
    </div>
	<div class="row scroller">
        <div class="col-md-12 nopaddingright">
            <!--<pre>{{sendingQueue.items | json}}</pre>-->
            <h3 ng-show="sendingQueue.items.length <= 0">{{'exchange.sending_queue_all_ok' | i18n}}</h3>
            <table ng-hide="sendingQueue.items.length <= 0" class="sendingQueue searchResults">
                <thead>
                    <th></th>
                    <th></th>
                    <th class="recieved recievedheader">{{'exchange.sending_queue_table_header_date_received' | i18n}}</th>
                    <!--<th class="from">{{'exchange.sending_queue_table_header_from' | i18n}}</th>-->
                    <th class="reciepient recipientheader">{{'exchange.sending_queue_table_header_recipient' | i18n}}</th>
                   <!-- <th class="from"><{{'exchange.sending_queue_table_header_from' | i18n}}</th>-->
                    <th class="action" show-if-allowed="Exchange:manageExchangeSendingQueue"><i class="fa fa-repeat fa-lg" title="{{'exchange.sending_queue_table_resendall' | i18n}}" ng-click="resendAllQueued()"></i></th>
                </thead>
                <tbody ng-repeat="item in sendingQueue.items | filter:query as results" class="delimiter">
                    <tr class="sending-queue-group" ng-class-odd="'odd'" ng-class-even="'even'">
                        <th>
                            <i class="fa fa-plus fa-md" title="{{'exchange.sending_queue_expandgroup' | i18n}}" ng-click="messageVisible = messageVisible ? false:true" ng-show="!messageVisible"></i>
                            <i class="fa fa-minus fa-md" title="{{'exchange.sending_queue_collapsegroup' | i18n}}" ng-click="messageVisible = !messageVisible ? true:false" ng-show="messageVisible"></i>
                        </th>
                        <th>{{results.length}} {{'exchange.sending_queue_table_number_of_reports' | i18n}}</th>
                        <td class="sendingqueue_header">{{item.sendingLogList[0].dateRecieved}}</td>
                        <td class="sendingqueue_header">{{item.recipient}}</td>
                        <!--<td class="reciepient sendingqueue_header">{{'exchange.sending_queue_table_allmessages_in_group' | i18n}}</td>-->
                        <td class="action">
                            <i class="fa fa-repeat fa-md" title="{{'exchange.sending_queue_table_resendgroup'| i18n}}" ng-click="resendAllQueueItemsInGroup(item)" ng-show="!messageVisible"></i>
                        </td>
                    </tr>
                    <tr ng-show="messageVisible" ng-repeat="sendingLog in item.sendingLogList">
                        <td></td>
                        <td></td>
                        <td class="messagedetails">{{sendingLog.dateRecieved}}</td>
                        <td class="messagedetails">{{item.recipient}}</td>
                        <td class="messagedetails action">
                            <i class="fa fa-repeat fa-sm" title="{{'exchange.sending_queue_table_resend'| i18n}}" ng-click="resendQueuedItemInGroup(sendingLog.id)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
             <search-result-error-alert ng-show="search.errorMessage">{{search.errorMessage}}</search-result-error-alert>
           <!--
            -->
        </div>
	</div>
</div>