<div ng-controller="PositionstylesCtrl">
	<ng-form name="positionsForm" novalidate>
		<div class="row">
			<div class="form-group col-md-4">
				<combobox ng-model="configModel.positionStyle.attribute" initialtext="{{'spatial.position_property' | i18n }}" items="positionProperties" ng-change="changeProperty()"></combobox>
			</div>
			<div class="form-group col-md-4 btn-add" ng-show="configModel.positionStyle.attribute && ['speedOverGround','calculatedSpeed'].indexOf(configModel.positionStyle.attribute) !== -1">
				<a ng-class='{ disabled: !configModel.positionStyle.attribute || !isAddNewRuleActive}' ng-click="!configModel.positionStyle.attribute || !isAddNewRuleActive || addNewRule()" title="{{'spatial.property_add_rule' | i18n }}">
					<span class="btn btn-primary btn-sm btn-circle"><i class="fa fa-plus"></i></span>
					{{'spatial.property_add_rule' | i18n }}
				</a>
			</div>
		</div>
		<div class="row rulesList">
			<div ng-if="configModel.positionStyle.attribute === 'countryCode'" ng-include="'partial/spatial/configurations/vmsStyles/generalStyles/countryStyles/countryStyles.html'" ng-init="lastComponentStyle = 'positions'" class="col-md-12"></div>
			<div ng-repeat="item in configModel.positionStyle.style" ng-include="'partial/spatial/configurations/vmsStyles/generalStyles/ruleRow/ruleRow.html'" ng-if="configModel.positionStyle.attribute !== 'countryCode'" ng-init="lastComponentStyle = 'positions'"></div>
		</div>
		<div class="row defaultItem" ng-if="configModel.positionStyle.attribute && ['speedOverGround','calculatedSpeed'].indexOf(configModel.positionStyle.attribute) !== -1">
			<ng-form name="defaultForm" novalidate>
				<div class="row col-md-12">
					<div class="form-group col-md-3" ng-class="{'has-error': (defaultForm.$error.segDefColor || defaultForm.$error.requiredField) && defaultForm.$dirty}">
						<label>{{'spatial.default_color' | i18n}}</label>
						<div class="colorPickerComponent">
							<div ng-style="{'background-color': configModel.positionStyle.defaultColor && configModel.positionStyle.defaultColor.length > 3 && configModel.positionStyle.defaultColor.indexOf('#') != -1 ? configModel.positionStyle.defaultColor : '#fff'}" class="form-control pickedcolor">
					       		<i class="fa fa-ban" ng-hide="configModel.positionStyle.defaultColor && configModel.positionStyle.defaultColor.length > 3 && configModel.positionStyle.defaultColor.indexOf('#') != -1"></i>
					        </div>
					        <input class="form-control" name="defaultColor" colorpicker ng-model="configModel.positionStyle.defaultColor" type="text" ng-change="validateDefaultColor();"/>
						</div>
					</div>
					<div class="defaultColorMessages form-group col-md-4" ng-messages="defaultForm.$error" ng-show="defaultForm.$dirty">
						<div ng-message="requiredField">{{'spatial.required_error_message' | i18n }}</div>
						<div ng-message="segDefColor">{{'spatial.invalid_color_error_message' | i18n }}</div>
					</div>
				</div>
			</ng-form>	
		</div>
	</ng-form>
</div>
