<div class="fishingActivityNavigator">
	<div class="activity-slider slider-left" ng-if="timeline.previousItem.idx || timeline.previousItem.idx >= 0">
		<div class="slider-container container-left" ng-click="goToItem('previous')">
			<a>
				<i class="fa fa-chevron-up"></i>
				<div class="slider-title">
					{{'activity.fa_navigator_previous' | i18n}}: {{'activity.activity_type_' + timeline.previousItem.type.toLowerCase() | i18n}}
				</div>
			</a>
		</div>
	</div>
<div class="fa-partial" ng-include="partial"></div>
	<div class="activity-slider slider-right" ng-if="timeline.nextItem.idx">
		<div class="slider-container container-right" ng-click="goToItem('next')">
			<a>
				<i class="fa fa-chevron-up"></i>
				<div class="slider-title">
					{{'activity.fa_navigator_next' | i18n}}: {{'activity.activity_type_' + timeline.nextItem.type.toLowerCase() | i18n}}
				</div>
			</a>
		</div>
	</div>
</div>