<div class="vesselContacts">
    <fieldset ng-disabled="disableForm">
        <a id="asset-btn-add-contact" class="btn-addContact" ng-click="functions.addContactItemCallback(vesselContacts)" ng-hide="disableForm">
            <i class="fa fa-plus"></i> {{ 'vessel.vessel_details_contact_add' | i18n }}
        </a>
        <div class="contact-list">

            <div class="contact-item card" ng-if="vesselContacts.length > 0" ng-repeat="contact in vesselContacts | orderBy:orderByOwner">
                <contact-item contact-item="contact" dirty-status="setVesselContactDirtyStatus">
                    <div class="row card-header">
                        <div class="col-md-8 textAlignLeft">
                            <label>{{contact.name}}</label>
                        </div>
                        <div class="textAlignRight">
                            <div id="asset-btn-remove-contact" class="btn btn-sm btn-default btn-removeContact" ng-if="vesselContacts.length > 0" ng-click="functions.removeContactItemCallback($index)" ng-hide="disableForm">
                                <i class="fa fa-trash" title="{{ 'vessel.vessel_details_contact_remove' | i18n }}"></i>
                            </div>
                        </div>

                    </div>
                    <div class="row row-top">
                        <div class="col-md-8">
                            <div class="col-md-4 form-group smallerpaddingright" ng-class="{'has-error': (contact.name === undefined || contact.name.length === 0)}" >
                                <label>{{ 'vessel.vessel_details_contact_name' | i18n }}</label>
                                <input type="text" name="contactName" id="asset-input-contact-name-{{$index}}" class="form-control" ng-model="contact.name" ng-required="true" />
                            </div>
                            <div class="col-md-3 form-group smallerpadding">
                                <label>{{ 'vessel.vessel_details_contact_email' | i18n }}</label>
                                <input type="email" name="contactEmail" id="asset-input-contact-email-{{$index}}" class="form-control" ng-model="contact.email"/>
                            </div>
                            <div class="col-md-2 form-group smallerpadding">
                                <label>{{ 'vessel.vessel_details_contact_number' | i18n }}</label>
                                <input type="text" name="contactNumber" id="asset-input-contact-number-{{$index}}" class="form-control" ng-model="contact.phoneNumber"/>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="col-md-2 form-group smallerpaddingright">
                                <label>{{ 'vessel.vessel_details_contact_street_name' | i18n }}</label>
                                <input type="text" name="contactStreetName" id="asset-input-contact-streetname-{{$index}}" class="form-control" ng-model="contact.streetName"/>
                            </div>
                            <div class="col-md-2 form-group smallerpadding">
                                <label>{{ 'vessel.vessel_details_contact_zip' | i18n }}</label>
                                <input type="text" name="contactZipCode" id="asset-input-contact-zipcode-{{$index}}" class="form-control" ng-model="contact.zipCode"/>
                            </div>
                            <div class="col-md-3 form-group smallerpadding">
                                <label>{{ 'vessel.vessel_details_contact_city_name' | i18n }}</label>
                                <input type="text" name="contactCityName" id="asset-input-contact-cityname-{{$index}}" class="form-control" ng-model="contact.cityName"/>
                            </div>
                            <div class="col-md-2 form-group smallerpadding">
                                <label>{{ 'vessel.vessel_details_contact_country' | i18n }}</label>
                                <!--<input type="text" name="contactCountry" id="asset-input-contact-country-{{$index}}" class="form-control" ng-model="contact.country"/>-->
                                <dropdown  ng-model="contact.country" items="countryCodes" initialtext="{{'vessel.vessel_details_contact_country' | i18n}}" input-field-id="asset-input-contact-country-{{$index}}"></dropdown>
                            </div>
                        </div>
                    </div>
                </contact-item>

            </div>
        </div>
    </fieldset>
</div>
