/*
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
*/
.carousel-tile {
    padding-left: 5px;
    padding-right: 5px;
    .dropdown-menu {
        max-height: 150px !important;
    }
    .active-menu {
        font-weight: bold;
    }
    .fieldsetLegendStyle {
        margin-bottom: 10px !important;
        A:first-child {
            cursor: default;
        }
        .fa {
            color: @primaryColor;
            cursor: pointer;
        }
    }
    .item-container {
        display: flex;
        .labels {
            font-weight: bold;
            white-space: nowrap;
            &::after {
                content: ':'
            }
        }
    }
    .carousel-paginator {
        margin-right: 15px;
        margin-top: 15px;
        text-align: right;
    }
    [uib-carousel] {
        &.without-arrows {
            padding-left: 10px;
            padding-right: 10px;
            cursor: default;
            .carousel-control {
                display: none;
            }
        }
        .carousel-indicators {
            display: none;
        }
        .carousel-control {
            top: 30px;
            width: 17px;
            background: #fff;
            span {
                margin-left: 0;
                font-size: 20px;
            }
            &.left span {
                left: -5px;
            }
            &.right span {
                right: -5px;
            }
        }
    }
    .no-data {
        text-align: center;
        top: 20px;
        bottom: 0;
        left: 15px;
        right: 15px;
        position: absolute;
        div {
            display: table;
            height: 100%;
            span {
                display: table-cell;
                vertical-align: middle;
                font-size: 22px;
                color: #ddd;
            }
        }
    }
}

