<fieldset class="col-md-12 fieldsetStyle carousel-tile">
	<legend class="fieldsetLegendStyle">
		<a>{{tileTitle}}</a>&nbsp;
		<span uib-dropdown ng-if="ngModel.length > 1 && displayTopNav">
			<a href>
				<i class="fa fa-caret-down" aria-hidden="true" uib-dropdown-toggle></i>
			</a>
			<ul class="dropdown-menu" uib-dropdown-menu>
				<li ng-repeat="item in ngModel track by $index">
					<a ng-click="setActiveItem($index)" ng-class="{'active-menu': isItemActive($index)}">{{item.type}}</a>
				</li>
			</ul>
		</span>		
	</legend>
	<div uib-carousel ng-class="{'without-arrows': ngModel.length <= 1}" ng-if="ngModel.length > 0">
		<div uib-slide ng-repeat="item in ngModel track by $index" active="item.active" index="$index">
			<div ng-include="templateUrl"></div>
		</div>
		<!--CAROUSEL NEXT/PREVIOUS BUTTONS-->
        <a role="button" href class="left carousel-control">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a role="button" href class="right carousel-control">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
        </a>
	</div>
	<div class="row no-data" ng-if="!ngModel || ngModel.length === 0">
		<div class="col-md-12">
			<span>{{'activity.no_data' | i18n}}</span>
		</div>
	</div>
</fieldset>