<fieldset class="col-md-12 fieldsetStyle carousel-tile">
	<legend class="fieldsetLegendStyle">
		<a>{{tileTitle}}</a>&nbsp;
		<span uib-dropdown ng-if="ngModel.length > 1 && displayTopNav">
			<a href>
				<i class="fa fa-caret-down" aria-hidden="true" uib-dropdown-toggle></i>
			</a>
			<ul class="dropdown-menu" uib-dropdown-menu>
				<li ng-repeat="item in ngModel track by $index">
					<a ng-click="setActiveItem($index)" ng-class="{'active-menu': isItemActive($index)}">{{item.type}}</a>
				</li>
			</ul>
		</span>
	</legend>
	<slick settings="slickConfig" ng-if="isLoaded">
		<div ng-repeat="item in ngModel track by $index">
			<div ng-include="templateUrl"></div>
		</div>
	</slick>
	<div class="carousel-paginator" ng-if="ngModel.length > 1 && currentItem">{{ 'activity.carousel_paginator' | i18n:[currentItem, ngModel.length]}}</div>
	<div class="row no-data" ng-if="!ngModel || ngModel.length === 0">
		<div class="col-md-12">
			<span>{{'activity.no_data' | i18n}}</span>
		</div>
	</div>
</fieldset>