.activity {
    .no-wrap-white-space {
        white-space: nowrap;
    }

    /**** FIXME REMOVE EVERYTHING BELOW THIS LINE WHEN REVERTING TO NORMAL ACTIVITY*******************/
    background-color: #fff;
    padding-top: 10px;
    padding: 15px;
    overflow-y: auto;
    height: calc(~"100vh - 128px");
    .fullHeight {
        height: 100%;
    }
}