<!--
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="col-md-12 activity">
	<div class="container containerWithTopBottomPadding">
		<div class="alert-container" ng-show="actServ.alert.hasError">
			<table-alert type="'error'" msg="actServ.alert.msg" visible="actServ.alert.hasError" closable="true"></table-alert>
		</div>
		<breadcrumb-navigator items="actServ.breadcrumbPages" callback="breadcrumbClick()" ng-if="actServ.breadcrumbPages.length > 0"></breadcrumb-navigator>
		<div class="card">
			<loading-panel type="FishingActivity"></loading-panel>
			<div class="row card-body">
				<div class="col-md-12" ng-include="'partial/activity/advancedSearchForm/advancedSearchForm.html'" ng-show="isPartialVisible(0)"></div>
			</div>
			<div class="row card-body">
				<div class= "col-md-12">
				<ul class=" nav nav-tabs top-tabs" role="tablist" ng-if="isPartialVisible(0)">
					<li ng-repeat="tab in activityTabMenu" ng-show="isTabVisible('{{tab.tab}}')" ng-click="selectTab(tab.tab)"
						ng-class="{'active': selectedTab === '{{tab.tab}}'}"><a>{{tab.title}}</a></li>
				</ul>
				</div>
				<div>
					<div ng-show="isTabSelected('ACTIVITES')">
						<div ng-include="'partial/activity/activityReportsList/activityReportsList.html'" ng-show="isPartialVisible(0)"></div>
						<div ng-include="'partial/activity/activityHistory/activityHistory.html'" ng-if="isPartialVisible(1)"></div>
						<div ng-include="'partial/activity/activityHistoryList/activityHistoryList.html'" ng-if="isPartialVisible(2)"></div>
						<div ng-include="'partial/activity/activityDetails/activityDetails.html'" ng-if="isPartialVisible(5)"></div>
					</div>
					<div  ng-show="isTabSelected('TRIPS')">
						<div ng-include="'partial/activity/tripReportsList/tripReportsList.html'" ng-show="isPartialVisible(0)"></div>
					</div>
					<loading-panel type="TripSummary"></loading-panel>
					<div class="trip-summary">
						    <div ng-include="'partial/activity/activityTripSummary/activityTripSummary.html'" ng-if="isPartialVisible(3)"></div>						
						    <div ng-include="'partial/spatial/tripsPanel/catchDetails/catchDetails.html'" ng-if="isPartialVisible(4)"></div>
					        <div ng-include="'partial/spatial/tripsPanel/catchEvolution/catchEvolution.html'" ng-if="isPartialVisible(6)"></div>
					</div>
					<div ng-include="'partial/activity/tripActivityDetail/tripActivityDetails.html'" ng-if="isPartialVisible(7)"></div>
				</div>
			</div>
		</div>
	</div>
</div>