<!--
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="col-md-12 activity">
	<div class="container containerWithTopBottomPadding">
		<!-- <div class="alert alert-danger" role="alert">TEST</div> -->
		<div class="alert-container" ng-show="actServ.alert.hasError">
			<table-alert type="'error'" msg="actServ.alert.msg" visible="actServ.alert.hasError" closable="true"></table-alert>	
		</div>
		<breadcrumb-navigator items="actServ.breadcrumbPages" callback="breadcrumbClick()" ng-if="actServ.breadcrumbPages.length > 0"></breadcrumb-navigator>
        <div class="card">
            <div class="row card-body">
            	<div class="col-md-12" ng-include="'partial/activity/advancedSearchForm/advancedSearchForm.html'" ng-show="isPartialVisible(0)"></div>
            	<div ng-include="'partial/activity/activityReportsList/activityReportsList.html'" ng-if="isPartialVisible(0)"></div>
            	<div ng-include="'partial/activity/activityHistory/activityHistory.html'" ng-if="isPartialVisible(1)"></div>
            	<div ng-include="'partial/activity/activityHistoryList/activityHistoryList.html'" ng-if="isPartialVisible(2)"></div>
            	<div ng-include="'partial/activity/activityDetails/activityDetails.html'" ng-if="isPartialVisible(3)"></div>
		    </div>
        </div>
    </div>
</div>

