<div class="col-md-12 collapsibleRow" ng-controller="LayersettingsCtrl">
	<ng-form name="layersettingsForm">
		<accordion close-others="oneAtATime">
			<accordion-group is-open="status.isOpen">
				<accordion-heading>
					<div class="panel-title-link" ng-click="toggleOpen()">
						{{'spatial.layer_settings' | i18n }}
						<div class="accordionError" ng-show="submitedWithErrors && layersettingsForm.$invalid">
							<div class="fa fa-exclamation-circle"></div>
							{{'spatial.section_errors' | i18n }} - {{'spatial.base_list_error' | i18n }}
						</div>
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isOpen, 'glyphicon-chevron-right': !status.isOpen}"></i>
					</div>
				</accordion-heading>
				<div class="row" ng-class="{'layerUserConfig': !isAdminConfig}">
					<div class="accordionError baseLayersError" ng-show="(submitedWithErrors || layersettingsForm.$dirty) && layersettingsForm.baseLayers.$invalid">
						<div class="fa fa-exclamation-circle"></div>
						{{'spatial.base_layers_error' | i18n }}
					</div>
					<div class="col-md-8 layerSettingChoices">
						<div class="containerWithBottomPadding">
							<div>
								<div class="sectionMenu">
									<ul class="horizontal pipeSeparator">
										<li ng-repeat="menu in headerMenus" ng-click="selectMenu(menu.menu)" ng-class="{'active': selectedMenu === '{{menu.menu}}'}"><a>{{menu.title}}</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div ng-if="isMenuSelected('PORTS')" ng-include="'partial/spatial/configurations/layerSettings/ports/ports.html'"></div>
						<div ng-if="isMenuSelected('AREAS')" ng-include="'partial/spatial/configurations/layerSettings/areas/areas.html'"></div>
						<div ng-if="isMenuSelected('ADDITIONALCARTOGRAPHY')" ng-include="'partial/spatial/configurations/layerSettings/additionalcartography/additionalcartography.html'"></div>
						<div ng-if="isMenuSelected('BACKGROUND')" ng-include="'partial/spatial/configurations/layerSettings/background/background.html'"></div>
					</div>
					<div class="col-md-4">
						<div class="container-element layerSelection">
					        <h3>{{'spatial.layer_tree' | i18n }}</h3>
					        <div class="column">
					        	<h5>{{'spatial.layer_settings_port' | i18n }}</h5>
					        	<button type="button" class="btn btn-default btn-xs btn-clear-list" type="button" ng-click="layersettingsForm.$setDirty();selectedPorts.splice(0, selectedPorts.length);"><span class="fa fa-trash"></span>&nbsp;<span>{{'common.clear' | i18n }}</span></button>
							    <ul dnd-list="selectedPorts" dnd-allowed-types="['port', 'portarea']" dnd-drop="checkIfExists(item,selectedPorts,layersettingsForm)">
							        <li ng-repeat="item in selectedPorts"
							            dnd-draggable="item"
							            dnd-type="item.subType"
							            dnd-effect-allowed="move"
							            dnd-dragstart="layersettingsForm.$setDirty();selectedPorts.splice($index, 1);"
							            dnd-canceled="selectedPorts.splice($index, 1);">
							            <div class="handle">:::</div>
   										<div class="item">{{item.name}}</div>
							        </li>
							    </ul>
					        </div>
					        <div class="column">
					        	<h5>{{'spatial.layer_settings_area' | i18n }}</h5>
					        	<button type="button" class="btn btn-default btn-xs btn-clear-list" type="button" ng-click="layersettingsForm.$setDirty();selectedAreas.splice(0, selectedAreas.length);"><span class="fa fa-trash"></span>&nbsp;<span>{{'common.clear' | i18n }}</span></button>
							    <ul dnd-list="selectedAreas"
							     dnd-allowed-types="['sysarea','userarea','areagroup']" 
							     dnd-drop="checkIfExists(item,selectedAreas,layersettingsForm);">								        
								 	<li ng-repeat="item in selectedAreas"
							            dnd-draggable="item"
							            dnd-type="item.areaType"
							            dnd-effect-allowed="move"
							            dnd-dragstart="layersettingsForm.$setDirty();selectedAreas.splice($index, 1);"
							            dnd-canceled="selectedAreas.splice($index, 1);"
							            type='{{item.areaType}}'>
							            <div class="area-item">
								            <div class="handle">:::</div>
    										<div class="item">{{item.name}}</div>
   										</div>
							        </li>
							    </ul>
					        </div>
					        <div class="column">
					        	<h5>{{'spatial.layer_settings_additional' | i18n }}</h5>
					        	<button type="button" class="btn btn-default btn-xs btn-clear-list" type="button" ng-click="layersettingsForm.$setDirty();selectedAdditionals.splice(0, selectedAdditionals.length);"><span class="fa fa-trash"></span>&nbsp;<span>{{'common.clear' | i18n }}</span></button>
							    <ul dnd-list="selectedAdditionals" dnd-allowed-types="['additional','others']" dnd-drop="checkIfExists(item,selectedAdditionals,layersettingsForm)">
							        <li ng-repeat="item in selectedAdditionals"
							            dnd-draggable="item"
							            dnd-type="item.subType"
							            dnd-effect-allowed="move"
							            dnd-dragstart="layersettingsForm.$setDirty();selectedAdditionals.splice($index, 1);"
							            dnd-canceled="selectedAdditionals.splice($index, 1);">
							            <div class="handle">:::</div>
   										<div class="item">{{item.name}}</div>
							        </li>
							    </ul>
					        </div>
					        <ng-form name="baseLayers">
						        <div class="column">
						        	<h5>{{'spatial.layer_settings_base' | i18n }}</h5>
						        	<button type="button" class="btn btn-default btn-xs btn-clear-list" type="button" ng-click="layersettingsForm.$setDirty();selectedBases.splice(0, selectedBases.length);validateBackGroundLayers();"><span class="fa fa-trash"></span>&nbsp;<span>{{'common.clear' | i18n }}</span></button>
								    <ul dnd-list="selectedBases" dnd-allowed-types="['background','others']" dnd-drop="checkIfExists(item,selectedBases,layersettingsForm,true);">
								        <li ng-repeat="item in selectedBases"
								            dnd-draggable="item"
								            dnd-type="item.subType"
								            dnd-effect-allowed="move"
								            dnd-dragstart="layersettingsForm.$setDirty();selectedBases.splice($index, 1);validateBackGroundLayers();"
								            dnd-canceled="selectedBases.splice($index, 1);">
								            <div class="handle">:::</div>
    										<div class="item">{{item.name}}</div>
								        </li>
								    </ul>
						        </div>
					        </ng-form>
					        <div class="clearfix"></div>
					    </div>
					</div>
				</div>
				<div class="col-md-12 col-btn-no-padding" ng-if="isUserPreference">
					<button type="button" class="btn btn-default pull-right" ng-click="reset()">{{'spatial.settings_reset_btn' | i18n}}</button>
				</div>
				<div class="col-md-12 col-btn-no-padding" ng-if="isReportConfig">
					<button type="button" class="btn btn-default pull-right" ng-click="reset()">{{'spatial.settings_clear_btn' | i18n}}</button>
				</div>
			</accordion-group>
		</accordion>
	</ng-form>
</div>
