.container-element {
	border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 60px;
    background-color: #f5f5f5;
    -webkit-box-shadow: 4px 3px 14px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 14px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 3px 14px -3px rgba(0, 0, 0, 0.75);
    h3 {
    	background-color: #f5f5f5;
	    margin: 0;
	    padding: 10px;
	    border-bottom: 1px solid #ccc;
	    border-radius: 4px 4px 0 0;
    }
    h5 {
		margin: 10px 10px 0 10px;
		border: 1px solid #089fd7;
		border-radius: 4px 4px 0 0;
		padding: 10px;
		background-color: #089fd7;
		color: #fff;
	}
	.noLayersMessage {
		background-color: #fff;
	}
    ul[dnd-list] {
    	margin: 0 10px 10px 10px;
    	border: 1px solid #089fd7;
    	border-radius: 0 0 4px 4px;
    	position: relative;
    	background-color: #fff;
    	li {
    		display: block;
    		position: relative;
    		padding: 2px 8px;
    		border-bottom: 1px solid #ddd;
    		background-color: #fff;
    		&:last-child {
    			border-bottom: 0;
    			border-radius: 0 0 4px 4px;
    		}
    		&:hover {
    			background-color: #f5f5f5;
    		}
    		&:empty {
    			background-color: #ddd;
    			height: 24px;
    		}
    		&.dndDraggingSource {
    			display: none;
    		}
    		.dndPlaceholderAlternative {
    			background-color: #ddd;
    			height: 24px;
    		}
    		.handle {
    			cursor: move;
    		}
    		> * {
    			display: inline-block;
    		}
    	}
    }
    &.layerSelection {
	    ul[dnd-list="selectedSysAreas"] {
	    	padding-right: 10px;
		    margin-bottom: 0;
		    background-color: #87BDF3;
		    > li {
		    	&:empty {
	    			background-color: #ddd;
	    		}
		    }
	    }
	    ul[dnd-list="selectedUserAreas.areas"] {
	    	padding-right: 10px;
	    	background-color: #6FC474;
	    	> li {
		    	&:empty {
	    			background-color: #ddd;
	    		}
	    	}
	    }
    }
}

.layerSettingChoices .container-element {
	text-align: center;
    border: 0;
    padding: 5px;
    background-color: #f5f5f5;
    -webkit-box-shadow: 4px 3px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 14px -3px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 14px -3px rgba(0,0,0,0.75);
    
    h5,
    [dnd-list] {
    	margin: 0;
    }
    [dnd-list] {
	    li {
		    line-height: 30px;
	    }
    }
    
    h5 {
    	line-height: 30px;
    	    padding: 5px;
    }
    
    .sysAreaList {
    	h5 {
    		background-color: #66ACF1;
    	}
    	h5,
    	ul {
    		border-color: #66ACF1;
    	}
    }
    
    .userAreaList {
    	h5 {
    		background-color: #6FC474;
    	}
    	h5,
    	ul {
    		border-color: #6FC474;
    		&:empty {
	    		border: 0;
	    	}
    	}
    }
}

.layerUserConfig {
	.container-element.layerSelection ul[dnd-list="selectedSysAreas"] {
		&,
		> li:last-child {
	    	border-radius: 0;
	    }
	}
}
