<div class="col-md-12">
	<span class="header">{{windowTitle}}</span>
</div>
<div class="col-md-12 info-content">
	{{#alarm}}
	<div class="row">
		<div class=col-md-6>
			<span class="title">{{titles.name}}</span>
			<span>{{alarm.name}}</span>
		</div>
		<div class=col-md-6>
			<span class="title">{{titles.fs}}</span>
			<span>{{alarm.fs}}</span>
		</div>
	</div>
	<div class="row">
		<div class=col-md-6>
			<span class="title">{{titles.extMark}}</span>
			<span>{{alarm.extMark}}</span>
		</div>
		<div class=col-md-6>
			<span class="title">{{titles.ircs}}</span>
			<span>{{alarm.ircs}}</span>
		</div>
	</div>
	<div class="row">
		<div class=col-md-12>
			<span class="title">{{titles.cfr}}</span>
			<span>{{alarm.cfr}}</span>
		</div>
	</div>
	{{/alarm}}
</div>