<!-- <div>Showing {{currentPage}} to {{pages.length}} of {{displayedReports.length}} entries</div> -->
<ul class="pagination pagination-sm">
   <li ng-class="{disabled: currentPage==1}">
   	<a ng-click="selectPage(currentPage-1)" class="previous">Previous</a>
   </li>
   <li ng-repeat="page in pages" ng-class="{active: page==currentPage}" ng-if="numPages > 0">
	<a ng-click="selectPage(page)" class="ng-binding">{{ page }}</a>
   </li>
   <li ng-class="{disabled: currentPage==numPages}">
   	<a ng-click="selectPage(currentPage+1)" class="next">Next</a>
   </li>
</ul>
