<div class="col-md-12">
	<span class="header">{{titles.vessel_tag}}</span>
	<span class="name">{{properties.name}}</span>
</div>
<div class="col-md-12 info-content">
	<table class="table table-striped table-condensed table-bordered">
		{{#visibility.fs}}
		<tr>
			<td class="col-md-6"><b>{{titles.fs}}</b></td>
			<td class="col-md-6">{{properties.countryCode}}</td>
		</tr>
		{{/visibility.fs}}
		{{#visibility.extMark}}
		<tr>
			<td class="col-md-6"><b>{{titles.extMark}}</b></td>
			<td class="col-md-6">{{properties.externalMarking}}</td>
		</tr>
		{{/visibility.extMark}}
		{{#visibility.ircs}}
		<tr>
			<td class="col-md-6"><b>{{titles.ircs}}</b></td>
			<td class="col-md-6">{{properties.ircs}}</td>
		</tr>
		{{/visibility.ircs}}
		{{#visibility.cfr}}
		<tr>
			<td class="col-md-6"><b>{{titles.cfr}}</b></td>
			<td class="col-md-6">{{properties.cfr}}</td>
		</tr>
		{{/visibility.cfr}}
		{{#visibility.posTime}}
		<tr>
			<td class="col-md-6"><b>{{titles.posTime}}</b></td>
			<td class="col-md-6">{{formatedDate}}</td>
		</tr>
		{{/visibility.posTime}}
		{{#visibility.lon}}
		<tr>
			<td class="col-md-6"><b>{{titles.lon}}</b></td>
			<td class="col-md-6">{{coordinates.lon}}</td>
		</tr>
		{{/visibility.lon}}
		{{#visibility.lat}}
		<tr>
			<td class="col-md-6"><b>{{titles.lat}}</b></td>
			<td class="col-md-6">{{coordinates.lat}}</td>
		</tr>
		{{/visibility.lat}}
		{{#visibility.stat}}
		<tr>
			<td class="col-md-6"><b>{{titles.stat}}</b></td>
			<td class="col-md-6">{{properties.status}}</td>
		</tr>
		{{/visibility.stat}}
		{{#visibility.m_spd}}
		<tr>
			<td class="col-md-6"><b>{{titles.m_spd}}</b></td>
			<td class="col-md-6">{{properties.reportedSpeed}}</td>
		</tr>
		{{/visibility.m_spd}}
		{{#visibility.c_spd}}
		<tr>
			<td class="col-md-6"><b>{{titles.c_spd}}</b></td>
			<td class="col-md-6">{{properties.calculatedSpeed}}</td>
		</tr>
		{{/visibility.c_spd}}
		{{#visibility.crs}}
		<tr>
			<td class="col-md-6"><b>{{titles.crs}}</b></td>
			<td class="col-md-6">{{properties.reportedCourse}}</td>
		</tr>
		{{/visibility.crs}}
		{{#visibility.msg_tp}}
		<tr>
			<td class="col-md-6"><b>{{titles.msg_tp}}</b></td>
			<td class="col-md-6">{{properties.movementType}}</td>
		</tr>
		{{/visibility.msg_tp}}
		{{#visibility.act_tp}}
		<tr>
			<td class="col-md-6"><b>{{titles.act_tp}}</b></td>
			<td class="col-md-6">{{properties.activityType}}</td>
		</tr>
		{{/visibility.act_tp}}
		{{#visibility.src}}
		<tr>
			<td class="col-md-6"><b>{{titles.source}}</b></td>
			<td class="col-md-6">{{properties.source}}</td>
		</tr>
		{{/visibility.src}}
	</table>
</div>