<!-- <div class="col-md-12">
	<span class="header">Vessel</span>
	<span class="name">{{asset.name}}</span>
</div>
<div class="col-md-12 info-content">
	<table class="table table-striped table-condensed table-bordered">
		{{#asset.fs}}
		<tr>
			<td class="col-md-6">FS</td>
			<td class="col-md-6">{{asset.fs}}</td>
		</tr>
		{{/asset.fs}}
		<tr>
			<td class="col-md-6">IRCS</td>
			<td class="col-md-6">{{asset.ircs}}</td>
		</tr>
		<tr>
			<td class="col-md-6">Ext. marking</td>
			<td class="col-md-6">{{asset.externalmark}}</td>
		</tr>
		<tr>
			<td class="col-md-6">CFR</td>
			<td class="col-md-6">{{asset.cfr}}</td>
		</tr>
	</table>
</div>
 -->

 <div class="col-md-12">
	<span class="header">{{'spatial.reports_form_vessels_search_by_vessel' | i18n}}</span>
	<span class="name">{{asset.name}}</span>
</div>
<div class="col-md-12 info-content">
	<table class="table table-striped table-condensed table-bordered">
		<tr>
			<td class="col-md-6">FS</td>
			<td class="col-md-6">{{asset.fs}}</td>
		</tr>
		<tr>
			<td class="col-md-6">IRCS</td>
			<td class="col-md-6">{{asset.ircs}}</td>
		</tr>
		<tr>
			<td class="col-md-6">Ext. marking</td>
			<td class="col-md-6">{{asset.externalmark}}</td>
		</tr>
		<tr>
			<td class="col-md-6">CFR</td>
			<td class="col-md-6">{{asset.cfr}}</td>
		</tr>
	</table>
</div>
 