<div class="col-md-12">
	<span class="header">{{titles.vessel_tag}}</span>
	<span class="name">{{properties.name}}</span>
</div>
<div class="col-md-12 info-content">
	<table class="table table-striped table-condensed table-bordered">
		{{#visibility.fs}}
		<tr>
			<td class="col-md-6">{{titles.fs}}</td>
			<td class="col-md-6">{{properties.cc}}</td>
		</tr>
		{{/visibility.fs}}
		{{#visibility.ircs}}
		<tr>
			<td class="col-md-6">{{titles.ircs}}</td>
			<td class="col-md-6">{{properties.ircs}}</td>
		</tr>
		{{/visibility.ircs}}
		{{#visibility.cfr}}
		<tr>
			<td class="col-md-6">{{titles.cfr}}</td>
			<td class="col-md-6">{{properties.cfr}}</td>
		</tr>
		{{/visibility.cfr}}
		<!-- {{#visibility.extMark}}
		<tr>
			<td class="col-md-6">{{titles.extMark}}</td>
			<td class="col-md-6">{{properties.asset.externalmark}}</td>
		</tr>
		{{/visibility.extMark}} -->
		{{#visibility.dist}}
		<tr>
			<td class="col-md-6">{{titles.dist}}</td>
			<td class="col-md-6">{{properties.dist}}</td>
		</tr>
		{{/visibility.dist}}
		{{#visibility.dur}}
		<tr>
			<td class="col-md-6">{{titles.dur}}</td>
			<td class="col-md-6">{{properties.dur}}</td>
		</tr>
		{{/visibility.dur}}
		{{#visibility.spd}}
		<tr>
			<td class="col-md-6">{{titles.spd}}</td>
			<td class="col-md-6">{{properties.spd_o_gnd}}</td>
		</tr>
		{{/visibility.spd}}
		{{#visibility.crs}}
		<tr>
			<td class="col-md-6">{{titles.crs}}</td>
			<td class="col-md-6">{{properties.crs_o_gnd}}</td>
		</tr>
		{{/visibility.crs}}
		
		<!-- {{#visibility.}}
		<tr>
			<td class="col-md-6">{{titles.}}</td>
			<td class="col-md-6">{{properties.}}</td>
		</tr>
		{{/visibility.}} -->
	</table>
</div>