<div class="col-md-12">
	<span class="header">{{titles.vessel_tag}}</span>
	<span class="name">{{properties.name}}</span>
</div>
<div class="col-md-12 info-content">
	<table class="table table-striped table-condensed table-bordered">
		{{#visibility.fs}}
		<tr>
			<td class="col-md-6"><b>{{titles.fs}}</b></td>
			<td class="col-md-6">{{properties.countryCode}}</td>
		</tr>
		{{/visibility.fs}}
		{{#visibility.ircs}}
		<tr>
			<td class="col-md-6"><b>{{titles.ircs}}</b></td>
			<td class="col-md-6">{{properties.ircs}}</td>
		</tr>
		{{/visibility.ircs}}
		{{#visibility.cfr}}
		<tr>
			<td class="col-md-6"><b>{{titles.cfr}}</b></td>
			<td class="col-md-6">{{properties.cfr}}</td>
		</tr>
		{{/visibility.cfr}}
		<!-- {{#visibility.extMark}}
		<tr>
			<td class="col-md-6">{{titles.extMark}}</td>
			<td class="col-md-6">{{properties.asset.externalmark}}</td>
		</tr>
		{{/visibility.extMark}} -->
		{{#visibility.dist}}
		<tr>
			<td class="col-md-6"><b>{{titles.dist}}</b></td>
			<td class="col-md-6">{{properties.distance}}</td>
		</tr>
		{{/visibility.dist}}
		{{#visibility.dur}}
		<tr>
			<td class="col-md-6"><b>{{titles.dur}}</b></td>
			<td class="col-md-6">{{properties.duration}}</td>
		</tr>
		{{/visibility.dur}}
		{{#visibility.spd}}
		<tr>
			<td class="col-md-6"><b>{{titles.spd}}</b></td>
			<td class="col-md-6">{{properties.speedOverGround}}</td>
		</tr>
		{{/visibility.spd}}
		{{#visibility.crs}}
		<tr>
			<td class="col-md-6"><b>{{titles.crs}}</b></td>
			<td class="col-md-6">{{properties.courseOverGround}}</td>
		</tr>
		{{/visibility.crs}}
		
		<!-- {{#visibility.}}
		<tr>
			<td class="col-md-6">{{titles.}}</td>
			<td class="col-md-6">{{properties.}}</td>
		</tr>
		{{/visibility.}} -->
	</table>
</div>