<!-- ng-if="userRights.featureList[24] != 'viewUsers'" -->
<!-- ng-if="userRights.featureList.indexOf('viewUsers') > -1" -->
<div id="usersListDiv" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline" name="searchForm">
                        <div class="row">
                            <div class="col-md-12 zero-side-padding">
                                <div class="col-md-2 zero-side-padding" style="width:14%; margin-left: 4px; margin-right: 4px;">
                                    <label for="user">Name search</label>
                                    <span class="fa fa-question-circle" tooltip="{{usernameTooltip}}"></span>
                                    <input type="text" class="form-control" style="width:100%;"
                                           id="user"
                                           name="user"
                                           ng-model="search.user">
                                </div>
                                <div class="col-md-2 zero-side-padding" style="width:12%; margin-right: 4px;">
                                    <label>{{ 'users.nation' | translate }}</label>
                                    <div>
                                        <dropdown ng-model="search.nation" initialText="Nation..." data="value" title="label" items="nationsList"></dropdown>
                                        <!--
                                        <select class="form-control dropdown" style="width: 100%;"
                                                id="nation"
                                                name="nation"
                                                ng-model="search.nation"
                                                ng-options="nation for nation in nationsList"
                                                ng-class="{pointer: pointer}"
                                                ng-mouseenter="pointer=true"
                                                ng-mouseleave="pointer=false">
                                            <option value="">Nation...</option>
                                        </select>
                                        -->
                                    </div>
                                </div>
                                <div class="col-md-2 zero-side-padding" style="width:14%; margin-right:4px;">
                                    <div>
                                        <label>{{ 'users.organisation' | translate }}</label>
                                        <dropdown ng-model="search.organisation" initialText="Organisation..." data="value" title="label" items="organisationsList"></dropdown>
                                        <!--
                                            <select class="form-control dropdown" style="width: 100%;"
                                                    id="organisation"
                                                    name="organisation"
                                                    ng-model="search.organisation"
                                                    ng-options="organisation.parentOrgName for organisation in organisationsList"
                                                    ng-class="{pointer: pointer}"
                                                    ng-mouseenter="pointer=true"
                                                    ng-mouseleave="pointer=false">
                                                <option value="">Organisation...</option>
                                            </select>
                                         -->
                                    </div>
                                </div>
                                <div class="col-md-2 zero-side-padding" style="width:10%; margin-right:4px;">
                                    <label>{{ 'users.status' | translate }}</label>
                                    <dropdown ng-model="search.status" data="value" title="label" items="statusList"></dropdown>
                                    <!--
                                    <select class="form-control dropdown" style="width: 100%;"
                                            id="status"
                                            name="status"
                                            ng-model="search.status"
                                            ng-options="'users.status_'+status | translate for status in statusList"
                                            ng-init="search.status = statusList[0]"
                                            ng-class="{pointer: pointer}"
                                            ng-mouseenter="pointer=true"
                                            ng-mouseleave="pointer=false">
                                    </select>
                                    -->
                                </div>
                                <div class="col-md-2 zero-side-padding" style="width:17%; margin-right:4px;">
                                    <div>
                                        <label>{{ 'users.activeFrom' | translate }}</label>

                                        <div>
                                            <datepicker-input model="search.activeFrom"></datepicker-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 zero-side-padding" style="width:17%; margin-right:4px;">
                                    <div>
                                        <label>{{ 'users.activeTo' | translate }}</label>

                                        <div>
                                            <datepicker-input model="search.activeTo"></datepicker-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 zero-side-padding text-right" style="width:13%; margin-right:4px;">
                                    <div style="width: 100%;">
                                        <label>&nbsp;</label>

                                        <div>
                                            <button type="button" id="submit" ng-click="searchUsers()" class="btn btn-primary btn-sm">{{'common.search' | translate}}</button>
                                            <button type="button" id="button" ng-click="resetForm()" class="btn btn-link btn-sm">{{'common.reset' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <table st-table="displayedUsers" st-safe-src="userList" class="searchResults">
                    <colgroup>
                        <!---  Total should be 1140px fo EC template--->
                        <col style="width: 150px;">
                        <col style="width: 150px;">
                        <col style="width: 150px;">
                        <col style="width: 80px;">
                        <col style="width: 180px;">
                        <col style="width: 110px;">
                        <col style="width: 110px;">
                        <col style="width: 80px;">
                        <col style="width: 130px;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th ng-click="changeSorting('userName')">{{ 'users.userName' | translate }}&nbsp;<i class="fa" ng-class="getIcon('userName')"></i></th>
                        <th ng-click="changeSorting('firstName')">{{ 'users.firstName' | translate }}&nbsp;<i class="fa" ng-class="getIcon('firstName')"></i></th>
                        <th ng-click="changeSorting('lastName')">{{ 'users.lastName' | translate }}&nbsp;<i class="fa" ng-class="getIcon('lastName')"></i></th>
                        <th ng-click="changeSorting('nation')">{{ 'users.nation' | translate }}&nbsp;<i class="fa" ng-class="getIcon('nation')"></i></th>
                        <th ng-click="changeSorting('organisation')">{{ 'users.organisation' | translate }}&nbsp;<i class="fa" ng-class="getIcon('organisation')"></i></th>
                        <th ng-click="changeSorting('activeFrom')">{{ 'users.activeFrom' | translate }}&nbsp;<i class="fa" ng-class="getIcon('activeFrom')"></i></th>
                        <th ng-click="changeSorting('activeTo')">{{ 'users.activeTo' | translate }}&nbsp;<i class="fa" ng-class="getIcon('activeTo')"></i></th>
                        <th ng-click="changeSorting('status')">{{ 'users.status' | translate }}&nbsp;<i class="fa" ng-class="getIcon('status')"></i></th>
                        <th class="text-center">
                            <!-- New Button -->
                            <div class="tableHeader" ng-if="checkAccess('manageUsers')">
                                <!-- <label><input type="checkbox" ng-model="inactiveUsers" ng-change="change(inactiveUsers)" ng-true-value="'N'" ng-false-value="'Y'">Show Inactive Users</label> -->
                                <button type="button" id="newUserButton" ng-controller="newUserController" ng-click="addNewUser()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-plus"></i> New User
                                </button>
                            </div>
                        </th>
                    </tr>
                    </thead>

                    <tbody ng-if="!isDataLoading">
                    <tr st-select-row="user" st-select-mode="single" ng-repeat="user in displayedUsers">
                        <td>{{user.userName}}</td>
                        <td>{{user.person.firstName}}</td>
                        <td>{{user.person.lastName}}</td>
                        <td>{{user.organisation.nation}}</td>
                        <td>{{ user.organisation_parent }}</td>
                        <td>{{user.activeFrom | date:'yyyy-MM-dd'}}</td>
                        <td>{{user.activeTo | date:'yyyy-MM-dd'}}</td>
                        <td>
                            <span ng-class="{'label label-success': user.status=='E', 'label label-danger': user.status=='D', 'label label-warning': user.status=='L'}">{{"users.status_"+user.status | translate}}</span>
                        </td>
                        <td class="text-center">
						 <span ng-controller="manageUserCtlr" ng-if="checkAccess('manageUsers')">
							<button type="button" id="editUser" class="btn btn-sm btn-primary" ng-click="editUser(user)">
                                <i class="fa fa-pencil"></i>
                            </button>
						 </span>
						<span ng-if="checkAccess('manageUsers')||checkAccess('viewUsers')">
							<button type="button" id="viewUser" class="btn btn-sm btn-primary"
                                    ui-sref="app.usm.users.userDetails({userName: user.userName})"
                                    ui-sref-opts="{ inherit : false }">
                                <i class="fa fa-eye"></i>
                            </button>
						 </span>
						 <span ng-controller="manageUserCtlr" ng-if="checkAccess('manageUsers')">
							<button type="button" class="btn btn-sm btn-primary" ng-click="duplicateUserProfile(user)">
                                <i class="fa fa-files-o"></i>
                            </button>
						 </span>
                        </td>

                    </tr>
                    </tbody>

                    <tbody ng-if="isDataLoading">
                    <tr>
                        <td colspan="5" class="text-center">{{loadingMessage}}</td>
                    </tr>
                    </tbody>

                    <tbody ng-if="emptyResult">
                    <tr>
                        <td colspan="5">{{emptyResultMessage}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <usm-pagination config="paginationConfig"></usm-pagination>
            </div>
        </div>
    </div>

    <div ng-show="isLoading" class="loading-indicator"></div>

</div>

