.fa-report-tile {
    .fieldsetLegendStyle {
        margin-bottom: 10px !important;
    }
    .item-container {
        display: flex;
        .labels {
            font-weight: bold;
            white-space: nowrap;
            &::after {
                content: ':'
            }
        }
    }
    .inner-fieldset {
        margin-top: 15px;
    }
}