.reportVesselDetails{
	
    .header{
    	background-color: white;
        margin-bottom: 5px;
        font-size: 18px;
        text-transform: none;
        min-height: 0px;
        .vesselName{
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .itemType {
        	font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: #777;
            margin-right: 15px;
        }
    }
    
    .closeIconContainer {
		position: absolute;
		top: 40px;
		right: 30px;
	}
    
    .errorAlert {
    	text-align: justify !important;
    	font-size: 14px !important;
    }
    
    .margin-setup {
    	padding: 0px 15px;
    }
    
    .loading {
    	text-align: center;
    	font-size: 30px;
    }
    
    .withMarginBottom {
    	div.dataTables_paginate {
			float: none !important;
			width: 100%;
			text-align: right;
			margin-bottom: 15px;
		}
    }
    
    .highlightRow {
    	background-color: #3498db !important;
    	color: #FFF;
    	font-weight: bold;
    }

    b, h5{
        text-transform: none;
    }
    
    h5{
        color:#777;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

.search-table{
	div.dataTables_paginate {
		float: none !important;
		width: 100%;
		text-align: right;
	}
}