/*
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
*/
.reportVesselDetails{
	
    .modal-header{
    	background-color: white;
        margin-bottom: 5px;
        font-size: 18px;
        text-transform: none;
        min-height: 0px;
        .vesselName{
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .itemType {
        	font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: #777;
            margin-right: 15px;
        }
    }
    
    .closeIconContainer {
		position: absolute;
		top: 40px;
		right: 30px;
	}
    
    .errorAlert {
    	text-align: justify !important;
    	font-size: 14px !important;
    }
    
    .margin-setup {
    	padding: 0px 15px;
    }
    
    .loading {
    	text-align: center;
    	font-size: 30px;
    }
    
    .withMarginBottom {
    	div.dataTables_paginate {
			float: none !important;
			width: 100%;
			text-align: right;
			margin-bottom: 15px;
		}
    }
    
    .highlightRow {
    	background-color: #3498db !important;
    	color: #FFF;
    	font-weight: bold;
    }

    b, h5{
        text-transform: none;
    }
    
    h5{
        color:#777;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}
