<div class="modal-header" style="text-align:left">
    <div class="pointer pull-right" ng-click="cancel()"> 
        <span class="fa fa-times"></span>
    </div>
    <h4 class="modal-title" id="saveVesselGroupModalLabel">{{'vessel.save_group' | i18n}}</h4>
</div>
<div class="modal-body">
    <input type="text" placeholder="Choose a title for your group" ng-model="saveData.name" ng-change="unsetExistingGroupAsSaveTarget()">
    <div ng-show="existingGroups.length > 0">
        <span class="dropdownMessage">{{'vessel.save_as_the_following_group' | i18n}}:</span>

        <div class="dropdown">
            <button class="btn btn-lg dropdown-toggle" type="button" id="saveGroupDropdown"  data-toggle="dropdown" aria-expanded="true">
                <div class="dropdowntext">
                    <span ng-show="saveData.existingGroup">{{saveData.existingGroup.name}}</span>
                    <span ng-show="!saveData.existingGroup">{{'vessel.select_a_group' | i18n}}</span>
                </div>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="groupDropdown">
                <li ng-repeat="group in existingGroups | orderBy:'name'">
                   <a ng-click="setExistingGroupAsSaveTarget(group)">{{group.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{'vessel.cancel' | i18n}}</button>
    <button type="button" class="btn btn-primary" ng-click="saveVesselGroup()" ng-disabled="!isValidSaveData()">{{'vessel.save' | i18n}}</button>
</div>
