<div class="modal-header" style="text-align:left">
    <div class="pointer pull-right" ng-click="cancel()">
        <i class="fa fa-times closeicon"></i>
    </div>
    <h4 class="modal-title">{{ 'alarms.position_report_header' | i18n }}</h4>
</div>

<div class="modal-body" loading-indicator="waitingForStatusUpdateResponse">

    <div class="alert alert-danger">
        <i class="fa fa-warning"></i> {{warningMessage}}
    </div>

    <div class="row">
        <div class="col-md-12">
            {{'common.status' | i18n}}
            <span class="label" ng-class="getStatusLabelClass(alarm.status)">{{getStatusLabel(alarm.status) | uppercase}}</span>

            {{'alarms.position_report_recipient' | i18n}}  <b>{{alarm.recipient}}</b>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="sectionHeader">
                    {{'alarms.position_report_asset_information' | i18n}}
                </div>
                <!-- Hide link for now. -->
                <span class="assignAssetLink" ng-click="toggleAssignAsset()" ng-if="!readOnly && !knownVessel && false">{{'alarms.position_report_assign_asset_from_list' | i18n}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>{{'movement.manual_position_field_label_flag_state' | i18n}}</label>
                <div class="value" ng-show="alarm.placeholderVessel">{{alarm.placeholderVessel.countryCode}}</div>
                <div class="value" ng-show="!alarm.placeholderVessel && alarm.movement">{{alarm.movement.flagState}}</div>
                <div class="value" ng-show="!alarm.placeholderVessel && !alarm.movement && alarm.asset.ids.FLAG_STATE">{{alarm.asset.ids.FLAG_STATE}}</div>
                <div class="value missing" ng-show="!alarm.placeholderVessel && !alarm.movement && !alarm.asset.ids.FLAG_STATE">{{'alarms.position_report_information_value_missing' | i18n}}</div>
            </div>
            <div class="col-md-3">
                <label>{{'movement.manual_position_field_label_ircs' | i18n}}</label>
                <div class="value" ng-show="alarm.placeholderVessel">{{alarm.placeholderVessel.ircs}}</div>
                <div class="value" ng-show="!alarm.placeholderVessel && alarm.vessel">{{alarm.vessel.ircs}}</div>
                <div class="value" ng-show="!alarm.placeholderVessel && !alarm.vessel && alarm.asset.ids.IRCS">{{alarm.asset.ids.IRCS}}</div>
                <div class="value missing" ng-show="!alarm.placeholderVessel && !alarm.vessel && !alarm.asset.ids.IRCS">{{'alarms.position_report_information_value_missing' | i18n}}</div>
            </div>
            <div class="col-md-3">
                <label>{{'movement.manual_position_field_label_cfr' | i18n}}</label>
                <div class="value" ng-show="alarm.placeholderVessel">{{alarm.placeholderVessel.cfr}}</div>
                <div class="value" ng-show="!alarm.placeholderVessel && alarm.vessel">{{alarm.vessel.cfr}}</div>
                <div class="value" ng-show="!alarm.placeholderVessel && !alarm.vessel && alarm.asset.ids.CFR">{{alarm.asset.ids.CFR}}</div>
                <div class="value missing" ng-show="!alarm.placeholderVessel && !alarm.vessel && !alarm.asset.ids.CFR">{{'alarms.position_report_information_value_missing' | i18n}}</div>
            </div>
            <div class="col-md-3">
                <label>{{'movement.manual_position_field_label_external_marking' | i18n}}</label>
                <div class="value" ng-show="alarm.placeholderVessel">{{alarm.placeholderVessel.externalMarking}}</div>
                <div class="value" ng-show="!alarm.placeholderVessel && alarm.movement">{{alarm.movement.externalMarking}}</div>
                <div class="value" ng-show="!alarm.placeholderVessel && !alarm.movement && alarm.asset.ids.EXTERNAL_MARKING">{{alarm.asset.ids.EXTERNAL_MARKING}}</div>
                <div class="value missing" ng-show="!alarm.placeholderVessel && !alarm.movement && !alarm.asset.ids.EXTERNAL_MARKING">{{'alarms.position_report_information_value_missing' | i18n}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>{{'movement.manual_position_field_label_name' | i18n}}</label>
                <div class="value" ng-show="alarm.placeholderVessel">{{alarm.placeholderVessel.name}}</div>
                <div class="value" ng-show="!alarm.placeholderVessel && alarm.movement">{{alarm.movement.assetName}}</div>
                <div class="value" ng-show="!alarm.placeholderVessel && !alarm.movement && alarm.asset.ids.NAME">{{alarm.asset.ids.NAME}}</div>
                <div class="value missing" ng-show="!alarm.placeholderVessel && !alarm.movement && !alarm.asset.ids.NAME">{{'alarms.position_report_information_value_missing' | i18n}}</div>
            </div>
            <div ng-if="showDnid"class="col-md-3">
                <label>{{'mobileTerminal.table_header_dnid' | i18n}}</label>
                <div class="value" ng-show="channelDnid">{{channelDnid}}</div>
                <div class="value missing" ng-hide="channelDnid">-</div>
            </div>
            <div ng-if="showMemberNumber" class="col-md-3">
                <label>{{'mobileTerminal.table_header_member_no' | i18n}}</label>
                <div class="value" ng-show="channelMemberNumber">{{channelMemberNumber}}</div>
                <div class="value missing" ng-hide="channelMemberNumber">-</div>
            </div>
        </div>

        <div class="row" ng-show="isVisible.assignAsset">
            <div class="col-md-12">
                <div class="searchVesselContainer">
                    <div class="row searchFormContainer">
                        <form>
                            <!-- Search input -->
                            <div class="col-md-5">
                                <input type="text" class="form-control searchText" placeholder="{{'vessel.search_vessel_placeholder' | i18n}}" ng-model="assignAssetSearchText">
                            </div>

                            <!-- Type Dropdown -->
                            <div class="col-md-5">
                                <dropdown ng-model="assignAssetSearchType" no-placeholder-item items="assignAssetSearchTypes"></dropdown>
                            </div>

                            <!-- Search button -->
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary btn-sm searchButton" ng-click="searchVessel()" ng-disabled="!assignAssetSearchText">
                                    <span class="fa fa-search" aria-hidden="true"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div search-results-table search="currentSearchResults" class="col-md-12">
                            <table class="searchResults colorOdd" ng-show="currentSearchResults.items.length > 0">
                                <thead>
                                    <tr>
                                        <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'ircs'">{{"vessel.ircs" | i18n}}</th>
                                        <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'name'">{{"vessel.name" | i18n}}</th>
                                        <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'cfr'">{{"vessel.cfr" | i18n}}</th>
                                        <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'externalMarking'">{{"vessel.external_marking" | i18n}}</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="vessel in currentSearchResults.items | orderBy:currentSearchResults.sortBy:currentSearchResults.sortReverse">
                                    <td>{{vessel.ircs}}</td>
                                    <td>{{vessel.name}}</td>
                                    <td>{{vessel.cfr}}</td>
                                    <td>{{vessel.externalMarking}}</td>
                                    <td class="textAlignRight">
                                        <button ng-show="!alarm.placeholderVessel || !vessel.equals(alarm.placeholderVessel)" type="button" class="btn btn-primary" ng-click="selectVessel(vessel)">
                                            {{"common.add" | i18n | uppercase}}
                                        </button>
                                        <button ng-show="alarm.placeholderVessel && vessel.equals(alarm.placeholderVessel)" type="button" class="btn btn-success" ng-click="unselectVessel(vessel)">
                                            {{"common.added" | i18n | uppercase}}
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <search-results-pagination page='currentSearchResults.page' total='currentSearchResults.totalNumberOfPages' callback='gotoPage'></search-results-pagination >
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- 
        <div class="row">
            <div class="col-md-12">
                <div class="sectionHeader">
                    {{'alarms.position_report_mobile_terminal_information' | i18n}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>{{'alarms.position_report_mobile_terminal_information_type' | i18n}}</label>
                <div class="value">???</div>
            </div>
        </div>
 -->


        <div class="row">
            <div class="col-md-12">
                <div class="sectionHeader">
                    {{'alarms.position_report_position_information' | i18n}}
                </div>
            </div>
        </div>
        <div class="row loadingMovementContainer" ng-show="loadingMovement">
            <div class="col-md-12" loading-indicator="loadingMovement" type="SPINNER" size="small">
            </div>
        </div>

        <div ng-hide="loadingMovement || loadingMovementError">
            <div class="row">
                <!-- Status -->
                <div alarm-report-field="'movement.manual_position_field_label_status'"
                     field-value="alarm.movement.movement.status"
                     class="col-md-3">
                </div>
                <!-- Time -->
                <div alarm-report-field="'movement.manual_position_field_label_date_time'"
                     field-value="alarm.movement.time | confDateFormat"
                     class="col-md-3">
                </div>
            </div>
            <div class="row">
                <!-- Latitude -->
                <div alarm-report-field="'movement.manual_position_field_label_latitude'"
                     field-value="alarm.movement.movement.latitude | confCoordinateFormat"
                     class="col-md-3">
                </div>
                <!-- Longitude -->
                <div alarm-report-field="'movement.manual_position_field_label_longitude'"
                     field-value="alarm.movement.movement.longitude | confCoordinateFormat"
                     class="col-md-3">
                </div>
                <!-- Speed -->
                <div alarm-report-field="'movement.manual_position_field_label_measured_speed'"
                     field-value="toSpeedString(alarm.movement.movement.reportedSpeed)"
                     class="col-md-3">
                </div>
                <!-- Course -->
                <div alarm-report-field="'movement.manual_position_field_label_course'"
                     field-value="toCourseString(alarm.movement.movement.reportedCourse)"
                     class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="modalStatusText">
        <div class="col-md-12">
            <div ng-class="modalStatusClass" class="alert" style="padding: 5px 15px; margin: 15px 0px;">
                {{ modalStatusText }}
            </div>
        </div>
    </div>

    <div class="row" ng-if="!loadingMovement && !loadingMovementError">
        <div class="col-md-12">
            <div class="mapContainer">
              <leaflet center="center" markers="markers" height="200px" width="100%"></leaflet>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <div class="row buttons" ng-if="!readOnly">
        <div class="buttonGroups">
            <div class="buttonGroup">
                <a class="button" ng-click="cancel()">{{"common.cancel" | i18n}}</a>
            </div>
            <div class="buttonGroup button-group-right" ng-hide="statusUpdatedSuccessfully">
                <button class="btn btn-sm btn-danger button" type="submit" ng-click="reject()" ng-disabled="waitingForStatusUpdateResponse">
                    <i class="fa fa-times"></i> {{"alarms.position_report_reject" | i18n}}
                </button>
                <button class="btn btn-sm btn-warning button" type="submit" ng-click="reprocess()" ng-disabled="waitingForStatusUpdateResponse">
                    <i class="fa fa-repeat"></i> {{"alarms.position_report_reprocess" | i18n}}
                </button>
            </div>
        </div>
    </div>
    <div class="row buttons" ng-if="readOnly">
        <div class="buttonGroup button-group-right">
            <button class="btn btn-sm btn-success button" type="submit" ng-click="reopen()" ng-show="alarm.isRejected()" ng-disabled="waitingForStatusUpdateResponse">
                <i class="fa fa-undo"></i> {{"alarms.position_report_reopen" | i18n}}
            </button>
        </div>
    </div>
</div>
