<div class="col-md-12" ng-controller="UserareasgroupsCtrl">

<!-- USER AREAS GROUPS -->
		<div st-table="displayedGroups" st-safe-src="userAreasGroupsList" st-set-filter="stAreas">
			<div class="search-field">
				<input st-search="" class="form-control" placeholder="{{'areas.search_table_placeholder' | i18n}}" type="text"/>
			</div>
			<div class="table table-striped tableSmart user-areas-table">
				<div class="thead col-md-12">
                     <div class="tr row stColumnHeaders">
                         <div class="th col-md-12" st-sort="name" st-skip-natural="true" st-class-ascent="sorting_asc" st-class-descent="sorting_desc">{{'areas.area_group_list_table_name_header' | i18n}}</div>
                     </div>
                 </div>
                 <div class="tbody col-md-12">
                 	 <div class="tr row" ng-if="tableLoading">
                         <div class="th col-md-12 loading-spinner-cl"><i class="fa fa-spinner fa-spin loading-spinner"></i></div>
                     </div>
                     <div class="tr row" ng-if="!tableLoading && (!userAreasGroups.length || userAreasGroups.length==0)">
                         <div class="td col-md-12">{{'areas.table_no_data' | i18n}}</div>
                     </div>
                     <div ng-repeat="userAreaGroup in userAreasGroups" class="tr row">
                         <div class="td col-md-8">{{userAreaGroup}}</div>
                        	<!-- <div class="td col-md-4">
                        	<button type="button" class="btn btn-danger btn-xs pull-right" title="{{'areas.table_delete_area_btn' | i18n }}" ng-click="deleteUserArea($index)"><span class="fa fa-trash-o"></span></button>
                            <button type="button" class="btn btn-primary btn-xs pull-right tableBtnMargin" title="{{'areas.table_edit_area_btn' | i18n }}" ng-click="editUserArea($index)"><span class="fa fa fa-pencil"></span></button>
                            <button type="button" class="btn btn-primary btn-xs pull-right tableBtnMargin" title="{{'areas.table_area__details_btn' | i18n }}" ng-click="getAreaDetails($index)"><span class="fa fa-eye"></span></button>
                            <button type="button" class="btn btn-primary btn-xs pull-right tableBtnMargin" title="{{'areas.table_zoom_to_area_btn' | i18n }}" ng-click="zoomToArea($index)"><span class="fa fa-globe"></span></button>
                        
                         </div>-->
                     </div>
                 </div>
                 <div class="tfoot col-md-12 stFooterPagination">
                     <div class="tr row">
                         <div class="td col-md-12 text-right">
                             <div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="7" st-template="partial/spatial/templates/reportsPagination.html"></div>
                         </div>
                     </div>
                 </div>
			</div>
		</div>
</div>
