<div class="container containerWithTopBottomPadding">
    <div class="row">
        <div class="col-md-8 pageMenu">
            <ul class="horizontal pipeSeparator" show-if-allowed='Audit:viewAudit'>
                <li ng-class="{active: isAudit == true}">
                    <a href="#/admin/auditlog">{{'audit.pagemenu_audit_logs' | i18n }}</a>
                </li>
                <li ng-class="{active: isAudit == false}" show-if-allowed='Audit:viewConfiguration'>
                    <a href="#/admin/configuration">{{'audit.pagemenu_configuration' | i18n }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
