<div ng-controller="CatchdetailsCtrl" class="catch-details">
	<fieldset class="col-md-12 fieldsetStyle catch-fieldset">
		<legend class="fieldsetLegendStyle catch-legend">
			<a>{{'activity.catch_details_title' | i18n }}</a>
		</legend>
		<!-- CATCH DETAILS CONTAINER -->
		<div class="catch-details-container">
			<!-- TRIP OVERVIEW PANEL -->
			<div class="row summary-row">
				<trip-overview-panel class="col-md-12 summary-section" trip="fishingTripDetails"></trip-overview-panel>
			</div>
			<!-- TABLE CONTAINER -->
			<div class="table-container">
				<div class="table-responsive-force" ng-repeat="table in tables | orderBy: 'order'" ng-if="isCatchDetailsLoaded">
					<table class="table table-striped table-condensed table-bordered">
						<thead>
							<tr ng-repeat="headerRow in table.headers" ng-class="{'upperHeader': !$last}">
								<th ng-if="$first && table.nrGlobalHeaders" rowspan="{{table.headers.length-1}}" colspan="{{table.nrGlobalHeaders}}" class="invisible-header table-title">
									<span ng-if="table.title">{{'activity.catch_details_table_name_' + table.title | i18n }}</span>
								</th>
								<th ng-repeat="header in headerRow track by $index" colspan="{{header.width}}" ng-class="{'species-code': $index >= table.nrGlobalHeaders,'invisible-header': !header.title }">{{header.title}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in table.rows">
								<td ng-repeat="item in row track by $index" ng-class="{'global-table-attr': $index < table.nrGlobalHeaders}">{{item}}</td>
							</tr>
							<tr ng-if="table.totals">
								<td ng-if="table.nrGlobalHeaders" colspan="{{table.nrGlobalHeaders}}" class="total-col">{{'activity.catch_details_table_total' | i18n}}</td>
								<td ng-repeat="total in table.totals track by $index">{{total}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</fieldset>

</div>