.catch-details{
    .catch-fieldset{
        padding: 10px 0px 0px 10px;
    }
    .catch-details-container{
        margin-top:-20px;
        padding-right: 40px;
        overflow-y:auto;
        width:100%;
        height: calc(~"100vh - 150px");
    }
    .table-container {
        margin-top: 20px;
        table {
            border: 0;
            thead {
                &:first-child {
                    tr:first-child {
                        border-bottom: 0;
                        th {
                            border-top: 1px solid #ddd;
                            &.invisible-header {
                                border-top-width: 0;
                            }
                        }
                    }
                }
                .table-title{
                    text-align: left;
                    position: relative;
                    span {
                        position: absolute;
                        bottom: 0;
                        font-size: 20px;
                        text-transform: none;
                    }
                }
                .upperHeader,
                .species-code {
                    text-transform: uppercase;
                }
            }
            tr {
                th,
                td {
                    text-align: center;
                }
                .global-table-attr {
                    text-align: left;
                }
                .invisible-header {
                    border-top: 0;
                    border-left: 0;
                    cursor: default;
                }
                .total-col {
                    text-align: right;
                    font-weight: bold;
                    padding-right: 15px;
                }
            }
        }
    }
}