<div ng-controller="LayerpanelCtrl" class="layer-panel" ng-class="{'panel-collapsed': !expanded}">
	<div class="panel-header">
		<div class="title">
			<span>{{tabTitle}}</span>
		</div>
		<div class="collapse-btn" ng-click="switchCollapse()">
			<span class="fa fa-times" ng-class="{'fa-angle-double-up': expanded, 'fa-angle-double-down': !expanded}"></span>
		</div>
	</div>
	<div class="layer-panel-content">
		<div class="dynamic-content" ng-class="getClassName()">
			<div ng-show="tab==='LAYERTREE'" class="legend-panel">
	        	<div layer-menu></div>
	        	<div id="layer-tree" layer-tree></div>
	      	</div>
	      	<div ng-show="tab==='LEGEND'" class="legend-panel">
	      		<div legend-panel></div>
	      	</div>
	      	<div ng-show="tab==='COPYRIGHT'" class="legend-panel">
	      		<div copyright-panel></div>
	      	</div>
		</div>
		<div class="dynamic-switcher">
			<ul class="list-inline">
				<li class="tab-list-item" ng-show="tab !== 'LAYERTREE'" ng-click="tabClick('LAYERTREE')">
	       			<span class="fa fa-bars"></span>&nbsp;&nbsp;
	       			{{ 'spatial.layer_panel_layers' | i18n }}
	     		</li>
	     		<li class="tab-list-item" ng-show="tab !== 'LEGEND'" ng-class="{'item-right': tab === 'COPYRIGHT'}" ng-click="tabClick('LEGEND')">
	     			<span class="fa fa-list"></span>&nbsp;&nbsp;
	       			{{ 'spatial.layer_panel_legend' | i18n }}
	     		</li>
	     		<li class="tab-list-item item-right" ng-show="tab !== 'COPYRIGHT'" ng-click="tabClick('COPYRIGHT')">
	     			<span class="fa fa-copyright"></span>&nbsp;&nbsp;
	       			{{ 'spatial.layer_panel_copyright' | i18n }}
	     		</li>
	   		</ul>
	   	</div>
	   	<div class="panel-component-item item-clickable" ng-if="isReportEditable()" ng-click="editReport()">
	   		<span class="fa fa-pencil"></span>&nbsp;&nbsp;
	   		{{ 'spatial.reports_table_config_label' | i18n }}
	   	</div>
	   	<div class="panel-component-item item-clickable" ng-if="isAllowed('Spatial', 'VIEW_AREA_MANAGEMENT_UI')" ng-click="goTo('AREAMANAGEMENT')">
	   		<span class="fa fa-map"></span>&nbsp;&nbsp;
	   		{{ 'header.page_title_areas' | i18n }}
	   	</div>
	</div>
</div>
