.layer-panel {
  float: left;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.layer-panel.layer-collapsed {
  width: 10px;
  overflow: hidden;
  .ui-fancytree {
  	overflow: hidden;
  }
}

.layer-panel.layer-expanded {
  width: 250px;
  &.ng-animate {
	  overflow: hidden;
	  .ui-fancytree {
	  	overflow: hidden;
	  }
  }
}

.layer-panel .tabbed-view {
  overflow: hidden;
  height: 100%;
  border: 1px solid #DDD;
}

.layer-panel .handle {
  float: right;
  width: 10px;
  height: 100%;
  background-color: rgba(0,60,136,0.5);
  cursor: pointer;
  padding: 0 2px;
  &:hover {
  	background-color: rgba(0,60,136,0.7);
  }
  > i {
  	position: absolute;
  	top: 50%;
  	font-weight: bold;
  	font-size: 10px;
  	color: #fff;
  }
}

.layer-panel-tabs {
	border: none !important;
	> a {
		color: #428bca !important;
		background-color: #ecf0f1;
		border-bottom: 1px solid #ddd !important;
		border-right: 1px solid #ddd !important;
		font-weight: normal;
	}
}

.layer-panel-tabs.active{
	> a {
		border: none !important;
		border-right: 1px solid #ddd !important;
		border-bottom: none !important;
		font-weight: bold;
		color: #FFFFFF !important;
	}
}

.layer-panel-tabs>a:hover {
	background-color: white !important;
}

.layer-panel-tabs.active>a:hover {
	background-color: #3498db !important;
}

.legend-panel {
	background-color: #FFFFFF;
	height: calc(~"100% - 42px");
	overflow-y: auto;
}

#layer-tabs-container {
	background-color: @pageBackgroundColor;
    overflow: hidden;
	height: 42px;
}

.layer-panel {
	#layer-panel-wrapper {
		display: none;
		&.expanded {
			display:block;
		}
	}
	&.ng-animate {
		#layer-panel-wrapper {
			display:block;
		}
	}
}

ul.fancytree-container {
	border-color: transparent;
}