<div ng-controller="LayerpanelCtrl" resize ng-style="doResize(105, 340)"
    ng-class="{'layer-panel': true, 'layer-expanded': expanded, 'layer-collapsed': !expanded}">
  <div class="handle" ng-click="toggle()"></div>
  <div class="tabbed-view" ng-show="expanded">

    <!-- mock content -->
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="layer-panel-tabs" ng-class="{'active': tab==='LAYERTREE'}">
        <a ng-click="tabClick('LAYERTREE')">Layers</a>
      </li>
      <li class="layer-panel-tabs"  ng-class="{'active': tab==='LEGEND'}">
        <a ng-click="tabClick('LEGEND')">Legend</a>
      </li>
    </ul>
    <div>
      <div ng-show="tab==='LAYERTREE'">
        Layer tree
      </div>
      <div ng-show="tab==='LEGEND'">
        Legend
      </div>
    </div>
    <!-- end of mockup -->

  </div>
</div>
