.layer-panel {
	width: 250px;
	min-height: 300px;
	
	position: absolute;
	top: 56px;
	bottom: 200px;
	left: 10px;
	z-index: 1035;
	
	border: 1px solid @profileColor_gray;
    border-radius: 6px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	background-color: white;
	&.panel-collapsed {
		height: 30px;
		min-height: 30px;
		width: auto;
		.layer-panel-content {
			height: 0;
			width: 0;
			overflow: hidden;
		}
	}
	.panel-header {
		color: @profileColor_blue;
		border-bottom: 1px solid @profileColor_gray;
		height: 30px;
		.title {
			float: left;
			line-height: 30px;
			margin-left: 10px;
			margin-right: 10px;
			text-transform: uppercase;
			font-weight: bold;
		}
		.collapse-btn {
			float: right;
			width: 30px;
			line-height: 30px;
			border-left: 1px solid @profileColor_gray;
			text-align: center;
			cursor: pointer;
		} 
	}
	.layer-panel-content {
		height: 100%;
		width: 100%;
	}
	.dynamic-content {
		padding-left: 7px;
		padding-right: 7px;
		overflow: auto;
		padding-bottom: 15px;
		&.item-0 {
			height: calc(~'100% - 60px');
		}
		&.item-1 {
			height: calc(~'100% - 90px');
		}
		&.item-2 {
			height: calc(~'100% - 120px');
		}
	}
	.dynamic-switcher, 
	.panel-component-item {
		border: 1px solid @profileColor_gray;
		border-left: none;
		border-right: none;
		height: 30px;
		padding-left: 7px;
		&.item-clickable {
			cursor: pointer;
			&:hover {
				background-color: @profileColor_lightgray;
			}
		}
	}
	.dynamic-switcher {
		ul li {
			line-height: 28px;
			width: 49%;
			color: @primaryColor;
			span {
				color: @primaryColor;
			}
			&.item-right {
				text-align: right;
			}
			&:hover {
				background-color: @profileColor_lightgray;
			}
		}
	}
	.panel-component-item {
		color: @profileColor_blue;
		border-top: 0;
		span {
			line-height: 30px;
		}
	}
}