<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div style="background-color: white;" class="assets-in-zone">
	<div class="widget-header">
		<h1>{{ctrl.i18n('header')}}</h1>
	</div>
	<div class="scroll-table">
		<div class="alert alert-danger" ng-if="ctrl.error">{{ctrl.error}}</div>
		<div class="row" ng-repeat="item in ctrl.items | orderBy:'numberOfAssets':true">
			<span class="flag-icon" ng-class="'flag-' + item.flagState"></span> {{ctrl.nationName(item.flagState)}} <span class="count">{{item.numberOfAssets}}</span>
		</div>
		<alert type="info" ng-if="ctrl.items.length === 0">
			<span class="fa fa-info-circle"></span> {{ctrl.i18n('noAssets')}}
		</alert>

	</div>
</div>