/* Component LESS */
@import "partial/rolesCotroller.less";
/* Add Component LESS Above */

.st-sort-ascent:after{
    content: '\25B2';
}

.st-sort-descent:after{
    content: '\25BC';
}

.table.table-hover tr th {
    cursor: pointer;
}


