.vmspages {
	padding-top: 2px !important;
	padding-left: 5px !important;
	display: table-cell;
}

.vmstables {
	padding-top: 5px !important;
	padding-left: 5px !important;
	border: 0px !important;
	float: left;
}

.vmssourcetab {
	>a {
		font-weight: bold;
	}
}

.vmssourcetab.active:hover,
.vmssourcetab.active{
	>a {
		background-color: @primaryColor !important;
		color: #fff !important;	
	}
}

.vmssourcetab:hover {
	>a {
		background-color: #fff !important;
	}
}

.vmstab-content {
	margin-top: 5px;
}

.hidden-st-control{
	display: none;
}

.st-table-filters {
	margin-bottom: 5px;
	padding-right: 20px;
	p.datepicker {
		width: 100%;
	}
	.info-qtip {
	    right: 0;
	}
}

.twin-controls {
	input {
		border-color: #089fd7;
	}
}

.coord-label {
	padding: 0;
	color: #999999;
	line-height: 30px;
}

.coord-deg {
	padding: 0;
	> input, >input:focus {
		border-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	&:after {
		content: '\00b0';
		position: absolute;
		top: 0;
		right: 0;
		color: #999999;	
		font-size: 18px;
	}
}

.coord-min{
	padding: 0;
	> input, >input:focus {
		border-left: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	
	&:after {
		content: '\2019';
		position: absolute;
		top: 0;
		right: 4px;
		color: #999999;
		font-size: 18px;
	}
}

.table-tools {
	cursor: auto !important;	
	i {
		color: #428bca;
		cursor: pointer;
		font-style: normal;
	}
	.btnTools {
		float: right;
		line-height: 1em;
	}
}

.table-tools i:first-child {
    padding-right: 8px;
}

div.table-tools i {
    margin-left: 2px;
}

.lr-drop-target-before{
  border-left: 5px solid @primaryColor;
}

.lr-drop-target-after{
  border-right: 5px solid @primaryColor;
}
