.vmspages {
	padding-top: 2px !important;
	padding-left: 5px !important;
	display: table-cell;
}

.vmssourcetab {
	>a {
		font-weight: bold;
	}
}

.vmssourcetab.active{
	>a {
		background-color: #18a689 !important;
		color: #fff !important;	
	}
}

.vmstab-content {
	margin-top: 5px;
}