<div class="containerWrapper" ng-controller="VmspanelCtrl">
	<div class="container vmspages">
		<ul class="nav nav-pills" role="tablist">
			<li ng-repeat="tab in vmsTabMenu" class="vmssourcetab" ng-click="selectVmsTab(tab.tab)" ng-class="{'active': selectedVmsTab === '{{tab.tab}}'}"><a>{{tab.title}}</a></li>
		</ul>
	</div>
	<div class="container vmstables table-responsive">
		<div class="vmstab-content" ng-show="isVmsTabSelected('MOVEMENTS')">
			<div class="table-tools" ng-show="executedReport.positions.length > 0">
				<i class="fa fa-lg fa-file" title="{{'spatial.tab_vms_export_csv' | i18n}}" ng-click="exportAsCSV('positions')"></i>
			</div>
			<table datatable="ng" dt-options="posTable.dtOptions" dt-column-defs="posTable.dtColumnDefs" class="table table-striped" style="width: 100%;">
			    <thead>
			        <tr>
			            <th style="width: 100px;">{{'spatial.tab_vms_pos_table_header_fs' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_ircs' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_cfr' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_name' | i18n }}</th>
			            <th style="width:160px;">{{'spatial.tab_vms_pos_table_header_date' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_lat' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_lon' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_status' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_measured_speed' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_calculated_speed' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_course' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_msg_type' | i18n }}</th>
			            <th style="width:80px;"></th>
			        </tr>
			    </thead>
			    <tfoot class="footerToTop">
			        <tr>
			            <th style="width: 100px;"></th>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th style="width:160px;"></th>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th style="width:80px;"></th>
			        </tr>
		        </tfoot>
			    <tbody>
			        <tr ng-repeat="position in executedReport.positions">
			        	<td style="width: 100px;">{{ position.properties.cc }}</td>
			            <td>{{ position.properties.ircs }}</td>
			            <td>{{ position.properties.cfr }}</td>
			            <td>{{ position.properties.name }}</td>
			            <td style="width:160px;">{{ position.properties.pos_tm }}</td>
			            <td>{{ position.geometry.coordinates[1] }}</td>
			            <td>{{ position.geometry.coordinates[0] }}</td>
			            <td>{{ position.properties.stat }}</td>
			            <td>{{ position.properties.m_spd }}</td>
			            <td>{{ position.properties.c_spd }}</td>
			            <td>{{ position.properties.crs }}</td>
			            <td>{{ position.properties.msg_tp }}</td>
			            <td style="width:80px;">
			            	<button ng-hide="!executedReport.tabs.map" type="button" class="btn btn-info btn-xs btn-bottom-mg" title="{{'spatial.tab_vms_pos_table_zoom_btn_title' | i18n }}" ng-click="zoomTo($index, 'POSITION')"><span class="fa fa-search"></span></button>
			            	<button ng-hide="!executedReport.tabs.map" type="button" class="btn btn-info btn-xs btn-bottom-mg" title="{{'spatial.tab_vms_pos_table_pan_btn_title' | i18n }}" ng-click="panTo($index, 'POSITION')"><span class="fa fa-hand-paper-o"></span></button>
			            </td>
			        </tr>
			    </tbody>
			</table>
		</div>
		<div class="vmstab-content" ng-show="isVmsTabSelected('SEGMENTS')">
			<div class="table-tools" ng-show="executedReport.segments.length > 0">
				<i class="fa fa-lg fa-file" title="{{'spatial.tab_vms_export_csv' | i18n}}" ng-click="exportAsCSV('segments')"></i>
			</div>
			<table datatable="ng" dt-options="segTable.dtOptions" dt-column-defs="segTable.dtColumnDefs" class="table table-striped" style="width: 100%;">
			    <thead>
			        <tr>
			            <th style="width: 100px;">{{'spatial.tab_vms_pos_table_header_fs' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_ircs' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_cfr' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_name' | i18n }}</th>
			            <th>{{'spatial.tab_vms_seg_table_header_distance' | i18n }}</th>
			            <th>{{'spatial.tab_vms_seg_table_header_duration' | i18n }}</th>
			            <th>{{'spatial.tab_vms_seg_table_header_speed_ground' | i18n }}</th>
			            <th>{{'spatial.tab_vms_seg_table_header_course_ground' | i18n }}</th>
			            <th></th>
			        </tr>
			    </thead>
			    <tfoot class="footerToTop">
			    	<tr>
			    		<th style="width: 100px;"></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    	</tr>
			    </tfoot>
			    <tbody>
			    	<tr ng-repeat="segment in executedReport.segments">
			    		<td style="width: 100px;">{{ segment.properties.cc }}</td>
			    		<td>{{ segment.properties.ircs }}</td>
			            <td>{{ segment.properties.cfr }}</td>
			    		<td>{{ segment.properties.name }}</td>
			    		<td>{{ segment.properties.dist }}</td>
			    		<td>{{ segment.properties.dur }}</td>
			    		<td>{{ segment.properties.spd_o_gnd }}</td>
			    		<td>{{ segment.properties.crs_o_gnd }}</td>
			    		<td style="width:80px;">
			            	<button type="button" class="btn btn-info btn-xs btn-bottom-mg" title="{{'spatial.tab_vms_seg_table_zoom_btn_title' | i18n }}" ng-click="zoomTo($index, 'SEGMENT')"><span class="fa fa-search"></span></button>
			            	<button type="button" class="btn btn-info btn-xs btn-bottom-mg" title="{{'spatial.tab_vms_seg_table_pan_btn_title' | i18n }}" ng-click="panTo($index, 'SEGMENT')"><span class="fa fa-hand-paper-o"></span></button>
			            </td>
			    	</tr>
			    </tbody>
			</table>
		</div>
		<div class="vmstab-content" ng-show="isVmsTabSelected('TRACKS')">
			<div class="table-tools" ng-show="executedReport.tracks.length > 0">
				<i class="fa fa-lg fa-file" title="{{'spatial.tab_vms_export_csv' | i18n}}" ng-click="exportAsCSV('tracks')"></i>
			</div>
			<table datatable="ng" dt-options="tracksTable.dtOptions" dt-column-defs="tracksTable.dtColumnDefs" class="table table-striped" style="width: 100%;">
			    <thead>
			        <tr>
			            <th style="width: 100px;">{{'spatial.tab_vms_pos_table_header_fs' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_ircs' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_cfr' | i18n }}</th>
			            <th>{{'spatial.tab_vms_pos_table_header_name' | i18n }}</th>
			            <th>{{'spatial.tab_vms_seg_table_header_distance' | i18n }}</th>
			            <th>{{'spatial.tab_vms_seg_table_header_duration' | i18n }}</th>
			            <!-- <th>{{'spatial.tab_vms_tracks_table_header_dur_low' | i18n }}</th>
			            <th>{{'spatial.tab_vms_tracks_table_header_dur_high' | i18n }}</th> -->
			            <th></th>
			        </tr>
			    </thead>
			    <tfoot class="footerToTop">
			    	<tr>
			    		<th style="width: 100px;"></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    	</tr>
			    </tfoot>
			    <tbody>
			    	<tr ng-repeat="track in executedReport.tracks">
			    		<td style="width: 100px;">{{ track.asset.cc }}</td>
			    		<td>{{ track.asset.ircs }}</td>
			    		<td>{{ track.asset.cfr }}</td>
			    		<td>{{ track.asset.name }}</td>
			    		<td>{{ track.dist }}</td>
			    		<td>{{ track.dur }}</td>
			    		
			    		<td style="width:80px;">
			            	<button type="button" class="btn btn-info btn-xs btn-bottom-mg" title="{{'spatial.tab_vms_tracks_table_zoom_btn_title' | i18n }}" ng-click="zoomTo($index, 'TRACK')"><span class="fa fa-search"></span></button>
			            	<button type="button" class="btn btn-info btn-xs btn-bottom-mg" title="{{'spatial.tab_vms_tracks_table_pan_btn_title' | i18n }}" ng-click="panTo($index, 'TRACK')"><span class="fa fa-hand-paper-o"></span></button>
			            </td>
			    	</tr>
			    </tbody>
			</table>
		</div>
	</div>
</div>