<div class="containerWrapper" ng-controller="VmspanelCtrl">
	<div class="container vmspages">
		<ul class="nav nav-pills" role="tablist">
			<li ng-repeat="tab in vmsTabMenu" class="vmssourcetab" ng-click="selectVmsTab(tab.tab)" ng-class="{'active': selectedVmsTab === '{{tab.tab}}'}"><a>{{tab.title}}</a></li>
		</ul>
		<div class="vmstab-content" ng-show="isVmsTabSelected('MOVEMENTS')">
			<div>Table with positions</div>
		</div>
		<div class="vmstab-content" ng-show="isVmsTabSelected('SEGMENTS')">
			<div>Table with segments</div>
		</div>
		<div class="vmstab-content" ng-show="isVmsTabSelected('TRACKS')">
			<div>Table with tracks</div>
		</div>
	</div>
</div>