#help-page {

    img {
        max-width: 200px;
        max-height: 150px;
        margin-bottom: 10px;
    }

    ul {
        padding-left: 20px;
    }

    div.section {
        padding-bottom: 20px;
    }
}