.centerLabel {
	margin-top: 25px;
}

.bottomPaddingCheckGroup {
	padding-bottom: 15px;
}

.vmsBottomSection {
	border-bottom: 1px solid #ddd;
	display: block;
	margin-bottom: 25px;
}

.pipeFieldSeparator {
	margin-top: 25px;
}

.vms-labels {
	width: 100%;
}