.centerLabel {
	line-height: 25px;
}

.centerLabelCombo {
	line-height: 30px;
}

.empty-label {
	width: 100%;
}

.bottomPaddingCheckGroup {
	padding-bottom: 15px;
	padding-left: 0px;
}

.vmsBottomSection {
	display: block;
	margin-bottom: 25px;
}

.pipeFieldSeparator {
	margin-top: 25px;
}

.vms-labels {
	width: 100%;
}

.vms-filters-section {
	[name="segmentSecForm"] {
		.reportSubform {
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
		}
	}
}