.centerLabel {
	margin-top: 25px;
}

.bottomPaddingCheckGroup {
	padding-bottom: 15px;
	padding-left: 0px;
}

.vmsBottomSection {
	display: block;
	margin-bottom: 25px;
}

.pipeFieldSeparator {
	margin-top: 25px;
}

.vms-labels {
	width: 100%;
}

.vmsFiltersFieldset {
	.dropdown-menu {
		position: static;
	}
}

.noFormMargin {
	margin-left: -15px;
}