<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div ng-controller="AdvancedSearchVesselFormCtrl"> 
    <div class="row">
        <div ng-hide="advancedSearch">
            <div static-include="directive/common/search/advancedSearch/vessel/staticSimpleSearch.html"></div>
        </div>
        <div ng-show="advancedSearch">
            <div static-include="directive/common/search/advancedSearch/vessel/staticAdvancedSearch.html"></div>
        </div>

        <div class="col-md-10 searchFooter">
            <a ng-click="toggleAdvancedSearch()">
                <span ng-hide="advancedSearch">{{'common.advanced_search' | i18n}}</span>
                <span ng-show="advancedSearch">{{'common.simple_search' | i18n}}</span>
            </a>
            <a ng-show="advancedSearch" ng-click="openSaveGroupModal()">
                <span>{{'common.search_group_save' | i18n}}</span>
            </a>
		</div>
<!--         <div class="col-md-2 searchFooter smallerpadding">
            <label style="color: #428bca; font-weight: normal;"><input type="checkbox"/>
            Include archived</label>
        </div> -->
    </div>
</div>