<div>
    <div class="col-md-12 smallerpadding">
        <div class="row nomargin">
            <div class="col-md-2 smallerpadding searchcriteria">
                <dropdown ng-model="advancedSearchObject.FLAG_STATE" initialtext="{{'vessel.advanced_search_placeholder_flag_state' | i18n}}" items="flagStates"></dropdown>
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" id="searchextno" placeholder="{{'vessel.advanced_search_placeholder_external_number' | i18n}}" class="form-control" tabindex="2" ng-model="advancedSearchObject.EXTERNAL_MARKING">
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" id="searchname" placeholder="{{'vessel.advanced_search_placeholder_name' | i18n}}" class="form-control" tabindex="3" ng-model="advancedSearchObject.NAME">
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" id="searchsignal" placeholder="{{'vessel.advanced_search_placeholder_signal_ircs' | i18n}}" class="form-control" tabindex="4" ng-model="advancedSearchObject.IRCS">
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" id="searchcfr" placeholder="{{'vessel.advanced_search_placeholder_cfr' | i18n}}" class="form-control" tabindex="5" ng-model="advancedSearchObject.CFR">
            </div>
            <div class="col-md-2 smallerpadding">
                <div class="row nomargin">
                    <div class="col-md-12 colNoPadding searchcriteria">
                        <saved-search-dropdown type="VESSEL" class="dropdown simpleSearch" ng-model="selectedVesselGroup" initialtext="{{'common.search_group_dropdown' | i18n}}" callback="performSavedSearch" enable-delete="true"></saved-search-dropdown>
                    </div>
                </div>
            </div>
        </div>

        <div class="row nomargin">
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" id="searchmmsi" placeholder="{{'vessel.advanced_search_placeholder_mmsi' | i18n}}" class="form-control" tabindex="6" ng-model="advancedSearchObject.MMSI">
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" id="searchhomeport" placeholder="{{'vessel.advanced_search_placeholder_homeport_name' | i18n}}" class="form-control" tabindex="7" ng-model="advancedSearchObject.HOMEPORT">
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <dropdown ng-model="advancedSearchObject.GEAR_TYPE" initialtext="{{'vessel.advanced_search_placeholder_gear_type' | i18n}}" items="gearTypes"></dropdown>
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" id="searchproducername" placeholder="{{'vessel.advanced_search_placeholder_producer_name' | i18n}}" class="form-control" tabindex="8" ng-model="advancedSearchObject.PRODUCER_NAME">
            </div>
            <div class="col-md-1 smallerpadding searchcriteria">
                <dropdown ng-model="advancedSearchObject.LENGTH_SPAN" initialtext="{{'vessel.advanced_search_placeholder_length' | i18n}}" items="lengthSpans"></dropdown>
            </div>
            <div class="col-md-1 smallerpadding searchcriteria">
                <dropdown ng-model="advancedSearchObject.POWER_SPAN" initialtext="{{'vessel.advanced_search_placeholder_power' | i18n}}" items="powerSpans"></dropdown>
            </div>
            <div class="col-md-1 smallerpadding">
                <div class="row nomargin">
                    <div class="col-md-12 colNoPadding searchcriteriadropdown">
                        <button type="submit" class="btn btn-primary btn-sm fullWidth" ng-click="performSearch()">
                            {{'common.search' | i18n}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-1 smallerpadding">
                <div class="row nomargin">
                    <div class="col-md-12 colNoPadding searchcriteriadropdown">
                        <button type="button" class="btn btn-default btn-sm fullWidth" ng-click="resetSearch()">
                            {{'common.reset' | i18n}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>