<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="modal-header" style="text-align:left">
    <div class="pointer pull-right" ng-click="modal.cancel()">
        <i class="fa fa-times closeicon"></i>
    </div>
    <h4 class="modal-title">{{ modal.labels.title }}</h4>
</div>
<div class="modal-body">
    {{modal.labels.text}}
</div>
<form ng-if="modal.commentsEnabled" name="modal.commentForm" method="post" novalidate>
	<div class="modal-body">
        <div class="row">
            <div class="col-md-12 form-group" ng-class="{'has-error': (modal.submitAttempted || modal.commentForm.comment.$dirty) && modal.commentForm.comment.$invalid}">
		        <textarea class="form-control" name="comment" autofocus placeholder="{{ modal.labels.placeholder }}" ng-model="modal.comment" required ng-maxlength="400"></textarea>
		        <input-validation-message types="required, maxlength" input="modal.commentForm.comment"></input-validation-message>
	       </div>
	    </div>
	</div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="modal.cancel()">{{ modal.labels.cancel }}</button>
    <button type="button" class="btn btn-primary" ng-click="modal.confirm()">{{ modal.labels.confirm }}</button>
</div>