.datepicker{
    .btn-cal{
        height: 28px;
        width:30px;
        padding-left:0px !important;
        padding-right:0px !important;
        border: none;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    .input-group-btn{
    	border: solid 1px @inputBorderColor;
        border-top-right-radius: @inputBorderRadius !important;
        border-bottom-right-radius: @inputBorderRadius !important;
    }
}

.xdsoft_datetimepicker{
    button{
        box-shadow:0px !important;
    }
}