<p class="input-group nomargin">
    <input type="text" class="form-control datetimeinput" ng-model="model" datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options" is-open="datePicker.instances['reportingStartDate']" close-text="Close" tabindex="8" placeholder="{{placeholder}}" ng-disabled="ngDisabled"/>
    <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-cal" ng-click="datePicker.open($event, 'reportingStartDate')" ng-disabled="ngDisabled"><i class="fa fa-calendar"></i></button>
    </span>
</p>