.datepicker{
    .btn-cal{
        height: 28px;
        width:30px;
        padding-left:0px !important;
        padding-right:0px !important;
        border: none;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    .input-group-btn{
    	border: solid 1px @inputBorderColor;
        border-top-right-radius: @inputBorderRadius !important;
        border-bottom-right-radius: @inputBorderRadius !important;
    }
}

.xdsoft_datetimepicker{
    &.fullscreen-datepicker {
        margin-top: -@headerHeight + 2 !important;
    }
    button{
        box-shadow:0px !important;
    }
}

.fullscreen {
    .xdsoft_datetimepicker{
        &.fullscreen-datepicker {
            margin-top: 2px !important;
        }
    }
}