.headermenu{
    margin:0 auto;
    overflow: hidden;

    .headercontainer {
        padding-left: 0px;

        ul{
            padding-left: 0px;
        }
    }
}

.menucell{
    min-width: 85px;
    float: left;
    padding: 7px 14px;
    text-align: center;
}
a .menucell,  a:visited .menucell{
    font-size: 16px;
    font-weight: bold;
    color:#ffffff;
    text-decoration: none;
}
a:hover .menucell , .menucell:hover{
    text-decoration: none;
    cursor: pointer;
}
.menucell:hover, .menucell.active{
     background-color: @primaryColor;
     text-decoration: none;
     cursor: pointer;
}



ul.today  li .today,
ul .vessel li .vessel{
    background-color: #e4e4e4;
    text-decoration: none;
    cursor: pointer;
    border-bottom: solid 2px #000000;
}


/* test menu*/
nav{
    display:inline-block;
    margin: 60px auto 45px;
    background-color:sandybrown;
}

nav a{
    background-color:transparent;
    -webkit-transition:background-color 0.25s;
    -moz-transition:background-color 0.25s;
}
 nav.today .today,
 nav.reporting .reporting,
 nav.vessel .vessel,
 nav.user .user,
 nav.alarmconditioins .alarmconditioins,
 nav.communication .communication,
 nav.gis .gis,
 nav.configuration .configuration
 { background-color:#c0c0c0;}
