<div class="headermenu container" ng-controller="HeaderMenuCtrl">
    <div class="row">
        <div class="headercontainer col-md-12">
            <ul>
                 <li class="cell" ng-repeat="page in menu">
                    <a ng-href="#{{page.url}}" ng-if='page.title!=="User"'>
                        <div class="menucell" ng-class="{active: isActive(page.url)}">{{page.title}}</div>
                    </a>
                     <a ui-sref="app.usm.users" ng-if='page.title==="User"'>
                         <div class="menucell" ng-class="{active: isActive(page.url)}">{{page.title}}</div>
                     </a>
                </li>
            </ul>
        </div>
    </div>
</div>