<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<section class="header-menu" ng-controller="HeaderMenuCtrl" id="uvms-header-menu">
    <div class="menu-box">
        <div class="scroller scroller-left" ng-class="{'ec':headerTemplate === 'EC'}" ng-click="scrollLeft()" ng-if="isScrollVisible('left')"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
        <div class="scroller scroller-right" ng-class="{'ec':headerTemplate === 'EC'}" ng-click="scrollRight()" ng-if="isScrollVisible('right')"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        <div class="menu-wrapper" ng-class="{'ec':headerTemplate === 'EC'}">
            <div class="menu-content" ng-repeat="page in menu">
                <div class="menu-item" ng-class="{active: isActive(page.url)}" ng-click="goToPage(page.url)">
                    <a ng-attr-id="{{'uvms-header-menu-item-' + page.elemId}}">
                        {{page.title}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
