<div class="col-md-12 catch-details-container">
    <div class="row">
        <fieldset class="col-md-12 fieldsetStyle catch-section">
            <legend class="fieldsetLegendStyle">
                <span class="legend-title">
                    Catch Summary
                </span>
            </legend>
            <div class="row catch-details-body">
                <div class="col-md-12 col-lg-12">
                    <div class="col-sm-8 col-md-8 col-xs-12 catch-details-item ">
                        <div class="{{ngModel.graphClass}}" ng-repeat="item in ngModel.tripCatchSummary track by $index" ng-if="item.onBoard.length || item.transhipment.length ||item.landing.length">
                            <fieldset class="summary-section catch-details-item-fieldsetStyle"  >
                                    <legend class="fieldsetLegendStyle">
                                        <span ng-if="item.onBoard.length">ONBOARD</span>
                                        <span ng-if="item.transhipment.length">TRA(UNLOADED)</span>
                                        <span ng-if="item.landing.length">LAN(UNLOADED)</span>
                                    </legend>
                                    <div class="pie-container" ng-if="item.onBoard | hasData">
                                        <nvd3 options="options" data="item.onBoard"></nvd3>
                                        <div class="text-center summary">Live weight: {{item.grandOnboardTotal}} kg</div>
                                    </div>    
                                    <div class="pie-container" ng-if="item.transhipment | hasData">
                                        <nvd3 options="options" data="item.transhipment"></nvd3>
                                        <div class="text-center summary">Live weight: {{item.grandTranshipmentTotal}} kg</div>
                                    </div>
                                    <div class="pie-container" ng-if="item.landing | hasData">
                                        <nvd3 options="options" data="item.landing"></nvd3>
                                        <div class="text-center summary">Live weight: {{item.grandLandingTotal}} kg</div>
                                    </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 catch-details-item summary-catch-table">
                        <catch-panel-table data='ngModel.tripTableData' species-colors="ngModel.tripSpeciesColorsObject" headers='ngModel.tripTableHeaders'></catch-panel-table>
                    </div>
                </div>
            </div>
            <div class="row no-data" ng-if="!ngModel.tripCatchSummary[0].onBoard.length && !ngModel.tripCatchSummary[1].landing.length && !ngModel.tripCatchSummary[2].transhipment.length">
                <div class="col-md-12">
                    <span>{{'activity.no_data' | i18n}}</span>
                </div>
            </div>
        </fieldset>
    </div>
</div>
