.catch-details-container {
    .catch-section {
        .catch-details-body {
            display: flex;
            .catch-subsection {
                &.has-caption {
                    padding-bottom: 30px;
                }
                h2 {
                    text-align: center;
                    margin: 0 0 -30px 0;
                }
                .chart-title{
                    margin: 0 0 -40px 0;
                    text-align: center;
                    min-height: 21px;
                    .panel-subtitle{
                        font-size: 15px;
                        font-family: Roboto, Arial;
                    }
                }
                
                &:last-child {
                    border-left: 1px solid #ddd;
                }
                .chart-caption {
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    width: 100%;
                }
                .table {
                    width: auto !important;
                    max-width: none;
                    border: 1px solid #ddd;
                    .tbody {
                        max-height: 120px;
                        overflow-y: auto;
                        padding-right: 16px;
                    }
                    .tr {
                        position: relative;
                        padding-left: 10px;
                        .td:last-child {
                            text-align: center;
                        }
                    }
                    .color-column {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        z-index: 1;
                    }
                }
            }
            .nvd3-chart {
                margin: 0 -15px;
                .nvd3-svg {
                    padding:15px 0;
                }
            }
            .table-responsive-force {
                margin-top: 50px;
            }
        }
    }
    fieldset {
            padding-bottom: 10px;
            margin-bottom: 5px;
            align-items: stretch;
            legend {
                margin: 0 5px 0 -5px;
                padding: 0 5px;
                a {
                    cursor: default;
                }
            }
        }
}