<div class="exchangeSearch" ng-controller="ExchangeSearchController">
	<div class="row">
		<div class="col-md-2">
			<dropdown ng-model="advancedSearchObject.EXCHANGE_TIME_SPAN" no-placeholder-item items="timeSpanOptions"></dropdown>
		</div>
		<div class="col-md-2" ng-if="advancedSearchObject.EXCHANGE_TIME_SPAN !== 'CUSTOM_HOURS'">
			<datepicker-input model="advancedSearchObject.DATE_RECEIVED_FROM" time="true" max-date="advancedSearchObject.DATE_RECEIVED_TO" placeholder="{{'exchange.search_from' | i18n}}" input-field-id="exchange-log-search-from-date-picker"></datepicker-input>
		</div>
		<div class="col-md-2" ng-if="advancedSearchObject.EXCHANGE_TIME_SPAN !== 'CUSTOM_HOURS'">
			<datepicker-input model="advancedSearchObject.DATE_RECEIVED_TO" time="true" min-date="advancedSearchObject.DATE_RECEIVED_FROM" placeholder="{{'exchange.search_to' | i18n}}" input-field-id="exchange-log-search-to-date-picker"></datepicker-input>
		</div>
        <div class="form-group col-md-2" ng-if="advancedSearchObject.EXCHANGE_TIME_SPAN === 'CUSTOM_HOURS'">
            <div class="unit-input">
                <input type="number" ng-model="advancedSearchObject.hours" min="0" step="1" class="form-control"/>
                <div class="unit-box">{{'exchange.search_hour_unit' | i18n}}</div>
            </div>
        </div>
		<div class="col-md-2">
			<input type="text" ng-model="advancedSearchObject.SENDER_RECEIVER" placeholder="{{'exchange.search_sender_reciever' | i18n}}" class="form-control"/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<dropdown ng-model="advancedSearchObject.RECIPIENT" initialtext="{{'exchange.search_recipient' | i18n}}" items="recipientItems"></dropdown>
		</div>
		<div class="col-md-2">
			<dropdown ng-model="advancedSearchObject.SOURCE" initialtext="{{'exchange.search_source' | i18n}}" items="sourceItems"></dropdown>
		</div>
		<div class="col-md-2">
			<dropdown ng-model="advancedSearchObject.TYPE" initialtext="{{'exchange.search_type' | i18n}}" items="typeItems"></dropdown>
		</div>
		<div class="col-md-2">
			<dropdown ng-model="advancedSearchObject.STATUS" initialtext="{{'exchange.search_status' | i18n}}" items="statusItems"></dropdown>
		</div>
		<div class="col-md-4">
			<div class="col-md-6">
				<button type="submit" class="btn btn-primary btn-sm searchButton vmsbtn" ng-click="performAdvancedSearch()">{{'common.search' | i18n}}</button>
			</div>
			<div class="col-md-6">
				<button type="submit" class="btn btn-default btn-sm vmsbtn" ng-click="resetSearch()">{{'common.reset' | i18n}}</button>
			</div>
		</div>
		
	</div>
</div>
