.comboList {
	position: absolute;
	.dropdown-menu {
		z-index: 10000;
		> li > a:empty {
			display: none;
		}
	}
}

.has-error{
    .combobox .btn.btn-default.dropdown-toggle{
    	&,
    	&:focus,
    	&:hover {
        	border:1px solid red;
        	box-shadow: none !important;
        }
    }
    box-shadow:none;
}