.newvessel{

    .row{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .closenewvessel{
        margin-right: 0px;
        top: -20px;
        position: relative;
        right: -15px;
    }
    .closeeditvessel{
        margin-right: 0px;
        top: -25px;
        position: relative;
        right: 15px;   
    }

    .btn.btn-sm.createnewvesselbutton {
        position: relative;
        right: 13px;
    }
     a{
         cursor: pointer;
     }
   
}

