.newvessel{
    border-bottom:2px solid #918D8F;

    .row{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .closenewvessel{
        margin-right: 0px;
    }

    .btn.btn-sm.createnewvesselbutton {
        position: relative;
        right: 13px;
    }
     a{
         cursor: pointer;
     }
   
}

