.errorContainer{
    .errorMessage{
        margin-top:20px;
        margin-bottom:40px;
        overflow-wrap: break-word;
        .errorDetailsTitle{
            margin-top: 40px;
            font-weight: bold;
        }
    }
}