/*
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
*/
.trip-summary {
    position: relative;
    .spatial-error {
        padding: 5px 0 5px 0;
    }
    .btn-trip-quit,
    .btn-print {
        position: absolute;
        z-index: 1;
    }   
    .btn-trip-quit {
        right: -25px;
        top: 6px;
        color:red;
        font-size: 20px;
    }
    .btn-print {
        right: -24px;
        top: 37px;
    }
    .activity-summary-row {
        position: relative;
        &.summary-first-row {
            > .summary-section {
                min-height: 220px;
            }
        }
        .btn-detail-form,
        .btn-trip-evolution {
            position: absolute;
            font-size: 18px;
            right: -8px;
        }
        .btn-detail-form {
            top: 15px;
        }
        .btn-trip-evolution {
            top: 45px;
            right: -10px;
        }
        .catch-section {
            .catch-details-body {
                .chart-title {
                    span.panel-subtitle {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}