.trip-summary {
    position: relative;
    .spatial-error {
        padding: 5px 0 5px 0;
    }
    .activity-summary-row {
        position: relative;
        .btn-detail-form,
        .btn-trip-evolution {
            position: absolute;
            font-size: 18px;
            right: -8px;
        }
        .btn-detail-form {
            top: 15px;
        }
        .btn-trip-evolution {
            top: 45px;
            right: -10px;
        }
        .catch-section {
            .catch-details-body {
                .chart-title {
                    span.panel-subtitle {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}