<!--
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="trip-summary" ng-controller="TripsummaryCtrl">
    <a class="btn-trip-quit" title="{{'activity.trip_summary_quit_trip_detail' | i18n }}" ng-click="navigateBack()" ng-if="srcTab === 'reports'"><i class="fa fa-share-square-o"></i></a>
    <a class="btn-print" title="{{'activity.trip_summary_export_trip' | i18n }}"><i class="fa fa-print"></i></a>
    <div class="row activity-summary-row summary-first-row">
        <fishing-trip-panel class="col-md-4 summary-section" trip="trip"></fishing-trip-panel>
        <vessel-tile class="col-md-2 summary-section" ng-model="trip.tripVessel" tile-title="{{'activity.vessel_details' | i18n }}"></vessel-tile>
        <carousel-tile class="col-md-3 summary-section" tile-title="{{'activity.trip_summary_roles' | i18n}}" ng-model="tripSummServ.trip.tripRoles" template-url="directive/activity/rolesPanel/rolesPanel.html"></carousel-tile>
        <cronology-panel class="col-md-3 summary-section" trip="trip" trip-alert="alert"></cronology-panel>
    </div>
    <div class="row activity-summary-row">
        <map-tile class="col-md-4 summary-section" tile-title="{{'activity.trip_summary_trip_map' | i18n }}" map-data="tripSummServ.trip.mapData" map-height="217"></map-tile>
        <catch-panel class="col-md-8 summary-section" ng-model="trip.catchDetails" with-table="true" is-loading="loadingStatus.isLoading('TripSummary')"
        title="{{'activity.trip_summary_catch'|i18n}}" height="220" unit="kg"></catch-panel>
        <a class="btn-detail-form" title="{{'activity.catch_panel_see_catch_details' | i18n }}" ng-click="srcTab=='activity'?breadcrumbServ.goToItem(4):repNav.goToView('tripsPanel','catchDetails')">
            <i class="fa fa-table"></i>
        </a>
        <a class="btn-trip-evolution" title="{{'activity.catch_panel_see_trip_evolution' | i18n }}" ng-click="srcTab=='activity'?breadcrumbServ.goToItem(6):repNav.goToView('tripsPanel','catchEvolution')">
            <i class="fa fa-line-chart"></i>
        </a>
    </div>
    <div class="row activity-summary-row">
        <trip-reports-panel class="col-md-12 summary-section" trip="trip" trip-alert="alert" activity-trip="activityTrip"></trip-reports-panel>
    </div>
</div>

