.catch-evolution{
    .catch-evolution-container{
        margin-top: -10px;
        padding-left: 0;
        padding-right: 30px;
        overflow-y: auto;
        height: calc(~"100vh - 160px");
        .chart-panel{
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            margin-top: 15px;
        }
        .chart-panel-table{
           margin: 10px 0 0 0; 
        }
    }
}