<div class="exchangeSearch" ng-controller="ExchangeSearchController">
	<div class="row">
		<div class="col-md-1">
			<dropdown ng-model="advancedSearchObject.TIME_SPAN"  no-placeholder-item items="timeSpanOptions"></dropdown>
		</div>
		<div class="col-md-2">
			<datepicker-input model="advancedSearchObject.FROM_DATE" time="true" max-date="advancedSearchObject.TO_DATE" placeholder="{{'exchange.search_from' | i18n}}"></datepicker-input>
		</div>
		<div class="col-md-2">
			<datepicker-input model="advancedSearchObject.TO_DATE" time="true" min-date="advancedSearchObject.FROM_DATE" placeholder="{{'exchange.search_to' | i18n}}"></datepicker-input>
		</div>
		<div class="col-md-2">
			<input type="text" ng-model="freeText" placeholder="{{'exchange.search_ircs_cfr_name' | i18n}}"/>
		</div>
		<div class="col-md-2">
			<dropdown ng-model="advancedSearchObject.RECIPIENT" initialtext="{{'exchange.search_recipient' | i18n}}" items="[{text:'DNK',code:'DNK'}]"></dropdown>
		</div>
		<div class="col-md-1">
			<button type="submit" class="btn btn-primary btn-sm searchButton searchbtntext" ng-click="performAdvancedSearch()">{{'common.search' | i18n}}</button>
		</div>
		<div class="col-md-1">

			<button type="submit" class="btn btn-default btn-sm resetbtntext" ng-click="resetSearch()">{{'common.reset' | i18n}}</button>
		</div>
	</div>
</div>
