.alert{
    padding:15px;

    .icon{
        position: absolute;
        top:5px;
        text-align: center; 
        color:#fff;
        //.opacity(0.5);
        font-size:2em;
        width:30px;
    }

    .message{
        position:relative;
        padding-left:40px;
        font-weight: bold;
    }
}