<div class="rulesTableDetailsContainer">

    <div class="row">
        <div search-results-table search="currentSearchResults" class="col-md-8">
            <table class="searchResults">
                <thead>
                    <tr class="searchInputRow dateSearch">
                        <th>
                            <dropdown ng-model="searchObject.TIME_SPAN" no-placeholder-item items="timeSpanOptions" ></dropdown>
                        </th>
                        <th>
                            <datepicker-input model="searchObject.FROM_DATE" time="true"  max-date="searchObject.TO_DATE" placeholder="{{'common.search_from' | i18n}}" input-field-id="rules-search-from-date-picker"></datepicker-input>
                        </th>
                        <th>
                            <datepicker-input model="searchObject.TO_DATE" time="true" min-date="searchObject.FROM_DATE" placeholder="{{'common.search_to' | i18n}}" input-field-id="rules-search-to-date-picker"></datepicker-input>
                        </th>
                        <th class="searchButton">
                            <button type="submit" class="btn btn-primary" ng-click="searchAlarms()" ng-disabled="currentSearchResults.loading">{{'common.search' | i18n}}</button>
                        </th>
                    </tr>
                    <tr>
                        <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'openDate'">{{'alarms.alarms_table_date_openend' | i18n}}</th>
                        <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'vessel.name'">{{'alarms.alarms_table_object_affected' | i18n}}</th>
                        <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'ruleName'">{{'alarms.alarms_table_rule' | i18n}}</th>
                        <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'updated'">{{'alarms.alarms_table_date_resolved' | i18n}}</th>
                        <th sortable-table-header by="currentSearchResults.sortBy" reverse="currentSearchResults.sortReverse" order="'updatedBy'">{{'alarms.alarms_table_resolved_by' | i18n}}</th>
                        <th class="positions">{{'alarms.alarms_table_position' | i18n}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in currentSearchResults.items | orderBy:currentSearchResults.sortBy:currentSearchResults.sortReverse">
                        <td>
                            <div class="iconToTheLeftOfTheTableCell" ng-show="item.status">
                                <i ng-show="item.isClosed()" class="fa fa-lg fa-circle closed" tooltip-placement="bottom" tooltip="{{'alarms.alarms_status_closed' | i18n}}"></i>
                                <i ng-show="item.isOpen()" class="fa fa-lg fa-circle open" tooltip-placement="bottom" tooltip="{{'alarms.alarms_status_open' | i18n}}"></i>
                                <i ng-show="item.isPending()" class="fa fa-lg fa-circle pending" tooltip-placement="bottom" tooltip="{{'alarms.alarms_status_pending' | i18n}}"></i>
                            </div>
                            {{item.openDate | confDateFormat}}
                        </td>
                        <td>
                            <span class="link" ng-show="item.vessel">{{item.vessel.name}}</span>
                            <span ng-show="!item.vessel && item.assetId">{{item.assetId.type}}: {{item.assetId.value}}</span>
                        </td>
                        <td>{{item.ruleName}}</td>
                        <td><span ng-show="!item.isOpen()" class="link">{{item.updated | confDateFormat}}</span></td>
                        <td><span ng-show="!item.isOpen()" class="link">{{item.updatedBy}}</td>
                        <td class="positions">
                            <span class="fa fa-globe" ng-show="item.positionGuid" ng-click="showOnMap(item)" title="{{'common.show_on_map' | i18n}}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <search-results-pagination page='currentSearchResults.page' total='currentSearchResults.totalNumberOfPages' callback='gotoPage'></search-results-pagination >
        </div>
    </div>

</div>
