<div>
    <div class="col-md-12 smallerpadding">
        <div class="row nomargin">
            <div class="col-md-2 smallerpadding searchcriteria">
                <tag-select-input ng-model="advancedSearchObject.FLAG_STATE" ng-placeholder="{{'vessel.advanced_search_placeholder_flag_state' | i18n}}" items="flagStates" multiple-selection-dropdown="2" callback="resetSelectedVesselGroup" input-field-id="asset-dropdown-search-flagstates"></tag-select-input>
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" placeholder="{{'vessel.advanced_search_placeholder_external_number' | i18n}}" class="form-control" ng-model="advancedSearchObject.EXTERNAL_MARKING" ng-change="resetSelectedVesselGroup()" id="asset-input-search-externalMarking">
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" placeholder="{{'vessel.advanced_search_placeholder_name' | i18n}}" class="form-control" tabindex="3" ng-model="advancedSearchObject.NAME" ng-change="resetSelectedVesselGroup()" id="asset-input-search-name">
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" placeholder="{{'vessel.advanced_search_placeholder_signal_ircs' | i18n}}" class="form-control" tabindex="4" ng-model="advancedSearchObject.IRCS" ng-change="resetSelectedVesselGroup()" id="asset-input-search-ircs">
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" placeholder="{{'vessel.advanced_search_placeholder_cfr' | i18n}}" class="form-control" tabindex="5" ng-model="advancedSearchObject.CFR" ng-change="resetSelectedVesselGroup()" id="asset-input-search-cfr">
            </div>
            <div class="col-md-1 smallerpadding searchcriteria">
                <input type="text" placeholder="{{'vessel.advanced_search_placeholder_uvi' | i18n}}" class="form-control" tabindex="5" ng-model="advancedSearchObject.UVI" ng-change="resetSelectedVesselGroup()" id="asset-input-search-uvi">
            </div>
            <div class="col-md-1 smallerpadding searchcriteria">
                <input type="text" placeholder="{{'vessel.advanced_search_placeholder_iccat' | i18n}}" class="form-control" tabindex="5" ng-model="advancedSearchObject.ICCAT" ng-change="resetSelectedVesselGroup()" id="asset-input-search-iccat">
            </div>
        </div>

        <div class="row nomargin">
            <div class="col-md-2 smallerpadding">
                <div class="row nomargin">
                    <div class="col-md-12 colNoPadding searchcriteria">
                        <saved-search-dropdown type="VESSEL" class="dropdown simpleSearch" ng-model="selectedVesselGroup" initialtext="{{'common.search_group_dropdown' | i18n}}" callback="performSavedSearch" enable-delete="true" input-field-id="asset-dropdown-search-saved-groups"></saved-search-dropdown>
                    </div>
                </div>
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" name="searchmmsi" placeholder="{{'vessel.advanced_search_placeholder_mmsi' | i18n}}" class="form-control" tabindex="6" ng-model="advancedSearchObject.MMSI" ng-change="resetSelectedVesselGroup()" tab-index="6" id="asset-input-search-mmsi">
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" placeholder="{{'vessel.advanced_search_placeholder_homeport_name' | i18n}}" class="form-control" tabindex="7" ng-model="advancedSearchObject.HOMEPORT" ng-change="resetSelectedVesselGroup()" tab-index="7" id="asset-input-search-homeport">
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <grouped-combobox ng-model="advancedSearchObject.GEAR_TYPE" items="gearTypes" initialtext="{{'vessel.advanced_search_placeholder_gear_type' | i18n}}" callback="resetSelectedVesselGroup" tab-index="8" input-field-id="asset-dropdown-search-gearType"></grouped-combobox>
            </div>
            <div class="col-md-2 smallerpadding searchcriteria">
                <input type="text" placeholder="{{'vessel.advanced_search_placeholder_producer_name' | i18n}}" class="form-control" ng-model="advancedSearchObject.PRODUCER_NAME" ng-change="resetSelectedVesselGroup()" tab-index="9" id="asset-dropdown-search-producername">
            </div>
            <div class="col-md-1 smallerpadding searchcriteria">
                <dropdown ng-model="advancedSearchObject.LENGTH_SPAN" initialtext="{{'vessel.advanced_search_placeholder_length' | i18n}}" items="lengthSpans" callback="resetSelectedVesselGroup" tab-index="10" input-field-id="asset-dropdown-search-lengthValue"></dropdown>
            </div>
            <div class="col-md-1 smallerpadding searchcriteria">
                <dropdown ng-model="advancedSearchObject.POWER_SPAN" initialtext="{{'vessel.advanced_search_placeholder_power' | i18n}}" items="powerSpans" callback="resetSelectedVesselGroup" tab-index="11" input-field-id="asset-dropdown-search-power"></dropdown>
            </div>
        </div>
        <div class="row nomargin">
            <div class="col-md-1 col-md-offset-10 smallerpadding">
                <div class="row nomargin">
                    <div class="col-md-12 colNoPadding searchcriteriadropdown">
                        <button type="submit" class="btn btn-primary btn-sm fullWidth vmsbtn" ng-disabled="advancedSearchForm.$invalid" ng-click="performSearch()" tabindex="12" id="asset-btn-advanced-search">
                            {{'common.search' | i18n}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-1 smallerpadding">
                <div class="row nomargin">
                    <div class="col-md-12 colNoPadding searchcriteriadropdown">
                        <button type="button" class="btn btn-default btn-sm fullWidth vmsbtn" ng-click="resetSearch()" tabindex="13" id="asset-btn-reset-search">
                            {{'common.reset' | i18n}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
