<div class="areaDetailsModal">
    <div class="modal-header">
        <div class="pointer pull-right" ng-click="cancel()">
             <i class="fa fa-times closeicon"></i>
        </div>
        <h4 class="modal-title">{{'areas.area_details_title' | i18n}}</h4>
    </div>
    <div class="modal-body">
    	<div class="form-horizontal">
    		<div class="form-group">
    			<label class="col-md-3">{{'areas.user_area_name' | i18n}}</label>
    			<div class="col-md-9">
    				<div>{{area.name}}</div>
    			</div>
    		</div>
    		<div class="form-group">
    			<label class="col-md-3">{{'areas.user_area_description' | i18n}}</label>
    			<div class="col-md-9">
    				<div>{{area.areaDesc}}</div>
    			</div>
    		</div>
    		<div class="form-group">
    			<label class="col-md-3 special-label">{{'areas.user_area_validity_range' | i18n}}</label>
    			<div class="col-md-9">
    				<div class="form-inline col-md-6" ng-show="area.startDate">
    					<div class="form-group">
	    					<label>{{'areas.user_area_valid_from' | i18n}}</label>
	    					<div class="form-control">{{area.startDate | stDateUtc}}</div>
    					</div>
    				</div>
    				<div class="form-inline col-md-6" ng-show="area.endDate">
    					<div class="form-group">
    						<label>{{'areas.user_area_valid_to' | i18n}}</label>
    						<div class="form-control">{{area.endDate | stDateUtc}}</div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="form-group">
    			<label class="col-md-3">{{'areas.user_area_type' | i18n}}</label>
    			<div class="col-md-9">
    				<div>{{area.subType}}</div>
    			</div>
    		</div>
    		<div class="form-group scopes" ng-show="scopes">
    			<label class="col-md-3">{{'areas.user_area_scope_selection' | i18n }}</label>
    			<div class="col-md-9">
    				<ul>
    					<li ng-repeat="item in area.scopeSelection">{{item}}</li>
    				</ul>
    			</div>
    		</div>
    		<div class="form-group" ng-show="dataset">
    			<label class="col-md-3">{{'areas.user_area_dataset_name' | i18n }}</label>
    			<div class="col-md-9">
    				{{area.datasetName}}
    			</div>
    		</div>
    	</div>
    </div>
</div>