.referenceDataSettings {
  .inline-combo {
    display: inline-block;
    width: 155px;
    margin-left: 10px;
  }
  .with-right-margin {
    margin-right: 30px;
  }
  .card {
    min-height: 480px;
    height: 480px;
    max-height: 480px;
  }
  .areas-visualizer {
    height: 400px;
    border: 1px solid #ddd;
  }
  .panel-body {
    position: relative;
  }
  .noPadding {
    padding: 0;
  }
  .btn-with-right-margin {
    margin-right: 12px;
  }
  .searchRow {
    margin-bottom: 10px;
    button {
      min-width: 100px;
      width: 100%;
      font-weight: bold;
      span {
        text-transform: uppercase;
      }
    }
  }
  
  .group-list {
    margin-right: 15px;
  }

  .selectionContainer {
    margin: 0;
    .scroller {
      max-height: 434px;
      overflow-y: auto;
      margin-right: -15px;
      > ul > li {
        cursor: auto;
        border: 1px solid @profileColor_gray;
        border-radius: 5px;
        margin: 5px 0 0 0;
        padding: 0 5px;
        background-color: @profileColor_lightgray; 
        p {
          margin: 5px 0 0 0;
        }
        .pointer {
          i {
            line-height: 27px;  
          }
          cursor: pointer;
          color: @profileColor_red;
        }
      }
    }
  }
  .ref-data-table {
    max-height: 278px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .footer-with-no-bottom-margin{
    ul {
      margin-bottom: 0;
      padding-bottom: 0;
      margin-top: 15px;
    }
  }
  .table {
    .thead > .tr > .th {
      font-weight: bold;
    }
    .tbody > .tr > .td {
      line-height: 26px;
    }
  }
  .row-expander {
    color: @profileColor_blue;
    margin-right: 5px;
  }
  .td-details {
    border-top: 0 !important;
    font-size: 11px;
    padding: 0 8px 8px 25px !important;
    ul {
      margin: 0;
      li {
        line-height: 15px;
      }
    }
  }
  .reset-row {
    margin-top: 20px;
  }
  .check-btn {
    margin-right: 15px;
    float: right;
  }
  .check-all-btn {
    padding: 0 5px !important;
    margin-right: 15px;
    float: right;
    width: auto !important;
  }
  .blue-badge {
    background-color: @profileColor_blue;
  }
}