<div>
	<div static-include="partial/admin/adminPageHeader/adminPageHeader.html"></div>
	<!-- Nav tabs -->
    <div class="containerWrapper pollingTabs">
        <div class="container">
        	<ul class="nav nav-tabs" role="tablist">
				<li ng-repeat="tab in tabMenu" class="audittab" ng-click="selectTab(tab.tab)" ng-class="{'active': selectedTab === '{{tab.tab}}'}">
					<span>{{tab.title}}</span>
				</li>
			</ul>
        </div>
    </div>
	<div class="container containerWithTopBottomPadding nopaddingtop">
		<div class="card nomargintop">
			<div class="auditsearchform">
				<advanced-search searchfunc="searchAuditLogs" modeltype="'AUDIT'" advancedsearchvisible="true"></advanced-search>
			</div>
            <div search-results-table search="currentSearchResults" load-next-page-function="loadNextPage">
    			<table class="searchResults colorOdd">
    				<thead>
    					<tr>
    						<th class="checkboxContainer">
    							<input type="checkbox" ng-click="toggleCheckAll()" ng-checked="isAllChecked()"/>
    						</th>
    						<th sortable-table-header by="sortBy" reverse="reverseSort" order="'username'">
    							{{"audit.column_username" | i18n}}
    						</th>
    						<th sortable-table-header by="sortBy" reverse="reverseSort" order="'operation'">
    							{{"audit.column_operation" | i18n}}
    						</th>
    						<th sortable-table-header by="sortBy" reverse="reverseSort" order="'objectType'">
    							{{"audit.column_object_type" | i18n}}
    						</th>
    						<th sortable-table-header by="sortBy" reverse="reverseSort" order="'date'">
    							{{"audit.column_date" | i18n}}
    						</th>
    						<th>
    							{{"audit.column_object_affected" | i18n}}
    						</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr ng-repeat="audit in currentSearchResults.items | orderBy:sortBy:reverseSort">
    						<td class="checkboxContainer"><input type="checkbox" ng-click="audit.checked = !audit.checked" ng-checked="audit.checked"/></td>
    						<td>{{audit.username}}</td>
    						<td>{{audit.operation}}</td>
    						<td>{{audit.objectType}}</td>
    						<td>{{audit.date | confDateFormat}}</td>
    						<td><a ng-href="#{{affectedObjectPath(audit)}}" ng-show="affectedObjectPath(audit)">{{"audit.show_object" | i18n}}</a></td>
    					</tr>
    				</tbody>
    			</table>
            </div>

	   </div>
	</div>
</div>
