<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="auditLogContainer">
    <div static-include="partial/admin/adminPageHeader/adminPageHeader.html"></div>
    <!-- Nav tabs -->
    <div class="containerWrapper pollingTabs">
        <div class="container">
            <content-tabs
                selected-tab="selectedTab"
                functions="contentTabsFunctions">
            </content-tabs>
        </div>
    </div>
    <div class="container containerWithTopBottomPadding nopaddingtop">
        <div class="card nomargintop">
            <div class="row auditsearchform">
                <div class="col-md-11">
                    <advanced-search searchfunc="searchAuditLogs" modeltype="'AUDIT'" advancedsearchvisible="true"></advanced-search>
                </div>
            </div>
            <div class="row filterRow">
                <div class="col-md-12 nopadding">
                    <div class="col-md-2">
                        <dropdown ng-model="editSelection" initialtext="{{'common.actions' | i18n}}" items="editSelectionDropdownItems" menu-style callback="editSelectionCallback" input-field-id="admin-dropdown-actions"></dropdown>
                    </div>
                </div>
            </div>

            <div class="row" st-table="currentSearchResultsByPage" st-safe-src="allCurrentSearchResults">
                <div search-results-table search="currentSearchResults" class="col-md-12 holding-table">
                    <table class="searchResults colorOdd truncate-text">
                        <thead>
                            <tr>
                                <th class="checkboxContainer">
                                    <input type="checkbox" ng-click="toggleCheckAll()" ng-checked="isAllChecked()" ng-disabled="!currentSearchResults.items.length"/>
                                </th>
                                <th class="st-sort" st-sort="username" st-skip-natural="true">
                                    {{"audit.column_username" | i18n}}
                                </th>
                                <th class="st-sort" st-sort="operation" st-skip-natural="true">
                                    {{"audit.column_operation" | i18n}}
                                </th>
                                <th class="st-sort" st-sort="objectType" st-skip-natural="true">
                                    {{"audit.column_object_type" | i18n}}
                                </th>
                                <th class="st-sort" st-sort="date" st-sort-default="reverse" st-skip-natural="true">
                                    {{"audit.column_date" | i18n}}
                                </th>
                                <th>
                                    {{"audit.column_object_affected" | i18n}}
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="audit in currentSearchResultsByPage">
                                <td class="checkboxContainer"><input type="checkbox" ng-click="audit.checked = !audit.checked" ng-checked="audit.checked"/></td>
                                <td>{{audit.username}}</td>
                                <td>{{audit.operation}}</td>
                                <td>{{audit.objectType}}</td>
                                <td>{{audit.date | confDateFormat}}</td>
                                <td>
                                    <a ng-href="#{{affectedObjectPath(audit)}}" ng-show="affectedObjectPath(audit)" title="{{'common.view_details' | i18n}}">{{affectedObjectLinkText(audit)}}</a>
                                    <span ng-show="!affectedObjectPath(audit) && affectedObjectText(audit)">{{affectedObjectText(audit)}}</span>
                                </td>
                                <td class="textAlignCenter">
                                    <button class="btn btn-sm btn-default" ng-show="itemHasComment(audit)" ng-click="showComment(audit)" title="{{'common.view_comment' | i18n}}">
                                        <i class="fa fa-commenting"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="12" class="text-right" ng-show="allCurrentSearchResults.length > itemsByPage">
                                    <div st-pagination st-items-by-page="itemsByPage" st-template="partial/common/reportsPagination/reportsPagination.html"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
       </div>
    </div>
</div>
