.auditLogContainer{
	.audittab{
        padding: 10px 15px;
        background: #fff !important;
        text-transform: uppercase;
        font-weight: bold;
        border-left: 1px solid #DDD;
        border-top: 1px solid #DDD;
        border-top: 1px solid #DDD;
        color: #428bca;
    }
    .audittab:last-child
    {
        border-right: 1px solid #DDD;
    }
    .audittab.active{
        background-color: @primaryColor !important;
        color: #fff !important;
    }
    .pollingTabs{
        .nav-tabs > li
        {
            margin-bottom: 0px;
        }
    }

    .card-header{
        padding-bottom: 0px;
    }

    .auditsearchform{
        margin-bottom:20px;
    }

    .printAndExport{
        position: relative;
        top: 18px;
    }
}