.searchResultsPaginationContainer{
    text-align: right;
    .pagination{
        > li.currentPage {
            cursor: pointer;
            color:#000;
            > span {
                padding: @padding-xs-vertical @padding-base-horizontal;
            }
        }

        input{
            width: 50px;
        }
    }
}