<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div>
    <form novalidate name="loginForm" class="form-horizontal">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-4">
                    <h3>Log in</h3>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12" ng-class="messageDivClass">
                    <span ng-bind="actionMessage"></span>
                </div>
            </div>

            <p>Your session timed out / or not authorised. Please, log in again.</p>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="userId" class="col-md-3 control-label">Username</label>

                        <div class="col-md-5">
                            <input class="form-control" id="userId" name="userName" placeholder="Username" ng-model="login.userName" required>

                            <div ng-show="loginForm.userName.$dirty">
                                <span class="text-danger small" ng-show="loginForm.userName.$error.required">Username is required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password</label>

                        <div class="col-md-5">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="login.password" required>

                            <div ng-show="loginForm.password.$dirty">
                                <span class="text-danger small" ng-show="loginForm.password.$error.required">Password is required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="retry(login)">Login</button>
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </form>

</div>