<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<!--<div ng-controller="resetPasswordSecurityQuestions"> -->
<div ng-controller="ModifySecurityAnswer">
    <form novalidate class="form-horizontal" name="setMySecurityAnswerForm" ng-submit="setMySecurityAnswerForm.$valid && saveMySecurityAnswer(mySecurityQuestions)">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-7">
                    <h3 class="modal-title">Set new password </h3>
                </div>
            </div>

        </div>

        <br class="modal-body ">



        <div class="row">

          <div class="col-md-12" ng-class="messageDivClass">
            <span ng-bind-html="actionMessage" ng-class="messageClass"></span>
          </div>

        </div>


        <div class="row">
            <div class="form-group">
                <label class="col-md-8 col-md-offset-1" >
                    <h4 class="modal-title">Security questions: </h4></label>

            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text"
                           class="form-control"
                           id="challenge1"
                           name="challenge1"
                           ng-disabled="true"
                           ng-model="mySecurityQuestions.results[0].challenge" >
                </div>
            </div>
        </div>


        <div class="row">
          <div class="form-group">
               <label class="col-md-3 col-md-offset-1" for="response1">Answer:
                   <sup class="fa fa-asterisk mandatory" ></sup></label>
                      <div class="col-md-7">
                        <input type="text"
                               class="form-control"
                               id="response1"
                               name="response1"
                               ng-model="mySecurityQuestions.results[0].response"
                               required>

              <div ng-show="setMySecurityAnswerForm.response1.$dirty">
                  <span class="text-danger small" ng-show="setMySecurityAnswerForm.response1.$error.required">An answer is required</span>
              </div>
          </div>
         </div>
        </div>

      <div class="row">
          <div class="form-group">
              <div class="col-md-10 col-md-offset-1">
                  <input type="text"
                         class="form-control"
                         id="challenge2"
                         name="challenge2"
                         ng-disabled="true"
                         ng-model="mySecurityQuestions.results[1].challenge"
                         ng-show="show2questions">

              </div>
          </div>
      </div>

  <div class="row">
      <div class="form-group">
          <label class="col-md-3 col-md-offset-1" ng-show="show2questions" for="response2">Answer:
              <sup class="fa fa-asterisk mandatory" ></sup></label>
          <div class="col-md-7">
              <input type="text"
                     class="form-control"
                     id="response2"
                     name="response2"
                     ng-model="mySecurityQuestions.results[1].response"
                     ng-show="show2questions"
                     ng-required="show2questions">

              <div ng-show="setMySecurityAnswerForm.response2.$dirty">
                  <span class="text-danger small" ng-show="setMySecurityAnswerForm.response2.$error.required">An answer is required</span>
              </div>
          </div>
      </div>
   </div>

      <div class="row">
          <div class="form-group">
              <div class="col-md-10 col-md-offset-1">
                 <input type="text"
                         class="form-control"
                         id="challenge3"
                         name="challenge3"
                         ng-disabled="true"
                         ng-model="mySecurityQuestions.results[2].challenge"
                         ng-show="show3questions">

              </div>
          </div>
      </div>

          <div class="row">
              <div class="form-group">
                  <label class="col-md-3 col-md-offset-1" ng-show="show3questions" for="response3">Answer 3
                      <sup class="fa fa-asterisk mandatory" ></sup></label>
                          <div class="col-md-7">
                               <input type="text"
                                      class="form-control"
                                      id="response3"
                                      name="response3"
                                      ng-model="mySecurityQuestions.results[2].response"
                                      ng-show="show3questions"
                                      ng-required="show3questions">

                 <div ng-show="setMySecurityAnswerForm.response3.$dirty && show3questions">
                       <span class="text-danger small" ng-show="setMySecurityAnswerForm.response3.$error.required && show3questions">Answer 3 is required</span>
                </div>
          </div>
      </div>
   </div>

   <br />

        <div class="row">
            <div class="form-group">
                <label class="col-md-3 col-md-offset-1" for="newPassword">New Password
                    <sup class="fa fa-asterisk mandatory" ></sup></label>
                <div class="col-md-5">
                    <input type="password"
                           class="form-control"
                           id="newPassword"
                           name="newPassword"
                           ng-model="passwordData.newPassword"
                           required>
                    <div ng-show="setMyPasswordForm.newPassword.$dirty">
                        <span class="text-danger small" ng-show="setMyPasswordForm.newPassword.$error.required">New Password is required</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-md-3 col-md-offset-1" for="repeatedPassword">Confirm Password
                    <sup class="fa fa-asterisk mandatory"></sup></label>
                <div class="col-md-5">
                    <input type="password"
                           class="form-control"
                           name="confirmPassword"
                           id="confirmPassword"
                           ng-model="passwordData.confirmPassword"
                           repeat-password="newPassword">
                    <div ng-show="setMyPasswordForm.confirmPassword.$dirty">
                        <span class="text-danger small" ng-show="passwordData.confirmPassword!==passwordData.newPassword">Passwords do not match</span>
                        <span class="text-danger small" ng-show="setMyPasswordForm.confirmPassword.$error.required">Confirmed Password is required</span>
                    </div>
                </div>
            </div>
        </div>

      <div class="modal-footer">
      <div class="row">
          <div class="col-md-offset-8 text-left"></div>
          <div class="col-md-offset-8 col-md-4">
              <input type="button" class="btn btn-warning btn-sm"  ng-show="!securityQuestionsUpdated" ng-click="cancel()" value="Cancel"/>
              <input type="submit" class="btn btn-primary btn-sm" value="Save"
                     ng-disabled="setMySecurityAnswerForm.$invalid" ng-show="!securityQuestionsUpdated && !showConfirmation"/>
              <input type="submit" class="btn btn-primary btn-sm" value="Confirm"
                     ng-disabled="setMySecurityAnswerForm.$invalid" ng-show="!securityQuestionsUpdated && showConfirmation" />
              <label class="btn btn-success btn-sm fa fa-check" ng-show="securityQuestionsUpdated" />
          </div>
      </div>
  </div>


</form>
</div>