<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<!--<div ng-controller="resetPasswordController"> -->
 <div>

    <form novalidate name="ResetPasswordForm" class="form-horizontal" ng-submit="ResetPasswordForm.$valid && resetPassword()">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-12">
                    <h3>Reset password</h3>
                </div>
            </div>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12" ng-class="messageDivClass">
                    <span ng-bind="actionMessage"></span>
                </div>
            </div>

            <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 col-md-offset-1" for="userName" >Username
                            <sup class="fa fa-asterisk mandatory" ></sup></label>
                        <div class="col-md-7">
                            <input type="text"
                                   class="form-control"
                                   id="userName"
                                   name="userName"
                                   ng-model="resetPassword.userName"
                                   required>

                            <div ng-show="ResetPasswordForm.userName.$dirty">
                                <span class="text-danger small" ng-show="ResetPasswordForm.userName.$error.required">Username is required</span>
                            </div>
                        </div>

                </div>
            </div>

        </div>


            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="ResetPasswordForm.$invalid" ng-click="resetPassword(userName)">Reset password</button>
                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
    </form>

</div>