<div ng-controller="AuditlogCtrl">
	<div static-include="partial/audit/auditPageHeader/auditPageHeader.html"></div>
	<!-- Nav tabs -->
    <div class="containerWrapper pollingTabs">
        <div class="container">
        	<ul class="nav nav-tabs" role="tablist">
				<li ng-repeat="tab in tabMenu" class="audittab" ng-click="selectTab(tab.tab)" ng-class="{'active': selectedTab === '{{tab.tab}}'}">
					<span>{{tab.title}}</span>
				</li>
			</ul>
        </div>
    </div>
	<div class="container">
		<div class="auditsearchform">
			<advanced-search searchfunc="searchAuditLogs" modeltype="'AUDIT'" advancedsearchvisible="true"></advanced-search>
		</div>
		<table class="searchResults">
			<thead>
				<tr>
					<th>
						<input type="checkbox" ng-click="toggleCheckAll()" ng-checked="isAllChecked()"/>
					</th>
					<th sortable-table-header by="sortBy" reverse="reverseSort" order="'username'">
						{{"audit.column_username" | i18n}}
					</th>
					<th sortable-table-header by="sortBy" reverse="reverseSort" order="'operation'">
						{{"audit.column_operation" | i18n}}
					</th>
					<th sortable-table-header by="sortBy" reverse="reverseSort" order="'objectType'">
						{{"audit.column_object_type" | i18n}}
					</th>
					<th sortable-table-header by="sortBy" reverse="reverseSort" order="'date'">
						{{"audit.column_date" | i18n}}
					</th>
					<th>
						{{"audit.column_object_affected" | i18n}}
					</th>
				</tr>	
			</thead>
			<tbody>
				<tr ng-repeat="audit in currentSearchResults.audits | orderBy:sortBy:reverseSort">
					<td><input type="checkbox" ng-click="audit.checked = !audit.checked" ng-checked="audit.checked"/></td>
					<td>{{audit.username}}</td>
					<td>{{audit.operation}}</td>
					<td>{{audit.objectType}}</td>
					<td>{{audit.date | date:"medium"}}</td>
					<td><a ng-click="showAuditModal(audit)">{{"audit.show_object" | i18n}}</a></td>
				</tr>
			</tbody>
		</table>

        <search-result-error-alert ng-show="currentSearchResults.errorMessage">{{currentSearchResults.errorMessage}}</search-result-error-alert>

	    <div class="col-md-12 searchResultsLoading" ng-show="currentSearchResults.loading">
	        <i class="fa fa-spinner fa-spin fa-pulse fa-2x"></i>        
	    </div>
	    <div class="row" ng-show="currentSearchResults.totalNumberOfPages > 0">
	        <div class="col-md-12">{{'common.search_results_current_page' | i18n:[currentSearchResults.currentPage, currentSearchResults.totalNumberOfPages]}}</div>
	    </div>
	    <div class="row" ng-show="currentSearchResults.totalNumberOfPages > 0 && currentSearchResults.totalNumberOfPages > currentSearchResults.page">
	        <div class="col-md-12 textAlignCenter">
	            <span class="link" ng-click="loadNextPage()"> {{'common.search_results_load_more' | i18n | uppercase}}</span>
	        </div>
	    </div>

	</div>
</div>
