	.audittab{
		padding: 10px 15px;
		background: #fff !important;
		text-transform: uppercase;
		font-weight: bold;
		border-left: 1px solid #DDD;
		border-top: 1px solid #DDD;
		border-top: 1px solid #DDD;
	}
	.audittab:last-child
	{
		border-right: 1px solid #DDD;
	}
	.audittab.active{
		background-color: #18a689 !important;
		color: #fff !important;
	}

