<!--
Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="containerWrapper" ng-controller="LiveviewpanelCtrl">
	<div id="liveview-panel" ng-include="'partial/spatial/liveViewPanel/mapPanel/mapPanel.html'" ng-show="repNav.isViewVisible('mapPanel')"></div>
	<div class="container containerWithTopBottomPadding" ng-if="repNav.isSectionVisible('liveViewPanel') && (repNav.isViewVisible('vmsPanel') || repNav.isViewVisible('catchDetails'))">
		<div ng-if="repServ.hasAlert" class="alert alert-container" ng-class="{'alert-warning': repServ.alertType === 'warning', 'alert-danger': repServ.alertType === 'danger'}" role="alert">
			<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
			<span class="alert-message">
				<span>{{repServ.message}}</span>            
			</span>
		</div>
		<div class="card rep-no-map-container">
			<loading-panel type="LiveviewMap" ng-if="!isModal"></loading-panel>
			<div class="row form-group">
				<div class="col-md-4">
					<combobox ng-model="repServ.selectedHistory" initialtext="{{repServ.name}}" items="repServ.reportsHistory" combo-section="true" callback="selectHistory" init-callback="initComboHistory"
					is-loading="repServ.loadingReportHistory" class="combo-report-history" no-placeholder-on-list="true" list-class="combo-report-history-list"></combobox>
				</div>
				<div class="col-md-8 textAlignRight buttonContainer">
					<button type="button" class="btn btn-primary btn-sm" ng-show="repServ.id !== undefined" ng-click="editReport()">
						<i class="fa fa-pencil"></i>&nbsp;
						<span>{{'spatial.reports_edit_report' | i18n}}</span>
					</button>
					<button type="button" class="btn btn-primary btn-sm btn-preferences" ng-click="repNav.goToSection('userPreferences')" ng-if="isAllowed('Spatial', 'ALLOW_USER_SPATIAL_CONFIGURATIONS') && curState !== 'app.reporting-id'">
						<i class="fa fa-cog"></i>&nbsp;
						<span>{{'spatial.user_preferences' | i18n}}</span>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div ng-include="'partial/spatial/liveViewPanel/vmsPanel/vmsPanel.html'" ng-if="repNav.isViewVisible('vmsPanel')"></div>
					<div class="trips-panel" ng-include="'partial/spatial/tripsPanel/catchDetails/catchDetails.html'" ng-if="repNav.isViewVisible('catchDetails')"></div>
				</div>
			</div>
		</div>
	</div>
</div>

