<div class="containerWrapper" ng-controller="LiveviewpanelCtrl">
	<div class="container spatialpages">
		<div class="spatialtabpanel">
			<ul class="nav nav-tabs tabs-left sideways" role="tablist">
				<li ng-repeat="tab in tabMenu" class="sourcetab" ng-click="selectTab(tab.tab)" ng-class="{'active': selectedTab === '{{tab.tab}}'}"><a>{{tab.title}}</a></li>
			</ul>
		</div>
		<div class="spatialtab-content" ng-show="isTabSelected('MAP')">
			<div ng-include="'partial/spatial/liveViewPanel/mapPanel/mapPanel.html'"></div>
		</div>
		<div class="spatialtab-content" ng-show="isTabSelected('VMS')">
			<div ng-include="'partial/spatial/liveViewPanel/vmsPanel/vmsPanel.html'"></div>
		</div>
	</div>
</div>
