#liveview-panel {
	.alert-modal-content {
		.modal-dialog {
			.modal-content {
				top: 57px;
				margin-left: 265px;
				margin-right: 38px;
			}
		}
	}
}

.spatial-tabular-card {
		position: relative;
		background-color: white;
		border: 1px solid #dddddd;
		border-top: 5px solid #dddddd;
		margin-top: 10px;
		border-radius: 0px;
		display: table;
		width: 100%;
}
