<div class="container containerWithTopBottomPadding nopaddingbottom">
    <div class="row">
        <div class="col-md-8 pageMenu">
            <ul class="horizontal pipeSeparator">
                <li ng-class="{active: !isManualMovement == true}"><a href="#/movement">{{'movement.header_position_reports' | i18n }}</a></li>
                <li ng-class="{active: !isManualMovement == false}"><a href="#/movement/manual">{{'movement.header_manual_position_reports' | i18n }}</a></li>
            </ul>
        </div>
        <div class="col-md-4 pull-right textAlignRight" ng-hide="isManualMovement">
            <a class="refreshbutton" href="" ng-click="refreshMovements()">
                <i class="fa fa-refresh"></i>
                {{'movement.refresh'| i18n}}
            </a>
            <br>
            <span ng-show="autoRefresh">{{'movement.refresh_automatic_countdown' | i18n:autoRefreshTimer}}</span>
            <span ng-hide="autoRefresh">{{'movement.refresh_automatic_disabled' | i18n}}</span>
        </div>
    </div>
</div>
