.assignVesselsContainer{
    width:100%;
    margin-bottom: 20px;

    .searchVesselContainer{

        table{
            button{
                margin: 2px 0;
            }
        }

        .pagination{
            width: 100%;
            span{
                .link();
                .underline();
                .pointer();
            }
        }

        .mbsearchbutton{
            min-width: 150px;
        }
    }

    .createNewVesselContainer{
        padding-top: 10px;
        button{
            text-transform: uppercase;
        }
    }
    .searchFormContainer{
        margin-bottom: 10px;
    }
    .mtsearchbuttoncontainer{
        padding-right: 25px;
        min-width: 175px;
    }

    .detailsFooter{
        margin-top: 20px;
        button, span{
            .link();
            .pointer();
        }

        .backLinkContainer{
            padding-top: 10px;
            padding-left: 20px;
            .underline();
        }
    }
}
