<div ng-controller="AssignvesselCtrl">
    <div class="assignVesselsContainer" ng-show="isVisible.assignVessel">
        <div ng-show="selectedVessel">
            <vessel-details vessel="selectedVessel" ></vessel-details>
            <div class="row detailsFooter">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default" ng-click="onBackToAssignVesselSearchResultsClick()">GO BACK TO SEARCH RESULT</button>
                </div>
                <div class="col-md-6 textAlignRight">
                    <button type="button" class="btn btn-primary">CONNECT</button>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="selectedVessel">
            <div class="col-md-8 searchVesselContainer">
                <div class="row searchFormContainer">
                    <!-- Search input -->
                    <div class="col-md-4">
                        <input type="text" class="form-control searchText"
                               placeholder="Search for vessel" ng-model="assignVesselFreeText">
                    </div>
                    <!-- Type Dropdown -->
                    <div class="col-md-4">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" 
                                    data-toggle="dropdown" aria-expanded="true">
                                <div class="dropdownText">Name/CFR/IRCS</div>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation" ng-repeat="item in assignVesselSearchTypes"><a role="menuitem" tabindex="-1" href="">{{item}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Search button -->
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-lg searchButton" ng-click="assignVesselSearch()">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" ng-hide="assignVesselSearchInProgress">
                        <table class="searchResults" ng-show="assignVesselSearchResults.vessels.length > 0">
                            <thead>
                                <tr>
                                    <th sortable-table-header by="assignVesselSearchResultsSortType" reverse="assignVesselSearchResultsSortReverse" order="'countryCode'">Flag State</th>
                                    <th sortable-table-header by="assignVesselSearchResultsSortType" reverse="assignVesselSearchResultsSortReverse" order="'name'">Vessel name</th>
                                    <th sortable-table-header by="assignVesselSearchResultsSortType" reverse="assignVesselSearchResultsSortReverse" order="'ircs'">IRCS</th>
                                    <th sortable-table-header by="assignVesselSearchResultsSortType" reverse="assignVesselSearchResultsSortReverse" order="'type'">Type</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="vessel in assignVesselSearchResults.vessels | orderBy:assignVesselSearchResultsSortType:assignVesselSearchResultsSortReverse ">
                                <td>{{vessel.countryCode}}</td>
                                <td>{{vessel.name}}</td>
                                <td>{{vessel.ircs}}</td>
                                <td>{{vessel.type}}</td>
                                <td class="textAlignRight"><button type="button" class="btn btn-primary" ng-click="onAssignVesselClick(vessel)">ASSIGN</button></td>
                            </tr>
                        </table>                            
                        <span ng-show="searchError">{{searchError}}</span>
                    </div>
                    <div class="col-md-12" ng-show="assignVesselSearchInProgress">
                        <i class="fa fa-spinner fa-spin fa-pulse"></i> Searching
                    </div>
                    <div class="pagination" ng-show="assignVesselSearchResults.vessels.length > 0 && !assignVesselSearchInProgress">
                        <div class="col-md-4">
                            <span ng-show="assignVesselSearchResults.page > 1" ng-click="onPrevPageInAssignVesselSearchResults()">< Previous page</span>
                        </div>
                        <div class="col-md-4 textAlignCenter">
                            {{'vessel.table_number_of_pages' | i18n}} {{assignVesselSearchResults.page}} {{'vessel.table_of' | i18n}} {{assignVesselSearchResults.totalNumberOfPages}}
                        </div>
                        <div class="col-md-4 textAlignRight" >
                            <span ng-show="assignVesselSearchResults.page < assignVesselSearchResults.totalNumberOfPages" ng-click="onNextPageInAssignVesselSearchResults()">Next page ></span>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 textAlignCenter createNewVesselContainer">
                <button type="button" class="btn btn-primary btn-lg">Create new vessel</button>
            </div>
        </div>        
    </div>