.assignVesselsContainer{
    width:100%;
    padding: 20px 0;
    border-bottom: 1px solid #999;

    .searchVesselContainer{

        border-right: 1px solid #000;

        table{   
            button{
                margin: 2px 0;
            }
        }

        .pagination{
            width: 100%;
            span{
                .link();
                .underline();
                .pointer();
            }
        }
    }

    .createNewVesselContainer{
        padding-top: 10px;
        button{
            text-transform: uppercase;
        }
    }
}

.detailsFooter{
    margin-top: 20px;
    .link();
    .underline();
    .pointer();        
}