<!--
﻿Developed with the contribution of the European Commission - Directorate General for Maritime Affairs and Fisheries
© European Union, 2015-2016.

This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can
redistribute it and/or modify it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version. The IFDM Suite is distributed in
the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. You should have received a
copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
-->
<div ng-controller="AssignvesselCtrl">
    <div class="assignVesselsContainer" ng-show="isVisible.assignVessel">

        <div ng-show="selectedVessel">
            <vessel-details vessel="selectedVessel" disable-form="true" ></vessel-details>
            <div class="row detailsFooter">
                <div class="col-md-6 backLinkContainer">
                    <span ng-click="goBackToAssignVesselSearchResultsClick()" id="assign-asset-btn-searchresult">{{"vessel.assign_back_to_search_result" | i18n | uppercase}}</span>
                </div>
                <div class="col-md-6 textAlignRight">
                    <button type="button" class="btn btn-primary" ng-click="assignToSelectedVessel()" id="assign-asset-btn-assign"> <i class="fa fa-link"></i> {{"vessel.assign" | i18n | uppercase}}</button>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="selectedVessel">
            <div class="col-md-12 searchVesselContainer">
                <div class="row searchFormContainer">
                    <form novalidate name="assignVesselSearchForm">
                        <!-- Search input -->
                        <div class="col-md-2">
                            <input type="text" class="form-control searchText"
                                   placeholder="{{'vessel.search_vessel_placeholder' | i18n}}" ng-model="assignVesselFreeText" id="assign-asset-input-search">
                        </div>

                        <!-- Type Dropdown -->
                        <div class="col-md-2">
                            <uib-dropdown ng-model="assignVesselSearchType" initialtext="" items="assignVesselSearchTypes"  input-field-id="assign-asset-dropdown-search"></uib-dropdown>
                        </div>

                        <!-- Search button -->
                        <div class="col-md-2 mtsearchbuttoncontainer">
                            <button type="submit" class="btn btn-primary btn-sm vmsbtn" ng-click="assignVesselSearch()" ng-disabled="!assignVesselFreeText" id="assign-asset-btn-search">
                                {{'common.search' | i18n}}
                            </button>
                        </div>
                    </form>
                </div>
                <div class="row" st-table="currentSearchResultsByPage" st-safe-src="allCurrentSearchResults">
                    <div search-results-table search="currentSearchResults" class="col-md-12">
                        <table class="searchResults colorOdd truncate-text">
                            <thead>
                                <tr>
                                    <th class="st-sort" st-sort="ircs" st-skip-natural="true" id="assign-asset-sort-ircs">
                                        {{"vessel.ircs" | i18n}}
                                    </th>
                                    <th class="st-sort" st-sort="name" st-skip-natural="true" id="assign-asset-sort-name">
                                        {{"vessel.name" | i18n}}
                                    </th>
                                    <th class="st-sort" st-sort="cfr" st-skip-natural="true" id="assign-asset-sort-cfr">
                                        {{"vessel.cfr" | i18n}}
                                    </th>
                                    <th class="st-sort" st-sort="externalMarking" st-skip-natural="true" id="assign-asset-sort-externalMarking">
                                        {{"vessel.external_marking" | i18n}}
                                    </th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in currentSearchResultsByPage" ng-hide="currentSearchResults.items.length === 0">
                                    <td ng-attr-title="{{item.ircs}}">{{item.ircs}}</td>
                                    <td ng-attr-title="{{item.name}}">{{item.name}}</td>
                                    <td ng-attr-title="{{item.cfr}}">{{item.cfr}}</td>
                                    <td ng-attr-title="{{item.externalMarking}}">{{item.externalMarking}}</td>
                                    <td class="textAlignRight">
                                        <button type="button" class="btn btn-primary" ng-click="selectVessel(item)" ng-disabled="!item.ircs" title="{{ item.ircs ? '' : 'mobileTerminal.assign_vessel_ircs_required' | i18n }}" id="assign-asset-btn-select" style="pointer-events: auto;"><i class="fa fa-check"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="12" class="text-right" ng-hide="currentSearchResults.items.length === 0" ng-show="allCurrentSearchResults.length > itemsByPage">
                                        <div st-pagination st-items-by-page="itemsByPage" st-template="partial/common/reportsPagination/reportsPagination.html"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
