
<div class="content">
  <nav class="navbar navbar-expand-md navbar-expand-md navbar navbar-dark navigation-override">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let item of availableTabs" >
          <a class="nav-link navigation-item" *ngIf="item.route" routerLinkActive="active"  routerLink="{{item.route}}">{{item.name}}</a>
          <a class="nav-link navigation-item" *ngIf="item.href"  href="{{item.href}}">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>





