.layer-selector-container {
	.areas-selector {
		input[type="radio"] {
			vertical-align: middle;
		}
		li.loading-spinner-cl {
			pointer-events: none;
			.loading-spinner {
				vertical-align: middle;
			}
		}
	}
}