<div class="row layer-selector-container" ng-controller="AreaslayersCtrl">
	<div class="col-md-12 areas-selector">
		<div ng-if="!isAdminConfig">
			<div class="col-md-4">
				<span>{{'spatial.layer_settings_system_areas' | i18n}}</span>
				<input type="radio" ng-model="selectedAreaType.name" value="sysarea">
			</div>
			<div class="col-md-4">
				<span>{{'spatial.layer_settings_user_areas' | i18n}}</span>
				<input type="radio" ng-model="selectedAreaType.name" value="userarea">
			</div>
			<div class="col-md-4">
				<span>{{'spatial.layer_settings_group_areas' | i18n}}</span>
				<input type="radio" ng-model="selectedAreaType.name" value="areagroup">
			</div>
		</div>
		<div ng-repeat="container in areas.containers">
			<div class="container-element" ng-repeat="list in container.lists" ng-show="selectedAreaType.name===list.type">
		        <div class="column" ng-class="{'sysAreaList': list.type==='sysarea','userAreaList': list.type==='userarea','areaGroupList': list.type==='areagroup'}">
		        	<h5>{{list.name | i18n}}</h5>
		        	<div ng-if="!list.items || list.items.length === 0" class="noLayersMessage">
						<span>There are no areas</span>
					</div>
				    <ul ng-if="list.items && list.items.length > 0" dnd-list="list.items" dnd-disable-if="true">
				    	<li ng-if="isLoadingSysAreas || isLoadingUserAreas || isLoadingAreaGroups" class="loading-spinner-cl">
				        	<i class="fa fa-spinner fa-spin loading-spinner"></i>
				        </li>
				        <li ng-if="!isLoadingSysAreas && !isLoadingUserAreas && !isLoadingAreaGroups"
				        	ng-repeat="item in list.items"
				            dnd-draggable="item"
				            dnd-type="item.subType"
				            dnd-effect-allowed="copy"
				            dnd-dragend="clearPlaceHolders()">
				            <div class="handle">:::</div>
							<div class="item">{{item.name}}</div>
				        </li>
				    </ul>
		        </div>
		        <div class="clearfix"></div>
		    </div>
		</div>
	</div>
</div>
