<div class="container">
	<div class="row">
		<div class="col-md-12 mobileTerminalContainer" ng-controller="MobileTerminalCtrl">
			<div class="row" ng-show="isVisible.search">
				<div class="col-md-12 pageMenu">
					<ul class="horizontal pipeSeparator links">
						<li class="active" >{{'mobileterminal.menu_mobileterminals' | i18n}}</li>
						<li>{{'mobileterminal.menu_polling' | i18n}}</li>
					</ul>
				</div>
			</div>
			<div class="row" ng-show="isVisible.search">
				<div class="col-md-12">
					<search searchcallback="searchcallback" modeltype="'MOBILE_TERMINAL'"></search>
				</div>
			</div>	

			<button type="button" class="btn btn-default" ng-click="toggleAddNewMobileTerminal()" ng-show="!isVisible.addNewMobileTerminal">+ Add new</button>
	        <div ng-include="'partial/mobileTerminal/mobileTerminalList/mobileTerminalList.html'" ng-show="isVisible.search"></div>
	        <div ng-include="'partial/mobileTerminal/addNewMobileTerminal/addNewMobileTerminal.html'" ng-show="isVisible.addNewMobileTerminal"></div>
		</div>
	</div>
</div>
