<fieldset class="col-md-12 fieldsetStyle rep-param-subscription" ng-controller="RepparamsubscriptionCtrl" ng-class="{'fieldset-closed': !isRepParamOpened}">
    <legend class="fieldsetLegendStyle">
        <input class="checkbox-margin" type="checkbox" ng-model="isRepParamOpened">
        <a ng-click="isRepParamOpened = !isRepParamOpened;">{{ 'subscriptions.report_parameters' | i18n }}</a>
    </legend>
    <div class="row" ng-if="isRepParamOpened">
        <div class="col-md-12">
            <h3 class="col-md-12 title">{{ 'subscriptions.reports_filter' | i18n }}</h3>
            <div class="col-md-6 vessel-id-selection">
                <div class="row" ng-init="subscription.reportParams.vesselIdType = creationType.original">
                    <label>
                        <input type="radio" ng-model="subscription.reportParams.vesselIdType" ng-value="creationType.original" name="creationType" ng-change="updateVesselIdTypes(subscription.reportParams.vesselIdType)" checked>
                        {{ 'subscriptions.transport_original_report' | i18n }}
                    </label>
                </div>
                <div class="row">
                    <label>
                        <input type="radio" ng-model="subscription.reportParams.vesselIdType" ng-value="creationType.newReport" name="creationType">
                        {{ 'subscriptions.create_new_report_using_vessel_id_type' | i18n }}
                    </label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="row list-checkboxes" ng-if="subscription.reportParams.vesselIdType.type === 'new'">
                            <li ng-repeat="vesselID in vesselIdTypes">
                                <input type="checkbox" ng-model="vesselID.selected" value="true" ng-click="changeItemSelection(vesselID, subscription.reportParams.vesselIdType.vesselIdTypes)"/>
                                {{::vesselID.id}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row section">
                    <div class="col-md-6">
                        <div class="row">
                            <label>{{ 'subscriptions.reports_to_be_included' | i18n }}</label>
                        </div>
                        <div class="row btn-group">
                            <button type="button" class="btn btn-success" ng-click="changeAllItemsSelection(true, subscription.reportParams.reportsSelected, 'reports')">
                                <span class="fa fa-plus" aria-hidden="true"></span>
                                {{ 'common.add_all' | i18n }}
                            </button>
                            <button type="button" class="btn btn-default" ng-click="changeAllItemsSelection(false, subscription.reportParams.reportsSelected, 'reports')">
                                <span>{{ 'common.clear' | i18n }}</span>
                            </button>
                        </div>
                        <div class="row">
                            <ul class="col-md-6 list-checkboxes">
                                <li ng-repeat="report in reportsToBeIncluded track by $index">
                                    <input type="checkbox" ng-model="report.selected" value="true" ng-click="changeItemSelection(report, subscription.reportParams.reportsSelected)"/>
                                    {{::report.id}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label>{{ 'subscriptions.transmission_of_logbook' | i18n }}</label>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>
                                    <input type="radio" ng-model="subscription.reportParams.logBookTransmission" ng-value="'complete'" name="logBookTransmission">
                                    {{ 'subscriptions.complete_elog' | i18n }}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>
                                    <input type="radio" ng-model="subscription.reportParams.logBookTransmission" ng-value="'individual'" name="logBookTransmission">
                                    {{ 'subscriptions.individual_report' | i18n }}
                                </label>
                            </div>
                        </div>
                        <div class="last-row">
                            <div class="col-md-12">
                                <input type="checkbox" ng-model="subscription.reportParams.includeCorrectionHist"/>
                                {{ 'subscriptions.include_correction_history' | i18n }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>