.rep-param-subscription {
    &,
    .list-checkboxes {
        border: 1px solid #c0c0c0;
    }
    .list-checkboxes {
        padding: 7px;
        overflow-y: auto;
        height: 100px;
        > li {
            cursor: default;
        }
    }
}