$cerulean: #0065a2;
$navy-blue: #007ecb;
$basic-white: #fff;
$black-pearl: #001622;
$shuttle-grey: #656668;
$main-grey: #ecf0f1;
$dark-cyan-blue: #00253d;
$light-sky-blue: #87CEFA;
$fire-brick: #B22222;

// semantic color aliases
$label-required-after: $fire-brick;
