<div class="row prevNextPaginationContainer" ng-show="page > 0">
    <div class="col-md-4">
        <span ng-show="page > 1" ng-click="prev()">&#171; {{"common.previous_page" | i18n}}</span>
    </div>
    <div class="col-md-4 textAlignCenter">
        {{'common.search_results_current_page' | i18n:[page, total]}}
    </div>
    <div class="col-md-4 textAlignRight" >
        <span ng-show="page < total" ng-click="next()">{{"common.next_page" | i18n}} &#187;</span>
    </div>                        
</div>