.results-table {
  padding: 5px;
}

.selected {
  background: green !important;
  color: white !important;
}

.position-override {
  width: 60%;
  height: 80%;
  position: absolute;
}

.show-preview {
  margin-right: 5px;
}

.tooltip-class {
  background-color: white !important;;
  color: black !important;
}

#preview-map {
  height: 200px;
  width: 200px;
}
