<form #AreaPropertySearchForm="ngForm" (ngSubmit)="onSubmit(AreaPropertySearchForm.value)">
  <div class="form-row" *ngIf="!isMapTable">
    <div class="col-auto">
      <input type="text" class="form-control mb-2" id="filter" required name="filter" [(ngModel)]="filter" placeholder="Search text">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" [disabled]="!AreaPropertySearchForm.valid" >SEARCH</button>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-outline-secondary mb-2" (click)="onReset()">RESET</button>
    </div>
  </div>
</form>

<div *ngIf="results?.length || resultsFromMap?.length" class="results-table" [ngClass]="{'position-override': !isMapTable}">
    <ngx-datatable
    class="bootstrap"
    [rows]="results || resultsFromMap"
    [loadingIndicator]="loadingIndicator"
    [columnMode]="ColumnMode.force"
    [headerHeight]="40"
    [footerHeight]="40"
    rowHeight="auto"
    [limit]="5"
    columnWidth="auto">
    <ngx-datatable-column name="Name">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{ column.name }}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Code" [sortable]="true" *ngIf="mode === 'SYSTEM'">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{ column.name }}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Description" [sortable]="true" prop="desc" *ngIf="mode === 'USER'">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{ column.name }}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false">
      <ng-template let-column="column"  ngx-datatable-header-template>
        <button type="button" class="btn btn-success" (click)="addAllAreas()">Add all</button>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button class="btn btn-sm btn-outline-primary" [ngClass]="{'selected': getIsSelected(row) }" (click)="onSelectArea(row)">
          <fa-icon [icon]="faCheck"></fa-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>

</ngx-datatable>
</div>

